<div class="pins-container" #pinModal>
  <ng-container [formGroup]="parentForm">
    <ng-container *ngIf="vm$ | async as vm">
      <div
        class="pins-toolbar"
        fxLayout="row"
        fxLayoutAlign="space-between end"
      >
        <div fxlayout="row" fxLayoutGap="5px">
          <button
            mat-stroked-button
            aria-label="New Pin"
            [disabled]="
              vm.loadingData ||
              vm.trendsLoading ||
              !vm.assetID ||
              !vm.selectedTrend
            "
            (click)="addpins()"
          >
            <mat-icon
              color="accent"
              style="padding-bottom: 2px; padding-right: 2px"
              >add_circle_outline</mat-icon
            >Add Pin
          </button>
          <ng-container
            *ngIf="vm.selectedTrend?.trendDefinition?.Pins?.length > 0"
          >
            <button
              mat-stroked-button
              [disabled]="vm.selectedTrend?.trendDefinition?.PinTypeID > 1"
              (click)="activeToggle()"
              [color]="
                vm.selectedTrend?.trendDefinition?.ShowSelected ? 'accent' : ''
              "
            >
              {{
                vm.selectedTrend?.trendDefinition?.ShowSelected &&
                vm.selectedTrend?.trendDefinition?.PinTypeID < 2
                  ? 'Hide Active'
                  : 'Show Active'
              }}
            </button>
            <button
              mat-stroked-button
              (click)="pinsBtnToggle()"
              [color]="
                vm.selectedTrend?.trendDefinition?.ShowPins ? 'accent' : ''
              "
            >
              {{
                vm.selectedTrend?.trendDefinition?.ShowPins
                  ? 'Hide All Pins'
                  : 'Show All Pins'
              }}
            </button>

            <span
              style="padding-left: 30px; font-size: 12px; border-radius: 2px"
            >
              {{
                timeRange(vm.selectedTrend?.trendDefinition, vm.start, vm.end)
              }}
            </span>
          </ng-container>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <div *ngIf="vm.selectedTrend?.trendDefinition?.Pins?.length > 0">
            <mat-form-field
              color="accent"
              style="width: 140px"
              color="accent"
              appearance="fill"
            >
              <mat-label>Pins Time Display</mat-label>
              <mat-select
                (selectionChange)="pinTypeChange($event)"
                [value]="
                  vm.selectedTrend?.trendDefinition?.PinTypeID?.toString()
                "
              >
                <mat-option value="1">Unmodified</mat-option>
                <mat-option value="2">No Gaps</mat-option>
                <mat-option value="3">Overlay</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container
            *ngIf="(authFacade.pinConfigUtilityAccess$ | async)?.CanView"
          >
            <button
              style="
                min-width: 36px;
                border-radius: 25px;
                padding-left: 2px;
                padding-right: 2px;
              "
              mat-stroked-button
              (click)="systemConfig()"
              aria-label="Configure New Time Range"
              matTooltip="Configure New Time Range"
            >
              <mat-icon color="accent" fontSet="material-icons-outlined"
                >settings</mat-icon
              >
            </button>
          </ng-container>
        </div>
      </div>
      <mat-card class="pins-card mat-elevation-z4">
        <mat-toolbar
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
        >
          <span class="header-text" style="width: 125px"
            >Name<button
              mat-icon-button
              matTooltip="Pin Format Help"
              (click)="pinHelpToggle()"
              id="bt"
            >
              <mat-icon style="font-size: 18px; padding-bottom: 2px"
                >help_outline</mat-icon
              >
            </button></span
          >
          <span class="header-text" style="width: 125px">Time Range Type</span>
          <span class="header-text" style="width: 225px">Start Time</span>
          <span class="header-text" style="width: 215px">End Time</span>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div class="pins-div" fxLayout="column" fxLayoutAlign="start start">
          <ng-container *ngIf="!vm.trendsLoading">
            <ng-container
              *ngIf="vm.selectedTrend?.trendDefinition?.Pins?.length > 0"
            >
              <ng-container *ngIf="pinHelpShow"
                ><mat-card class="pin-help">
                  <b>Dynamic Pin Format:</b>
                  <br />
                  <div fxLayout="row" fxLayoutGap="40px">
                    <div>Start Date: S&#123;<i>format</i>&#125;</div>
                    <div>End Date: E&#123;<i>format</i>&#125;</div>
                  </div>
                  Ex. “Ending E&#123;MM-dd-YYYY&#125;” = “03-17-2021”
                  <br />
                  <div>
                    For all date format options please visit:
                    <a
                      mat-button
                      color="accent"
                      target="_blank"
                      href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings"
                    >
                      Angular documentation
                    </a>
                  </div>
                </mat-card>
              </ng-container>
              <span fxLayoutGap="5px"></span>
              <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div formArrayName="pins">
                  <div *ngFor="let pin of pins.controls; let i = index" cdkDrag>
                    <div [formGroupName]="i">
                      <div fxLayout="row" fxLayoutGap="5px">
                        <button
                          class="draggable-pins"
                          mat-icon-button
                          matTooltip="Reorder Pins"
                          cdkDragHandle
                        >
                          <mat-icon style="padding-bottom: 4px"
                            >drag_indicator</mat-icon
                          >
                        </button>
                        <button
                          mat-icon-button
                          class="pin-icon"
                          (click)="pinsHideToggle(i)"
                          [ngStyle]="{
                            'background-color': hidePin(
                              (vm?.selectedTrend?.trendDefinition?.Pins)[i]
                                ?.Hidden,
                              i
                            )
                          }"
                        >
                          <mat-icon
                            [ngStyle]="{
                              color: hiddenPin(
                                (vm?.selectedTrend?.trendDefinition?.Pins)[i]
                                  ?.Hidden
                              )
                            }"
                            >{{
                              (vm?.selectedTrend?.trendDefinition?.Pins)[i]
                                ?.Hidden
                                ? 'location_off'
                                : 'location_on'
                            }}</mat-icon
                          >
                        </button>

                        <div>
                          <mat-form-field
                            color="accent"
                            style="width: 125px"
                            appearance="fill"
                          >
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="name"
                              placeholder="Pin Name"
                            />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field
                            color="accent"
                            style="width: 125px"
                            appearance="fill"
                          >
                            <input
                              matInput
                              autocomplete="off"
                              value="{{
                                (chartFacade?.query?.pinNames$ | async)[i]
                              }}"
                              readonly
                            />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field
                            color="accent"
                            style="width: 105px"
                            appearance="fill"
                          >
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="startDate"
                              readonly
                            />
                          </mat-form-field>
                        </div>
                        <mat-form-field
                          appearance="fill"
                          color="accent"
                          style="width: 115px"
                        >
                          <input
                            style="margin-top: -2px"
                            matInput
                            autocomplete="off"
                            readonly
                            formControlName="startTime"
                          />
                        </mat-form-field>
                        <div>
                          <mat-form-field
                            color="accent"
                            style="width: 105px"
                            appearance="fill"
                          >
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="endDate"
                              readonly
                            />
                          </mat-form-field>
                        </div>
                        <mat-form-field
                          appearance="fill"
                          color="accent"
                          style="width: 115px"
                        >
                          <input
                            style="margin-top: -2px"
                            matInput
                            autocomplete="off"
                            readonly
                            formControlName="endTime"
                          />
                        </mat-form-field>

                        <button
                          mat-icon-button
                          matTooltip="Delete Pin"
                          (click)="removePin(i)"
                        >
                          <mat-icon style="padding-bottom: 2px"
                            >delete_outline</mat-icon
                          >
                        </button>
                        <button
                          mat-icon-button
                          matTooltip="Edit Pin"
                          (click)="editPin(i)"
                        >
                          <mat-icon style="padding-bottom: 2px"
                            >edit_outline</mat-icon
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
