.pins-container {
  height: 100%;
}

.pins-toolbar {
  padding: 5px 30px 8px 5px;
}
.pins-card {
  width: 99%;
  height: calc(100% - 70px);
  margin: 5px;
  padding: 0px 0px 8px 0px;
  border-radius: 0;
  box-shadow: unset !important;
}

.draggable-pins {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable-pins:active,
.draggable-pins:focus {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

::ng-deep.default-dark-theme {
  .pins-card {
    background-color: #222628 !important;
    border: solid 1px #5e5e5e;
  }
}

::ng-deep.alternative-light-theme {
  .pins-card {
    border: solid 1px #dde2eb;
  }
}

.pins-card mat-toolbar {
  font-size: 14px;
  height: 40px;
  padding-left: 60px;
}

::ng-deep.default-dark-theme {
  .pins-card mat-toolbar {
    background-color: #424242 !important;
  }
}

.pins-div {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 12px;
  padding-left: 24px;
}

.pin-help {
  background-color: rgba(160, 160, 160, 0.3);
  box-shadow: unset !important;
  border: var(--accent-250) solid 1px !important;
  margin: 10px 0;
}

.pin-icon {
  height: 30px;
  width: 30px;
  line-height: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin-top: 5px;
  // margin-right: 15px;
}

.mat-divider {
  margin-bottom: 5px !important;
}

.header-text {
  font-weight: 500;
}

.mat-button-toggle-checked {
  background-color: var(--accent-250);
}

.pins-div mat-icon {
  font-size: 18px;
}

::ng-deep {
  .pins-toolbar .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  .pins-toolbar .mat-form-field-underline {
    bottom: 0 !important;
  }

  .pins-toolbar,
  .pins-div {
    .mat-button-toggle-label-content {
      padding: 0 4px !important;
      line-height: 16px !important;
    }

    .mat-button-toggle-group {
      margin-top: 8px !important;
      height: 24px !important;
    }

    .mat-form-field-wrapper {
      margin: 0;
    }

    .mat-form-field-label-wrapper {
      margin: 0;
    }
    .mat-form-field-infix {
      border-top: 1em solid transparent;
    }

    .mat-form-field-flex {
      padding-top: 0 !important;
    }

    .mat-select-value {
      padding-top: 0 !important;
    }

    .mat-form-field-suffix .mat-icon-button {
      height: 24px !important;
      width: 24px !important;
      top: 4px;
    }
  }
}

.mat-error {
  margin-top: 8px;
  word-wrap: none;
}
