<h3 mat-dialog-title>Save Chart</h3>
<mat-dialog-content class="mat-typography">
  You still have changes to grouped series charts that have not been updated.
  Please clear or update your changes before saving
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="accent"
    mat-button
    (click)="onNoClick()"
    cdkFocusInitial
  >
    OK
  </button>
</div>
