<div>
  <form [formGroup]="sectionInfoForm">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sub Title</mat-label>
      <input matInput type="text" formControlName="subtitle" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Size</mat-label>
      <mat-select formControlName="size">
        <mat-option value="Small">Small</mat-option>
        <mat-option value="Medium">Medium</mat-option>
        <mat-option value="Fill">Fill</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Display Order</mat-label>
      <input
        matInput
        type="number"
        min="1"
        [formControl]="orderControl"
        [matAutocomplete]="autoDisplayOrder"
      />
      <mat-autocomplete #autoDisplayOrder="matAutocomplete">
        <mat-option
          *ngFor="let option of sections$ | async; index as i"
          [value]="i + 1"
          >{{ i + 1 }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
