<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.modelSummaryLoading || vm.modelSaving">
    <mat-progress-bar
      class="top-progress-bar"
      color="accent"
      mode="indeterminate"
    ></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="signalRStatus$ | async">
    <div class="error-message">
      <mat-error style="color: #f1f1f1"
        >Real time updates are currently disabled.</mat-error
      >
    </div>
  </ng-container>

  <div
    style="
      background: #1d1d1d;
      border: 1px solid #636363;
      height: 95%;
      box-shadow: 1px -1px 2px #0000000d;
      color: #9cdcfe;
      overflow-wrap: break-word;
      width: calc(100% - 45px);
      height: calc(100% - 25px);
      padding-left: 20px;
      padding-top: 20px;
      overflow-y: scroll;
      white-space: pre-line;
      padding-right: 20px;
      font-family: Menlo, 'Cascadia Code', Consolas, 'Liberation Mono',
        monospace;
    "
  >
    {{ vm.selectedModelBuildStatus }}
  </div>
</ng-container>
