.model-trend-chart-container {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff !important;
}

::ng-deep {
  .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
}

.loading {
  height: 100%;
  color: #333333 !important;
}
