<ng-container>
  <table mat-table [dataSource]="dataSource" class="customer-tree">
    <ng-container matColumnDef="customers">
      <td mat-cell *matCellDef="let data">
        <div
          class="nodeItem"
          [ngClass]="{ selectedNode: data.IsSelected }"
          (click)="selectNode(data)"
        >
          <button
            mat-icon-button
            [style.visibility]="!data.Children ? 'hidden' : ''"
            [style.marginLeft.px]="data.Level * 12"
            (click)="expandNode($event, data)"
            class="expandBtn"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(data) ? 'arrow_drop_down' : 'arrow_right'
              }}
            </mat-icon>
          </button>

          <span>{{ data.Name }}</span>
          <mat-progress-spinner
            *ngIf="data.IsLoading"
            [style.marginLeft.px]="10"
            [style.display]="'inline-block'"
            diameter="17"
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
        </div>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
