// .showTimeSlider
::ng-deep {
  .mat-drawer.mat-drawer-side {
    z-index: 4;
  }
}

mat-drawer-container {
  height: calc(100% - 65px);
}

.side-nav {
  height: 100%;
  overflow: auto;
}

.launchpad-container.collapse {
  max-height: 200px;
  transition: max-height 0.5s ease-in;
  flex: 0 0 auto !important;
}

.launchpad-container {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  flex: none;
}

.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  /*the height of the content 
  should be the same as the height
  of the space allowed for it.
  If we don't put 100% here here, 
  it defaults to something else, so this 100%
  is necessary.*/
  height: 100%;
}

.add-item-btn {
  margin: 10px 0px 0px 10px;
}

.collapsed {
  height: 0px;
}

.top-half {
  height: 46%;
}

.bottom-half {
  height: 54%;
}

.full {
  height: 100%;
}
