<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [showTimeSlider]="showTimeSlider$ | async"
  [leftTrayMode]="layoutMode$ | async"
  [leftTraySize]="leftTraySize$ | async"
  [leftTrayOpen]="assetTreeSelected$ | async"
  [rightTrayOpen]="showRightTray$ | async"
  leftTraySizeMin="150"
  [rightTraySize]="400"
  rightTrayMode="side"
>
  <atx-asset-tree
    class="side-nav"
    [needScroll]="true"
    [treeState]="assetTreeConfiguration$ | async"
    (stateChange)="onAssetTreeStateChange($event)"
  >
  </atx-asset-tree>

  <atx-action-flyout
    class="right-side-nav"
    [model]="selectedModels$ | async"
    [refreshing]="selectRefreshing$ | async"
    [refreshDate]="refreshDate$ | async"
    (actionFlyOutStateChange)="onActionFlyOutStateChange($event)"
    data-cy="flyOutWindow"
  >
  </atx-action-flyout>

  <div
    class="main-nav"
    [ngClass]="{
      isHalf: isSplit$ | async,
      isFull: isList$ | async
    }"
  >
    <div class="main-content">
      <div
        [ngClass]="{
          collapsed: isTrend$ | async,
          'top-half': isSplit$ | async,
          full: isList$ | async
        }"
      >
        <atx-screening-view
          [expanded]="isList$ | async"
          [asset]="asset$ | async"
          [showRefresh]="refreshable$ | async"
          [listTheme]="theme$ | async"
          [selectedModels]="selectedModels$ | async"
          [listState]="listState$ | async"
          [updatedModels]="updatedModels$ | async"
          [refreshDate]="refreshDate$ | async"
          [clearDataFilters]="clearFilters"
          (expandClick)="onListExpand()"
          (refresh)="refresh()"
          (download)="downloadModels($event)"
          (stateChanged)="listStateChanged($event)"
          (diagnosticDrilldown)="diagnosticDrilldown()"
          (floatingFilterToggle)="floatingFilterToggle()"
          [floatingFilter]="floatingFilter$ | async"
          (selectedModelsChanged)="modelSelected($event)"
          (issueSelected)="issueSelected($event)"
        >
        </atx-screening-view>
      </div>
      <div
        [ngClass]="{
          collapsed: isList$ | async,
          'bottom-half': isSplit$ | async,
          full: isTrend$ | async
        }"
      >
        <atx-model-tabs
          [expanded]="isTrend$ | async"
          [selectedRow]="selectedModel$ | async"
          [modelContextTrends]="modelContextTrends$ | async"
          [modelContextLoading]="modelContextLoading$ | async"
          [selectedModelContextTrend]="modelContextSelectedTrend$ | async"
          [selectedModelContextTrendID]="modelContextSelectedTrendID$ | async"
          [modelContextCorrelationTrend]="modelContextCorrelationTrend$ | async"
          [modelTrend]="modelTrend$ | async"
          [modelTrendLoading]="modelTrendLoading$ | async"
          [dataLoaded]="dataLoaded$ | async"
          [modelHistorySaving]="modelHistorySaving$ | async"
          [modelHistoryFilters]="modelHistoryFilters$ | async"
          [listTheme]="theme$ | async"
          [refreshDate]="refreshDate$ | async"
          [multiselected]="multiselected$ | async"
          [modelAction]="modelAction$ | async"
          [modelActionLoading]="modelActionLoading$ | async"
          (modelContextTrendChanged)="onModelContextTrendChanged($event)"
          (expandClick)="onTrendExpand()"
          (redrawView)="redraw()"
          (modelContextLabelClick)="toggleClick()"
          (modelContextEditChartClick)="editModelContextChart()"
          (modelContextUpdateLimits)="updateLimitsModelContextChart($event)"
          (modelContextResetLimits)="resetLimitsModelContextChart($event)"
          (modelContextLegendItemToggle)="
            legendItemToggleModelContextChart($event)
          "
          (modelTrendUpdateLimits)="updateLimitsModelTrend($event)"
          (modelTrendResetLimits)="resetLimitsModelTrend($event)"
          (setFavorite)="setModelHistoryFavorite($event)"
          (setNote)="setModelHistoryNote($event)"
          (newActionItem)="newActionItem($event)"
          (setModelHistoryFilters)="modelHistoryFiltersChanged($event)"
        >
        </atx-model-tabs>
      </div>
    </div>
  </div>
</atx-horizontal-layout>

<atx-time-slider
  *ngIf="showTimeSlider$ | async"
  [timeSliderState]="timeSliderState$ | async"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
