<div class="impactCalculatorContainer">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="impactCalculatorHeader"
  >
    <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Impact Calculator</h2>
    </div>
    <div fxLayoutGap="10px" fxLayout="row">
      <button mat-button>Cancel</button>
      <button mat-raised-button color="accent" type="submit">Save</button>
      <button mat-icon-button matTooltip="Close">
        <mat-icon> close </mat-icon>
      </button>
    </div>
  </div>
  <div class="impactCalculatorBody">
    <div style="margin-left: 145px; flex-direction: row; display: flex">
      <div fxLayout="row" fxLayoutAlign="end start">
        <button
          mat-raised-button
          color="accent"
          aria-label="Add New Scenario"
          (click)="addscenarios()"
        >
          <mat-icon> add </mat-icon>
          Add New Scenario
        </button>
      </div>
      <form
        fxLayout="row"
        fxLayoutAlign="start end"
        [formGroup]="scenariosForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="scenario" formArrayName="scenarios">
          <div *ngFor="let scenario of scenarios.controls; let i = index">
            <div class="scenarioWrapper" [formGroupName]="i">
              <mat-card>
                <mat-card-header
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                >
                  <mat-card-title>Scenario {{ i + 1 }}</mat-card-title>
                  <button mat-icon-button (click)="removeScenario(i)">
                    <mat-icon>clear</mat-icon>
                  </button>
                </mat-card-header>
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Description</mat-label>
                  <input
                    matInput
                    id="description"
                    name="description"
                    formControlName="description"
                    placeholder="Description"
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Probability</mat-label>
                  <input
                    matInput
                    id="probability"
                    name="probability"
                    formControlName="probability"
                    placeholder="Probability"
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Note</mat-label>
                  <input
                    matInput
                    id="note"
                    name="note"
                    formControlName="note"
                    placeholder="Note"
                    type="text"
                    autocomplete="off"
                  />
                </mat-form-field>
              </mat-card>
              <mat-card
                style="padding-top: 2px; padding-bottom: 2px; margin-top: 3px"
              >
                <table style="text-align: center" class="headerRow">
                  <tr>
                    <th>To Date</th>
                    <th>+</th>
                    <th>Future</th>
                    <th>=</th>
                    <th>Total</th>
                  </tr>
                </table>
              </mat-card>
            </div>
          </div>
        </div>
      </form>
      <div fxLayoutAlign="end end">
        <mat-card style="padding-top: 2px; padding-bottom: 2px; width: 325px">
          <table class="headerRow">
            <tr>
              <th>Impact Total</th>
              <th>/Duration=</th>
              <th>Monthly</th>
            </tr>
          </table>
        </mat-card>
      </div>
    </div>
    <mat-accordion multi [togglePosition]="'before'">
      <!--Production Impact-->
      <div class="impactWrapper">
        <div *ngIf="!panelOpenState" class="impact-simple-row">
          <form [formGroup]="scenariosForm" (ngSubmit)="onSubmit()">
            <div class="scenario1" formArrayName="scenarios">
              <div *ngFor="let scenario of scenarios.controls; let i = index">
                <mat-card class="impactRowCard1 mat-elevation-z4">
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>+</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>=</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>
          </form>
          <div style="display: flex" fxLayout="row" fxLayoutAlign="end end">
            <mat-card class="impactRowCard2 mat-elevation-z4">
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
            </mat-card>
          </div>
        </div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header [collapsedHeight]="'50px'">
            <mat-panel-title>Production Impact</mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row">
            <div
              style="width: 300px"
              fxLayout="column"
              fxLayoutGap="5px"
              fxLayoutAlign="start"
            >
              <mat-card class="mat-elevation-z4">
                <table style="width: 100%; margin-bottom: 3px">
                  <tr>
                    <td
                      style="padding-top: 12px; padding-bottom: 10px"
                      class="left-header-left-cells"
                    >
                      Category
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 10px; padding-bottom: 10px"
                      class="left-header-left-cells"
                    >
                      Calculator
                    </td>
                    <td></td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td
                      style="padding-top: 10px; padding-bottom: 10px"
                      class="left-header-left-cells"
                    >
                      Impact Quantity
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 16px"
                      class="left-header-left-cells"
                    >
                      Unit Derate
                    </td>
                    <td style="padding-top: 14px; text-align: right">%</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="text-align: right">MW</td>
                  </tr>
                  <tr>
                    <td class="left-header-left-cells">Unit Full Load</td>
                    <td style="text-align: right">MW</td>
                  </tr>
                </table>
              </mat-card>
              <mat-card class="mat-elevation-z4">
                <table style="width: 100%">
                  <tr style="margin-bottom: 2px">
                    <td
                      style="padding-top: 30px; padding-bottom: 15px"
                      class="left-header-left-cells"
                    >
                      Duration
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 30px;
                        padding-bottom: 15px;
                      "
                    >
                      days/dates
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 14px; padding-bottom: 14px"
                      class="left-header-left-cells"
                    >
                      % Time Derate in Effect
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 14px;
                        padding-bottom: 14px;
                      "
                    >
                      %
                    </td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td
                      style="padding-top: 14px; padding-bottom: 14px"
                      class="left-header-left-cells"
                    >
                      Production Loss
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 14px;
                        padding-bottom: 14px;
                      "
                    >
                      MWh
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 14px; padding-bottom: 12px"
                      class="left-header-left-cells"
                    >
                      Lost Margin Opportunity
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 14px;
                        padding-bottom: 12px;
                      "
                    >
                      $/MWh
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-top: 4px" class="left-header-left-cells">
                      Production Costs
                    </td>
                    <td style="text-align: right; padding-top: 4px">$/MWh</td>
                  </tr>
                  <tr>
                    <td class="left-header-left-cells">Impact Monthly Cost</td>
                    <td style="text-align: right">$/Month</td>
                  </tr>
                  <tr>
                    <td class="left-header-left-cells">Impact Total Cost</td>
                    <td style="text-align: right">$</td>
                  </tr>
                </table>
              </mat-card>
            </div>
            <form
              style="display: inline-flex"
              fxLayout="row"
              [formGroup]="scenariosForm"
              (ngSubmit)="onSubmit()"
            >
              <div style="display: inline-flex" formArrayName="scenarios">
                <div
                  class="scenarioColumn"
                  fxLayout="column"
                  fxLayoutGap="5px"
                  fxLayoutAlign="start"
                  *ngFor="let scenario of scenarios.controls; let i = index"
                >
                  <mat-card class="mat-elevation-z4">
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Category</mat-label>
                      <mat-select>
                        <mat-option value="option1">Reliability</mat-option>
                        <mat-option value="option2">Derate</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Calculator</mat-label>
                      <mat-select>
                        <mat-option value="option1">Stuff</mat-option>
                        <mat-option value="option2">Things</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Impact Quantity</mat-label>
                      <input matInput />
                    </mat-form-field>
                    <table class="body">
                      <tr>
                        <td style="font-weight: bold">Unit Derate</td>
                        <td style="font-weight: bold">%</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold">Current Load</td>
                        <td style="font-weight: bold">MW:</td>
                        <td>0.00</td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold">Unit Full Load</td>
                        <td style="font-weight: bold">MW:</td>
                        <td>394</td>
                      </tr>
                    </table>
                  </mat-card>
                  <mat-card class="mat-elevation-z4">
                    <table class="header">
                      <tr>
                        <th>To Date</th>
                        <th>+ Future</th>
                        <th>Total or Avg.</th>
                      </tr>
                    </table>
                    <div class="innerRow">
                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker1" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Date/Day</mat-label>
                        <input matInput [matDatepicker]="picker2" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker2"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <div class="innerRow">
                      <mat-form-field appearance="fill" color="accent">
                        <span matSuffix>%</span>
                        <input matInput placeholder="100" />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <span matSuffix>%</span>
                        <input matInput placeholder="100" />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <span matSuffix>%</span>
                        <input matInput placeholder="100" />
                      </mat-form-field>
                    </div>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Lost Margin Opportunity</mat-label>
                      <span matSuffix>$/MWh</span>
                      <input matInput />
                    </mat-form-field>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Relevant Production Cost</mat-label>
                      <span matSuffix>$/MWh</span>
                      <input matInput />
                    </mat-form-field>
                    <table class="impactDollars">
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                    </table>
                  </mat-card>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </div>
      <!--Efficiency Impact-->
      <div class="impactWrapper">
        <div *ngIf="!panelOpenState" class="impact-simple-row">
          <form [formGroup]="scenariosForm" (ngSubmit)="onSubmit()">
            <div class="scenario1" formArrayName="scenarios">
              <div *ngFor="let scenario of scenarios.controls; let i = index">
                <mat-card class="impactRowCard1 mat-elevation-z4">
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>+</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>=</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>
          </form>
          <div style="display: flex" fxLayout="row" fxLayoutAlign="end end">
            <mat-card class="impactRowCard2 mat-elevation-z4">
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
            </mat-card>
          </div>
        </div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header [collapsedHeight]="'50px'">
            <mat-panel-title>Effciency Impact</mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="start start">
            <div
              style="width: 300px"
              fxLayout="column"
              fxLayoutGap="5px"
              fxflex="5px"
              fxLayoutAlign="start"
            >
              <mat-card class="mat-elevation-z4">
                <table style="width: 100%">
                  <tr>
                    <td style="padding-top: 10px; padding-bottom: 10px">
                      Calculator
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="padding-top: 10px; padding-bottom: 12px">
                      Impact Quantity
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="padding-top: 12px">Heat Rate Impact</td>
                    <td style="padding-top: 12px">%</td>
                  </tr>
                  <tr>
                    <td>Net Unit Heat Rate</td>
                    <td>Btu/kWh</td>
                  </tr>
                  <tr>
                    <td>Avg Heat Rate Change</td>
                    <td>Btu/kWh</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold">Fuel Cost</td>
                    <td style="font-weight: bold">S/MBtu</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold">Unit Full Load</td>
                    <td style="font-weight: bold">MW</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold">Capacity Factor</td>
                    <td style="font-weight: bold"></td>
                  </tr>
                </table>
              </mat-card>
              <mat-card class="mat-elevation-z4">
                <table style="width: 100%">
                  <tr>
                    <td
                      style="padding-top: 30px; padding-bottom: 15px"
                      class="left-header-left-cells"
                    >
                      Duration
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 30px;
                        padding-bottom: 15px;
                      "
                    >
                      days/dates
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 12px; padding-bottom: 12px"
                      class="left-header-left-cells"
                    >
                      Duration
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 12px;
                        padding-bottom: 12px;
                      "
                    >
                      days/dates
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 10px"
                      class="left-header-left-cells"
                    >
                      Impact Monthly Cost
                    </td>
                    <td style="text-align: right; padding-top: 10px">
                      $/Month
                    </td>
                  </tr>
                  <tr>
                    <td class="left-header-left-cells">Impact Total Cost</td>
                    <td style="text-align: right">$</td>
                  </tr>
                </table>
              </mat-card>
            </div>
            <form
              style="display: inline-flex"
              fxLayout="row"
              [formGroup]="scenariosForm"
              (ngSubmit)="onSubmit()"
            >
              <div style="display: inline-flex" formArrayName="scenarios">
                <div
                  class="scenarioColumn"
                  fxLayout="column"
                  fxLayoutGap="5px"
                  fxLayoutAlign="start"
                  *ngFor="let scenario of scenarios.controls; let i = index"
                >
                  <mat-card class="mat-elevation-z4">
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Calculator</mat-label>
                      <mat-select>
                        <mat-option value="option1">Stuff</mat-option>
                        <mat-option value="option2">Things</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Impact Quantity</mat-label>
                      <input matInput />
                    </mat-form-field>
                    <table class="body">
                      <tr>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                      </tr>
                      <tr>
                        <td>0</td>
                      </tr>
                    </table>
                  </mat-card>
                  <mat-card class="mat-elevation-z4" style="width: 325px">
                    <table class="header">
                      <tr>
                        <th>To Date</th>
                        <th>+ Future</th>
                        <th>Total or Avg.</th>
                      </tr>
                    </table>
                    <div class="innerRow">
                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker3" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker3"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Date/Day</mat-label>
                        <input matInput [matDatepicker]="picker4" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker4"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <div class="innerRow">
                      <mat-form-field appearance="fill" color="accent">
                        <span matSuffix>%</span>
                        <input matInput placeholder="100" />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <span matSuffix>%</span>
                        <input matInput placeholder="100" />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <span matSuffix>%</span>
                        <input matInput placeholder="100" />
                      </mat-form-field>
                    </div>
                    <table class="impactDollars">
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                    </table>
                  </mat-card>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </div>
      <!--Maintainence Cost Impact-->
      <div class="impactWrapper">
        <div *ngIf="!panelOpenState" class="impact-simple-row">
          <form [formGroup]="scenariosForm" (ngSubmit)="onSubmit()">
            <div class="scenario1" formArrayName="scenarios">
              <div *ngFor="let scenario of scenarios.controls; let i = index">
                <mat-card class="impactRowCard1 mat-elevation-z4">
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>+</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>=</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>
          </form>
          <div style="display: flex" fxLayout="row" fxLayoutAlign="end end">
            <mat-card class="impactRowCard2 mat-elevation-z4">
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
            </mat-card>
          </div>
        </div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header [collapsedHeight]="'50px'">
            <mat-panel-title>Maintainence Cost Impact</mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="start start">
            <div
              style="width: 300px"
              fxLayout="column"
              fxLayoutGap="5px"
              fxflex="5px"
              fxLayoutAlign="start"
            >
              <mat-card class="mat-elevation-z4">
                <table>
                  <tr>
                    <td
                      style="padding-top: 10px; padding-bottom: 12px"
                      class="left-maintainence-header-left-cells"
                    >
                      Parts Cost
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 10px;
                        padding-bottom: 12px;
                      "
                    >
                      $
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 12px; padding-bottom: 12px"
                      class="left-maintainence-header-left-cells"
                    >
                      Labor Hours
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 12px;
                        padding-bottom: 12px;
                      "
                    >
                      Man-Hour
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 12px; padding-bottom: 12px"
                      class="left-maintainence-header-left-cells"
                    >
                      Labor Rate
                    </td>
                    <td
                      style="
                        text-align: right;
                        padding-top: 12px;
                        padding-bottom: 12px;
                      "
                    >
                      $/Man-hour
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 10px"
                      class="left-maintainence-header-left-cells"
                    >
                      + Impact Monthly Cost
                    </td>
                    <td style="text-align: right; padding-top: 10px">$</td>
                  </tr>
                  <tr>
                    <td class="left-maintainence-header-left-cells">
                      = Impact Total Cost
                    </td>
                    <td style="text-align: right">$</td>
                  </tr>
                </table>
              </mat-card>
            </div>
            <form
              style="display: inline-flex"
              [formGroup]="scenariosForm"
              (ngSubmit)="onSubmit()"
            >
              <div style="display: inline-flex" formArrayName="scenarios">
                <div
                  class="scenarioColumn"
                  fxLayout="column"
                  fxLayoutGap="5px"
                  fxLayoutAlign="start"
                  *ngFor="let scenario of scenarios.controls; let i = index"
                >
                  <mat-card class="mat-elevation-z4">
                    <div class="innerRow">
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <div class="innerRow">
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <div class="innerRow">
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <table class="impactDollars">
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td>$0.00</td>
                        <td>$0.00</td>
                        <td>$0.00</td>
                      </tr>
                    </table>
                  </mat-card>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </div>
      <!--Other Costs-->
      <div class="impactWrapper">
        <div *ngIf="!panelOpenState" class="impact-simple-row">
          <form [formGroup]="scenariosForm" (ngSubmit)="onSubmit()">
            <div class="scenario1" formArrayName="scenarios">
              <div *ngFor="let scenario of scenarios.controls; let i = index">
                <mat-card class="impactRowCard1 mat-elevation-z4">
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>+</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                  <h3>=</h3>
                  <mat-form-field appearance="fill" color="accent">
                    <input matInput placeholder="0" />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>
          </form>
          <div style="display: flex" fxLayout="row" fxLayoutAlign="end end">
            <mat-card class="impactRowCard2 mat-elevation-z4">
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
              <mat-form-field appearance="fill" color="accent">
                <input matInput placeholder="0" />
              </mat-form-field>
            </mat-card>
          </div>
        </div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header [collapsedHeight]="'50px'">
            <mat-panel-title>Other Costs</mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="start start">
            <div
              style="width: 300px"
              fxLayout="column"
              fxLayoutGap="5px"
              fxflex="5px"
              fxLayoutAlign="start"
            >
              <mat-card class="mat-elevation-z4">
                <table class="width:100%;">
                  <tr>
                    <td
                      style="padding-top: 30px; padding-bottom: 12px"
                      class="left-maintainence-header-left-cells"
                    >
                      Rate
                    </td>
                    <td
                      style="
                        padding-top: 30px;
                        padding-bottom: 12px;
                        text-align: right;
                      "
                    >
                      $/Month
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 14px; padding-bottom: 14px"
                      class="left-maintainence-header-left-cells"
                    >
                      X Duration
                    </td>
                    <td
                      style="
                        padding-top: 14px;
                        padding-bottom: 14px;
                        text-align: right;
                      "
                    >
                      days/date
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding-top: 12px; padding-bottom: 12px"
                      class="left-maintainence-header-left-cells"
                    >
                      = Impact Total Cost
                    </td>
                    <td
                      style="
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: right;
                      "
                    >
                      $
                    </td>
                  </tr>
                </table>
              </mat-card>
            </div>
            <form
              style="display: inline-flex"
              [formGroup]="scenariosForm"
              (ngSubmit)="onSubmit()"
            >
              <div style="display: inline-flex" formArrayName="scenarios">
                <div
                  class="scenarioColumn"
                  fxLayout="column"
                  fxLayoutGap="5px"
                  fxLayoutAlign="start"
                  *ngFor="let scenario of scenarios.controls; let i = index"
                >
                  <mat-card class="mat-elevation-z4">
                    <table class="header">
                      <tr>
                        <th>To Date</th>
                        <th>+ Future</th>
                        <th>Total or Avg.</th>
                      </tr>
                    </table>
                    <div class="innerRow">
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <div class="innerRow">
                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker5" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker5"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Date/Day</mat-label>
                        <input matInput [matDatepicker]="picker6" />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker6"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                    <div class="innerRowOther">
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                      <h3>+</h3>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                      <h3>=</h3>
                      <mat-form-field appearance="fill" color="accent">
                        <input matInput placeholder="0" />
                      </mat-form-field>
                    </div>
                  </mat-card>
                </div>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div style="margin-top: 2px" fxLayout="row" fxLayoutAlign="start center">
      <mat-card
        style="
          padding-top: 2px;
          padding-bottom: 2px;
          width: 290px;
          margin: 2px;
          margin-left: 0;
        "
      >
        <table class="headerRow">
          <tr>
            <th>Totals</th>
          </tr>
        </table>
      </mat-card>
      <mat-card
        style="padding-top: 2px; padding-bottom: 2px; width: 335px; margin: 2px"
      >
        <table style="text-align: center" class="headerRow">
          <tr>
            <th>To Date</th>
            <th>+</th>
            <th>Future</th>
            <th>=</th>
            <th>Total</th>
          </tr>
        </table>
      </mat-card>
      <mat-card
        style="padding-top: 2px; padding-bottom: 2px; width: 325px; margin: 2px"
      >
        <table class="headerRow">
          <tr>
            <th>Grand Total</th>
          </tr>
        </table>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-card style="width: 290px; margin: 2px; margin-left: 0">
        <table>
          <tr>
            <td class="left-header-left-cells">Total Impact</td>
          </tr>
          <tr>
            <td class="left-header-left-cells">
              Probability Weighted Total Impact
            </td>
          </tr>
          <tr>
            <td class="left-header-left-cells">Monthly Impact</td>
          </tr>
          <tr>
            <td class="left-header-left-cells">
              Probability Weighted Monthly Impact
            </td>
          </tr>
        </table>
      </mat-card>
      <mat-card style="width: 335px; margin: 2px">
        <table style="text-align: center" class="impactDollars">
          <tr>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
          </tr>
        </table>
      </mat-card>
      <mat-card style="width: 325px; margin: 2px">
        <table style="text-align: center" class="impactDollars">
          <tr>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>$0.00</td>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
