.impactCalculatorContainer {
  height: 100%;
}

.impactCalculatorHeader {
  width: 100%;
  padding: 10px;
  background-color: #424242;
}

.impactCalculatorHeader h2 {
  margin: 0;
}

.impactCalculatorBody {
  overflow: scroll;
  height: calc(100% - 50px);
  padding: 20px;
  margin: 0 auto;
}

mat-expansion-panel {
  margin-top: 5px !important;
}

mat-expansion-panel .leftColumn mat-card {
  width: 300px !important;
}

mat-expansion-panel .scenarioColumn {
  margin-left: 5px;
}

mat-expansion-panel .scenarioColumn mat-card {
  width: 325px !important;
}

::ng-deep {
  .impactCalculatorContainer
    .mat-form-field-appearance-fill
    .mat-form-field-flex {
    padding-top: 0 !important;
  }
  .impactRow .mat-form-field-appearance-fill .mat-form-field-flex {
    text-align: right !important;
  }
  .impactCalculatorContainer .mat-form-field-infix {
    padding-top: 0px !important;
  }
  .impactCalculatorContainer .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }
  .impactCalculatorContainer .mat-form-field-flex {
    padding-top: 0px !important;
  }
  .impactCalculatorContainer .mat-form-field-underline {
    bottom: auto !important;
  }
}

.impactWrapper {
  position: relative;
}

.impact-simple-row {
  margin-left: 325px;
  flex-direction: row;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 0;
  z-index: 1;
}

mat-card.impactRowCard1 {
  width: 360px;
  padding: 3px;
}

.impactRowCard1 mat-form-field {
  width: 102px;
  height: 38px;
}

.innerRowOther mat-form-field {
  width: 27.5%;
  height: 38px;
}

mat-card.impactRowCard2 {
  width: 350px;
  padding: 3px;
}

.impactRowCard2 mat-form-field {
  width: 110px;
  height: 38px;
  padding-left: 5px;
}

.innerRow mat-form-field {
  width: 102px;
  padding: 0 3px;
}

mat-card mat-form-field {
  width: 100%;
}

mat-grid-list mat-card {
  display: block !important;
}

.scenario {
  min-width: 365px;
  margin-right: 5px;
  display: inline-flex;
}

.scenario1 {
  min-width: 365px;
  margin-right: 5px;
  display: inline-flex;
}

.scenarioWrapper {
  width: 365px;
  display: block;
  padding-left: 5px;
}

.scenarioWrapper mat-form-field-wrapper {
  padding-bottom: 0px 0px 5px !important;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}

.headerRow,
.impactDollars,
.header,
.body {
  width: 100%;
}

.impactDollars td,
.header th,
.body td {
  width: 33%;
}

.body td {
  width: 100px;
  text-align: center;
}

.left-header-left-cells {
  width: 70%;
  padding-right: 0;
}

.left-maintainence-header-left-cells {
  width: 70%;
}

mat-card-title {
  font-size: 18px !important;
}

h3 {
  display: inline;
  margin-right: 5px;
  font-size: 18px;
  padding: 0 4px;
}
