mat-card {
  margin: 40px 10px 10px 10px;
  cursor: pointer;
}

mat-card-content img {
  float: right;
  padding-bottom: 16px;
  max-width: 100%;
  height: auto;
}

mat-card-footer {
  padding: 12px;
  border-top: 1px solid #666;
  clear: both;
}

.button-bar-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.button-bar-item button {
  margin-bottom: 10px;
}

.addHover:hover {
  background-color: #696969;
}

.launchpad-container.collapse {
  max-height: 200px;
  transition: max-height 0.5s ease-in;
}

.launchpad-container {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.main-content.collapse {
  height: calc(100% - 195px) !important;
  overflow: auto;
}
