mat-card {
  height: 100%;
  padding: 0 !important;
}

.no-of-events-container {
  height: 100%;
  padding: 0px;
}

.no-of-events-text {
  padding: 10px !important;
  font-size: 1.25em;
  font-weight: 600;
  width: 70%;
}

.no-of-events-value {
  text-align: center;
}

.gaugeContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
