<mat-card class="no-of-events-container">
  <mat-card-title class="no-of-events-text">No. of Events</mat-card-title>
  <div
    class="loading"
    fxLayoutAlign="center center"
    *ngIf="loading; else loaded"
  >
    <div class="spinner" fxLayout="column">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      <b>Loading Data</b>
    </div>
  </div>
  <ng-template #loaded>
    <mat-card-content class="no-of-events-value">
      <h1>{{ value }}</h1>
    </mat-card-content>
  </ng-template>
</mat-card>
