<mat-card>
  <mat-card-content>
    <button
      type="button"
      mat-mat-raised-button
      color="primary"
      (click)="sendCode()"
    >
      Send Code
    </button>
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <h2>Verification Code</h2>
      <mat-error *ngIf="state?.showError">
        {{ state?.errorMessage }}
      </mat-error>
      <mat-form-field
        class="full-width-input"
        [hideRequiredMarker]="true"
        floatLabel="Verification Code"
        appearance="fill"
      >
        <input
          id="code"
          matInput
          type="text"
          placeholder="Verification Code"
          formControlName="code"
          autoComplete="off"
        />
        <mat-error> Invalid Code </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Verify</button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="dismissDialog()"
      >
        Not Now
      </button>
    </form>
  </mat-card-content>
</mat-card>
