.chart-selector-container .mat-form-field {
  width: 550px;
}
::ng-deep {
  .chart-selector-container .mat-form-field-infix {
    // border-top: 0 !important;
    padding: 0.001em 0 0.35em 0 !important;
    border-top: 0.1em solid transparent;
  }

  .chart-selector-container .mat-form-field-flex {
    padding: 0.5em 0.75em 0 0.75em !important;
  }

  .chart-selector-container .mat-select-arrow-wrapper {
    transform: translateY(-15%) !important;
  }
}
