.model-trend-container {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}

.model-trend-container .trend-chart-container {
  width: calc(100% - 345px);
  height: 100%;
  display: block;
  background-color: #ffffff !important;
  border-radius: 3px !important;
}

::ng-deep {
  .model-trend-container .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    border-radius: 3px !important;
  }
}

.loading {
  height: 100%;
  color: #333333 !important;
}
