<div
  class="model-trend-container"
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between"
>
  <ng-container *ngIf="vm$ | async as vm">
    <atx-model-stats fxFlex="340px"></atx-model-stats>
    <div
      class="trend-chart-container"
      *ngIf="vm.selectedModelSummary?.buildProperties.status?.built"
    >
      <atx-model-trend-chart
        [modelTrend]="vm.modelTrendData"
        [loading]="vm.modelTrendLoading"
        [isExpectedActual]="false"
        [theme]="(navFacade.theme$ | async) || 'light'"
      >
      </atx-model-trend-chart>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-around center"
      style="
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
      *ngIf="!vm.selectedModelSummary?.buildProperties.status?.built"
    >
      <div>
        <mat-icon
          color="accent"
          style="transform: scale(2); opacity: 30%"
          class="material-icons-ouline"
        >
          error
        </mat-icon>
      </div>

      <div style="text-align: center">
        <h3 mat-card-title style="margin-bottom: 5px; padding-bottom: 0">
          Model Not Saved
        </h3>
        <p mat-card-subtitle style="max-width: 400px">
          To see the model trend <br />
          click save to build the model.
        </p>
      </div>
    </div>
  </ng-container>
</div>
