<h2 mat-dialog-title>Leave Impact?</h2>
<mat-dialog-content class="mat-typography">
  Your changes will be lost. Click Cancel to continue editing, <br />or Discard
  Changes to exit without saving.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Discard Changes
  </button>
</mat-dialog-actions>
