.roles-list-grid-header {
  display: flex;
  margin: 4px 4px -5px 4px;
  padding: 0;
  height: 42px;
  border-radius: 0;
  border: 1px solig rgba(160, 160, 160, 0.3);
}

.roles-list-grid-header-bg-dark {
  background-color: #222628;
}

.roles-list-grid-header-bg-light {
  background-color: #dad6d6;
}

.roles-list-grid-header-left {
  margin: 5px;
  float: left;
  display: flex;
}

// styles based off of Alerts Task Center Screening View Component
.roles-container {
  height: calc(100% - 42px);
  overflow: hidden;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.roles-list-grid-body {
  height: calc(100% - 48px);
}

.ag-grid-formats {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}

.opacity0_2 {
  opacity: 0.2;
  border: 0;
}

.opacity1 {
  opacity: 1;
  border: 0;
}

.ag-fresh .ag-header-cell-label .ag-header-cell-text {
  display: inline-block;
  text-align: center;
}

.ag-fresh .ag-header-cell-label .ag-header-icon {
  vertical-align: top;
}

.ag-fresh .ag-header-cell-label > span {
  float: none;
}

.prevent-click {
  pointer-events: none;
}

button.custom-icon {
  pointer-events: auto;
  position: absolute;
  right: 10px;
  top: -53px;
  z-index: 9999;
}

.enable-click {
  pointer-events: auto;
}

.header-icon {
  color: white;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 16px;
}

::ng-deep {
  .collapsed .header-right {
    display: none;
  }

  .ag-theme-alpine-dark button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-theme-alpine button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-header-cell {
    padding: 0px 5px 0px 10px !important;
  }

  .icon-only .ag-header-cell-label img {
    width: auto;
  }

  .icon-only .ag-header-cell-text {
    display: none;
  }

  .number-column {
    text-align: center;
  }

  .lower-limit-cell {
    text-align: right;
    height: 92%;
    margin-top: 1px;
    border-radius: 4px;
  }

  .upper-limit-cell {
    text-align: right;
    height: 92%;
    margin-top: 1px;
    border-radius: 4px;
  }

  .ag-theme-alpine {
    .lower-limit-cell {
      background-color: #e2bd68;
    }

    .upper-limit-cell {
      background-color: #e2bd68;
    }

    .ag-header-cell-text {
      color: #303030 !important;
    }

    .ag-row-odd {
      background: #f6f6f6;
    }

    .ag-row-selected {
      background-color: var(--accent-250) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: var(--accent-250h) !important;
    }

    .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .ag-side-bar {
      background: #fafafa !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .lower-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .upper-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .ag-row-selected {
      background-color: var(--accent-250) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: var(--accent-250h) !important;
    }

    .ag-side-buttons {
      padding-top: 12px;
      //background-color: #303030;
    }
  }

  .ag-side-button-label {
    display: none;
  }
  .ag-theme-alpine-dark .ag-side-button-button,
  .ag-theme-alpine .ag-side-button-button {
    padding: 0;
    margin: 0;
    min-height: 30px;
  }
  .ag-side-button {
    height: 30px;
    margin: 2px 0;
  }
  .ag-column-drop-horizontal {
    height: 30px !important;
  }
  .ag-header-row {
    height: 30px !important;
  }

  .ag-cell {
    line-height: 26px !important;
  }

  .ag-details-row {
    padding: 10px !important;
    height: 100% !important;
  }

  .ag-icon-my-views,
  .ag-icon-column,
  .ag-icon-filters {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }
}

.cell-wrap-text {
  word-wrap: break-word;
}
