.impactCalculatorContainer {
  height: 100%;
  width: 100%;
}

.calculatorSaveOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.607);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

.impactCalculatorHeader {
  width: 100%;
  padding: 10px;
}

.impactCalculatorHeader h2 {
  margin: 0;
}

.impactCalculatorBody {
  overflow: scroll;
  overflow-x: scroll;
  height: calc(100% - 80px);
  margin: 20px;
}

.displayUnitError {
  color: #ef5350;
}

.row-headings {
  min-width: 295px;
  flex-direction: column;
}

.impactCalculatorContainer .mat-expansion-panel {
  display: inline-table !important;
  margin-top: 5px !important;
  padding-right: 0px !important;
}

.impactCalculatorContainer mat-expansion-panel .scenarioColumn {
  margin-left: 4px;
  position: relative;
  width: 100% !important;
}

.impactCalculatorContainer mat-expansion-panel .scenarioColumn mat-card {
  width: 335px !important;
}

::ng-deep {
  .impactCalculatorContainer
    .mat-form-field-appearance-fill
    .mat-form-field-flex {
    padding-top: 0 !important;
  }
  .impactRow .mat-form-field-appearance-fill .mat-form-field-flex {
    text-align: right !important;
  }
  .impactCalculatorContainer .mat-form-field-infix {
    padding-top: 0px !important;
  }
  .impactCalculatorContainer .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }
  .impactCalculatorContainer .mat-form-field-flex {
    padding-top: 0px !important;
  }
  .impactCalculatorContainer .mat-form-field-underline {
    bottom: auto !important;
  }
  .impactCalculatorContainer .mat-expansion-panel-body {
    padding: 0 0 8px 16px !important;
  }
  .impactCalculatorContainer .mat-expansion-panel-header {
    padding: 0 0 0 24px !important;
  }

  .impactCalculatorContainer
    .mat-form-field-appearance-fill
    .mat-select-arrow-wrapper {
    transform: translateY(0%);
  }

  .disable-suffix {
    color: rgb(170, 170, 170);
  }
}

.impactWrapper {
  position: relative;
  width: 100%;
}

.impact-simple-row {
  margin-left: 312px;
  flex-direction: row;
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 0;
  z-index: 1;
}

.impact-totals-row {
  flex-direction: row;
  place-content: start center;
  position: relative;
  display: flex;
  padding: 2px 0;
  z-index: 1;
}

mat-card.impactRowCard1 {
  width: 365px;
  box-sizing: border-box;
  margin-left: 4px;
  margin-top: 6px;
  padding: 3px;
}

.impactRowCard1 mat-form-field {
  width: 85px;
  height: 38px;
}

.innerRowOther mat-form-field {
  width: 27.5%;
  height: 38px;
}

mat-card.impactRowCard2 {
  margin-left: 5px;
  margin-top: 5px;
  width: 350px;
  padding: 4px;
}

.impactRowCard2 mat-form-field {
  width: 110px;
  height: 38px;
  padding-left: 5px;
}

.innerRow mat-form-field.datesFormFields {
  width: 130px;
}

.innerRow mat-form-field.datesTotals {
  width: 40px;
}

.innerRow mat-form-field {
  width: 102px;
  padding: 0 3px;
}

.innerRow mat-form-field.date-future {
  width: 102px;
  padding: 0 3px;
}

.innerRow mat-form-field.total-avg {
  width: 60px;
  padding: 0 3px;
}

.derateRow mat-form-field {
  width: 100px;
  padding: 0 3px;
}

.derateRow2 mat-form-field {
  width: 80px;
  padding: 0 3px;
}

.calcRow mat-form-field {
  width: 222px;
  padding: 0 3px;
}

mat-card mat-form-field {
  width: 100%;
}

mat-grid-list mat-card {
  display: block !important;
}

.scenario-wrapper {
  min-width: 365px;
  display: inline-flex;
}

.scenario-cards {
  width: 365px;
  padding-right: 4px;
  display: block;
}

.user-calc {
  min-width: 365px;
  margin-right: 5px;
  display: inline-flex;
}

.scenario-cards mat-form-field-wrapper {
  padding-bottom: 0px 0px 5px !important;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 215px;
}

.display-units {
  max-width: 60px;
  /*display: inline-block;*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.production-display-units {
  max-width: 65px;
  padding-top: 5px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.headerRow,
.impactDollars,
.header,
.body {
  width: 100%;
}

.impactDollars td,
.header th,
.body td {
  width: 33%;
}

.body td {
  padding-right: 20px;
  text-align: left;
}

.left-header-left-cells {
  width: 70%;
  padding-right: 0;
}

.left-Maintenance-header-left-cells {
  width: 70%;
}

mat-card-title {
  font-size: 18px !important;
}

.scenario-header {
  margin-bottom: 20px;
}

h3 {
  display: inline;
  margin-right: 4px;
  font-size: 18px;
  padding: 0 4px;
}

.impactRowCard1 mat-icon {
  height: 16px !important;
  width: 16px !important;
}

.mat-button-toggle-checked {
  background-color: var(--accent-250);
}

::ng-deep {
  .impactCalculatorContainer .mat-button-toggle-label-content {
    padding: 0 4px !important;
    line-height: 16px !important;
  }
}
input:read-only.inputTotals {
  font-weight: 800;
}
input:read-only {
  cursor: default;
}

.disabled-expansion-panel {
  pointer-events: none;
}

.top-progress-bar {
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
}

::ng-deep .top-progress-bar .mat-progress-bar-element {
  height: 1px !important;
  border-radius: 4px;
}

::ng-deep .top-progress-bar .mat-progress-bar-fill::after {
  height: 1px !important;
}
