<div class="tab-container">
  <div
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    style="height: 34px; padding-left: 20px"
  >
    <b>Total Action Items: {{ count }}</b>
    <span> {{ model?.ModelName }} </span>
    <!-- <atx-new-action
      style="position: absolute; right: 0; top: 0;"
      *ngIf="model"
      (save)="saveNewActionItem($event)"
    ></atx-new-action> -->
  </div>
  <ag-grid-angular
    class="grid"
    [ngClass]="
      listTheme === 'light'
        ? 'ag-theme-alpine'
        : listTheme === 'dark'
        ? 'ag-theme-alpine-dark'
        : 'ag-theme-alpine-dark'
    "
    [modules]="modules"
    [gridOptions]="gridOptions"
    [sideBar]="sideBar"
  ></ag-grid-angular>
</div>
