.tab-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

:host-context(.trends-expanded) .tab-container {
  height: 100%;
}

.grid {
  margin: 0 5px 5px 5px;
  height: calc(100% - 40px);
}

h3 {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 6px;
}
.cell-wrap-text {
  white-space: normal !important;
}

::ng-deep {
  .ag-set-filter-list {
    max-height: 15vh;
  }

  .cell-selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .cell-wrap-text {
    white-space: normal !important;
  }
}
