<ng-container>
  <div class="user-details-container">
    <div *ngIf="selectedUser === null; else hasSelectedUser">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="user-not-selected">
          <h2>No User Selected</h2>
          <p>
            To see a user's details, select a user from the list or click on Add
            New User to begin.
          </p>
        </div>
      </div>
    </div>
    <ng-template #hasSelectedUser>
      <div
        class="loading"
        *ngIf="isLoading !== null && isLoading === true; else loaded"
      >
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
        <b>Loading Data</b>
      </div>
      <ng-template #loaded>
        <form [formGroup]="userDetailsForm">
          <div
            fxLayout="row"
            fxLayoutAlign="left center"
            fxLayoutGap="40px"
            class="user-active"
          >
            <mat-checkbox
              color="accent"
              class="auto-gen-checkbox"
              formControlName="active"
              >User Account Active
            </mat-checkbox>
          </div>

          <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
            <span>Email:</span>
            <mat-form-field appearance="fill" color="accent" width="250vw">
              <mat-label>Email</mat-label>
              <input
                title="email"
                matInput
                formControlName="email"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
            <span>First Name:</span>
            <mat-form-field appearance="fill" color="accent" width="250vw">
              <mat-label>First Name</mat-label>
              <input
                title="firstName"
                matInput
                formControlName="firstName"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
            <span>Last Name:</span>
            <mat-form-field appearance="fill" color="accent" width="250vw">
              <mat-label>Last Name</mat-label>
              <input
                title="lastName"
                matInput
                formControlName="lastName"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div
            [style.marginTop.px]="15"
            fxLayout="row"
            fxLayoutAlign="left center"
            fxLayoutGap="40px"
          >
            <mat-checkbox
              color="accent"
              class="auto-gen-checkbox"
              formControlName="serviceAccount"
              >This is a Service Account</mat-checkbox
            >
          </div>
          <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
            <mat-checkbox
              color="accent"
              class="auto-gen-checkbox"
              formControlName="federatedAccount"
              >This account uses federated logon</mat-checkbox
            >
          </div>
          <div [style.marginTop.px]="15">
            <h3 [style.marginBottom.px]="5">Reset Password</h3>
            <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
              <br />
              <button
                mat-stroked-button
                color="accent"
                aria-label="Initiate"
                (click)="onInitiateBtnClick()"
                [disabled]="
                  selectedUser &&
                  (selectedUser.ServiceAccount || selectedUser.FederatedAccount)
                "
              >
                Initiate
              </button>
              <span
                >Click initiate to resend password reset email to user.</span
              >
            </div>
          </div>
        </form>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
