table {
  width: 100%;
}

.user-details-container {
  margin: 48px;
}

.user-not-selected {
  width: 300px;
  text-align: center;
}

.user-active {
  margin-bottom: 24px;
}

.user-details-container span {
  width: 20%;
}
