// This will hide the custom drag tip
.dragTip {
  position: absolute;
  z-index: -9999;
  bottom: -9999px;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.draggableTag {
  padding: 0px 17px;
}

.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  .thumbnails-list {
    cursor: pointer;
  }
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
