.main-nav,
.main-content,
.model-config-container {
  height: 100%;
  width: 100%;
}

.model-config-header {
  display: flex;
  padding: 5px;
  height: 40px;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
  align-items: center;
}

.list-view-toggle {
  margin-left: 20px;
}

.list-view-container {
  height: calc(100% - 52px);
  width: 100%;
}

.menus {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.deploy-btn {
  padding-right: 5px;
}

.top-progress-bar {
  position: absolute !important;
  top: 50px !important;
}

.op-mode-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.op-mode-header {
  color: #9a9a9b;
  font-weight: 600;
  padding: 8px 16px;
}

.mat-menu-item .mat-icon {
  margin-right: 0px;
}

::ng-deep {
  .model-config-header
    .mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    line-height: 40px !important;
  }

  .mat-menu-panel.deploy-menu,
  .mat-menu-panel.import-menu {
    width: 200px !important;
  }
}
