<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [showTimeSlider]="$any(navFacade.showTimeSlider$ | async)"
  [leftTraySize]="$any(modelConfigFacade.leftTraySize$ | async)"
  [leftTrayMode]="$any(modelConfigFacade.leftTrayMode$ | async)"
  [leftTrayOpen]="$any(navFacade.assetTreeSelected$ | async)"
  [leftTraySizeMin]="150"
  rightTrayMode="side"
  [rightTraySize]="300"
  [rightTrayOpen]="$any(showRightTray$ | async)"
>
  <atx-model-config-action-pane
    class="right-side-nav"
    [selectedModelIds]="(modelConfigFacade.selectedModelIds$ | async)!"
    [showModelInfo]="false"
    [hasSelectedMultipleModels]="
      (modelConfigFacade.multipleModelsSelected$ | async)!
    "
    (modelActionChange)="modelActionChange($event)"
  >
  </atx-model-config-action-pane>

  <atx-asset-tree
    class="side-nav"
    [treeState]="$any(modelConfigFacade.assetTreeConfiguration$ | async)"
    (stateChange)="onAssetTreeStateChange($event)"
  >
  </atx-asset-tree>

  <div class="main-nav">
    <div class="main-content">
      <div class="model-config-container">
        <mat-card class="model-config-header">
          <span class="title-span">Model Configuration</span>

          <mat-button-toggle-group
            #buttonToggleGroup
            (change)="toggleListView($event)"
            class="list-view-toggle"
            [ngModel]="listView"
            aria-label="List View"
          >
            <mat-button-toggle value="model" data-cy="modelListBtn"
              >Model List</mat-button-toggle
            >

            <mat-button-toggle value="tag" data-cy="tagListBtn"
              >Tag List</mat-button-toggle
            >

            <mat-button-toggle value="opmode" data-cy="opModesBtn"
              >Op Modes</mat-button-toggle
            >
          </mat-button-toggle-group>

          <div class="menus">
            <ng-container *ngIf="listView !== 'opmode'">
              <button
                mat-flat-button
                color="accent"
                *ngIf="editMultipleModelsEnabled$ | async"
                (click)="editSelectedModels()"
              >
                <mat-icon>edit</mat-icon>
                Edit Selected Models
              </button>

              <div class="deploy-btn" *ngIf="isUnitLevelAndBelow$ | async">
                <button
                  mat-button
                  [matMenuTriggerFor]="deployMenu"
                  (click)="deployStandardModels()"
                >
                  Deploy Standard Models
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
              </div>

              <mat-menu class="deploy-menu" #deployMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="quickDeployModels(opModeType.SteadyState)"
                >
                  Steady State Models
                </button>

                <button
                  mat-menu-item
                  (click)="quickDeployModels(opModeType.Startup)"
                >
                  Startup Models
                </button>

                <button
                  mat-menu-item
                  (click)="quickDeployModels(opModeType.Transient)"
                >
                  Transient Models
                </button>
              </mat-menu>

              <div class="import-btn" *ngIf="isAssetPdServer$ | async">
                <button mat-button [matMenuTriggerFor]="importMenu">
                  Import Custom Models
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
              </div>

              <mat-menu class="import-menu" #importMenu="matMenu">
                <button mat-menu-item (click)="exportModelTemplete()">
                  Export model file
                </button>

                <button mat-menu-item (click)="importModelFile()">
                  Import model file
                </button>
              </mat-menu>

              <div *ngIf="(hasSelectedModels$ | async) && listView === 'model'">
                <button
                  mat-mini-fab
                  color="accent"
                  matTooltip="more options"
                  [matMenuTriggerFor]="moreOptions"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>

              <mat-menu class="deploy-menu" #moreOptions="matMenu">
                <button mat-menu-item (click)="deleteModels()">
                  <mat-icon>delete</mat-icon>
                  Delete Model(s)
                </button>
              </mat-menu>

              <button
                mat-button
                *ngIf="hasSelectedTag$ | async"
                (click)="createNewModel()"
                data-cy="createNewModelBtn"
              >
                Create New Model
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </ng-container>

            <ng-container *ngIf="listView === 'opmode'">
              <button
                [disabled]="
                  (modelConfigFacade.opModeListLoading$ | async) ||
                  (modelConfigFacade.restrictCreateNewOpMode$ | async)
                "
                mat-button
                (click)="createNewOpMode()"
                data-cy="createOpModeBtn"
              >
                Create New Op Mode
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="accent"
                matTooltip="more options"
                [matMenuTriggerFor]="opModeMenu"
                data-cy="opModeMenu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #opModeMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="opModeSelectMenu">
                  Set Default Op Mode
                </button>
              </mat-menu>

              <mat-menu #opModeSelectMenu="matMenu">
                <div class="op-mode-header">Operating Mode Types</div>

                <button
                  *ngFor="let opMode of opModes"
                  mat-menu-item
                  class="op-mode-button"
                  (click)="onOpModeChange(opMode.value)"
                >
                  <div>{{ opMode.label }}</div>
                  <mat-icon
                    *ngIf="
                      opMode.value === (defaultOpMode$ | async);
                      else noCheckMark
                    "
                    >check_box</mat-icon
                  >
                  <ng-template #noCheckMark>
                    <mat-icon>check_box_outline_blank</mat-icon>
                  </ng-template>
                </button>
              </mat-menu>
            </ng-container>
          </div>
        </mat-card>

        <mat-progress-bar
          *ngIf="qdLoading$ | async"
          class="top-progress-bar"
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>

        <mat-drawer-container class="list-view-container" autosize>
          <ng-template [ngIf]="listView === 'model'"
            ><atx-model-list
              [listTheme]="$any(navFacade.theme$ | async)"
            ></atx-model-list
          ></ng-template>
          <ng-template [ngIf]="listView === 'tag'"
            ><atx-tag-list
              [listTheme]="$any(navFacade.theme$ | async)"
            ></atx-tag-list
          ></ng-template>
          <ng-template [ngIf]="listView === 'opmode'">
            <atx-op-mode-list
              [listTheme]="$any(navFacade.theme$ | async)"
            ></atx-op-mode-list>
          </ng-template>
        </mat-drawer-container>
      </div>
    </div>
  </div>
</atx-horizontal-layout>
<atx-time-slider
  *ngIf="navFacade.showTimeSlider$ | async"
  [timeSliderState]="$any(timeSliderState$ | async)"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
