<div *ngIf="state === 'none'; else addActionItem">
  <mat-icon (click)="add()">add</mat-icon>
</div>
<ng-template #addActionItem>
  <mat-icon *ngIf="favorite === false" (click)="setFavorite(true)"
    >star_outline</mat-icon
  >
  <mat-icon *ngIf="favorite === true" (click)="setFavorite(false)"
    >star</mat-icon
  >
  <mat-form-field appearance="fill" style="max-width: 142px">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="noteType">
      <mat-option value="savediagnose">Diagnose</mat-option>
      <mat-option value="savemaintenance">Model Maintenance</mat-option>
      <mat-option value="savenote">Note</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Note</mat-label>
    <input matInput type="text" [formControl]="noteValue" />
  </mat-form-field>
  <mat-form-field
    *ngIf="
      noteType.value === 'savediagnose' || noteType.value === 'savemaintenance'
    "
    appearance="fill"
    style="max-width: 100px"
  >
    <mat-label>Priority</mat-label>
    <mat-select [formControl]="notePriority">
      <mat-option value="2">High</mat-option>
      <mat-option value="1">Medium</mat-option>
      <mat-option value="0">Low</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-icon (click)="saveActionItem()">save</mat-icon>
  <mat-icon (click)="cancelActionItem()">delete</mat-icon>
</ng-template>
