<div mat-dialog-title fxLayout="column" fxLayoutAlign="space-around center">
  Notification
</div>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-icon>warning</mat-icon>
      <span style="width: 100%"
        >The following model has previously been built, would you like to
        replace with the standard model?</span
      >
    </div>
    <span>{{ data[currentIdx]?.Model?.ModelName }}</span>
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px">
      <button mat-stroked-button (click)="replace()">Replace</button>
      <button mat-stroked-button (click)="doNotReplace()">
        Do Not Replace
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions *ngIf="remainingModelCount > 0">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-checkbox [(ngModel)]="applyAll">
      <span>Do this for the next {{ remainingModelCount }} conflict.</span>
    </mat-checkbox>
  </div>
</div>
