.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

mat-drawer {
  overflow: hidden !important;
}

::ng-deep .pg-nav {
  background-color: #b91717 !important;
}

mat-icon {
  color: rgba(255, 255, 255, 0.87) !important;
}

mat-line span {
  color: rgba(255, 255, 255, 0.87) !important;
}

.alternative-light-theme mat-icon span {
  color: rgba(255, 255, 255, 0.87) !important;
}

.alternative-light-theme mat-drawer span {
  color: rgba(255, 255, 255, 0.87) !important;
}

.menu-btn {
  border-radius: 0;
  height: 30px;
  text-align: left;
  padding-left: 8px !important;
}

.menu-btn mat-icon {
  font-size: 18px;
  padding-left: 2px;
  margin-left: 12px;
}

.task-center-btn {
  text-align: left;
  height: 45px !important;
  line-height: 40px !important;
  border-radius: 0 !important;
  padding-top: 3px;
}

.utilities-btn {
  height: 40px !important;
  line-height: 36px;
  text-align: left !important;
  border-radius: 0 !important;
}

.task-center-btn mat-icon {
  padding-left: 4px;
}

.utilities-btn mat-icon {
  padding-left: 4px;
}

.task-center-btn span {
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.utilities-btn span {
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.bottom-btns {
  position: absolute !important;
  bottom: 0 !important;
  padding-top: 16px;
}

.default-dark-theme .bottom-btns {
  background-color: #b81616 !important;
}

.alternative-light-theme .bottom-btns {
  background-color: #b81616 !important;
}

.login-btn {
  text-align: left;
  height: 56px !important;
  line-height: 48px !important;
}

.login-btn mat-icon {
  background-color: var(--accent-250);
  border-radius: 100px;
  height: 32px;
  width: 32px;
}

.login-btn mat-icon p {
  font-size: 16px;
  margin: 10px 6px !important;
  font-weight: 500;
}

.login-btn span {
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.time-slider-btn {
  height: 56px !important;
  line-height: 52px !important;

  cursor: pointer;
  text-align: left;
  width: 100%;
}

.time-slider-btn mat-icon {
  padding-left: 4px;
}

.time-slider-btn span {
  padding-left: 12px;
}

.nav-btn-disabled {
  opacity: 0.5;
}

::ng-deep {
  .mat-app-background .mat-button-wrapper {
    padding-top: 2px !important;
  }
  .nav-tooltip {
    border-radius: 0px 4px 4px 0px !important;
    padding: 17px 8px 17px 0px !important;
    box-shadow: unset !important;
    margin-left: 0px !important;
    font-size: 12px;
  }

  .utils-tooltip {
    border-radius: 0px 4px 4px 0px !important;
    padding: 13px 8px 13px 0px !important;
    box-shadow: unset !important;
    margin-left: 0px !important;
    font-size: 12px;
  }

  .home-tooltip {
    margin-top: -8px !important;
  }

  .settings-tooltip {
    padding: 12px 8px 12px 8px !important;
    box-shadow: unset !important;
    margin-left: 4px !important;
    font-size: 12px;
  }

  .default-dark-theme .nav-tooltip,
  .default-dark-theme .utils-tooltip {
    background: #b81616 !important;
    color: rgba(255, 255, 255, 0.87) !important;
    box-shadow: 3px 3px 5px 2px rgba(50, 50, 50, 0.7);
  }

  .alternative-light-theme .nav-tooltip,
  .alternative-light-theme .utils-tooltip {
    background: #b81616 !important;
    color: rgba(255, 255, 255, 0.87) !important;
    box-shadow: unset;
  }
}

.default-dark-theme mat-drawer {
  background-color: #222628;
}

::ng-deep .default-dark-theme mat-drawer-container {
  background-color: #282828 !important;
}

::ng-deep .alternative-light-theme mat-drawer-container {
  background-color: #f1f1f1 !important;
}

.alternative-light-theme mat-drawer {
  background-color: #e6e6e6;
}

.nav-list {
  height: calc(100% - 37px);
  padding: 0px;
  overflow: auto;
}

.nav-list-time-slider-show {
  height: calc(100% - 37px);
}

mat-drawer-content {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}

.asset360Logo {
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing.opaque-backdrop {
  background: black;
  opacity: 0.3 !important;
}

.nav-btn-selected-side {
  transition: 1s ease;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.1);
  transition: transform 500ms ease-out;
}
.nav-btn-selected {
  height: 48px !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.1);
  transition: transform 1000ms ease;
}

.alternative-light-theme .nav-btn-selected-side {
  transition: 1s ease;
  border-radius: 0 !important;
  background: rgba(120, 120, 120, 0.1);
  transition: transform 500ms ease-out;
}

.nav-btn-gone {
  display: none;
}
