<ng-container>
  <div data-testid="nav_content" [ngClass]="facade.themeClass$ | async">
    <div class="mat-app-background mat-typography">
      <mat-drawer-container class="nav-container" autosize>
        <mat-drawer
          mode="side"
          disableClose="true"
          class="pg-nav"
          [opened]="facade.showSmallButtons$ | async"
          cdkOverlayOrigin
          #loadingOrigin="cdkOverlayOrigin"
        >
          <div fxLayout="column">
            <a
              mat-button
              matTooltip="Home"
              matTooltipPosition="right"
              matTooltipClass="nav-tooltip home-tooltip"
              class="task-center-btn"
              [routerLink]="facade.logoRoute$ | async"
            >
              <mat-icon mat-list-icon>
                <img width="24px" height="24px" [src]="facade.logo$ | async"
              /></mat-icon>

              <span mat-line *ngIf="facade.showBigButtons$ | async">{{
                facade.appName$ | async
              }}</span>
            </a>
            <mat-divider></mat-divider>
            <a
              class="menu-btn"
              data-testid="toggle_nav"
              mat-button
              (click)="toggleNavigation()"
            >
              <mat-icon
                mat-list-icon
                matTooltip="Collapse Menu"
                matTooltipPosition="right"
                *ngIf="facade.showBigButtons$ | async; else menuClosed"
                aria-label="Menu"
                >menu_open</mat-icon
              >
              <ng-template #menuClosed>
                <mat-icon
                  mat-list-icon
                  matTooltip="Expand Menu"
                  matTooltipPosition="right"
                  aria-label="Menu"
                  >menu</mat-icon
                >
              </ng-template>
            </a>
            <mat-divider style="padding-bottom: 5px"></mat-divider>
            <!--The navigation buttons.  These will allow the user to navigate within/without the app.-->
            <ng-container
              *ngFor="let navButton of navItems$ | async; trackBy: trackButton"
              [ngSwitch]="navButton.type"
            >
              <ng-container *ngIf="navButton.visible">
                <ng-container *ngSwitchCase="'asset_button'">
                  <a
                    mat-button
                    matTooltip="Asset Navigator"
                    matTooltipPosition="right"
                    matTooltipClass="nav-tooltip"
                    class="task-center-btn"
                    (click)="navButtonClicked(navButton)"
                    data-cy="assetNavigatorBtn"
                  >
                    <mat-icon mat-list-icon svgIcon="a360_assetNav"></mat-icon>
                    <span mat-line *ngIf="facade.showBigButtons$ | async">
                      Asset Navigator
                    </span>
                  </a>
                </ng-container>
                <ng-container
                  *ngIf="(facade.showAssetTreeNavItemOnly$ | async) === false"
                >
                  <ng-container *ngSwitchCase="'spacer'">
                    <div
                      fxLayout="row"
                      style="
                        height: 24px !important;
                        line-height: 24px;
                        font-size: 12px;
                      "
                    >
                      <mat-icon
                        mat-list-icon
                        style="margin-left: 20px; opacity: 50%"
                        >horizontal_rule</mat-icon
                      >
                      <span
                        style="padding-left: 12px; opacity: 50%"
                        mat-line
                        *ngIf="facade.showBigButtons$ | async"
                      >
                        {{ navButton.text }}
                      </span>
                    </div>
                  </ng-container>

                  <!-- links are Model Configuration / Beta Feedback / OP Mode Configuration -->
                  <ng-container *ngSwitchCase="'link'">
                    <a
                      mat-button
                      [href]="navButton.url"
                      [target]="navButton.newTab ? '_blank' : ''"
                      [matTooltip]="navButton.hover"
                      matTooltipPosition="right"
                      matTooltipClass="utils-tooltip"
                      class="utilities-btn"
                      data-cy="utilBtns"
                    >
                      <mat-icon *ngIf="navButton.matIcon" mat-list-icon>{{
                        navButton.matIcon
                      }}</mat-icon>
                      <mat-icon
                        *ngIf="navButton.icon"
                        mat-list-icon
                        [svgIcon]="navButton.icon"
                      ></mat-icon>
                      <span mat-line *ngIf="facade.showBigButtons$ | async">
                        {{ navButton.text }}</span
                      >
                    </a>
                  </ng-container>
                  <!-- routes are Alerts / Issues Management / ETC -->
                  <ng-container *ngSwitchCase="'route'">
                    <a
                      mat-button
                      [matTooltip]="navButton.hover"
                      matTooltipPosition="right"
                      matTooltipClass="nav-tooltip"
                      class="task-center-btn"
                      [ngClass]="{
                        'nav-btn-selected-side': navButton.selected,
                        'nav-btn-disabled': !navButton.enabled,
                        'nav-btn-gone': navButton.gone
                      }"
                      data-cy="navBarAppBtns"
                      [routerLink]="navButton.enabled ? navButton.url : null"
                      [queryParams]="navButton.urlParams"
                      [target]="navButton.newTab ? '_blank' : '_self'"
                    >
                      <mat-icon *ngIf="navButton.matIcon" mat-list-icon>{{
                        navButton.matIcon
                      }}</mat-icon>
                      <mat-icon
                        *ngIf="navButton.icon"
                        mat-list-icon
                        [svgIcon]="navButton.icon"
                      ></mat-icon>
                      <span mat-line *ngIf="facade.showBigButtons$ | async">{{
                        navButton.text
                      }}</span>
                    </a>
                  </ng-container>
                  <mat-list-item
                    *ngSwitchDefault
                    matTooltipPosition="right"
                    matTooltipClass="nav-tooltip"
                    [matTooltip]="navButton.hover"
                    (click)="navButtonClicked(navButton)"
                    [ngClass]="{
                      'nav-btn-selected-side': navButton.selected,
                      'nav-btn-disabled': !navButton.enabled,
                      'nav-btn-hidden': !navButton.visible,
                      'nav-btn-gone': navButton.gone
                    }"
                  >
                    <mat-icon *ngIf="navButton.matIcon" mat-list-icon>{{
                      navButton.matIcon
                    }}</mat-icon>
                    <mat-icon
                      *ngIf="navButton.icon"
                      mat-list-icon
                      [svgIcon]="navButton.icon"
                    ></mat-icon>
                    <h4 mat-line *ngIf="showBigButtons$ | async">
                      {{ navButton.text }}
                    </h4>
                  </mat-list-item>
                </ng-container>
              </ng-container>
            </ng-container>
            <div class="bottom-btns">
              <a
                mat-button
                matTooltip="Support"
                matTooltipPosition="right"
                matTooltipClass="utils-tooltip"
                data-testid="help_button"
                style="width: 100%"
                class="utilities-btn"
                (click)="helpClicked()"
                [fxShow]="isLoggedIn$ | async"
              >
                <mat-icon mat-list-icon>help_outline</mat-icon>

                <span mat-line *ngIf="facade.showBigButtons$ | async"
                  >Support</span
                >
              </a>
              <a
                mat-button
                matTooltip="Notifications"
                matTooltipPosition="right"
                matTooltipClass="utils-tooltip"
                style="width: 100%"
                class="utilities-btn"
                data-testid="notifications"
                [fxShow]="isLoggedIn$ | async"
                (click)="getAndShowNotifications()"
                [ngClass]="{
                  'nav-btn-selected': facade.showNotifications$ | async
                }"
                cdkOverlayOrigin
                #NotificationTriggerLocation="cdkOverlayOrigin"
              >
                <mat-icon
                  matBadge="{{ facade.notificationsCount$ | async }}"
                  matBadgeColor="warn"
                  matBadgePosition="above after"
                  svgIcon="a360_notifications"
                ></mat-icon>

                <span mat-line *ngIf="facade.showBigButtons$ | async"
                  >Notifications</span
                >
              </a>
              <a
                mat-button
                matTooltip="User Settings"
                matTooltipPosition="right"
                matTooltipClass="nav-tooltip settings-tooltip"
                class="login-btn"
                style="width: 100%"
                data-testid="user_settings"
                [fxShow]="isLoggedIn$ | async"
                (click)="showUserDialog()"
                cdkOverlayOrigin
                #UserBoxTriggerLocation="cdkOverlayOrigin"
                data-cy="userSettingsBtn"
              >
                <mat-icon
                  ><p style="color: #425252">
                    {{ initials$ | async }}
                  </p></mat-icon
                >

                <span mat-line *ngIf="facade.showBigButtons$ | async"
                  >User Settings
                </span>
              </a>
              <ng-container *ngIf="facade.isWhiteListed$ | async">
                <ng-container *ngIf="facade.showBigButtons$ | async">
                  <div
                    mat-button
                    matTooltipPosition="right"
                    class="task-center-btn"
                    style="padding: 0 16px; cursor: default"
                  >
                    <mat-icon
                      mat-list-icon
                      style="vertical-align: middle"
                      svgIcon="atx_logo"
                    ></mat-icon>
                    <em style="font-size: 11px"> Powered by Prometheus APM</em>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container>
                <a
                  mat-button
                  class="time-slider-btn"
                  matTooltip="Time Range Selector"
                  data-testid="time_slider"
                  data-cy="toggleTimeSliderBtn"
                  [ngClass]="{
                    'nav-btn-selected-side': facade.showTimeSlider$ | async
                  }"
                  (click)="toggleTimeSlider()"
                  *ngIf="facade.showTimeSliderButton$ | async"
                >
                  <mat-icon mat-list-icon> scheduled </mat-icon>
                  <span mat-line *ngIf="facade.showBigButtons$ | async"
                    >Time Slider</span
                  >
                </a>
              </ng-container>
            </div>
          </div>
        </mat-drawer>

        <mat-drawer-content>
          <!--Content here-->
          <slot name="main">
            <ng-content> </ng-content>
          </slot>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</ng-container>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositionStrategy]="loginPositionStrategy"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="loadingOrigin"
  [cdkConnectedOverlayOpen]="showLogin$ | async"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'login-backdrop'"
>
  <atx-login></atx-login>
</ng-template>

<!--This is the code for the user box overlay.-->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="UserBoxTriggerLocation"
  [cdkConnectedOverlayOpen]="facade.showUserDialog$ | async"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="opaque-backdrop"
  (backdropClick)="hideUserDialog()"
>
  <atx-user-box
    [user]="user$ | async"
    [initials]="initials$ | async"
    [theme]="theme$ | async"
    (logout)="logout()"
    (changeTheme)="changeTheme($event)"
  ></atx-user-box>
</ng-template>

<!--This is the code for the loading box overlay.-->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositionStrategy]="loadingPositionStrategy"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="loadingOrigin"
  [cdkConnectedOverlayOpen]="facade.showLoading$ | async"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="opaque-backdrop"
>
  <div>
    <!--Add loading spinner here. -->
    <mat-spinner diameter="100" color="accent"></mat-spinner>
  </div>
</ng-template>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOrigin]="NotificationTriggerLocation"
  [cdkConnectedOverlayOpen]="facade.showNotifications$ | async"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="opaque-backdrop"
  (backdropClick)="hideNotifications()"
>
  <atx-notification-box
    [notifications]="facade.notifications$ | async"
    style="right: 0; position: absolute; min-width: 400px"
    (download)="downloadNotification($event)"
    (viewed)="viewedNotification($event)"
  ></atx-notification-box>
</ng-template>
