<h2 mat-dialog-title>
  <mat-toolbar style="background-color: transparent">
    <mat-icon>warning</mat-icon>
    <span class="fx-spacer"></span>
    <span style="padding-left: 10px">Attention!</span>
  </mat-toolbar>
</h2>
<mat-dialog-content class="mat-typography">
  Models with Sensitivity changes only will be saved and not rebuilt. Models
  that include other other changes will be rebuilt. <br /><br />
  Models with unsaved changes:
  <div class="changed-models">
    {{ changedModels }}
  </div>
  <br />
  <ng-container *ngIf="lockedModels !== ''">
    <strong>
      These models are locked and will not be saved or rebuilt:
      <div class="locked-models">
        {{ lockedModels }}
      </div>
    </strong>
    <br />
  </ng-container>
  Click "Changed Models" to save/rebuild just models with unsaved changes.<br />
  Click "All Models" to also rebuild the remaining models.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="'AllModels'"
    cdkFocusInitial
  >
    All Models
  </button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="'ChangedModels'"
    cdkFocusInitial
  >
    Changed Models
  </button>
</mat-dialog-actions>
