<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2 *ngIf="state?.challengeName === 'SMS_MFA'; else otherCode">
        Code From SMS Message
      </h2>
      <ng-template #otherCode>
        <h2>Code sent to user</h2>
      </ng-template>
      <h3
        *ngIf="
          state?.challengeParameters?.CODE_DELIVERY_DELIVERY_MEDIUM === 'SMS'
        "
      >
        Code sent to {{ state?.challengeParameters?.CODE_DELIVERY_DESTINATION }}
      </h3>
      <mat-error *ngIf="state?.showError">
        {{ state?.errorMessage }}
      </mat-error>
      <mat-form-field
        class="full-width-input"
        [hideRequiredMarker]="true"
        floatLabel="Code"
        appearance="fill"
      >
        <input
          matInput
          type="text"
          placeholder="######"
          formControlName="code"
          autocomplete="off"
        />
        <mat-error>
          Please provide the 6 digit code from the SMS message.
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
