<div class="tab-container">
  <div
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    style="height: 34px; padding-left: 20px"
  >
    <b>Total Action Items: {{ rowCount }}</b>
    <span> {{ modelName }} </span>
  </div>
  <ag-grid-angular
    class="grid"
    [ngClass]="
      theme === 'light'
        ? 'ag-theme-alpine'
        : theme === 'dark'
        ? 'ag-theme-alpine-dark'
        : 'ag-theme-alpine-dark'
    "
    [modules]="modules"
    [gridOptions]="gridOptions"
  ></ag-grid-angular>
</div>
