.grid {
  height: calc(100% - 40px);
  margin: 2px;
}

.tab-container {
  height: 100%;
}

::ng-deep {
  .ag-checkbox-input-wrapper.ag-checked::after {
    color: var(--accent-250) !important;
  }
  .cell-selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .cell-wrap-text {
    white-space: normal !important;
  }
}
