.tab-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

::ng-deep {
  .alternative-light-theme .tab-container {
    background-color: #ffffff !important;
  }

  .default-dark-theme .tab-container {
    background-color: #222628 !important;
  }
}

.model-trend-chart {
  width: 100%;
  height: 100%;
}

mat-card {
  height: 100%;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-align: center;
  background-color: transparent !important;
}

:host-context(.trends-expanded) .tab-container {
  height: 100%;
}
