<div class="tab-container">
  <div class="model-trend-chart" *ngIf="model; else noModel">
    <atx-model-trend-chart-display
      [model]="model"
      [data]="data"
      [actionData]="actionData"
      [loading]="loading"
      [multiselected]="multiselected"
      [moveMarkers]="true"
      (btnGrpStateChange)="onBtnGrpStateChange($event)"
    ></atx-model-trend-chart-display>
  </div>
  <ng-template #noModel>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title style="text-align: center">
        No Model Selected
      </mat-card-title>
      <mat-card-subtitle style="text-align: center">
        Select a model from the Alerts Screeing View<br />to see its Model
        Trend.</mat-card-subtitle
      >
    </mat-card>
  </ng-template>
</div>
