.tree-config-title {
  padding: 5px;
  margin-right: 10px;
  height: 40px;
  font-size: 24px;
  font-weight: 500;
}

.tree-config-title mat-icon {
  font-size: 25px;
  margin-right: 6px;
}

.customers-wide {
  width: 1460px;
}

.tree-config-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tree-wrapper-container {
  height: 400px;
  width: 250px;
  border: 2px grey solid;
}

.tree-dropdown {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 14px;
}

.tree-name-edit {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 14px;
}

.tree-hierarchy-container {
  width: 280px;
  border: 2px grey solid;
  overflow: auto;
}

.create-asset-node-icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 36px;
}

.create-container-node-icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 36px;
}

.asset-node-behavior-icon {
  font-size: 18px;
  line-height: 1;
  margin-left: 3px;
}

.tree-config-dropdown {
  border: 1px solid;
  border-radius: 2px;
}

.tree-config-dropdown .mat-select {
  margin-top: 10px !important;
  margin-left: 5px !important;
}

.tree-config-dropdown input {
  margin-top: 10px !important;
  margin-left: 5px !important;
}

.tree-config-spacer {
  flex: 1 1 auto;
}

.tree-config-node-name-button {
  width: 30px;
  height: 20px;
  line-height: 20px;
}

.tree-name-button {
  width: 30px;
}
