<div
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  class="flex flex-row gap-x-2 items-center"
>
  <span class="text-xl font-bold"> Manage Custom Hierarchies </span>
  <mat-icon [matTooltip]="helpToolTip">help_outline</mat-icon>
</div>
<ng-container *ngIf="vm$ | async as vm">
  <mat-dialog-content>
    <div class="flex flex-row gap-x-4 mb-1">
      <div class="flex flex-col gap-y-2 min-w-[283px]">
        <mat-slide-toggle
          *ngIf="vm?.showCustomerHierarchyToggle"
          [checked]="vm?.showCustomerTrees"
          (change)="configureCustomerTreesChange()"
          >Customer Hierarchies</mat-slide-toggle
        >
        <span class="tree-config-spacer"></span>

        <ng-container
          *ngIf="vm?.showCustomerTrees; else showAvailableAssetLabel"
        >
          <span class="text-xl font-bold">Select Customer</span>
        </ng-container>
        <ng-template #showAvailableAssetLabel>
          <span class="text-xl font-bold">Your Available Assets</span>
        </ng-template>
      </div>

      <div
        *ngIf="vm?.showCustomerTrees && vm?.selectedCustomer !== null"
        class="flex flex-row items-end min-w-[283px] max-w-[283px] overflow-x-auto whitespace-nowrap"
      >
        <span class="text-xl font-bold"
          >{{ vm?.selectedCustomer?.Name }}'s Available Assets</span
        >
      </div>
      <span class="tree-config-spacer min-w-[40px]"></span>
      <div class="flex flex-col gap-y-2 min-w-[283px]">
        <div class="flex flex-row gap-x-2">
          <span
            ><button
              mat-flat-button
              color="accent"
              matTooltip="Create Hierarchy"
              (click)="createTree()"
              [disabled]="editingTreeName || creatingNewTree || vm?.isEditing"
            >
              Create Hierarchy
            </button></span
          >
          <span
            ><button
              mat-flat-button
              color="accent"
              matTooltip="Delete Hierarchy"
              [disabled]="
                vm?.selectedTree === null ||
                editingTreeName ||
                creatingNewTree ||
                vm?.isEditing
              "
              (click)="deleteTree()"
            >
              Delete Hierarchy
            </button></span
          >
        </div>
        <ng-container
          *ngIf="editingTreeName || creatingNewTree; else showTreeDropdown"
        >
          <div class="flex flex-row tree-config-dropdown">
            <div class="flex flex-col w-full">
              <input
                #treeNameInput
                matInput
                type="text"
                [formControl]="treeNameFormControl"
                placeholder="Tree Name"
                (focus)="selectTextOnFocus(treeNameInput)"
                (click)="selectTextOnFocus(treeNameInput)"
                [style.caret-color]="'red'"
                (blur)="onTreeNameEditBlur(treeNameInput, $event)"
              />

              <span
                class="text-red-500 font-bold text-[10px] ml-1"
                *ngIf="treeNameFormControl?.hasError('required')"
              >
                Tree name must not be empty
              </span>
              <span
                class="text-red-500 font-bold text-[10px] ml-1"
                *ngIf="treeNameFormControl?.hasError('duplicateName')"
              >
                Tree name already exist
              </span>
            </div>
            <button
              id="treeSaveBtn"
              mat-icon-button
              class="tree-name-button"
              arial-label="Save Hierarchy Name"
              (click)="saveTreeName()"
              data-cy="saveTreeName"
              matTooltip="Save Hierarchy Name"
              [disabled]="treeNameFormControl.invalid"
            >
              <mat-icon color="accent">done</mat-icon>
            </button>
            <button
              id="treeCancelBtn"
              mat-icon-button
              class="tree-name-button"
              (click)="cancelTreeNameEdit()"
              data-cy="cancelTreeNameEdit"
              matTooltip="Cancel Hierarchy Name Edit"
            >
              <mat-icon color="accent">cancel</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-template #showTreeDropdown>
          <div class="flex flex-row tree-config-dropdown">
            <mat-select
              placeholder="Select Custom Hierarchy"
              (selectionChange)="selectedTreeChange($event)"
              [value]="vm?.selectedTree"
            >
              <mat-option
                *ngFor="
                  let tree of treeConfigFacade.query.userAssetTrees$ | async
                "
                [value]="tree"
              >
                {{ tree.TreeName }}
              </mat-option>
            </mat-select>
            <button
              mat-icon-button
              [disabled]="vm?.selectedTree === null || vm?.isEditing"
              (click)="editTreeName()"
              data-cy="editTreeName"
              matTooltip="Edit Hierarchy Name"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="flex flex-row gap-x-4">
      <!-- Customer Tree -->
      <div *ngIf="vm?.showCustomerTrees">
        <div class="tree-hierarchy-container h-[425px]">
          <atx-customer-tree
            [nodes]="vm?.customers"
            [selectedNode]="vm?.selectedCustomer"
            (nodeClicked)="onCustomerNodeClick($event)"
          >
          </atx-customer-tree>
        </div>
      </div>

      <div>
        <div class="tree-hierarchy-container h-[425px]">
          <!-- Top Level Assets Tree -->
          <ng-container
            *ngIf="vm?.showCustomerTrees; else showDefaultAssetTree"
          >
            <atx-top-level-asset-tree2
              [nodes]="vm?.selectedCustomerTopLevelAssets"
              [selectedNode]="vm?.selectedTopLevelAsset"
              [showHeader]="false"
              (nodeClicked)="onTopLevelAssetNodeClick($event)"
            ></atx-top-level-asset-tree2>
          </ng-container>

          <!-- Standard Asset Tree -->
          <ng-template #showDefaultAssetTree>
            <atx-tree-wrapper
              [assetTreeConfiguration]="
                vm?.treeWrapperTreeState?.treeConfiguration
              "
              (assetTreeStateChange)="assetTreeStateChange($event)"
            ></atx-tree-wrapper>
          </ng-template>
        </div>
      </div>

      <div class="my-auto mx-0">
        <div>
          <button
            mat-icon-button
            aria-label="Add Asset Node"
            (click)="addAssetNode()"
            data-cy="addAssetNode"
            [disabled]="
              vm?.selectedTree === null ||
              vm?.configureCustomerTrees ||
              vm?.isEditing
            "
          >
            <mat-icon
              fontSet="material-icons-outlined"
              class="create-asset-node-icon"
              >arrow_circle_right</mat-icon
            >
          </button>
        </div>
        <div>
          <button
            mat-icon-button
            aria-label="Add Container Node"
            (click)="addContainerNode()"
            data-cy="addContainerNode"
            [disabled]="
              vm?.selectedTree === null ||
              vm?.configureCustomerTrees ||
              vm?.isEditing
            "
          >
            <mat-icon
              fontSet="material-icons-outlined"
              class="create-container-node-icon"
              >create_new_folder</mat-icon
            >
          </button>
        </div>
      </div>

      <div>
        <div class="flex flex-row">
          <div class="tree-hierarchy-container h-[250px]">
            <atx-tree-config-node-tree
              [disabled]="editingTreeName"
              [nodes]="treeConfigFacade.query.selectedTreeNodesByTree$ | async"
              [nodesStore]="
                treeConfigFacade.query.selectedTreeNodesStoreByTree$ | async
              "
              [selectedNode]="vm?.selectedTreeNode"
              (nodeClicked)="onNodeClick($event)"
              (toggleNode)="onToggleNode($event)"
            ></atx-tree-config-node-tree>
          </div>
        </div>

        <div *ngIf="vm?.selectedTreeNode">
          <div class="flex flex-row items-center">
            <span>Selected Node Settings:</span>
            <span class="tree-config-spacer"></span>
            <span>
              <button
                mat-icon-button
                aria-label="Delete Node"
                (click)="deleteNode()"
                data-cy="deleteNode"
                matTooltip="Delete Node"
                [disabled]="vm?.isEditing"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </div>
          <form [formGroup]="nodeForm" class="flex flex-col w-full">
            <mat-form-field
              appearance="fill"
              color="accent"
              [matTooltip]="vm?.selectedTreeNode?.AssetPath"
              [matTooltipPosition]="'right'"
              class="mb-[-15px]"
            >
              <span></span>
              <mat-label>Node Name (Required for Container Nodes)</mat-label>
              <div class="flex flex-row">
                <input
                  #nodeNameInput
                  matInput
                  formControlName="nodeName"
                  (focus)="selectTextOnFocus(nodeNameInput)"
                  (blur)="onNodeNameEditBlur(nodeNameInput, $event)"
                  [style.caret-color]="'red'"
                  [readOnly]="editingTreeName"
                />
                <button
                  id="nodeNameBtn"
                  mat-icon-button
                  matTooltip="Save Node Name"
                  *ngIf="!nodeForm.get('nodeName').pristine"
                  class="tree-config-node-name-button"
                  (click)="saveNodeName()"
                >
                  <mat-icon color="accent">done</mat-icon>
                </button>
                <button
                  id="nodeNameCancelBtn"
                  mat-icon-button
                  *ngIf="!nodeForm.get('nodeName').pristine"
                  (click)="cancelNodeNameEdit()"
                  class="tree-config-node-name-button"
                  matTooltip="Cancel Node Name Edit"
                >
                  <mat-icon color="accent">cancel</mat-icon>
                </button>
              </div>
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="mb-[-15px]">
              <mat-label>Node Behavior</mat-label>
              <mat-select formControlName="assetNodeBehaviorId">
                <mat-option value="1">Asset Only</mat-option>
                <mat-option value="2">Asset and Children</mat-option>
                <mat-option value="3">Asset and Descendants</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <span
    class="text-red-500 font-bold text-[14px] relative top-[60px]"
    *ngIf="vm?.errorMessage"
  >
    {{ vm?.errorMessage }}
  </span>
  <div mat-dialog-actions align="end">
    <button
      mat-flat-button
      color="accent"
      matTooltip="Close"
      (click)="onClose()"
    >
      Close
    </button>
  </div>
</ng-container>
