<h3 class="title">Event Changelog</h3>
<div class="ag-grid-container">
  <ag-grid-angular
    class="ag-grid-formats"
    [ngClass]="theme$ | async"
    [gridOptions]="gridOptions"
    [modules]="modules"
  ></ag-grid-angular>
</div>
<div class="action">
  <button mat-button mat-dialog-close>Close</button>
</div>
