::ng-deep {
  .custom-dialog-history {
    height: 80vh !important;
    width: 900vw !important;
  }

  .custom-dialog-history mat-dialog-container {
    padding: 20px 20px 10px !important;
  }
}

.title {
  margin: 0px;
}

.action {
  float: right;
  margin: 10px 10px 0px;
}

.ag-grid-container {
  height: calc(100% - 80px) !important;
}

.ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 10px;
  height: 100%;
}

.ag-fresh .ag-header-cell-label .ag-header-cell-text {
  display: inline-block;
  text-align: center;
}

.ag-fresh .ag-header-cell-label .ag-header-icon {
  vertical-align: top;
}

.ag-fresh .ag-header-cell-label > span {
  float: none;
}
