<ng-container>
  <h3>Create New Role</h3>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <span>New Role Name:</span>
    <mat-form-field appearance="fill" width="250vw">
      <mat-label>Role name</mat-label>
      <input matInput #newRoleNameInput autocomplete="off" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button (click)="cancelDialog()">Cancel</button>
    <button mat-flat-button cdkFocusInitial color="accent" (click)="save()">
      Create
    </button>
  </div>
</ng-container>
