.static-curves-container {
  width: 99%;
  height: calc(100% - 70px);
  margin: 5px;
  padding: 0px 0px 8px 0px;
  border-radius: 0;
  box-shadow: unset !important;
}

::ng-deep.default-dark-theme {
  .static-curves-container {
    background-color: #222628 !important;
    border: solid 1px #5e5e5e;
  }
}

::ng-deep.alternative-light-theme {
  .static-curves-container {
    border: solid 1px #dde2eb;
  }
}

.curves-header {
  padding: 8px 8px 8px 6px;
}

.static-curves-container mat-toolbar {
  font-size: 14px;
  height: 40px;
  padding-left: 30px;
}

::ng-deep.default-dark-theme {
  .static-curves-container mat-toolbar {
    background-color: #424242 !important;
  }
}

.curve-div {
  height: calc(100% - 32px);
  overflow: auto;
  padding-left: 12px;
}

.curve-div mat-card {
  margin-top: 12px;
  box-shadow: unset !important;
}

.color {
  width: 130px;
}
input[type='color'] {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
.static-curves-inputs {
  width: 120px;
}

.color-inputs {
  width: 120px;
}

.type-inputs,
.repeat-inputs {
  width: 110px;
}

.color-field .mat-form-field-infix {
  border-top: 0.25em solid transparent;
}

.points-date-picker,
.label-inputs {
  width: 150px;
}

.header-text {
  font-weight: 500;
}

::ng-deep {
  .static-curves-container .mat-form-field-wrapper {
    margin: 0;
  }

  .static-curves-container .mat-form-field-label-wrapper {
    margin: 0;
  }
  .static-curves-container .mat-form-field-infix {
    border-top: 1em solid transparent;
  }

  .static-curves-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .static-curves-container .mat-select-arrow-wrapper {
    padding-top: 8px !important;
  }

  .static-curves-container .mat-select-value {
    padding-top: 0 !important;
  }

  .static-curves-container .mat-form-field-suffix .mat-icon-button {
    height: 24px !important;
    width: 24px !important;
    top: 4px;
  }
}

.axis-units {
  width: 115px;
}

.mat-error {
  margin-top: 8px;
  word-wrap: none;
}
