<ng-container *ngIf="vm$ | async as vm">
  <div class="curves-header">
    <button
      type="button"
      mat-stroked-button
      aria-label="New Curve"
      (click)="addcurves()"
    >
      <mat-icon color="accent" style="padding-bottom: 2px; padding-right: 2px"
        >add_circle_outline</mat-icon
      >Add Curve
    </button>
  </div>
  <mat-card class="static-curves-container">
    <mat-toolbar fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <span class="header-text static-curves-inputs">Axis</span>
      <span class="header-text label-inputs">Label</span>
      <span class="header-text static-curves-inputs">Color</span>
      <span class="header-text type-inputs">Type</span>
      <span class="header-text repeat-inputs">Repeat</span>
    </mat-toolbar>
    <ng-container *ngIf="!vm.trendsLoading">
      <div class="curve-div" fxLayout="column" fxLayoutAlign="start start">
        <form [formGroup]="curvesForm">
          <div formArrayName="curves">
            <div *ngFor="let Curve of curves.controls; let i = index">
              <mat-card>
                <div [formGroupName]="i">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="center start"
                    fxLayoutGap="5px"
                  >
                    <div fxlayout="columns">
                      <mat-form-field
                        color="accent"
                        class="axis-units"
                        appearance="fill"
                      >
                        <mat-select formControlName="axisUnits">
                          <mat-option
                            *ngFor="let axis of axes"
                            [value]="axis.Axis"
                            >{{ axis.Title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field
                        color="accent"
                        class="label-inputs"
                        appearance="fill"
                      >
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="curveName"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field
                        color="accent"
                        class="color-field"
                        style="width: 30px; margin-top: -10px; margin-left: 5px"
                        appearance="none"
                      >
                        <input
                          matInput
                          autocomplete="off"
                          type="color"
                          formControlName="curveColor"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field
                        color="accent"
                        style="width: 90px"
                        appearance="fill"
                      >
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="curveColor"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field
                        color="accent"
                        class="type-inputs"
                        appearance="fill"
                      >
                        <mat-select formControlName="curveType">
                          <mat-option value="line">Line</mat-option>
                          <mat-option value="range">Range</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field
                        color="accent"
                        class="repeat-inputs"
                        appearance="fill"
                      >
                        <mat-select formControlName="curveRepeat">
                          <mat-option value="">None</mat-option>
                          <mat-option value="hour">Hourly</mat-option>
                          <mat-option value="day">Daily</mat-option>
                          <mat-option value="week">Weekly</mat-option>
                          <mat-option value="month">Monthly</mat-option>
                          <mat-option value="year">Yearly</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <button
                      type="button"
                      mat-icon-button
                      (click)="removeCurve(i)"
                    >
                      <mat-icon style="padding-bottom: 2px"
                        >delete_outline</mat-icon
                      >
                    </button>
                  </div>
                  <div>
                    <div formArrayName="points">
                      <div
                        *ngFor="
                          let Point of pointsArray(i).controls;
                          let j = index
                        "
                      >
                        <div
                          [formGroupName]="j"
                          fxLayout="row"
                          fxLayoutAlign="center start"
                          fxLayoutGap="5px"
                        >
                          <ng-container *ngIf="vm.isXY">
                            <div>
                              <mat-form-field
                                appearance="fill"
                                style="width: 120px"
                                color="accent"
                              >
                                <mat-label>X Value</mat-label>
                                <input
                                  matInput
                                  autocomplete="off"
                                  formControlName="pointX"
                                />
                              </mat-form-field>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!vm.isXY">
                            <div>
                              <mat-form-field
                                style="width: 140px"
                                appearance="fill"
                                color="accent"
                              >
                                <mat-label>Start Date</mat-label>
                                <input
                                  #startDateInput
                                  matInput
                                  autocomplete="off"
                                  [matDatepicker]="startDatePicker"
                                  (dateChange)="startDateChanged($event.value)"
                                  formControlName="pointDate"
                                />
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="startDatePicker"
                                ></mat-datepicker-toggle>
                                <mat-datepicker
                                  #startDatePicker
                                ></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!vm.isXY">
                            <div>
                              <mat-form-field
                                appearance="fill"
                                style="width: 120px"
                                color="accent"
                              >
                                <mat-label>Start Time</mat-label>
                                <input
                                  matInput
                                  autocomplete="off"
                                  type="time"
                                  formControlName="pointTime"
                                />
                              </mat-form-field>
                            </div>
                          </ng-container>
                          <ng-container
                            *ngIf="
                              (vm.selectedTrend.trendDefinition?.DesignCurves)[
                                i
                              ].Type === 'line'
                            "
                          >
                            <div>
                              <mat-form-field
                                color="accent"
                                class="static-curves-inputs"
                                appearance="fill"
                              >
                                <mat-label>Y Value</mat-label>
                                <input
                                  matInput
                                  autocomplete="off"
                                  formControlName="pointY"
                                />
                              </mat-form-field>
                            </div>
                          </ng-container>
                          <ng-container
                            *ngIf="
                              (vm.selectedTrend.trendDefinition?.DesignCurves)[
                                i
                              ].Type === 'range'
                            "
                          >
                            <div>
                              <mat-form-field
                                color="accent"
                                class="static-curves-inputs"
                                appearance="fill"
                              >
                                <mat-label>Low Y Value</mat-label>
                                <input
                                  matInput
                                  autocomplete="off"
                                  formControlName="pointY1"
                                />
                              </mat-form-field>
                            </div>
                            <div>
                              <mat-form-field
                                color="accent"
                                class="static-curves-inputs"
                                appearance="fill"
                              >
                                <mat-label>High Y Value</mat-label>
                                <input
                                  matInput
                                  autocomplete="off"
                                  formControlName="pointY2"
                                />
                              </mat-form-field>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="pointsLength(i) > 1">
                            <button
                              type="button"
                              mat-icon-button
                              (click)="removePoint(i, j)"
                            >
                              <mat-icon style="padding-bottom: 2px"
                                >delete_outline</mat-icon
                              >
                            </button>
                          </ng-container>
                        </div>
                      </div>
                      <button
                        type="button"
                        mat-flat-button
                        color="primary"
                        aria-label="Add Point"
                        (click)="addPoint(i)"
                        style="margin-top: 10px; margin-left: 20px"
                      >
                        <mat-icon
                          color="accent"
                          style="padding-bottom: 2px; padding-right: 2px"
                          >add_circle_outline</mat-icon
                        >Add Point
                      </button>
                    </div>
                  </div>
                </div></mat-card
              >
            </div>
          </div>
        </form>
      </div>
    </ng-container>
  </mat-card>
</ng-container>
