mat-card {
  border-radius: 0px;
  box-shadow: none !important;
  padding: 0px;
}

mat-card-content {
  z-index: 1 !important;
  text-align: center;
  margin: 0.7% !important;
}

.breadcrumb-menu {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.breadcrumb-menu > div {
  overflow: hidden;
  white-space: nowrap;
}

.breadcrumb-menu-icon {
  margin-right: 10px;
}
