<mat-card fxLayout="row wrap" fxLayoutAlign="left" *ngIf="breadcrumb">
  <mat-card-content [ngSwitch]="breadcrumb.type">
    <a
      *ngSwitchCase="'link'"
      class="breadcrumb-menu"
      [href]="breadcrumb.url"
      [target]="breadcrumb.newTab ? '_blank' : ''"
    >
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="breadcrumb-menu-icon">arrow_back</mat-icon>
        <div>{{ breadcrumb.text | titlecase }}</div>
      </div>
    </a>
    <a
      *ngSwitchCase="'route'"
      class="breadcrumb-menu"
      [routerLink]="breadcrumb.url"
      [target]="breadcrumb.newTab ? '_blank' : '_self'"
    >
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="breadcrumb-menu-icon">arrow_back</mat-icon>
        <div>{{ breadcrumb.text | titlecase }}</div>
      </div>
    </a>
    <a *ngSwitchCase="'back'" class="breadcrumb-menu" (click)="goBack()">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="breadcrumb-menu-icon">arrow_back</mat-icon>
        <div>{{ breadcrumb.text | titlecase }}</div>
      </div>
    </a>
  </mat-card-content>
</mat-card>
