<ng-container *ngIf="vm$ | async as vm">
  <h3>Manage Issue Followers</h3>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
    <mat-label>Add Users:</mat-label>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
      <mat-form-field
        style="width: 700px"
        appearance="fill"
        color="accent"
        data-cy="userNamesFld"
      >
        <mat-label>User Names</mat-label>
        <mat-chip-list #selectedUsersList aria-label="User selection">
          <mat-chip
            *ngFor="let user of selectedUsers"
            [selectable]="true"
            [removable]="true"
            (removed)="removeUser(user)"
          >
            {{ user.FriendlyName }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #userSelectionInput
            [formControl]="selectedUsersControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="selectedUsersList"
            (matChipInputTokenEnd)="addUser($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectUser($event)"
        >
          <mat-option *ngFor="let user of vm.filteredUsers" [value]="user">
            {{ user.FriendlyName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        color="accent"
        mat-stroked-button
        (click)="addUsers()"
        data-cy="addFollowersBtn"
      >
        Add
      </button>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="5px"
    style="padding: 5px 0"
  >
    <button color="accent" mat-stroked-button (click)="removeAllFollowers()">
      Remove All Followers
    </button>
  </div>
  <div class="table-container">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      data-cy="followersTbl"
    >
      <ng-container matColumnDef="FriendlyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element" data-cy="userName">
          {{ element.FriendlyName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Email</th>
        <td mat-cell *matCellDef="let element" data-cy="userEmail">
          {{ element.Email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="UserGroups">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
        <td mat-cell *matCellDef="let element" data-cy="userGroup">
          <mat-chip-list aria-label="UserGroups">
            <div class="chiplist-container">
              <mat-chip *ngFor="let group of element.UserGroups">{{
                group.Name
              }}</mat-chip>
            </div>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="IsSubscribed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Following Issue
        </th>
        <td mat-cell *matCellDef="let element" data-cy="following">
          <button mat-icon-button (click)="updateSubscriptionStatus(element)">
            <span
              *ngIf="element.IsSubscribed"
              matTooltip="User Following Issue"
            >
              <mat-icon
                style="padding-bottom: 2px; padding-right: 4px"
                color="accent"
                >contactless</mat-icon
              >
            </span>
            <span *ngIf="!element.IsSubscribed" matTooltip="Remove User">
              <mat-icon
                class="material-icons-outlined"
                style="padding-bottom: 2px; padding-right: 4px"
                >contactless</mat-icon
              >
            </span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-card
    *ngIf="vm.isLoading || vm.isSaving"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-bar
      class="top-progress-bar"
      color="accent"
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" data-cy="manageDialogCancelBtn">
      Cancel
    </button>
    <button
      mat-flat-button
      color="accent"
      cdkFocusInitial
      (click)="save(false)"
      [disabled]="isPristine() | async"
      data-cy="manageDiaglogSaveBtn"
    >
      Save
    </button>
    <button
      mat-flat-button
      color="accent"
      cdkFocusInitial
      (click)="save(true)"
      [disabled]="isPristine() | async"
      data-cy="manageDialogSaveCloseBtn"
    >
      Save & Close
    </button>
  </div>
</ng-container>
