table {
  width: 100%;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.chiplist-container {
  margin: 5px 0 !important;
  overflow: auto !important;
  min-height: 50px !important;
  max-height: 80px !important;
}
