<div class="dialog-range-container" fxFill>
  <ng-container *ngIf="vm$ | async as vm">
    <div>
      <span fxFlex></span>
      <button mat-icon-button mat-dialog-close>
        <mat-icon aria-hidden="false" aria-label="clear">clear</mat-icon>
      </button>
    </div>
    <mat-tab-group
      #tabGroup
      mat-stretch-tabs
      color="accent"
      style="height: 100%"
      (animationDone)="setFocus()"
    >
      <mat-tab>
        <ng-template mat-tab-label> Standard Time Span </ng-template>
        <div class="time-range-margin-top tab-group-center">
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Time Span</mat-label>
            <input
              autocomplete="off"
              #timeSpanInput
              matInput
              (keydown)="onKeyUp($event)"
              [formControl]="timeSpanInterval"
              min="1"
              type="number"
            />
            <mat-error *ngIf="timeSpanInterval.invalid">
              Interval is not valid.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            color="accent"
            class="time-range-margin-left"
          >
            <mat-label>Unit of Time</mat-label>
            <mat-select
              (selectionChange)="changeTimeUnits($event.value)"
              [value]="vm.timeSpanUnit"
            >
              <mat-option
                *ngFor="let timeSpanUnitState of timeSpanUnitsStates"
                [value]="timeSpanUnitState"
              >
                {{ timeSpanUnitMapping[timeSpanUnitState]
                }}<ng-container *ngIf="vm.timeSpanInterval > 1">s</ng-container>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="time-range-span-margin tab-group-center">
          <mat-form-field appearance="fill" color="accent" style="width: 150px">
            <mat-label>Reference Date</mat-label>
            <input
              #timeSpanDateInput
              matInput
              [matDatepicker]="timeSpanDatePicker"
              [formControl]="timeSpanDate"
              [min]="timespanStartMin"
              [max]="timespanEndMax"
              [errorStateMatcher]="dialogFacade.timeSpanDateMatcher"
            />
            <mat-datepicker-toggle
              matSuffix
              tabindex="-1"
              [for]="timeSpanDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #timeSpanDatePicker></mat-datepicker>
            <mat-error
              *ngIf="vm.invalidTimeSpanDateFormat || timeSpanDate.invalid"
            >
              Reference date is not valid.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            color="accent"
            class="time-range-margin-left"
            style="width: 125px"
          >
            <mat-label>Reference Time</mat-label>
            <input matInput type="time" [formControl]="timeSpanTime" />
            <mat-error *ngIf="timeSpanTime.invalid">
              Time is not valid. (hh:mm)
            </mat-error>
          </mat-form-field>
          <button
            mat-button
            matTooltip="Set to current day and time"
            style="
              margin-left: 5px;
              min-width: 0;
              width: 29px;
              height: 29px;
              padding: 0;
              border-radius: 15px;
            "
            (click)="resetRefDate()"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div class="time-range-toggle-margin tab-group-center">
          <mat-button-toggle-group
            id="timeLineBtnGroup"
            style="height: 25px"
            (change)="toggleChange($event)"
            [formControl]="timeSpanDirection"
            aria-label="Timeline"
          >
            <mat-button-toggle
              value="Past"
              aria-label="Past"
              matTooltip="Time span back from Reference Date"
              matTooltipPosition="above"
            >
              <mat-icon svgIcon="past"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle
              value="Present"
              aria-label="Present"
              matTooltip="Time span around Reference Date"
              matTooltipPosition="above"
            >
              <mat-icon svgIcon="present"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle
              value="Future"
              aria-label="Future"
              matTooltip="Time span forward from Reference Date"
              matTooltipPosition="above"
            >
              <mat-icon svgIcon="future"></mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div
          class="time-range-span-buttons button-padding"
          fxLayout="row"
          fxLayoutAlign="end"
        >
          <span fxFlex></span>
          <div class="time-range-buttons">
            <button id="cancelBtn" mat-button mat-dialog-close>Cancel</button>
          </div>
          <div class="time-range-buttons">
            <button
              id="applyBtn"
              color="accent"
              [disabled]="
                timeSpanDate.invalid ||
                timeSpanTime.invalid ||
                vm.invalidTimeSpanDateFormat ||
                timeSpanInterval.invalid
              "
              mat-stroked-button
              (click)="applyTimeSpanChanges(false)"
            >
              Apply
            </button>
          </div>
          <div class="time-range-buttons">
            <button
              [disabled]="
                timeSpanDate.invalid ||
                timeSpanTime.invalid ||
                vm.invalidTimeSpanDateFormat ||
                timeSpanInterval.invalid
              "
              id="okBtn"
              mat-flat-button
              color="accent"
              (click)="applyTimeSpanChanges(true)"
            >
              Ok
            </button>
          </div>
        </div>
        <mat-divider class="time-range-span-buttons"></mat-divider>
        <mat-dialog-actions
          fxLayout="row"
          fxLayoutAlign="center"
          style="padding: 0; margin-top: 10px"
        >
          <button mat-icon-button id="stepLeftBtn" (click)="step('left')">
            <mat-icon
              mat-icon-button
              aria-hidden="false"
              aria-label="arrow_left"
              >arrow_left</mat-icon
            >
          </button>
          <span class="tab-group-center" style="margin-top: 1px">Step</span>
          <button mat-icon-button id="stepRightBtn" (click)="step('right')">
            <mat-icon
              mat-icon-button
              aria-hidden="false"
              aria-label="arrow_right"
              >arrow_right</mat-icon
            >
          </button>
        </mat-dialog-actions>
      </mat-tab>
      <mat-tab class="mat-tab-label">
        <ng-template mat-tab-label> Custom Dates </ng-template>
        <div class="time-range-margin-top tab-group-center">
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Start Date</mat-label>
            <input
              #startDateInput
              matInput
              [min]="vm.startMin"
              [max]="vm.startMax"
              [matDatepicker]="startDatePicker"
              [formControl]="startDate"
              [errorStateMatcher]="dialogFacade.startDateMatcher"
            />
            <mat-datepicker-toggle
              matSuffix
              tabindex="-1"
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker tabindex="-1"></mat-datepicker>
            <mat-error
              *ngIf="
                vm.invalidStartDateFormat || startDate.hasError('required')
              "
            >
              Start date is not valid.
            </mat-error>
            <mat-error *ngIf="startDate.hasError('matDatepickerMin')">
              Start date is too early.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            color="accent"
            class="time-range-margin-left"
          >
            <mat-label>Start Time</mat-label>
            <input
              matInput
              #startTimeInput
              type="time"
              [formControl]="startTime"
            />
            <mat-error *ngIf="startTime.invalid">
              Time is not valid. (hh:mm)
            </mat-error>
          </mat-form-field>
        </div>

        <div class="time-range-margin-top tab-group-center">
          <mat-form-field appearance="fill" color="accent">
            <mat-label>End Date</mat-label>
            <input
              #endDateInput
              matInput
              [min]="vm.endMin"
              [max]="vm.endMax"
              [matDatepicker]="endDatePicker"
              [formControl]="endDate"
              [errorStateMatcher]="dialogFacade.endDateMatcher"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
              tabindex="-1"
            ></mat-datepicker-toggle>
            <mat-datepicker
              [startAt]="vm.endPickerStartAt"
              #endDatePicker
            ></mat-datepicker>
            <mat-error
              *ngIf="
                endDate.invalid ||
                vm.invalidEndDateFormat ||
                endDate.hasError('required')
              "
            >
              End date is not valid.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="fill"
            color="accent"
            class="time-range-margin-left"
          >
            <mat-label>End Time</mat-label>
            <input matInput #endTimeInput type="time" [formControl]="endTime" />
            <mat-error *ngIf="endTime.invalid">
              Time is not valid. (hh:mm)
            </mat-error>
          </mat-form-field>
        </div>

        <div
          class="time-range-margin-top button-padding"
          time-range-margin-top
          fxLayout="row"
          fxLayoutAlign="end"
        >
          <span fxFlex></span>
          <div class="time-range-buttons">
            <button id="cancelBtn" mat-button mat-dialog-close>Cancel</button>
          </div>
          <div class="time-range-buttons">
            <button
              id="applyBtn"
              [disabled]="
                vm.startDateAfterEndDate ||
                startTime.invalid ||
                endTime.invalid ||
                endDate.errors ||
                startDate.errors
              "
              mat-stroked-button
              color="accent"
              (click)="applyCustomDateChanges(false)"
            >
              Apply
            </button>
          </div>
          <div class="time-range-buttons">
            <button
              [disabled]="
                vm.startDateAfterEndDate ||
                startTime.invalid ||
                endTime.invalid ||
                endDate.errors ||
                startDate.errors
              "
              id="okBtn"
              mat-flat-button
              color="accent"
              (click)="applyCustomDateChanges(true)"
            >
              Ok
            </button>
          </div>
        </div>
        <div class="time-range-margin-top tab-group-center">
          <ng-container *ngIf="vm.startDateAfterEndDate">
            <mat-error>Start date must be before end date.</mat-error>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
