::ng-deep {
  .dialog-range-container {
    .custom-dialog {
      .mat-dialog-container {
        width: 380px;
        margin: 0;
        padding: 0;
        height: 100%;
      }
    }
  }
}

// .custom-dialog-content {
//   padding: 20px 26px 20px;
//   border-bottom: 1px solid rgba(160, 160, 160, 0.3);
//   border-top: 1px solid rgba(160, 160, 160, 0.3);
// }
::ng-deep.dialog-range-container.mat-form-field-appearance-fill
  .mat-form-field-flex {
  padding-top: 12px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  vertical-align: middle !important;
}

.dialog-range-container .mat-button-toggle-label-content {
  line-height: 10px !important;
  padding: 0;
}
::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 10px !important;
  mat-icon {
    height: 10px;
  }
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.time-range-margin-top {
  margin-top: 25px;
}

.time-range-span-margin {
  margin-top: 2px;
}
.time-range-toggle-margin {
  margin-top: 5px;
}

.time-range-span-buttons {
  margin-top: 15px;
}

.time-range-margin-left {
  margin-left: 6px;
  width: 130px;
}
.time-range-buttons {
  margin-left: 10px;
}
.mat-form-field {
  margin-top: 4px;
  margin-bottom: 8px;
  max-width: 175px;
}

mat-dialog-content {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

// Hides html datepicker
input[type='time']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.mat-tab-label {
  padding: 0;
  margin: 0;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

::ng-deep.dialog-range-container .mat-tab-body {
  height: 300px;
}

.tab-group-center {
  justify-content: center;
  text-align: center;
}

.button-padding {
  padding-right: 35px;
}

.mat-dialog-actions {
  min-height: 20px;
}

::ng-deep {
  .dialog-range-container .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .dialog-range-container .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .dialog-range-container .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .dialog-range-container .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .dialog-range-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .dialog-range-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .dialog-range-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .dialog-range-container .mat-form-field-underline {
    bottom: auto !important;
  }
  .dialog-range-container mat-form-field .mat-icon-button {
    display: content !important;
    top: 5px;
    height: 24px !important;
    width: 24px !important;
  }
}

.mat-error {
  margin-top: 10px;
}
