.app-perm-container {
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

.table-container {
  height: calc(100vh - 320px);
  overflow: scroll;
}

.permission-statement {
  color: #79c250;
}

.user-not-selected {
  width: 300px;
  text-align: center;
  margin-top: 48px;
}

th,
td {
  width: 50px;
}
