<ng-container>
  <div class="app-perm-container">
    <div *ngIf="selectedRole === null; else hasSelectedRole">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="user-not-selected">
          <h2>No Role Selected</h2>
          <p>
            To see a role's details, select a role from the list or click on Add
            New Role to begin.
          </p>
        </div>
      </div>
    </div>
    <ng-template #hasSelectedRole>
      <div
        class="loading"
        *ngIf="isLoading !== null && isLoading === true; else loaded"
      >
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
        <b>Loading Data</b>
      </div>
      <ng-template #loaded>
        <div style="padding: 10px 0 0 10px">
          <p [style.margin.px]="0" class="permission-statement">
            *You do not have permission to edit Application Permissions. This
            tab is read-only.
          </p>
        </div>
        <div class="table-container">
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>View</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [formControl]="appViewPermsFormControl(element)"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [formControl]="appEditPermsFormControl(element)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Add">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Add</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [formControl]="appAddPermsFormControl(element)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [formControl]="appDeletePermsFormControl(element)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Admin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [formControl]="appAdminPermsFormControl(element)"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Resource.Name }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let rowData; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
