<h3 mat-dialog-title>
  To create your new Assets, you must paste the data below by pressing "Ctrl +
  V"
</h3>
<mat-dialog-content>
  <div>
    <p>The data must be tabular and include the following:</p>
    <p>
      A column with the header "Parent Asset Path" that contains a path of asset
      names, delimited with a forward slash "/", from the selected asset to the
      parent asset.
    </p>
    <p>
      A column with the header "Asset Name" that contains the name of the asset
      being created. This is what will show up in the Asset Navigator.
    </p>
    <p>
      A column with the header "Description" that contains a description of the
      asset for richer context.
    </p>
    <p>
      A column with the header "Type" that contains the string identifier of an
      asset type.
    </p>
  </div>
  <div>
    <textarea
      #pasteBox
      type="text"
      class="paste-box"
      (keydown)="onKeydown($event)"
      placeholder='Click inside this box and press "Ctrl + V" to paste'
      [disabled]="isValidating"
    ></textarea>
    <div>
      <p>
        <span *ngIf="isValidating">Checking data format...</span>
        <span
          [ngClass]="
            !(
              clientValidationResult.includes('OK') ||
              clientValidationResult.includes('Ignoring')
            )
              ? 'error-text'
              : ''
          "
          >{{ clientValidationResult }}</span
        >
      </p>
      <section
        [innerText]="serverValidationResult"
        class="server-text"
        [ngClass]="
          serverValidationResult.includes('Error') ||
          serverValidationResult.includes('error')
            ? 'error-text'
            : ''
        "
      ></section>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!isSaveBtnEnabled"
    (click)="onSave()"
  >
    Save
  </button>
</div>
