.mat-dialog-content {
  height: 474px;
  overflow: hidden;
}

.paste-box {
  height: 100px;
  width: 100%;
  resize: none;
}

.paste-box:focus {
  outline: none;
}

.error-text {
  color: red;
}

.server-text {
  margin-top: 10px;
  width: 100%;
  height: 75px;
  overflow: auto;
  white-space: pre-line;
}
