mat-form-field {
  width: 100%;
  margin-bottom: 0px;
  height: 100%;
}

mat-spinner {
  color: white;
}

.mat-expansion-panel-spacing {
  margin: 4px 0;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}

.ag-cell-wrapper.ag-row-group[class*='ag-row-group-indent'],
.ag-cell-wrapper.ag-row-group-leaf-indent[class*='ag-row-group-indent'] {
  padding-left: 0;
}

.ag-grid-formats {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 36vh;
  max-height: 500px;
  display: block;
}

.ag-grid-work-items {
  height: 18vh;
  max-height: 250px;
  display: block;
}

.panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75vw;
  max-height: 85vh;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    &--title {
      font-size: 24px;
      font-weight: 500;
    }
  }
  &_form {
    position: relative;
  }
  &_instructions {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
  &_panel-content {
    padding: 8px;
    position: relative;
    font-size: 1rem;
    &-location {
      position: absolute;
      right: 12px;
      top: 16px;
    }
    &--dark {
      background-color: #6f6f6f;
    }
    &--light {
      background-color: whitesmoke;
    }
  }
  &_panels {
    padding: 16px;
    &--dark {
      background-color: #606060;
    }
    &--light {
      background-color: #e0e0e0;
    }
  }
  &_status-container {
    display: flex;
    width: 100%;
    justify-self: flex-end;
  }
  &_btn-container {
    margin-left: auto;
  }
  &_description {
    height: 32vh;
    max-height: 500px;
    // get accent color for caret
    caret-color: var(--accent-250);
  }
  &_title {
    caret-color: var(--accent-250);
  }
}

.dialog .loading-container {
  display: flex;
}
