<div
  class="dialog"
  *ngIf="{
    theme: (theme$ | async),
    workRequestLoading: (workRequestLoading$ | async)
  } as selected"
>
  <div>
    <div class="dialog_header">
      <div class="dialog_header--title">Create Work Request:</div>
      <div class="dialog_header--asset">
        <b>APM Asset:</b> {{ assetName$ | async }}
      </div>
    </div>
    <form [formGroup]="workOrderForm" class="dialog_form">
      <div class="dialog_instructions">
        Up to 40 characters. It is suggested to use standard nomenclature: VERB
        + NOUN + Desc (ex. - “Repair feed water pump”) or (“Check motor running
        hot”). Fill the 40 characters as much as possible.
      </div>

      <mat-form-field appearance="fill" style="width: 40%">
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          id="title"
          color="accent"
          class="dialog_title"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" style="width: 25%">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option
            *ngFor="let prio of WorkRequestPriorities"
            [value]="prio.value"
          >
            {{ prio.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        class="dialog_panels"
        [ngClass]="{
          'dialog_panels--dark': selected.theme === 'dark',
          'dialog_panels--light': selected.theme === 'light'
        }"
      >
        <div
          class="dialog_panel-content"
          [ngClass]="{
            'dialog_panel-content--dark': selected.theme === 'dark',
            'dialog_panel-content--light': selected.theme === 'light'
          }"
        >
          <div class="dialog_panel-content-location">
            <b>Selected: </b>
            <span *ngIf="selectedExternalAsset$ | async as externalAsset">{{
              externalAsset.ExternalAssetID +
                ': ' +
                externalAsset.ExternalAssetName
            }}</span>
          </div>

          <mat-tab-group
            (selectedTabChange)="onTabChange($event)"
            animationDuration="300ms"
            color="accent"
          >
            <mat-tab label="Description"
              ><mat-form-field appearance="fill">
                <textarea
                  matInput
                  formControlName="description"
                  class="dialog_description"
                  color="accent"
                ></textarea></mat-form-field
            ></mat-tab>
            <mat-tab label="Location">
              <ag-grid-angular
                class="ag-grid-formats"
                [ngClass]="{
                  'ag-theme-alpine': selected.theme === 'light',
                  'ag-theme-alpine-dark': selected.theme === 'dark'
                }"
                [modules]="modules"
                [gridOptions]="gridOptions"
              ></ag-grid-angular>
              <br />
              <mat-divider></mat-divider>
              <div
                *ngIf="selectedExternalAsset$ | async as externalAsset"
                class="my-2"
              >
                <b> Work Items for Location: </b>
                {{
                  externalAsset.ExternalAssetID +
                    ': ' +
                    externalAsset.ExternalAssetName
                }}
              </div>
              <ag-grid-angular
                class="ag-grid-work-items"
                [ngClass]="{
                  'ag-theme-alpine': selected.theme === 'light',
                  'ag-theme-alpine-dark': selected.theme === 'dark'
                }"
                [modules]="modules"
                [gridOptions]="workItemsGridOptions"
              ></ag-grid-angular>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="dialog_status-container">
    <div
      class="loading-container"
      *ngIf="selected.workRequestLoading.swrLoading"
    >
      <div style="margin-right: 16px">Creating Work Request...</div>
      <mat-spinner diameter="20" color="accent"></mat-spinner>
    </div>
    <div
      class="error-container"
      *ngIf="selected.workRequestLoading.swrError as err"
    >
      <div>{{ err.message }}</div>
    </div>
    <div class="dialog_btn-container">
      <button mat-button (click)="onClose()">Close</button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!workOrderForm.valid"
        (click)="onSubmit()"
      >
        Create
      </button>
    </div>
  </div>
</div>
