.top-section {
  padding: 12px 12px 0;
}

::ng-deep .alternative-light-theme .top-section {
  background-color: #ffffff !important;
}

::ng-deep .default-dark-theme .top-section {
  background-color: #242424 !important;
}

.header {
  margin-bottom: 0;
}

.customer {
  line-height: 40px;
}

.customer-name {
  color: var(--accent-250);
  line-height: 40px;
}

.customer-select {
  background-color: inherit !important;
  width: 36px !important;
  height: 36px !important;
}

.customer-select-icon {
  font-size: 12px !important;
}

.button-rows .mat-divider.mat-divider-vertical {
  margin-right: 10px;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
}

i.material-icons {
  color: #e7ab24 !important;
  font-size: 18px;
  padding-top: 4px;
  padding-left: 4px;
}

.left-section {
  min-width: 255px;
  max-width: 255px;
  height: 100%;
  overflow: auto;
}

.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

a.mat-tab-link.mat-focus-indicator:focus {
  background: none !important;
  opacity: 0.6 !important;
}
