<div class="main-nav">
  <ng-container *ngIf="vm$ | async as vm">
    <section class="top-section">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1 class="header">User Admin</h1>
        <div fxLayout="row" fxLayoutGap="10px">
          <button
            mat-flat-button
            color="accent"
            aria-label="Undo"
            (click)="undo()"
            [disabled]="vm.isDirty === false"
          >
            <mat-icon> undo </mat-icon>
            Undo
          </button>
          <button
            mat-flat-button
            color="accent"
            aria-label="Save"
            (click)="save()"
            [disabled]="vm.isDirty === false"
          >
            <mat-icon> save </mat-icon>
            Save
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start start">
        <div><h4 class="customer">Customer:</h4></div>
        <div>
          <div
            *ngIf="vm.selectedCustomer; else loadingCustomer"
            fxLayout="row"
            fxLayoutGap="12px"
          >
            <h4 class="customer-name">
              {{ vm.selectedCustomer.Name }}
            </h4>
            <button
              mat-mini-fab
              class="customer-select"
              matTooltip="Edit Customer"
              (click)="drawer.toggle()"
            >
              <mat-icon
                color="accent"
                class="material-icons material-icons-outlined"
                >edit</mat-icon
              >
            </button>
          </div>
          <ng-template #loadingCustomer>
            <mat-progress-bar
              color="accent"
              id="template-progress-bar"
              mode="indeterminate"
            ></mat-progress-bar>
          </ng-template>
        </div>

        <div
          fxLayout="row"
          style="margin: 12px 0 0 12px"
          fxLayoutAlign="end"
          class="button-rows"
        >
          <mat-divider vertical="true"></mat-divider>
          <div *ngIf="(authFacade.custMgmtUtilityAccess$ | async)?.CanAdmin">
            <button
              id="createNewCustomer"
              mat-flat-button
              color="primary"
              (click)="createNewCustomer()"
            >
              <mat-icon color="accent">add_circle_outline</mat-icon>Create New
              Customer
            </button>
          </div>
        </div>
      </div>
    </section>
    <ng-container>
      <mat-drawer-container>
        <mat-drawer
          #drawer
          closed
          mode="side"
          position="start"
          class="left-section"
        >
          <atx-customer-tree
            [nodes]="vm.customers"
            [selectedNode]="vm.selectedCustomer"
            (nodeClicked)="onNodeClick($event)"
          >
          </atx-customer-tree>
        </mat-drawer>

        <nav mat-tab-nav-bar class="tab-header" color="accent">
          <div>
            <a
              mat-tab-link
              *ngFor="let tab of vm.tabs"
              [routerLink]="tab.path"
              routerLinkActive
              #rla="routerLinkActive"
              [active]="rla.isActive"
            >
              {{ tab.label }}
              <span *ngIf="tab.isDirty === true">
                <i class="material-icons">pending</i>
              </span>
            </a>
          </div>
        </nav>
        <router-outlet></router-outlet>
      </mat-drawer-container>
    </ng-container>
  </ng-container>
</div>
