<mat-form-field
  appearance="fill"
  color="accent"
  *ngIf="canView$ | async; else noView"
>
  <mat-label>Server</mat-label>
  <mat-select
    [value]="selectedServer$ | async"
    (selectionChange)="selectServer($event)"
  >
    <mat-option
      *ngFor="let server of tagServers$ | async"
      [value]="server.pDServerID"
    >
      ({{ server.pDServerID }}) {{ server.comment }}
    </mat-option>
  </mat-select>
</mat-form-field>
<ng-template #noView> You do not have permissions to view tags. </ng-template>
<div class="tag-buttons" *ngIf="isServerSelected$ | async; else noServer">
  <div
    style="margin-left: 5px"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxFlex="50%"
  >
    <button mat-raised-button (click)="addTag()" *ngIf="canEdit$ | async">
      Add Tag
    </button>
    <button mat-raised-button (click)="copyTags()" *ngIf="canEdit$ | async">
      Copy To Clipboard
    </button>
    <mat-checkbox
      [ngModel]="showDeletedTags$ | async"
      (change)="showDeletedTagsChange($event)"
      >Show Deleted Tags
    </mat-checkbox>
  </div>
  <div
    style="margin-right: 5px"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxFlex="50%"
  >
    <button mat-button (click)="discardChanges()" *ngIf="canEdit$ | async">
      Discard Changes
    </button>
    <button mat-raised-button (click)="validateTags()" *ngIf="canEdit$ | async">
      Validate Tags
    </button>
    <button mat-raised-button (click)="saveTags()" *ngIf="canEdit$ | async">
      Save Tags
    </button>
  </div>
</div>
<ng-template #noServer>
  &nbsp; Select a server to view and edit tags.
</ng-template>
<div class="tab-ag-grid-container" #gridBody>
  <ag-grid-angular
    class="ag-grid-formats"
    [ngClass]="theme$ | async"
    [modules]="modules"
    [gridOptions]="gridOptions"
  ></ag-grid-angular>
</div>
