.tab-ag-grid-container {
  width: 100%;
  height: calc(100% - 100px);
}

mat-form-field {
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.tag-buttons {
  height: 40px;
}

.ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 10px;
  height: 95%;
}

.server-selector {
  width: 100%;
}

button,
mat-checkbox {
  margin: 0 5px;
}

::ng-deep {
  .tab-ag-grid-container .ag-cell {
    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
    -moz-user-select: text !important; /* Old versions of Firefox */
    -ms-user-select: text !important; /* Internet Explorer/Edge */
    user-select: text !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  .tab-ag-grid-container .ag-cell::selection {
    user-select: none !important;
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}
