.model-trend-stuffs-container {
  height: 100%;
  width: 100%;
}

.model-trend-stuffs-tab-group {
  height: 100%;
  width: 100%;
}

.collapse-button {
  position: absolute;
  height: 44px;
  right: 0px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.noModel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

::ng-deep .top-progress-bar .mat-progress-bar-element {
  height: 1px !important;
  border-radius: 4px;
}

::ng-deep .top-progress-bar .mat-progress-bar-fill::after {
  height: 1px !important;
}

::ng-deep {
  .model-trend-stuffs-tab-group .mat-tab-body-wrapper {
    height: calc(100% - 49px) !important;
    width: 100% !important;
  }

  .model-trend-stuffs-tab-group .mat-tab-body {
    height: 100% !important;
    width: 100% !important;
  }

  .model-trend-stuffs-tab-group .mat-tab-body-content {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
  }

  .model-config-bottom-view-collapse mat-icon {
    transform: rotate(180deg);
  }
}
