<div
  class="model-trend-stuffs-container"
  [ngClass]="{ 'model-config-bottom-view-collapse': collapse }"
>
  <div class="collapse-button">
    <button mat-icon-button (click)="collapseSection()">
      <mat-icon class="mat-icon-half">keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="modelSummary; else noModelSelected">
    <ng-container *ngIf="vm$ | async as vm">
      <mat-tab-group
        animationDuration="0ms"
        class="model-trend-stuffs-tab-group"
        color="accent"
      >
        <mat-tab label="Model Trend">
          <ng-template matTabContent>
            <ng-container
              *ngIf="vm.modelSummaryLoading; else modelSummaryReady"
            >
              <mat-progress-bar
                class="top-progress-bar"
                color="accent"
                mode="indeterminate"
              ></mat-progress-bar>
            </ng-container>
            <ng-template #modelSummaryReady>
              <atx-model-edit-tabs-model-trend
                *ngIf="!collapse"
              ></atx-model-edit-tabs-model-trend>
            </ng-template>
          </ng-template>
        </mat-tab>
        <mat-tab
          label="Expected vs Actual"
          *ngIf="modelSummary?.ModelTypeID === 1"
        >
          <ng-template matTabContent>
            <ng-container
              *ngIf="vm.modelSummaryLoading; else modelSummaryReady"
            >
              <mat-progress-bar
                class="top-progress-bar"
                color="accent"
                mode="indeterminate"
              ></mat-progress-bar>
            </ng-container>
            <ng-template #modelSummaryReady>
              <atx-expected-vs-actual
                *ngIf="!collapse"
              ></atx-expected-vs-actual>
            </ng-template>
          </ng-template>
        </mat-tab>
        <mat-tab label="History">
          <ng-template matTabContent>
            <ng-container
              *ngIf="vm.modelSummaryLoading; else modelSummaryReady"
            >
              <mat-progress-bar
                class="top-progress-bar"
                color="accent"
                mode="indeterminate"
              ></mat-progress-bar>
            </ng-container>
            <ng-template #modelSummaryReady>
              <atx-model-edit-tabs-model-history
                *ngIf="!collapse"
              ></atx-model-edit-tabs-model-history>
            </ng-template>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </ng-container>
  <ng-template #noModelSelected>
    <div class="noModel" *ngIf="!collapse">
      <h2>
        Select a model to see the model trend, expected vs actual, and model
        history notes.
      </h2>
    </div>
  </ng-template>
</div>
