<div>
  To edit content, double-click inside the textbox. You must save the view to
  apply your changes while in edit mode.
</div>

<div class="view-only">
  Allow edits during view-only mode:
  <div class="view-only-icon" (click)="onChangeEditable()">
    <mat-icon *ngIf="textboxEditableControl.value; else unchecked"
      >check_box</mat-icon
    >
    <ng-template #unchecked>
      <mat-icon>check_box_outline_blank</mat-icon>
    </ng-template>
  </div>
</div>
