<mat-card-content>
  <highcharts-chart
    *ngIf="chartConfiguration"
    [Highcharts]="highcharts"
    [options]="chartConfiguration"
    [(update)]="updateChart"
    [(oneToOne)]="chartOneToOne"
    [callbackFunction]="chartCallback"
    style="display: block"
  >
  </highcharts-chart>
  <div class="button-container">
    <button *ngIf="canRefresh" mat-icon-button #button (click)="refresh()">
      <mat-icon title="Refresh">refresh</mat-icon>
    </button>
  </div>
</mat-card-content>
