mat-card-content {
  margin: 10px;
}

button:focus mat-icon {
  animation: rotate 0.5s ease-in-out 0s;
}

.button-container {
  height: 40px;
  margin-top: -30px; //added this to move the refresh button closer to the donut chart, based on the PBI screenshot
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*::ng-deep {
  .highcharts-point.highcharts-color-0,
  .highcharts-legend-item.highcharts-color-0 .highcharts-point,
  .highcharts-tooltip .highcharts-color-0 {
    fill: #8a3ffc;
  }
  .highcharts-tooltip.highcharts-color-0,
  .highcharts-data-label-connector.highcharts-color-0 {
    stroke: #8a3ffc;
  }
  
  .highcharts-point.highcharts-color-1,
  .highcharts-legend-item.highcharts-color-1 .highcharts-point,
  .highcharts-tooltip .highcharts-color-1 {
    fill: #33b1ff;
  }
  .highcharts-tooltip.highcharts-color-1,
  .highcharts-data-label-connector.highcharts-color-1 {
    stroke: #33b1ff;
  }
  
  .highcharts-point.highcharts-color-2,
  .highcharts-legend-item.highcharts-color-2 .highcharts-point,
  .highcharts-tooltip .highcharts-color-2 {
    fill: #007d79
  }
  .highcharts-tooltip.highcharts-color-2,
  .highcharts-data-label-connector.highcharts-color-2 {
    stroke: #007d79
  }
  
  .highcharts-point.highcharts-color-3,
  .highcharts-legend-item.highcharts-color-3 .highcharts-point,
  .highcharts-tooltip .highcharts-color-3 {
    fill: #ff7eb6;
  }
  .highcharts-tooltip.highcharts-color-3,
  .highcharts-data-label-connector.highcharts-color-3 {
    stroke: #ff7eb6;
  }
  
  .highcharts-point.highcharts-color-4,
  .highcharts-legend-item.highcharts-color-4 .highcharts-point,
  .highcharts-tooltip .highcharts-color-4 {
    fill: #fa4d56;
  }
  .highcharts-tooltip.highcharts-color-4,
  .highcharts-data-label-connector.highcharts-color-4 {
    stroke: #fa4d56;
  }
  
  .highcharts-point.highcharts-color-5,
  .highcharts-legend-item.highcharts-color-5 .highcharts-point,
  .highcharts-tooltip .highcharts-color-5 {
    fill: #6fdc8c;
  }
  .highcharts-tooltip.highcharts-color-5,
  .highcharts-data-label-connector.highcharts-color-5 {
    stroke: #6fdc8c;
  }
  
  .highcharts-point.highcharts-color-6,
  .highcharts-legend-item.highcharts-color-6 .highcharts-point,
  .highcharts-tooltip .highcharts-color-6 {
    fill: #4589ff;
  }
  .highcharts-tooltip.highcharts-color-6,
  .highcharts-data-label-connector.highcharts-color-6 {
    stroke: #4589ff;
  }
  
  .highcharts-point.highcharts-color-7,
  .highcharts-legend-item.highcharts-color-7 .highcharts-point,
  .highcharts-tooltip .highcharts-color-7 {
    fill: #d12771;
  }
  .highcharts-tooltip.highcharts-color-7,
  .highcharts-data-label-connector.highcharts-color-7 {
    stroke: #d12771;
}
}*/
