<mat-card
  class="time-slider-container"
  fxLayout="row"
  fxLayoutAlign="center"
  *ngIf="{ theme: theme$ | async } as selected"
>
  <div fxLayout="row" class="controls-div">
    <button
      mat-icon-button
      matTooltip="Pan backward"
      id="moveRangePastBtn"
      (click)="moveRange('past')"
    >
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Zoom out time range"
      (click)="zoom('out')"
    >
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Zoom in time range"
      id="zoomInBtn"
      vertical-align="middle"
      (click)="zoom('in')"
    >
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Pan forward"
      id="moveRangeFutureBtn"
      (click)="moveRange('future')"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>

  <div
    class="custom-slider-range"
    *ngIf="timeSliderState?.dateIndicator === 'Range'"
  >
    <atx-ng5-slider
      [(value)]="minValue"
      [(highValue)]="maxValue"
      [options]="options"
      (userChangeEnd)="mouseUp()"
    ></atx-ng5-slider>
  </div>

  <div fxLayout="row" class="controls-div">
    <button
      mat-icon-button
      id="stepLeftBtn"
      matTooltip="Step back"
      (click)="step('left')"
    >
      <mat-icon>arrow_left</mat-icon>
    </button>

    <button
      mat-icon-button
      id="calendarBtn"
      data-cy="calendarBtn"
      matTooltip="Time range selection"
      (click)="toggleCalendarIndicator()"
    >
      <mat-icon>calendar_today</mat-icon>
    </button>
    <button
      mat-flat-button
      (click)="onToggleJumpTo()"
      class="jump-to-menu-toggle"
      [ngClass]="{
        'jump-to-menu-toggle--selected-dark':
          showJumpToMenu && selected.theme === 'dark',
        'jump-to-menu-toggle--selected-light':
          showJumpToMenu && selected.theme === 'light'
      }"
    >
      Jump To
    </button>
    <button
      mat-icon-button
      id="stepRightBtn"
      matTooltip="Step forward"
      (click)="step('right')"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <div class="live">
    <mat-slide-toggle
      id="liveBtn"
      [checked]="timeSliderState?.isLive"
      (change)="slideToggleLive()"
    >
    </mat-slide-toggle>
    <p>Live</p>
  </div>

  <!-- Jump To Menu -->
  <div
    *ngIf="showJumpToMenu"
    class="jump-to-menu"
    cdkDrag
    cdkDragBoundary=".router-outlet-div"
    [cdkDragFreeDragPosition]="dragPosition"
    [ngClass]="{
      'jump-to-menu--dark': selected.theme === 'dark',
      'jump-to-menu--light': selected.theme === 'light'
    }"
  >
    <div
      class="jump-to-menu_top"
      [ngClass]="{
        'jump-to-menu_top--dark': selected.theme === 'dark',
        'jump-to-menu_top--light': selected.theme === 'light'
      }"
    >
      <div class="jump-to-menu_header" cdkDragHandle>
        <mat-icon>open_with</mat-icon>
        <mat-icon (click)="onCloseJumpToMenu()" class="jump-to-menu_close-btn"
          >close</mat-icon
        >
      </div>
      <div class="jump-to-menu_selection-container">
        <button
          mat-flat-button
          (click)="onJumpToDays(1)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last 24 Hours
        </button>
        <button
          mat-flat-button
          (click)="onJumpToDays(4)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last 4 Days
        </button>
        <button
          mat-flat-button
          (click)="onJumpToDays(7)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last Week
        </button>
        <button
          mat-flat-button
          (click)="onJumpToDays(14)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last 2 Weeks
        </button>
        <button
          mat-flat-button
          (click)="onJumpToMonths(1)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last Month
        </button>
        <button
          mat-flat-button
          (click)="onJumpToMonths(6)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last 6 Months
        </button>
        <button
          mat-flat-button
          (click)="onJumpToMonths(12)"
          color="primary"
          class="jump-to-menu_selection-btn"
        >
          Last Year
        </button>
      </div>
    </div>
    <div
      class="jump-to-menu_bottom"
      [ngClass]="{
        'jump-to-menu_bottom--dark': selected.theme === 'dark',
        'jump-to-menu_bottom--light': selected.theme === 'light'
      }"
    >
      <div class="jump-to-menu_bottom-btn-container">
        <button
          mat-flat-button
          color="primary"
          class="jump-to-menu_bottom-btn"
          (click)="onChangeNewRange(0.5)"
        >
          Half
        </button>
        <button
          mat-flat-button
          color="primary"
          class="jump-to-menu_bottom-btn"
          (click)="onChangeNewRange(2)"
        >
          Double
        </button>
        <button
          mat-flat-button
          color="accent"
          class="jump-to-menu_bottom-btn"
          (click)="onJumpToNewRange()"
          [disabled]="!newRangeChanged"
        >
          Apply
        </button>
      </div>
      <div class="jump-to-menu_bottom-text">
        <div *ngIf="newRange <= dayTicks">
          New Range: {{ newRange / hourTicks | number: '1.0-2' }} Hour(s)
        </div>
        <div *ngIf="newRange > dayTicks && newRange < weekTicks">
          New Range: {{ newRange / dayTicks | number: '1.0-2' }} Day(s)
        </div>
        <div *ngIf="newRange >= weekTicks && newRange < monthTicks">
          New Range: {{ newRange / weekTicks | number: '1.0-2' }} Week(s)
        </div>
        <div *ngIf="newRange >= monthTicks && newRange < monthTicks * 12">
          New Range: {{ newRange / monthTicks | number: '1.0-1' }} Month(s)
        </div>
        <div *ngIf="newRange >= monthTicks * 12">
          New Range: {{ newRange / yearTicks | number: '1.0-2' }} Year(s)
        </div>
      </div>
    </div>
  </div>
</mat-card>
