mat-card {
  bottom: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
  position: relative;
  // overflow: hidden;
  height: 56px;
  padding: 8px !important;
  z-index: 1;
}

.jump-to-menu-toggle {
  background-color: transparent;
  color: inherit;
  padding-left: 0;
  padding-right: 0;
  &--selected-dark {
    // background-color: var(--accent-200);
    // color: rgba(0, 0, 0, 0.87);
    background-color: #dc4636;
  }
  &--selected-light {
    background-color: var(--accent-200);
  }
}

.jump-to-menu {
  width: 200px;

  position: absolute;
  right: 0;
  z-index: 100;
  padding: 4px;
  &--light {
    background-color: #e0e0e0;
  }
  &--dark {
    background-color: #303030;
  }

  &_top {
    border-radius: 4px;
    padding: 4px;
    &--light {
      background-color: white;
    }
    &--dark {
      background-color: #424242;
    }
  }

  &_bottom {
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    &--light {
      background-color: white;
    }
    &--dark {
      background-color: #424242;
    }
  }

  &_bottom-btn-container {
    display: flex;
    justify-content: space-evenly;
  }

  &_bottom-btn {
    padding: 0;
    min-width: 60px;
  }
  &_bottom-text {
    margin-top: 4px;
    font-weight: 500;
    text-align: center;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor: move;
  }
  &_selection-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  &_selection-btn {
    margin-top: 2px;
    width: 100%;
  }
  &_close-btn {
    cursor: pointer;
  }
}

::ng-deep .default-dark-theme .time-slider-container {
  background-color: #303030 !important;
}

.controls-div {
  background-color: rgba(100, 100, 100, 0.2) !important;
  border-radius: 24px;
  margin: 0 12px;
}

.live {
  text-align: center;
  margin-right: 12px;
  font-size: 14px !important;
}

mat-slide-toggle {
  position: relative;
}

mat-card-content {
  margin-right: 200px;
}

mat-button-toggle-group {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  display: inline-flex;
  flex-direction: row;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.custom-slider-single,
.custom-slider-range {
  width: inherit !important;
  vertical-align: middle !important;
}

:host ::ng-deep {
  .atx-ng5-slider {
    margin: 20px 0px 15px !important;
    color: inherit !important;
  }

  .atx-ng5-slider .atx-ng5-slider-bar {
    background-color: #8a8a8a60 !important;
  }

  .atx-ng5-slider.animate .atx-ng5-slider-pointer,
  .atx-ng5-slider.animate .atx-ng5-slider-bubble,
  .custom-slider-range .atx-ng5-slider.animate .atx-ng5-slider-bar-wrapper {
    transition: 0s !important;
  }

  .atx-ng5-slider .atx-ng5-slider-bar {
    height: 5px !important;
    border-radius: 10px !important;
  }

  .custom-slider-single .atx-ng5-slider .atx-ng5-slider-bar,
  .custom-slider-range .atx-ng5-slider .atx-ng5-slider-selection {
    background: #dc4636 !important;
  }

  .atx-ng5-slider .atx-ng5-slider-draggable:hover {
    cursor: grab;
  }

  .atx-ng5-slider .atx-ng5-slider-draggable:active {
    cursor: grabbing;
  }

  .atx-ng5-slider .atx-ng5-slider-pointer {
    width: 24px !important;
    height: 24px !important;
    margin-top: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    outline: none;
  }

  .atx-ng5-slider .atx-ng5-slider-pointer:after {
    background: transparent !important;
  }

  .atx-ng5-slider .atx-ng5-slider-pointer:active {
    background: #acdbd7 !important;
  }

  .atx-ng5-slider .atx-ng5-slider-tick {
    width: 4px !important;
    height: 12px !important;
    border-radius: 2px !important;
  }

  .atx-ng5-slider .atx-ng5-slider-tick-legend {
    color: inherit !important;
    font-size: 10px !important;
    width: 100px !important;
    height: 20px !important;
    max-width: 100px !important;
    top: 0 !important;
    padding-top: 12px !important;
  }

  .atx-ng5-slider .atx-ng5-slider-bubble {
    color: inherit !important;
    bottom: 12px;
    font-size: 12px !important;
  }

  .atx-ng5-slider .atx-ng5-slider-limit {
    visibility: hidden !important;
  }
}
