<div class="models-container" [ngClass]="{ 'trends-expanded': expanded }">
  <div
    style="
      display: inline-block;
      width: calc(100% - 33px);
      height: 100%;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
    "
    [ngSwitch]="tab"
  >
    <atx-model-history
      *ngSwitchCase="'modelhistory'"
      [model]="selectedRow"
      [listTheme]="listTheme"
      [busy]="modelHistorySaving"
      [filters]="modelHistoryFilters"
      [refreshDate]="refreshDate"
      (setFavorite)="setModelHistoryFavorite($event)"
      (setNote)="setModelHistoryNote($event)"
      (newActionItem)="setNewActionItem($event)"
      (setFilters)="modelHistoryFiltersChanged($event)"
    ></atx-model-history>
    <atx-model-context
      *ngSwitchCase="'modelcontext'"
      [model]="selectedRow"
      [theme]="listTheme"
      [trends]="modelContextTrends"
      [selectedTrend]="selectedModelContextTrend"
      [selectedTrendID]="selectedModelContextTrendID"
      [correlationTrend]="modelContextCorrelationTrend"
      [loading]="modelContextLoading"
      [multiselected]="multiselected"
      (selection)="modelContextTrendSelected($event)"
      (changeLabelsClicked)="onChangeLabelsClick()"
      (editChartClicked)="onEditChartClicked()"
      (updateLimits)="onUpdateModelContextLimits($event)"
      (resetLimits)="onResetModelContextLimits($event)"
      (legendItemToggle)="onModelContextLegendItemToggle($event)"
    ></atx-model-context>
    <atx-model-trend
      *ngSwitchDefault
      [model]="selectedRow"
      [data]="modelTrend"
      [actionData]="modelAction"
      [loading]="modelTrendLoading"
      [multiselected]="multiselected"
      (updateLimits)="onUpdateModelTrendLimits($event)"
      (resetLimits)="onResetModelTrendLimits($event)"
    ></atx-model-trend>
    <atx-model-action
      *ngSwitchCase="'modelaction'"
      [model]="selectedRow"
      [data]="modelAction"
      [theme]="listTheme"
      [loading]="modelActionLoading"
      [multiselected]="multiselected"
    ></atx-model-action>
  </div>
  <div class="model-tabs">
    <button
      class="maticon-button"
      mat-icon-button
      (click)="expand()"
      data-cy="expandModelContentView"
    >
      <mat-icon class="mat-icon-half" [ngClass]="{ clicked: expanded }"
        >keyboard_arrow_up</mat-icon
      >
    </button>
    <div class="model-tab-click">
      <button
        class="maticon-button vertical-button"
        mat-flat-button
        (click)="setTab('modeltrend')"
        [ngClass]="{ selected: tab === 'modeltrend' }"
        data-cy="trendTabBtn"
      >
        Trend
      </button>
      <button
        class="maticon-button vertical-button"
        mat-flat-button
        (click)="setTab('modelhistory')"
        [ngClass]="{ selected: tab === 'modelhistory' }"
        data-cy="historyTabBtn"
      >
        History
      </button>
      <button
        class="maticon-button vertical-button"
        mat-flat-button
        (click)="setTab('modelcontext')"
        [ngClass]="{ selected: tab === 'modelcontext' }"
        data-cy="contextTabBtn"
      >
        Context
      </button>
      <button
        class="maticon-button vertical-button"
        mat-flat-button
        (click)="setTab('modelaction')"
        [ngClass]="{ selected: tab === 'modelaction' }"
        data-cy="actionsTabBtn"
      >
        Actions
      </button>
    </div>
  </div>
</div>
