::ng-deep {
  .alternative-light-theme {
    .model-tabs {
      border-left: solid 1px #babfc7;
      background-color: #fafafa;
    }
    .models-container {
      border: solid 1px #babfc7;
    }
    .models-container .chart-container {
      background-color: #ffffff !important;
    }
  }
  .default-dark-theme {
    .model-tabs {
      border-left: solid 1px #68686e;
      background-color: #181d1f;
    }
    .models-container {
      border: solid 1px #68686e;
    }
    .models-container .chart-container {
      background-color: #222628 !important;
    }
  }
  .vertical-button span {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
  }

  .highcharts-legend-box {
    fill: none;
  }

  .models-container .chart-container {
    min-height: unset !important;
    min-width: unset !important;
    /*The height needs to be 100% because this applies
    to some divs inside the chart component that need to be 100%*/
    height: 100% !important;
    width: 100%;
    position: absolute;
    border: 0px !important;
  }

  .models-container {
    .model-tabs {
      display: inline-block;
      width: 31px;
      height: 100%;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
    }

    mat-tab-header {
      height: 36px !important;
      margin-top: 2px;
    }

    .mat-tab-label {
      height: 36px !important;
    }

    .model-tab-click {
      margin-top: 4px;
    }

    .model-tab-click div.mat-ripple.mat-button-ripple {
      width: 32px !important;
    }

    .mat-button-wrapper {
      padding: 0px !important;
    }

    .model-tabgroup .mat-tab-body.mat-tab-body-active {
      overflow-x: hidden;
      overflow-y: hidden;
      width: 100%;
    }

    .highcharts-container {
      height: 100% !important;
    }

    .mat-expansion-panel-body {
      padding: 0 !important;
      height: calc(100% - 64px);
      position: relative;
    }

    .mat-expansion-panel {
      height: 100%;
    }
    .mat-expansion-panel-content {
      height: 100%;
    }
    .mat-expanded mat-tab-header.mat-tab-header {
      margin-top: -50px;
    }

    .model-tabs span.mat-expansion-indicator {
      position: absolute;
      right: 30px;
      // z-index: 9999;
      cursor: pointer;
    }

    .mat-expanded.model-tabs .mat-expansion-panel-body {
      margin-top: 0px;
    }

    .model-tabgroup {
      height: 100%;
    }

    .mat-tab-body-wrapper {
      flex: 1 1 100%;
    }

    .model-tabs .mat-expansion-panel-content {
      visibility: visible !important;
    }

    .model-tabs mat-panel-title.mat-expansion-panel-header-title {
      visibility: hidden;
    }

    .mat-expanded mat-tab-header.mat-tab-header {
      height: 40px !important;
    }

    .btn-group {
      position: absolute;
      right: 0px;
      top: -33px;
      margin-right: 10px;
    }
    .mat-flat-button {
      padding: 11px 0 0px !important;
      background-color: transparent !important;
      border-radius: 0 !important;
      margin: 0 !important;
      font-size: 12px;
    }
  }
}

.vertical-button {
  text-align: left;
  min-width: 30px !important;
  width: 30px !important;
}

.selected {
  box-shadow: inset 2px 0 0 0 var(--accent-200) !important;
  border-radius: 0 !important;
}

.tab-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.tab-container-expanded {
  height: 500px;
}

.models-container {
  position: relative;
  /*We want the margins on the left,
  bottom, and right to be 5.  We don't want the
  top to have a margin because with the model tabs,
  it looks as if there is already space between, so the
  margin is not necessary and complicates the math of sizing.*/
  margin: 4px;
  height: calc(100% - 10px);
}

.model-tabgroup {
  height: 100%;
  position: relative;
}

mat-toolbar {
  height: 50px;
  display: flex;
  justify-items: stretch;
}

mat-toolbar .spacer {
  flex-grow: 1;
}

mat-card.loading-overlay {
  position: absolute;
  // z-index: 9999;
  top: 10px;
  left: 10px;
  right: 10px;
  border-radius: 5px;
  height: 433px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

i.material-icons.add {
  padding-top: 5px;
  padding-left: 15px;
}

.selector-group {
  margin: auto;
  display: inline-flex;
}

.left-icons-group {
  position: absolute;
  right: 15px;
  vertical-align: middle;
  padding-top: 5px;
}

mat-card.loading-overlay {
  position: absolute;
  // z-index: 9999;
  top: 0px;
  left: 0;
  right: 0;
  border-radius: 5px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

mat-card.text-center.text-dark.loading-data-overlay {
  position: absolute;
  // z-index: 9999;
  top: 50px;
  left: 0;
  right: 0;
  border-radius: 0px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

mat-progress-spinner {
  margin: 0 auto;
}

.prevent-click {
  pointer-events: none;
}

.header-right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

button.custom-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.enable-click {
  pointer-events: auto;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.mat-icon-half {
  transition: all 0.3s ease-out !important;
}
.clicked {
  transform: rotate(180deg);
}
