mat-card {
  padding: 0 !important;
  margin-bottom: 10px !important;
  box-shadow: none !important;
  background-color: transparent !important;
  width: 100% !important;
}
mat-card-header {
  padding-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 10px;
  position: relative;
}

.section-title {
  font-size: 16px;
}

.section-subtitle {
  font-size: 12px;
}

atx-widget {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 200px;
}
.dashboard-selected-element {
  box-shadow: 0px 0px 3px 2px #b91717 !important;
}

@media (max-width: 768px) {
  atx-widget {
    display: block;
    margin: 8px 5%;
    width: 90%;
    min-width: 375px;
  }
  .row {
    display: block;
  }
}

@media (max-width: 414px) {
  atx-widget {
    display: block;
    margin: 8px;
    width: 90%;
    min-width: 250px;
  }
  .row {
    display: block;
    width: 100%;
  }
}
