<mat-card
  [style.background-color]="section?.backgroundColor"
  (click)="onSelectElement($event)"
  *ngIf="{ element: selectedElement$ | async } as selected"
  [ngClass]="{
    'dashboard-selected-element':
      selected.element &&
      selected.element.Kind === 'Section' &&
      selected.element.ReportSectionID === section.ReportSectionID
  }"
>
  <mat-card-header>
    <mat-card-title class="section-title">{{ section?.Title }}</mat-card-title>

    <mat-card-subtitle class="section-subtitle">{{
      section?.Subtitle
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <atx-widget
        *ngFor="let widget of section?.Widgets; trackBy: widgetTrackByFunc"
        [widget]="widget"
        [theme]="theme"
        [style.height]="getSectionHeight()"
        [style.width.%]="getWidgetWidth(widget.Width)"
      >
      </atx-widget>
    </div>
  </mat-card-content>
</mat-card>
