:host {
  width: 100%;
  height: 100%;
}

.chart-container-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.chart-container-wrapper .mat-card-title {
  font-size: 18px;
}

.widget-chart-text {
  position: absolute;
  z-index: 100;
  top: 10px !important;
  left: 15px !important;
}

.chart-title {
  position: absolute;
  z-index: 100;
  top: 10px !important;
  left: 0 !important;
  width: 100%;
  text-align: center;
}

::ng-deep {
  .chart-container-wrapper .btn-group {
    position: absolute;
    z-index: 100;
    right: 40px !important;
    top: 6px !important;
  }
  rect.highcharts-legend-box {
    fill: none !important;
  }
}
