<div class="chart-container-wrapper" *ngIf="widget?.trend; else notLoaded">
  <div class="widget-chart-text" fxLayout="column">
    <span mat-card-title>{{ widget?.Title }}</span>
    <span mat-card-subtitle>{{ widget?.Subtitle }}</span>
  </div>

  <span mat-card-title class="chart-title">{{ widget?.trend.label }}</span>

  <atx-chart-display
    [trend]="widget?.trend"
    [theme]="theme"
    [showToggle]="true"
    [showFilter]="false"
    [showNewChart]="false"
    [showEditChart]="
      (authFacade.dataExplorerTaskCenterAccess$ | async)?.CanView
    "
    [allowHiddenLabel]="false"
    [loading]="widget?.loading"
    (btnGrpStateChange)="onBtnGrpStateChange($event)"
  >
  </atx-chart-display>
</div>
<ng-template #notLoaded>
  <div class="chart-container-wrapper">Not Loaded.</div>
</ng-template>
