<div class="model-trend-chart-display-container">
  <div
    class="loading"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="loading; else loaded"
  >
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
    <b>Loading Data</b>
  </div>
  <ng-template #loaded>
    <highcharts-chart
      *ngIf="chartConfiguration"
      [Highcharts]="highcharts"
      [options]="chartConfiguration"
      [(update)]="updateChart"
      [(oneToOne)]="chartOneToOne"
      class="chartComponentContent"
      [ngClass]="model?.ModelID ? 'chart-' + model.ModelID : ''"
    >
    </highcharts-chart>
  </ng-template>
</div>
