.model-trend-chart-display-container {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffffff !important;
}

::ng-deep {
  .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 10px 10px 0px !important;
  }

  .rectBounds {
    cursor: pointer !important;
  }

  rect.highcharts-legend-box {
    fill: none !important;
  }
}

.loading {
  height: 100%;
  color: #333333 !important;
}
