<ng-container>
  <ng-container>
    <h3 mat-dialog-title>
      {{ data.message }}
    </h3>

    <div mat-dialog content fxLayout="column" *ngIf="data.isWarn && data.users">
      <mat-list role="list" class="list-container">
        <mat-list-item *ngFor="let user of data.users">{{
          user.FriendlyName
        }}</mat-list-item>
      </mat-list>
    </div>
  </ng-container>
  <div mat-dialog-actions align="end">
    <ng-container *ngIf="data.isWarn">
      <button mat-button (click)="ok()">OK</button>
    </ng-container>
    <ng-container *ngIf="!data.isWarn">
      <button mat-button [mat-dialog-close]>NO</button>
      <button mat-button (click)="closeManageFollower()">YES</button>
    </ng-container>
  </div>
</ng-container>
