<ng-container>
  <div *ngIf="selectedRole === null; else hasSelectedRole">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="user-not-selected">
        <h2>No Role Selected</h2>
        <p>
          To see a role's details, select a role from the list or click on Add
          New Role to begin.
        </p>
      </div>
    </div>
  </div>
  <ng-template #hasSelectedRole>
    <div
      class="loading"
      *ngIf="isLoading !== null && isLoading === true; else loaded"
    >
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      <b>Loading Data</b>
    </div>
    <ng-template #loaded>
      <div
        style="margin: 48px 48px 16px 48px"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="40px"
      >
        <h3>Add Customer:</h3>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <mat-form-field style="width: 400px" appearance="fill" color="accent">
            <mat-label>Enter Customer</mat-label>
            <mat-chip-list
              #selectedCustomersList
              aria-label="Customer selection"
            >
              <mat-chip
                *ngFor="let selectedCustomer of selectedCustomers.customers"
                [selectable]="true"
                [removable]="true"
                (removed)="removeSelectedCustomer(selectedCustomer)"
              >
                {{ selectedCustomer.Name }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                #customerSelectionInput
                [formControl]="selectedCustomersControl"
                [matAutocomplete]="auto"
                [matChipInputFor]="selectedCustomersList"
                (matChipInputTokenEnd)="addCustomer($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selectCustomer($event)"
            >
              <mat-option
                *ngFor="let customer of filteredCustomers"
                [value]="customer"
              >
                {{ customer.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button color="accent" mat-stroked-button (click)="addCustomers()">
            Add
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="5px"
        style="padding: 0 0 16px 48px"
      >
        <button
          color="accent"
          mat-stroked-button
          (click)="removeAllCustomers()"
        >
          Remove All Customers
        </button>
      </div>

      <ng-container>
        <div class="table-container">
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Customer Name
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.Name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Remove">
              <th mat-header-cell *matHeaderCellDef>Remove</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="removeCustomer(element)">
                  <span>
                    <mat-icon
                      style="padding-bottom: 2px; padding-right: 4x"
                      color="accent"
                    >
                      delete
                    </mat-icon>
                  </span>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let rowData; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </ng-container>
    </ng-template>
  </ng-template>
</ng-container>
