<mat-drawer-container class="shared-ui-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <div mat-subheader>Components</div>
      <a mat-list-item href="/navigation/index.html">Form Fields</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <atx-form-fields></atx-form-fields>
  </mat-drawer-content>
</mat-drawer-container>
