<div class="w-full md:w-auto dialog-container">
  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col">
      <h2>Operating Mode Details</h2>
      <div class="flex flex-col mx-8 my-5">
        <mat-form-field class="w-full" color="accent" appearance="fill">
          <mat-label>Title</mat-label>
          <input
            [formControl]="opModeTitle"
            matInput
            autocomplete="off"
            data-cy="createDialogTitle"
          />
          <mat-error *ngIf="opModeTitle.invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" color="accent" appearance="fill">
          <mat-label>Mode Type</mat-label>
          <mat-select [formControl]="opModeType" data-cy="createDialogModeType">
            <mat-option
              [value]="opMode"
              *ngFor="let opMode of opModeTypes"
              data-cy="createDialogModeOptions"
            >
              {{ opModeTypeLabelMapping[opMode] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close data-cy="createDialogCancelBtn">
      Cancel
    </button>
    <button
      mat-flat-button
      color="accent"
      [disabled]="opModeTitle.invalid"
      (click)="createOpMode()"
      data-cy="createDialogCreateBtn"
    >
      Create
    </button>
  </mat-dialog-actions>
</div>
