<ng-container fxLayout="row" class="main-content" *ngIf="vm$ | async as vm">
  <mat-drawer-container class="users-container">
    <mat-drawer-content>
      <button
        class="new-user-button"
        mat-stroked-button
        aria-label="Add New User"
        (click)="openCreateNewUserDialog()"
      >
        <mat-icon color="accent"> add_circle_outline </mat-icon>
        Add New User
      </button>

      <div class="icon-right">
        <button mat-icon-button (click)="download()" title="Download Users">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>

      <atx-users-grid
        [isLoading]="vm.isLoading"
        [users]="vm.users"
        [filters]="vm.filters"
        [selectedUser]="vm.selectedUser"
      ></atx-users-grid>
    </mat-drawer-content>
    <mat-drawer mode="side" position="end" opened class="users-config-drawer">
      <ng-container>
        <atx-user-admin-user-details-view-tabs
          [selectedUser]="vm.selectedUser"
          [isLoading]="vm.isLoading"
          [rolePermissions]="vm.rolePermissions"
          [isDetailsSubTabDirty]="vm.isDetailsSubTabDirty"
          [isRolesSubTabDirty]="vm.isRolesSubTabDirty"
          [isGroupsSubTabDirty]="vm.isGroupsSubTabDirty"
          [groupPermissions]="vm.groupPermissions"
          (initiatePasswordReset)="onInitiatePasswordReset($event)"
        ></atx-user-admin-user-details-view-tabs>
      </ng-container>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
