.main-content {
  display: flex;
  flex-direction: column;
}

.users-container {
  height: calc(100% - 50px);
  width: 100%;
}

.new-user-button {
  margin-top: 5px;
  margin-left: 5px;
}

mat-drawer-content {
  width: 60%;
}

.users-config-drawer {
  width: 40%;
  height: 100%;
}

.icon-right {
  display: inline-block;
  position: absolute;
  height: 30px;
  right: 0;
  margin-top: 2px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
}
