.mat-dialog-content {
  height: 606px;
  max-height: 606px;
  overflow: hidden !important;
}

.paste-box {
  height: 50px;
  width: 100%;
  resize: none;
}

.paste-box:focus {
  outline: none;
}

.result-box {
  height: 87px !important;
}

.error-text {
  color: red;
}

.server-text {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  white-space: pre-line;
}

.validation-result {
  overflow-y: auto;
  height: 162px;
}
