<h3 mat-dialog-title>
  To Create and Edit Tags, you must paste the data below by pressing "Ctrl + V"
</h3>
<mat-dialog-content>
  <div>
    <p>The data must be tabular and include the following:</p>
    <p>
      A column with the header "Tag ID" that contains either an existing Tag ID
      value for editing, or left empty to create new tags.
    </p>
    <p>
      A column with the header "Tag Name" that contains the tag names. Note:
      editing tag names should be done with care, as it may affect areas that
      rely on this field as identifiers, such as the Excel Addin and Calculation
      Engine.
    </p>
    <p>
      A column with the header "Tag Description" that contains each tag's
      descriptive text.
    </p>
    <p>
      A column with the header "Tag Units" that contains each tag's unit of
      measure.
    </p>
    <p>
      A column with the header "Source ID" that contains each tag's identifier
      in the customer's source database.
    </p>
    <p>
      A column with the header "Qualifier" that contains each tag's qualifier
      values.
    </p>
    <p>
      A column with the header "Tag Active" that contains "true" or "false".
      Setting a tag to "false" will deactivate the tag's use in a data stream
      and AtonixOI products.
    </p>
  </div>
  <div>
    <textarea
      #pasteBox
      type="text"
      class="paste-box"
      (keydown)="onKeydown($event)"
      placeholder='Click inside this box and press "Ctrl + V" to paste'
      [disabled]="isValidating"
    ></textarea>
    <div
      [ngClass]="
        clientValidationResult !== '' && serverValidationResult === ''
          ? 'validation-result'
          : ''
      "
      class="result-box"
    >
      <p>
        <span *ngIf="isValidating">Checking data format...</span>
        <span
          [ngClass]="!clientValidationResult.includes('OK') ? 'error-text' : ''"
          >{{ clientValidationResult }}</span
        >
      </p>
      <section
        *ngIf="serverValidationResult"
        [innerText]="serverValidationResult"
        class="server-text"
        [ngClass]="{
          'error-text':
            serverValidationResult.includes('Error') ||
            serverValidationResult.includes('error')
        }"
        [style.height]="isProceedVisible === false ? '50px' : '20px'"
      ></section>
      <section *ngIf="isProceedVisible" class="proceed-section">
        <p>
          Not all changes will be saved, Do you want to Proceed?
          <button mat-button (click)="onValidateCancel()">No</button>
          <button
            mat-flat-button
            color="accent"
            [disabled]="totalValidTags < 1 && !isValidating"
            (click)="onProceed()"
          >
            Proceed
          </button>
        </p>
      </section>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!isSaveBtnEnabled"
    (click)="onSave()"
  >
    Save
  </button>
</div>
