<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.checkingPinOnTrends; else pinsChecked">
    <mat-progress-spinner
      style="margin: 0 auto"
      diameter="50"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
    <small>Checking trends for {{ vm?.selectedTimeFilter?.Title }}...</small>
  </ng-container>

  <ng-template #pinsChecked>
    <h3 mat-dialog-title *ngIf="!vm?.deleted">
      Delete {{ vm?.selectedTimeFilter?.Title }}
    </h3>
    <div>
      <ng-container
        *ngIf="vm?.selectedTimeFilterTrendsPath.length <= 0 && !vm?.deleted"
      >
        <span>Are you sure you want to delete this saved time range?</span>
      </ng-container>

      <ng-container
        *ngIf="vm?.selectedTimeFilterTrendsPath.length > 0 && !vm?.deleted"
      >
        <span
          >Are you sure you want to delete this saved time range? It will also
          be deleted from these charts:</span
        >
      </ng-container>

      <ng-container *ngIf="vm?.deleted">
        <span>{{ vm?.selectedTimeFilter?.Title }} deleted successfully.</span>
      </ng-container>
    </div>
    <div
      mat-dialog-content
      style="padding: 5px 0; margin: 0 auto"
      *ngIf="vm?.selectedTimeFilterTrendsPath.length > 0 && !vm?.deleted"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <div fxFlex="100" class="trend-list short">
          <div
            class="trend-container"
            *ngFor="let trendPath of vm.selectedTimeFilterTrendsPath"
          >
            {{ trendPath }}
          </div>
        </div>

        <div fxFlex>
          <button
            style="margin-bottom: 395px"
            mat-button
            color="inherit"
            [cdkCopyToClipboard]="vm.selectedTimeFilterTrendsPath.toString()"
          >
            Copy To Clipboard
          </button>
        </div>
      </div>
    </div>

    <div mat-dialog-actions align="end">
      <div *ngIf="!vm?.deleted">
        <button mat-button [mat-dialog-close]>Cancel</button>
        <button
          mat-flat-button
          color="accent"
          [disabled]="vm.deleting"
          cdkFocusInitial
          (click)="deletePin()"
        >
          OK
        </button>
      </div>
      <div *ngIf="vm?.deleted" mat-button>
        <button mat-button (click)="closeAfterSuccessfulDelete()">OK</button>
      </div>
    </div>
    <mat-progress-bar
      style="position: relative; top: 24px; left: -23px; width: 112%"
      color="accent"
      mode="indeterminate"
      *ngIf="vm.deleting"
    ></mat-progress-bar>
  </ng-template>
</ng-container>
