.trend-list {
  max-width: 60%;
  min-height: 60px;
  border-radius: 4px;
  display: block;
  overflow: auto scroll;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.15);
}

.trend-list.short {
  height: 47vh;
}

.trend-container {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
