<mat-card
  class="view-body"
  (click)="onSelectElement($event)"
  *ngIf="{
    element: selectedElement$ | async,
    isEditMode: isEditMode$ | async
  } as selected"
  [ngClass]="{
    'dashboard-selected-element':
      selected.element &&
      selected.isEditMode &&
      selected.element.Kind === 'View' &&
      selected.element.ReportID === view.ReportID
  }"
>
  <mat-card-title>{{ view?.Title }}</mat-card-title>
  <mat-card-subtitle>{{ view?.Subtitle }}</mat-card-subtitle>
  <div
    *ngIf="view?.loading; else loaded"
    style="padding-left: calc(50% - 50px)"
  >
    <mat-spinner diameter="40" color="accent"></mat-spinner>
  </div>
  <ng-template #loaded>
    <div class="section-container">
      <atx-section
        *ngFor="let section of view?.Sections; trackBy: trackByReportSectionID"
        [section]="section"
        [theme]="theme"
        [ngStyle]="{ order: section.DisplayOrder }"
      >
      </atx-section>
    </div>
  </ng-template>
</mat-card>
