mat-card {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 10px 0 !important;
  min-height: 100%;
  width: 98%;
  margin: 0 auto;
}
.section-container {
  display: flex;
  flex-direction: column;
}

.dashboard-selected-element {
  box-shadow: 0px 0px 3px 2px #b91717 !important;
}
.view-body {
  margin: 2px auto;
}

// ::ng-deep {
//   .chart-container div {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     box-sizing: border-box;
//   }
// }
