<h1 mat-dialog-title>Include Asset's Descendants?</h1>

<div mat-dialog-actions>
  <button mat-button (click)="selectAsset()">Asset Only</button>
  <button mat-button (click)="selectDescendants()" cdkFocusInitial>
    Include Asset's Descendants?
  </button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
