<ng-container>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 asset-tree"
  >
    <ng-container matColumnDef="assets">
      <div class="asset-tree-toolbar">
        <th mat-header-cell *matHeaderCellDef>Navigator</th>
      </div>
      <div class="asset-tree-node-container">
        <td mat-cell *matCellDef="let data">
          <div
            class="nodeItem"
            [ngClass]="{ selectedNode: data.IsSelected }"
            (click)="selectNode(data)"
          >
            <button
              mat-icon-button
              [style.visibility]="!data.Children ? 'hidden' : ''"
              [style.marginLeft.px]="data.Level * 12"
              (click)="expandNode($event, data)"
              class="expandBtn"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(data)
                    ? 'arrow_drop_down'
                    : 'arrow_right'
                }}
              </mat-icon>
            </button>

            <span>{{ data.AssetName }}</span>
            <mat-progress-spinner
              *ngIf="data.IsLoading"
              [style.marginLeft.px]="10"
              [style.display]="'inline-block'"
              diameter="17"
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
          </div>
        </td>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
