::ng-deep {
  .default-dark-theme {
    .asset-tree {
      background-color: #424242;
    }
  }
  .default-dark-theme,
  .ethos-theme {
    .selectedNode {
      background-color: var(--accent-250);
    }
  }
  .alternative-light-theme {
    .selectedNode {
      background-color: var(--accent-250);
    }
  }
}

table {
  width: 100%;
}

.asset-tree {
  box-shadow: none;
}

.asset-tree-toolbar {
  height: 36px;
  overflow: hidden;
}

.asset-tree-node-container {
  height: calc(100% - 36px);
  padding-top: 10px;
  box-shadow: none;
}

.nodeItem {
  max-width: inherit;
}

th,
tr,
td.mat-cell,
td.mat-footer-cell {
  padding: 0 !important;
  margin: 0 !important;
  cursor: pointer;
  border: none !important;
}

th.mat-cell,
th.mat-header-row,
th.mat-header-cell {
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}

th.mat-header-cell {
  background-color: #212121;
  color: #fff;
  text-align: left;
  padding-left: 16px !important;
}

tr.mat-header-row {
  height: 36px !important;
}

.mat-row {
  height: auto !important;
}

.expandBtn {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
}

.mat-column-assets {
  width: inherit;
  max-width: inherit;
}
