<ng-container *ngIf="assetViewModel$ | async as vm">
  <div class="asset-tab-container">
    <mat-drawer-container class="assets-container">
      <div class="asset-grid-container">
        <div class="assets-title" #menuBar>
          <span
            ><mat-icon matTooltip="About assets">help_outline</mat-icon>
            <button
              matTooltip="Create"
              mat-icon-button
              data-cy="createAssetBtn"
              aria-hidden="false"
              aria-label="Create"
              [disabled]="!selectedRowAsset"
              (click)="onCreateAssetClick()"
            >
              <mat-icon class="mat-icon-full">add_circle</mat-icon>
            </button>
            <button
              matTooltip="Edit"
              mat-icon-button
              data-cy="editAssetBtn"
              aria-hidden="false"
              aria-label="Edit"
              [disabled]="!selectedRowAsset"
              (click)="onEditAssetClick()"
            >
              <mat-icon class="mat-icon-full">edit</mat-icon>
            </button>
            <button
              matTooltip="Copy to Clipboard"
              mat-icon-button
              data-cy="copyAssetBtn"
              aria-hidden="false"
              aria-label="Copy to Clipboard"
              [disabled]="vm.totalAssets === 0"
              (click)="onCopyClick()"
            >
              <mat-icon class="mat-icon-full">content_copy</mat-icon>
            </button>
            <button
              matTooltip="Paste"
              mat-icon-button
              data-cy="pasteAssetBtn"
              aria-hidden="false"
              aria-label="Paste"
              [disabled]="vm.totalAssets === 0"
              (click)="onPasteClick()"
            >
              <mat-icon class="mat-icon-full">content_paste</mat-icon>
            </button>
            <button
              matTooltip="Delete"
              mat-icon-button
              data-cy="deleteAssetBtn"
              aria-hidden="false"
              aria-label="Delete"
              [disabled]="!selectedRowAsset"
              (click)="onDeleteAssetClick()"
            >
              <mat-icon class="mat-icon-full">delete</mat-icon>
            </button>
          </span>
        </div>

        <mat-card
          class="asset-menu"
          [ngClass]="{
            'asset-menu-bg-dark': vm.theme === 'dark',
            'asset-menu-bg-light': vm.theme === 'light'
          }"
        >
          <div class="header-left">
            <span
              style="top: 8px; left: 9px; position: absolute"
              *ngIf="vm.assetFilters.length === 0"
            >
              <mat-icon>filter_alt_outline</mat-icon>
            </span>
            <button
              matTooltip="Clear Filters"
              class="mat-icon-button"
              mat-icon-button
              *ngIf="vm.assetFilters.length > 0"
              (click)="clearFilters($event)"
            >
              <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
            </button>
            <mat-chip-list #chipList aria-label="Filters">
              <mat-chip
                *ngFor="let filter of vm.assetFilters"
                [removable]="filter.Removable"
                (removed)="removeFilter(filter)"
              >
                {{ filter.DisplayName }}
                <mat-icon matChipRemove *ngIf="filter.Removable"
                  >cancel</mat-icon
                >
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="header-right">
            <span data-cy="totalAssets"> Total Rows: {{ vm.totalAssets }}</span>
            <button
              #refreshButton
              matTooltip="Refresh View"
              mat-icon-button
              (click)="refresh()"
              data-cy="refreshGridBtn"
            >
              <mat-icon class="mat-icon-full">refresh</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Toggle Filter Row"
              (click)="toggleFloatingFilter()"
              data-cy="toggleFilterBtn"
            >
              <mat-icon>filter_list</mat-icon>
            </button>
            <button
              #downloadButton
              matTooltip="Copy to Clipboard"
              mat-icon-button
              data-cy="downloadAsset"
              (click)="onCopyClick()"
              [disabled]="vm.totalAssets === 0"
            >
              <mat-icon>save_alt</mat-icon>
            </button>
          </div>
        </mat-card>

        <div class="asset-body" #gridBody>
          <ag-grid-angular
            class="ag-grid-formats"
            [ngClass]="
              vm.theme === 'light'
                ? 'ag-theme-alpine'
                : vm.theme === 'dark'
                ? 'ag-theme-alpine-dark'
                : 'ag-theme-alpine-dark'
            "
            [modules]="modules"
            [gridOptions]="gridOptions"
          ></ag-grid-angular>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</ng-container>
