<h2 mat-dialog-title>Upload File</h2>
<mat-dialog-content
  class="mat-typography"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>PD Server</mat-label>
    <mat-select [formControl]="server">
      <mat-option *ngFor="let server of servers$ | async" [value]="server.Id">
        {{ server.Name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="server.hasError('required')"
      >Please select a PD Server</mat-error
    >
  </mat-form-field>
  <input
    hidden
    type="file"
    #fileSelector
    accept=".xlsx,.xlsm"
    (change)="selectFile($event.target.files)"
    (click)="fileSelector.value = null"
  />
  <button mat-button (click)="fileSelector.click()">
    <mat-icon>upload_file</mat-icon>
    Select file to upload
  </button>
  <div class="messages">
    <p *ngIf="file && !limitReached">
      <strong>File Name:</strong> {{ file?.name }}
    </p>
    <p *ngIf="limitReached" class="limitReached">
      Selected file exceeds the maximum allowed file size of 10mb
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="server.hasError('required') || !file || limitReached"
    [mat-dialog-close]="true"
    (click)="uploadFile()"
  >
    Upload
  </button>
</mat-dialog-actions>
