.discussion-container {
  height: 100%;
}

.config-container {
  margin: 15px 25px 0px;
}

.auto-gen-checkbox {
  margin: 7px 0px 0px 0px;
}

.action-btn {
  height: 40px;
  margin-left: 10px;
}

.expansion-container {
  margin: 15px 20px 15px;
}

.show-more-btn {
  margin: 0 auto;
  margin-bottom: 20px;
}

::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }

  .action-btn > #mat-badge-content-1 {
    width: 40px !important;
    border-radius: 20px !important;
  }
}
