.op-mode-tag-list-container {
  width: 100%;
  height: 100%;
}

.op-mode-tag-list-header {
  display: flex;
  padding: 0;
  padding-left: 10px;
  height: 40px;
  border-radius: 0;
}

.op-mode-tag-list-grid {
  height: 100%;
  width: 100%;
}
.op-mode-tag-list-grid ag-grid-angular {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.op-mode-tag-list-tree {
  height: 100%;
  width: 250px;
}
.op-mode-asset-name-container {
  align-items: center;
  margin-bottom: 20px;
}

.op-mode-asset-name-container .title-span,
.op-mode-asset-name-container label {
  margin-bottom: 4px;
}

.asset-tree-dropdown {
  height: 100%;
  width: 100%;
}
::ng-deep {
  .default-dark-theme .op-mode-tag-list-header {
    border: 1px solid #68686e;
  }

  .alternative-light-theme .op-mode-tag-list-header {
    border: 1px solid #babfc7;
  }
  .ag-theme-alpine {
    .op-mode-tag-list-grid .ag-header-cell-text {
      color: #303030 !important;
    }

    .op-mode-tag-list-grid .ag-row-odd {
      background: #f6f6f6;
    }

    .op-mode-tag-list-grid .ag-row-selected {
      background-color: rgba(3, 169, 244, 0.6) !important;
    }

    .op-mode-tag-list-grid .ag-row-hover:not(.ag-row-selected) {
      background-color: rgba(3, 169, 244, 0.1) !important;
    }

    .op-mode-op-mode-tag-list-grid .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .op-mode-tag-list-grid .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .op-mode-tag-list-grid
      .ag-cell-wrapper
      > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .op-mode-tag-list-grid .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .op-mode-tag-list-grid
      .ag-cell-wrapper
      > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .op-mode-tag-list-grid .ag-row-selected {
      background-color: rgba(3, 169, 244, 0.6) !important;
    }

    .op-mode-tag-list-grid .ag-row-hover:not(.ag-row-selected) {
      background-color: rgba(3, 169, 244, 0.1) !important;
    }
  }

  .op-mode-tag-list-grid .ag-column-drop-horizontal {
    height: 30px !important;
  }

  .op-mode-tag-list-grid .ag-header-row {
    height: 30px !important;
  }
}

.cell-wrap-text {
  word-wrap: break-word;
}
