<form [formGroup]="form" (ngSubmit)="submit()" style="width: 50%">
  <div fxLayout="column" fxLayoutAlign="center">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Old Password</mat-label>
      <input
        matInput
        formControlName="oldPassword"
        type="password"
        placeholder="Password"
      />
      <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Password</mat-label>
      <input
        id="password"
        matInput
        type="password"
        placeholder="Password"
        formControlName="password1"
      />
      <mat-error *ngIf="form.get('password1')?.invalid">
        Password must be at least 10 characters and contain upper case, lower
        case, numeric and special character values.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      color="accent"
      [ngClass]="{
        'space-top':
          form.get('password1')?.invalid && form.get('password1')?.touched
      }"
    >
      <mat-label>Retype Password</mat-label>
      <input
        id="retypePassword"
        matInput
        type="password"
        placeholder="Retype Password"
        formControlName="password2"
      />
      <mat-error *ngIf="form.get('password2')?.hasError('notMatched')">
        Passwords must match
      </mat-error>
    </mat-form-field>
    <div fxLayoutAlign="center" style="margin-bottom: 10px">
      <button
        fxFlex="70"
        type="submit"
        mat-flat-button
        color="accent"
        [disabled]="form.invalid"
      >
        Set Password
      </button>
    </div>
    <div fxLayoutAlign="center">
      <button fxFlex="70" mat-stroked-button (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>
