.group-roles-container {
  width: 100%;
  height: 100%;
}
.table-container {
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

.group-statement {
  color: #79c250;
}

.group-not-selected {
  margin-top: 48px;
  width: 300px;
  text-align: center;
}
