<ng-container>
  <div class="group-roles-container">
    <div *ngIf="selectedGroup === null; else hasSelectedGroup">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="group-not-selected">
          <h2>No Group Selected</h2>
          <p>
            To see a group's details, select a group from the list or click on
            Add New Group to begin.
          </p>
        </div>
      </div>
    </div>
    <ng-template #hasSelectedGroup>
      <div
        class="loading"
        *ngIf="isLoading !== null && isLoading === true; else loaded"
      >
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
        <b>Loading Data</b>
      </div>
      <ng-template #loaded>
        <div
          style="margin: 48px 48px 16px 48px"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="40px"
        >
          <h3>Add Users:</h3>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5px">
            <mat-form-field
              style="width: 400px"
              appearance="fill"
              color="accent"
            >
              <mat-label>User Names</mat-label>
              <mat-chip-list #selectedMembersList aria-label="Member selection">
                <mat-chip
                  *ngFor="let selectedMember of selectedMembers.members"
                  [selectable]="true"
                  [removable]="true"
                  (removed)="removeSelectedMember(selectedMember)"
                >
                  {{ selectedMember.FirstName }}&nbsp;{{
                    selectedMember.LastName
                  }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                  #memberSelectionInput
                  [formControl]="selectedMembersControl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="selectedMembersList"
                  (matChipInputTokenEnd)="addMember($event)"
                />
              </mat-chip-list>
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selectMember($event)"
              >
                <mat-option
                  *ngFor="let member of filteredMembers"
                  [value]="member"
                >
                  {{ member.FirstName }}&nbsp;{{ member.LastName }}:&nbsp;{{
                    member.Email
                  }}
                </mat-option>
              </mat-autocomplete>
              <mat-hint>
                Type or paste a user list for bulk entry.
                <mat-icon
                  [style.fontSize.px]="15"
                  [style.marginLeft.px]="3"
                  matTooltip="Copy email addresses from Excel or a typed list with the following delimiters: spaces( ) commas(,) semi-colons(;)"
                >
                  help_outline
                </mat-icon>
              </mat-hint>
            </mat-form-field>
            <button color="accent" mat-stroked-button (click)="addMembers()">
              Add
            </button>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
          style="padding: 10px"
        >
          <button
            color="accent"
            mat-stroked-button
            (click)="removeAllMembers()"
          >
            Remove All Users
          </button>
        </div>

        <div class="table-container">
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.FirstName + ' ' + element.LastName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                User Email
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.Email }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Customer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Customer
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.CustomerName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Active }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Unsubscribe">
              <th mat-header-cell *matHeaderCellDef>Unsubscribe User</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="removeMember(element)">
                  <span>
                    <mat-icon
                      style="padding-bottom: 2px; padding-right: 4x"
                      color="accent"
                    >
                      remove_circle
                    </mat-icon>
                  </span>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let rowData; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
