<!-- this should be in its own directive, not here -->
<div id="mobile-blocker">
  <img
    src="assets/responsive-lines3.png"
    style="width: 80%; max-width: 400px"
  />
  <h2>
    <span class="small uppercase">coming soon</span><br />ASSET360<sup
      >&reg;</sup
    >
    for mobile.
  </h2>
  <p>
    For now, we recommend running this app on a larger tablet or desktop device.
    If you're on a desktop device, try increasing the size of your browser
    window and refreshing.
  </p>
</div>

<div
  class="main-content"
  data-testid="main_content"
  *ngIf="(authFacade.uiAccessLoaded$ | async) === true"
>
  <ng-container *ngIf="(authFacade.hasAEAccess$ | async) === false">
    <mat-card
      style="width: 79%; margin: 0 auto; margin-top: 25px"
      data-cy="accessDenied"
      data-testid="access_denied"
    >
      <mat-card-title>Access Denied</mat-card-title>
      <mat-card-subtitle>
        You do not have permission to access this site. Please contact
        <a class="accent-250" href="mailto:support@atonix.com"
          >support@atonix.com</a
        >
        to request access.
      </mat-card-subtitle>
    </mat-card>
  </ng-container>
</div>
