<div id="alertsAction">
  <div *ngIf="!showModelInfo" class="actions-header-container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span style="font-weight: bold; margin-top: 5px"
        >Model Config Actions</span
      >
      <div class="actions-header-buttons">
        <button
          mat-icon-button
          class="Refresh Alerts Actions"
          *ngIf="!hasSelectedMultipleModels"
          #refreshModelButton
          (click)="refreshModel($event)"
          data-cy="refreshBtn"
        >
          <mat-icon class="maticon">refresh</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          class="btn-default"
          title="Close"
          (click)="hideInfoTray()"
          data-cy="modelConfigFlyOutCloseBtn"
        >
          <mat-icon class="maticon">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showModelInfo" class="actions-header-container-show-model-info">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span style="font-weight: bold; font-size: 11px">Alerts Actions</span>
      <div class="actions-header-buttons">
        <button
          mat-icon-button
          type="button"
          class="btn-default"
          title="Close"
          (click)="hideInfoTray()"
          data-cy="modelConfigFlyOutCloseBtn"
        >
          <mat-icon class="maticon">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <ng-container *ngIf="!newModel; else modelNotSaved">
    <ng-container *ngIf="modelActionsVm$ | async as modelActionsVm">
      <ng-container *ngIf="modelActionsVm.selectedModel; else noModelSelected">
        <div class="loading" *ngIf="(refreshing$ | async) && !showModelInfo">
          <p data-testid="refresh">Loading...</p>
        </div>
        <div
          id="modelConfigActions"
          class="fly-out-content"
          [ngClass]="{ 'fly-out-content-show-model-info': showModelInfo }"
        >
          <div class="watch-container">
            <div *ngIf="!showModelInfo" style="width: 95%; margin-left: 10px">
              <div fxLayout="row" fxLayoutAlign="space-between start">
                <h3
                  *ngIf="!hasSelectedMultipleModels"
                  style="margin-top: 4px; margin-bottom: 0px"
                >
                  Current Status
                </h3>
                <button
                  mat-button
                  style="text-decoration: underline"
                  (click)="clearAlert()"
                >
                  Clear Status
                </button>
              </div>
              <p *ngIf="!hasSelectedMultipleModels" class="status">
                {{
                  modelActionsVm?.selectedModel?.Alert
                    ? 'In Alert'
                    : modelActionsVm?.selectedModel?.ActionWatch
                    ? 'In Watch'
                    : 'No Alert'
                }}
              </p>
              <p *ngIf="!hasSelectedMultipleModels" class="small">
                {{ modelActionsVm.timeStamp }}
              </p>
            </div>

            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              style="padding: 10px"
            >
              <div class="model-desc">
                <div class="model-desc__header">
                  <b>Model Description:</b>
                  <button
                    mat-icon-button
                    *ngIf="!editingModelDesc"
                    class="model-desc__edit-btn"
                    (click)="
                      onEditModelDesc(modelActionsVm?.selectedModel?.ModelDesc)
                    "
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <!-- Using TagDesc as a placeholder for ModelDesc -->
                <div class="model-desc__content" *ngIf="!editingModelDesc">
                  {{ modelActionsVm?.selectedModel?.ModelDesc }}
                </div>
                <div *ngIf="editingModelDesc">
                  <mat-form-field class="model-desc__edit">
                    <textarea
                      matInput
                      [formControl]="modelDesc"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="6"
                    ></textarea>
                    <mat-error *ngIf="modelDesc.invalid"
                      >Must be less than 512 characters</mat-error
                    >
                  </mat-form-field>
                  <div class="model-desc__save-btn-container">
                    <button
                      mat-icon-button
                      class="model-desc__save-btn"
                      [disabled]="modelDesc.invalid"
                      (click)="onSaveModelDesc()"
                    >
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div
              fxLayout="column"
              fxLayoutAlign="center start"
              style="padding: 10px"
            >
              <div class="asset-desc">
                <b>Asset Description:</b>
                <div class="asset-desc__content">
                  {{ modelActionsVm?.selectedModel?.AssetDesc }}
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div
              class="model-status"
              style="padding: 10px"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <div><b>Status:&nbsp;&nbsp;</b></div>
              <div *ngIf="modelActionsVm$ | async as modelActionsVm">
                <mat-chip-list>
                  <mat-chip *ngIf="modelActionsVm?.isDiagnose">
                    <mat-icon svgIcon="diagnose"></mat-icon>
                    Diagnose
                  </mat-chip>
                  <mat-chip *ngIf="modelActionsVm?.isActionWatch">
                    <mat-icon svgIcon="watch"></mat-icon>
                    Watch
                  </mat-chip>
                  <mat-chip *ngIf="modelActionsVm?.isMaintenance">
                    <mat-icon svgIcon="maintainence"></mat-icon>
                    Maintenance
                  </mat-chip>
                  <mat-chip *ngIf="modelActionsVm?.isAlert">
                    <mat-icon svgIcon="alert"></mat-icon>
                    Alert
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <mat-divider></mat-divider>
            <!--Set Watch-->
            <div
              *ngIf="
                !modelActionsVm?.selectedModel?.ActionWatch &&
                !modelActionsVm.showOnlyActionForms
              "
              style="padding: 12px"
            >
              <ng-template #normalWatch>
                <div fxLayout="row">
                  <mat-icon class="watchIcon" svgIcon="watch"></mat-icon>
                  <p><b>Watch</b></p>
                </div>
                <mat-chip-list>
                  <mat-chip (click)="onWatchChange('6')">6 Hours</mat-chip>
                  <mat-chip (click)="onWatchChange('24')">24 Hours</mat-chip>
                  <mat-chip (click)="onWatchChange('7')">7 Days</mat-chip>
                  <mat-chip (click)="onWatchChange('custom')">Custom</mat-chip>
                </mat-chip-list>
              </ng-template>

              <div
                class="custom-watch-container"
                *ngIf="modelActionsVm.showCustomWatchForm; else normalWatch"
              >
                <div fxLayout="row">
                  <mat-icon class="watchIcon" svgIcon="watch"></mat-icon>
                  <p><b>Custom Watch Length</b></p>
                </div>
                <form
                  class="my-form"
                  [formGroup]="customWatchForm"
                  (ngSubmit)="submitCustomWatch()"
                >
                  <div
                    fxLayout="row"
                    fxLayoutGap="10px"
                    fxLayoutAlign="center"
                    class="custom-watch-row"
                  >
                    <mat-form-field
                      appearance="fill"
                      color="accent"
                      class="watchInput"
                    >
                      <mat-label>Time Span</mat-label>
                      <input
                        matInput
                        class="form-control"
                        formControlName="timeSpan"
                        placeholder="Time Span"
                        type="number"
                        autocomplete="off"
                      />
                      <mat-error
                        *ngIf="
                          customWatchForm.get('timeSpan')?.hasError('required')
                        "
                      >
                        Enter Time Span
                      </mat-error>
                      <mat-error
                        *ngIf="customWatchForm.get('timeSpan')?.hasError('min')"
                      >
                        Enter positive value
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field
                      appearance="fill"
                      color="accent"
                      class="watchInput"
                    >
                      <mat-label>Unit of Time</mat-label>
                      <mat-select
                        class="form-control"
                        formControlName="timeUnit"
                        required
                        matInput
                      >
                        <mat-option value="1">Seconds</mat-option>
                        <mat-option value="2">Minutes</mat-option>
                        <mat-option value="3">Hours</mat-option>
                        <mat-option value="4">Days</mat-option>
                        <mat-option value="7">Weeks</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          customWatchForm.get('timeUnit')?.hasError('required')
                        "
                      >
                        Select Unit
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <label>Alert If: </label>
                  <div fxLayout="row">
                    <mat-checkbox
                      formControlName="upperBoundExceeded"
                      [checked]="
                        customWatchForm.get('upperBoundExceeded')?.value
                      "
                    >
                      Upper Bound Exceeded
                    </mat-checkbox>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center">
                    <mat-form-field appearance="fill" color="accent">
                      <mat-label>Set Upper Bound</mat-label>
                      <mat-select
                        formControlName="upperControl"
                        (selectionChange)="changeUpperBound($event.value)"
                      >
                        <mat-option
                          *ngFor="let upper of upperBoundTypes"
                          [disabled]="isDisabledFixedUpper(upper) | async"
                          [value]="upper"
                        >
                          {{ upperBoundTypeMapping[upper] }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          customWatchForm
                            .get('upperControl')
                            ?.hasError('required')
                        "
                        >Please select an Upper Bound</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div
                    *ngIf="
                      customWatchForm.get('upperControl')?.value === 'Model'
                    "
                  ></div>
                  <div
                    *ngIf="
                      customWatchForm.get('upperControl')?.value === 'Relative'
                    "
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    style="padding-bottom: 10px"
                  >
                    <mat-form-field
                      appearance="fill"
                      color="accent"
                      class="bound-value-input"
                      *ngIf="!hasSelectedMultipleModels"
                    >
                      <mat-label> Value </mat-label>
                      <input
                        matInput
                        class="form-control"
                        formControlName="upperUnits"
                        placeholder="Value"
                        type="number"
                        autocomplete="off"
                      />
                      <mat-error
                        *ngIf="
                          customWatchForm
                            .get('upperUnits')
                            ?.hasError('required')
                        "
                      >
                        No Units
                      </mat-error>
                    </mat-form-field>
                    <span class="eng-units" *ngIf="!hasSelectedMultipleModels">
                      {{ modelActionsVm?.selectedModel?.EngUnits }}
                    </span>
                    <span class="rel-to-exp">Relative to Expected</span>
                  </div>
                  <div
                    *ngIf="
                      customWatchForm.get('upperControl')?.value === 'Absolute'
                    "
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    style="padding-bottom: 10px"
                  >
                    <mat-form-field
                      appearance="fill"
                      color="accent"
                      class="bound-value-input"
                    >
                      <mat-label *ngIf="!hasSelectedMultipleModels">
                        Value
                      </mat-label>
                      <input
                        matInput
                        class="form-control"
                        formControlName="upperUnits"
                        placeholder="Value"
                        type="number"
                        autocomplete="off"
                      />
                      <mat-error
                        *ngIf="
                          customWatchForm
                            .get('upperUnits')
                            ?.hasError('required')
                        "
                      >
                        No Units
                      </mat-error>
                    </mat-form-field>
                    <span class="eng-units" *ngIf="!hasSelectedMultipleModels">
                      {{ modelActionsVm?.selectedModel?.EngUnits }}
                    </span>
                  </div>
                  <div>
                    <div fxLayout="row">
                      <mat-checkbox
                        formControlName="lowerBoundExceeded"
                        [checked]="
                          customWatchForm.get('lowerBoundExceeded')?.value
                        "
                      >
                        Lower Bound Exceeded
                      </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center">
                      <mat-form-field appearance="fill" color="accent">
                        <mat-label>Set Lower Bound</mat-label>
                        <mat-select
                          formControlName="lowerControl"
                          (selectionChange)="changeLowerBound($event.value)"
                        >
                          <mat-option
                            *ngFor="let lower of lowerBoundTypes"
                            [disabled]="isDisabledFixedUpper(lower) | async"
                            [value]="lower"
                          >
                            {{ lowerBoundTypeMapping[lower] }}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="
                            customWatchForm
                              .get('lowerControl')
                              ?.hasError('required')
                          "
                          >Please set a Lower Bound</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                  <div
                    *ngIf="
                      customWatchForm.get('lowerControl')?.value === 'Model'
                    "
                  ></div>
                  <div
                    *ngIf="
                      customWatchForm.get('lowerControl')?.value === 'Relative'
                    "
                    fxLayout="row"
                    fxLayoutAlign="start center"
                  >
                    <mat-form-field
                      appearance="fill"
                      color="accent"
                      class="bound-value-input"
                      *ngIf="!hasSelectedMultipleModels"
                    >
                      <mat-label> Value </mat-label>
                      <input
                        matInput
                        class="form-control"
                        formControlName="lowerUnits"
                        placeholder="Value"
                        type="number"
                        autocomplete="off"
                      />
                      <mat-error
                        *ngIf="
                          customWatchForm
                            .get('lowerUnits')
                            ?.hasError('required')
                        "
                      >
                        No Units
                      </mat-error>
                    </mat-form-field>
                    <span class="eng-units" *ngIf="!hasSelectedMultipleModels">
                      {{ modelActionsVm?.selectedModel?.EngUnits }}
                    </span>
                    <span class="rel-to-exp">Relative to Expected</span>
                  </div>
                  <div
                    *ngIf="
                      customWatchForm.get('lowerControl')?.value === 'Absolute'
                    "
                    fxLayout="row"
                    fxLayoutAlign="start center"
                  >
                    <mat-form-field
                      appearance="fill"
                      color="accent"
                      class="bound-value-input"
                    >
                      <mat-label *ngIf="!hasSelectedMultipleModels">
                        Value
                      </mat-label>
                      <input
                        matInput
                        class="form-control"
                        formControlName="lowerUnits"
                        placeholder="Value"
                        type="number"
                        autocomplete="off"
                      />
                      <mat-error
                        *ngIf="
                          customWatchForm
                            .get('lowerUnits')
                            ?.hasError('required')
                        "
                      >
                        No Units
                      </mat-error>
                    </mat-form-field>
                    <span class="eng-units" *ngIf="!hasSelectedMultipleModels">
                      {{ modelActionsVm?.selectedModel?.EngUnits }}
                    </span>
                  </div>
                  <div fxLayout="row">
                    <button
                      type="button"
                      style="margin-top: 15px"
                      mat-stroked-button
                      color="accent"
                      title="Use default note"
                      (click)="setDefaultNote()"
                    >
                      Use default note
                    </button>
                  </div>
                  <div fxLayout="row">
                    <span style="opacity: 0.5; padding-top: 15px">{{
                      modelActionsVm?.defaultNote
                    }}</span>
                  </div>
                  <div></div>
                  <div class="custom-input">
                    <mat-form-field color="accent" class="full-width">
                      <textarea
                        id="customNote"
                        formControlName="customNote"
                        type="text"
                        matInput
                        rows="5"
                      >
                      </textarea>
                    </mat-form-field>
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="end"
                    style="margin-right: 5px"
                    class="button-rows"
                  >
                    <div class="margin-left-button">
                      <button id="cancelBtn" mat-button (click)="resetForms()">
                        Cancel
                      </button>
                    </div>
                    <div class="margin-left-button">
                      <button
                        id="okBtn"
                        mat-flat-button
                        color="accent"
                        [disabled]="
                          !customWatchForm.valid ||
                          (!customWatchForm.get('upperBoundExceeded')?.value &&
                            !customWatchForm.get('lowerBoundExceeded')?.value)
                        "
                      >
                        <mat-icon
                          class="material-icons-outlined"
                          style="padding-right: 2px"
                          >save</mat-icon
                        >
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--End Set Watch-->
            <!--Clear Watch -->
            <div
              *ngIf="
                (modelActionsVm?.selectedModel?.ActionWatch &&
                  !modelActionsVm.showOnlyActionForms) ||
                modelActionsVm.isMultiClearWatch
              "
              style="padding: 10px; width: 100%"
            >
              <div fxLayout="row">
                <mat-icon class="watchIcon" svgIcon="watch"></mat-icon>
                <p><b>Watch</b></p>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <mat-chip id="okBtn" (click)="submitClearWatch()">
                  Clear Watch
                </mat-chip>
              </div>
            </div>
            <!--End Watch-->

            <!-- second facing form for action item -->

            <div
              *ngIf="modelActionsVm.showDiagnoseForm"
              style="padding: 10px; width: 100%"
            >
              <ng-template #singleDiagnoseForm>
                <ng-container
                  *ngIf="
                    !modelActionsVm?.selectedModel?.ActionDiagnose;
                    else clearDiagnose
                  "
                >
                  <p><b>Diagnose Note:</b></p>
                </ng-container>
                <ng-template #clearDiagnose>
                  <p><b>Clear Diagnose Note:</b></p>
                </ng-template>
              </ng-template>
              <div *ngIf="hasSelectedMultipleModels; else singleDiagnoseForm">
                <ng-container
                  *ngIf="
                    !modelActionsVm.isMultiClearDiagnose;
                    else clearDiagnose
                  "
                >
                  <p><b>Diagnose Note:</b></p>
                </ng-container>
                <ng-template #clearDiagnose>
                  <p><b>Clear Diagnose Note:</b></p>
                </ng-template>
              </div>
              <form
                class="my-form"
                [formGroup]="newDiagnoseForm"
                (ngSubmit)="submitDiagnose()"
              >
                <div class="custom-input">
                  <mat-form-field color="accent" class="full-width">
                    <textarea
                      id="diagnoseNote"
                      formControlName="diagnoseNote"
                      type="text"
                      matInput
                      rows="5"
                    >
                    </textarea>
                  </mat-form-field>
                </div>
                <div
                  fxLayout="row"
                  style="margin: 15px"
                  fxLayoutAlign="end"
                  class="button-rows"
                >
                  <div class="margin-left-button">
                    <button
                      mat-flat-button
                      (click)="resetForms()"
                      type="button"
                    >
                      Cancel
                    </button>
                    <button mat-flat-button color="accent" type="submit">
                      <mat-icon
                        class="material-icons-outlined"
                        style="padding-right: 2px"
                        >save</mat-icon
                      >Save
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div
              *ngIf="modelActionsVm.showAddNoteForm"
              style="padding: 10px; width: 100%"
            >
              <p><b>Note:</b></p>
              <form
                class="my-form"
                [formGroup]="newNoteForm"
                (ngSubmit)="submitNote()"
              >
                <div class="custom-input">
                  <mat-form-field color="accent" class="full-width">
                    <textarea
                      id="newNoteForm"
                      formControlName="note"
                      type="text"
                      matInput
                      rows="5"
                    >
                    </textarea>
                  </mat-form-field>
                </div>
                <div
                  fxLayout="row"
                  style="margin: 15px"
                  fxLayoutAlign="end center"
                  class="button-rows"
                >
                  <div class="margin-left-button">
                    <button
                      mat-flat-button
                      (click)="resetForms()"
                      type="button"
                    >
                      Cancel
                    </button>
                    <button mat-flat-button color="accent" type="submit">
                      <mat-icon
                        class="material-icons-outlined"
                        style="padding-right: 2px"
                        >save</mat-icon
                      >Save
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div
              *ngIf="modelActionsVm.showMaintenanceForm"
              style="padding: 10px; width: 100%"
            >
              <ng-template #singleMaintenanceForm>
                <ng-container
                  *ngIf="
                    !modelActionsVm?.selectedModel?.ActionModelMaintenance;
                    else clearMaintenance
                  "
                >
                  <p><b>Model Maintenance Note:</b></p>
                </ng-container>
                <ng-template #clearMaintenance>
                  <p><b>Clear Model Maintenance Note:</b></p>
                </ng-template>
              </ng-template>
              <div
                *ngIf="hasSelectedMultipleModels; else singleMaintenanceForm"
              >
                <ng-container
                  *ngIf="
                    !modelActionsVm.isMultiClearMaintenance;
                    else clearMaintenance
                  "
                >
                  <p><b>Model Maintenance Note:</b></p>
                </ng-container>
                <ng-template #clearMaintenance>
                  <p><b>Clear Maintenance Note:</b></p>
                </ng-template>
              </div>
              <form
                class="my-form"
                [formGroup]="newMaintenanceForm"
                (ngSubmit)="submitMaintenance()"
              >
                <div class="custom-input">
                  <mat-form-field color="accent" class="full-width">
                    <textarea
                      id="maintenanceNote"
                      formControlName="maintenanceNote"
                      type="text"
                      matInput
                      rows="5"
                    >
                    </textarea>
                  </mat-form-field>
                </div>
                <div
                  fxLayout="row"
                  style="margin: 15px"
                  fxLayoutAlign="end"
                  class="button-rows"
                >
                  <div class="margin-left-button">
                    <button
                      mat-flat-button
                      (click)="resetForms()"
                      type="button"
                    >
                      Cancel
                    </button>
                    <button mat-flat-button color="accent" type="submit">
                      <mat-icon
                        class="material-icons-outlined"
                        style="padding-right: 2px"
                        >save</mat-icon
                      >Save
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <!-- first facing form for action item -->
            <mat-divider></mat-divider>
            <div
              *ngIf="!modelActionsVm.showOnlyActionForms"
              style="width: 100%"
            >
              <div
                fxLayout="row"
                style="padding: 8px"
                fxLayoutAlign="start"
                class="other"
              >
                <ng-template #singleDiagnose>
                  <ng-container
                    *ngIf="
                      !modelActionsVm?.selectedModel?.ActionDiagnose;
                      else clearDiagnose
                    "
                  >
                    <mat-chip
                      (click)="actionForm('diagnose')"
                      data-cy="diagnoseBtn"
                    >
                      <mat-icon
                        class="actionIcon"
                        svgIcon="diagnose"
                      ></mat-icon>
                      Diagnose
                    </mat-chip>
                  </ng-container>
                  <ng-template #clearDiagnose>
                    <mat-chip
                      (click)="actionForm('cleardiagnose')"
                      data-cy="clearDiagnoseBtn"
                      >Clear Diagnose</mat-chip
                    >
                  </ng-template>
                </ng-template>

                <div *ngIf="hasSelectedMultipleModels; else singleDiagnose">
                  <ng-container
                    *ngIf="
                      !modelActionsVm.isMultiClearDiagnose;
                      else clearDiagnose
                    "
                  >
                    <mat-chip
                      (click)="actionForm('diagnose')"
                      data-cy="diagnoseBtn"
                    >
                      <mat-icon
                        class="actionIcon"
                        svgIcon="diagnose"
                      ></mat-icon>
                      Diagnose
                    </mat-chip>
                  </ng-container>
                  <ng-template #clearDiagnose>
                    <mat-chip
                      (click)="actionForm('cleardiagnose')"
                      data-cy="clearDiagnoseBtn"
                      >Clear Diagnose</mat-chip
                    >
                  </ng-template>
                </div>

                <ng-template #singleMaintenance>
                  <ng-container
                    *ngIf="
                      !modelActionsVm?.selectedModel?.ActionModelMaintenance;
                      else clearMaintenance
                    "
                  >
                    <mat-chip
                      (click)="actionForm('maintenance')"
                      data-cy="modelMaintenanceBtn"
                    >
                      <mat-icon
                        class="actionIcon"
                        svgIcon="maintainence"
                      ></mat-icon>
                      Model Maintenance
                    </mat-chip>
                  </ng-container>
                  <ng-template #clearMaintenance>
                    <mat-chip
                      (click)="actionForm('clearmaintenance')"
                      data-cy="clearModelMaintenanceBtn"
                      >Clear Maintenance</mat-chip
                    >
                  </ng-template>
                </ng-template>
                <div *ngIf="hasSelectedMultipleModels; else singleMaintenance">
                  <ng-container
                    *ngIf="
                      !modelActionsVm.isMultiClearMaintenance;
                      else clearMaintenance
                    "
                  >
                    <mat-chip
                      (click)="actionForm('maintenance')"
                      data-cy="modelMaintenanceBtn"
                    >
                      <mat-icon
                        class="actionIcon"
                        svgIcon="maintainence"
                      ></mat-icon>
                      Model Maintenance
                    </mat-chip>
                  </ng-container>
                  <ng-template #clearMaintenance>
                    <mat-chip
                      (click)="actionForm('clearmaintenance')"
                      data-cy="clearModelMaintenanceBtn"
                      >Clear Maintenance</mat-chip
                    >
                  </ng-template>
                </div>
                <mat-chip
                  style="padding-left: 8px; padding-right: 10px"
                  mat-flat-button
                  (click)="actionForm('note')"
                  data-cy="addNoteBtn"
                >
                  <mat-icon
                    color="accent"
                    style="padding-top: 3px; padding-right: 3px"
                    >add_circle_outline</mat-icon
                  >
                  Add Note
                </mat-chip>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div style="width: 100%">
            <span
              style="font-weight: bold; margin-top: 2px; height: 20px"
              matSubheader
              >Model Diagnostics</span
            >
            <mat-divider></mat-divider>
            <mat-list>
              <mat-list-item
                *ngIf="(authFacade.opModeConfigUtilityAccess$ | async)?.CanView"
              >
                <button
                  mat-button
                  (click)="openOpModeConfig()"
                  [disabled]="hasSelectedMultipleModels"
                >
                  <mat-icon
                    style="height: 18px; padding-right: 2px"
                    svgIcon="a360_opModeConfig"
                  ></mat-icon>
                  OP Mode Configuration
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item
                *ngIf="
                  (authFacade.dataExplorerTaskCenterAccess$ | async)?.CanView
                "
              >
                <button
                  mat-button
                  (click)="openDataExplorer()"
                  [disabled]="hasSelectedMultipleModels"
                >
                  <mat-icon
                    style="height: 18px; padding-right: 2px"
                    svgIcon="a360_trends_sm"
                  ></mat-icon>
                  Data Explorer
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <button
                  mat-button
                  (click)="openDiagnosticDrilldown()"
                  [disabled]="
                    (isExternalModelType$ | async) === false &&
                    hasSelectedMultipleModels
                  "
                >
                  Diagnostic Drilldown
                  <mat-icon
                    color="accent"
                    style="
                      height: 18px;
                      padding-right: 2px;
                      padding-bottom: 4px;
                    "
                    >open_in_new</mat-icon
                  >
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item
                *ngIf="(authFacade.alertsTaskCenterAccess$ | async)?.CanView"
              >
                <button
                  mat-button
                  (click)="showRelatedAlerts()"
                  [disabled]="hasSelectedMultipleModels"
                >
                  Show Related Models
                  <mat-icon
                    color="accent"
                    style="
                      height: 18px;
                      padding-right: 2px;
                      padding-bottom: 4px;
                    "
                    >open_in_new</mat-icon
                  >
                </button>
              </mat-list-item>

              <mat-divider></mat-divider>
              <mat-list-item
                *ngIf="
                  (authFacade.issuesManagementTaskCenterAccess$ | async)
                    ?.CanView
                "
              >
                <button
                  mat-button
                  (click)="showRelatedIssues()"
                  [disabled]="hasSelectedMultipleModels"
                >
                  Show Related Issues
                  <mat-icon
                    color="accent"
                    style="
                      height: 18px;
                      padding-right: 2px;
                      padding-bottom: 4px;
                    "
                    >open_in_new</mat-icon
                  >
                </button>
              </mat-list-item>
              <mat-divider *ngIf="!showModelInfo"></mat-divider>
            </mat-list>
          </div>

          <div
            fxLayout="row"
            style="margin: 15px"
            fxLayoutAlign="end"
            class="button-rows"
            *ngIf="
              !hasSelectedMultipleModels &&
              (authFacade.issuesManagementTaskCenterAccess$ | async)?.CanView
            "
          >
            <div class="margin-left-button">
              <button
                id="createIssue"
                mat-flat-button
                color="accent"
                (click)="createIssue()"
              >
                <mat-icon>add_circle_outline</mat-icon>Create Issue
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #noModelSelected>
        <div class="noModel">
          <h2>No Model Selected</h2>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-template #modelNotSaved>
    <div class="noModel">
      <h2>Model Not Saved</h2>
    </div>
  </ng-template>
</div>
