<div class="inputs-container">
  <ng-container *ngIf="vm$ | async as vm">
    <ng-container
      *ngIf="
        vm.selectedModelSummary?.properties.modelType?.type ===
          modelTypes.AdvancedPatternRecognition;
        else inputsNotAvailable
      "
    >
      <ng-container *ngIf="!vm.modelSummaryLoading; else inputsLoading">
        <ng-container *ngIf="vm.hasSamePdServer; else differentPdServers">
          <div class="inputs-content" fxLayout="row">
            <atx-input-list-multi-model
              class="list"
              fxFlex="650px"
              (dragover)="onDragOver($event)"
              (drop)="onDrop($event)"
            >
            </atx-input-list-multi-model>
            <atx-model-edit-tag-list
              (selectedTag)="addModelInputTag($event)"
              class="list"
            ></atx-model-edit-tag-list>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #inputsNotAvailable>
    <div fxLayout="col" fxLayoutAlign="center center" fxFlex="100">
      <h1>This model type does not require inputs.</h1>
    </div>
  </ng-template>

  <ng-template #differentPdServers>
    <div fxLayout="col" fxLayoutAlign="center center" fxFlex="100">
      <h1>
        Inputs cannot be edited when models belong to multiple PD Servers.
      </h1>
    </div>
  </ng-template>

  <ng-template #inputsLoading>
    <div fxLayout="col" fxLayoutAlign="center center" fxFlex="100">
      <h1>Loading inputs.</h1>
    </div>
  </ng-template>
</div>
