<div fxFlex="100%" id="updateLimitsContainer">
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
    <mat-form-field
      floatLabel="always"
      fxFlex="23%"
      appearance="fill"
      color="accent"
    >
      <mat-label>Low Limit</mat-label>
      <input
        matInput
        type="number"
        placeholder="Auto"
        [formControl]="lowLimit"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      fxFlex="23%"
      appearance="fill"
      color="accent"
    >
      <mat-label>High Limit</mat-label>
      <input
        matInput
        type="number"
        placeholder="Auto"
        [formControl]="highLimit"
        autocomplete="off"
      />
    </mat-form-field>
    <ng-container
      *ngIf="
        (data.Min === null && data.Max === null) ||
          data.Min !== lowLimit.value ||
          data.Max !== highLimit.value;
        else focusReset
      "
    >
      <button mat-raised-button color="accent" fxFlex="23%" (click)="apply()">
        Apply
      </button>
      <button
        mat-stroked-button
        fxFlex="23%"
        (click)="reset()"
        [disabled]="
          data.OriginalMin === data.Min && data.OriginalMax === data.Max
        "
      >
        Reset
      </button>
    </ng-container>
    <ng-template #focusReset>
      <button mat-stroked-button fxFlex="23%" (click)="apply()">Apply</button>
      <button
        mat-raised-button
        color="accent"
        fxFlex="23%"
        (click)="reset()"
        [disabled]="
          data.OriginalMin === data.Min && data.OriginalMax === data.Max
        "
      >
        Reset
      </button>
    </ng-template>
  </div>
</div>
