<div class="mfa-set-up-container">
  <div fxLayout="column" fxFlex="50">
    <h2>Set Up Multi-Factor Authentication</h2>
    <button
      class="action-buttons configMFASMS"
      mat-stroked-button
      (click)="configureMFAWithSMS()"
    >
      Configure Multi-Factor Authentication With SMS
    </button>
    <button class="action-buttons" mat-stroked-button (click)="disableMFA()">
      Disable MFA
    </button>
  </div>
</div>
