<div class="axis-container" #axisModal>
  <ng-container [formGroup]="parentForm">
    <ng-container *ngIf="vm$ | async as vm">
      <div class="axis-header">
        <button
          mat-button
          [disabled]="
            vm.loadingData ||
            vm.trendsLoading ||
            !vm.assetID ||
            !vm.selectedTrend
          "
          aria-label="New Y-Axis"
          (click)="addAxes()"
        >
          <mat-icon
            color="accent"
            style="padding-bottom: 2px; padding-right: 4px"
            >add_circle_outline</mat-icon
          >Add Axis
        </button>
        <mat-checkbox
          class="grid-line-x-axis"
          [disabled]="
            vm.loadingData ||
            vm.trendsLoading ||
            !vm.assetID ||
            !vm.selectedTrend
          "
          [checked]="vm.selectedTrend?.trendDefinition?.XAxisGridlines"
          (change)="gridLineXAxisToggle()"
          >Show x-axis lines</mat-checkbox
        >
      </div>
      <mat-card class="axis-card mat-elevation-z4">
        <mat-toolbar fxLayout="row" fxLayoutAlign="start center">
          <div style="margin-left: 50px">
            <span class="axis-inputs">Axis Units</span>
            <span class="axis-inputs">Low Limits</span>
            <span class="high-limits">High Limits</span>
            <span class="step">Step</span>
            <span class="minor-step">Minor Step</span>
            <span>Position</span>
          </div>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div class="axis-div" fxLayout="column" fxLayoutAlign="start start">
          <ng-container *ngIf="vm.trendsLoading">
            <div *ngFor="let axis of ghostItems; let i = index">
              <div style="margin-right: 10px">
                <div
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="5px"
                >
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '36px',
                      height: '36px',
                      'margin-top': '5px',
                      background: 'rgba(160,160,160,0.2)',
                      'pointer-events': 'none'
                    }"
                    animation="progress-dark"
                    appearance="circle"
                    count="1"
                  ></ngx-skeleton-loader>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '90px',
                      height: '40px',
                      'margin-top': '5px',
                      background: 'rgba(160,160,160,0.2)',
                      'border-radius': '4px 4px 0 0',
                      'pointer-events': 'none'
                    }"
                    animation="progress-dark"
                    count="1"
                  ></ngx-skeleton-loader>

                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '90px',
                        height: '40px',
                        'margin-top': '5px',
                        background: 'rgba(160,160,160,0.2)',
                        'border-radius': '4px 4px 0 0',
                        'pointer-events': 'none'
                      }"
                      animation="progress-dark"
                      count="1"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '90px',
                        height: '40px',
                        'margin-top': '5px',
                        background: 'rgba(160,160,160,0.2)',
                        'border-radius': '4px 4px 0 0',
                        'pointer-events': 'none'
                      }"
                      animation="progress-dark"
                      count="1"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '90px',
                        height: '40px',
                        'margin-top': '5px',
                        background: 'rgba(160,160,160,0.2)',
                        'border-radius': '4px 4px 0 0',
                        'pointer-events': 'none'
                      }"
                      animation="progress-dark"
                      count="1"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '90px',
                        height: '40px',
                        'margin-top': '5px',
                        background: 'rgba(160,160,160,0.2)',
                        'border-radius': '4px 4px 0 0',
                        'pointer-events': 'none'
                      }"
                      animation="progress-dark"
                      count="1"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '65px',
                        height: '36px',
                        'margin-top': '5px',
                        background: 'rgba(160,160,160,0.2)',
                        'pointer-events': 'none'
                      }"
                      animation="progress-dark"
                      count="1"
                    ></ngx-skeleton-loader>
                  </div>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '36px',
                      height: '36px',
                      'margin-top': '5px',
                      background: 'rgba(160,160,160,0.2)',
                      'pointer-events': 'none'
                    }"
                    animation="progress-dark"
                    appearance="circle"
                    count="1"
                  ></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!vm.trendsLoading">
            <div formArrayName="axes">
              <div *ngFor="let axis of axes.controls; let i = index">
                <div [formGroupName]="i">
                  <div fxLayout="row" fxLayoutGap="5px">
                    <div>
                      <ng-container *ngIf="!vm.trendsLoading">
                        <button
                          (click)="gridlineToggle(i)"
                          mat-mini-fab
                          matTooltip="Show/Hide Lines"
                        >
                          <mat-icon
                            [color]="
                              (vm.selectedTrend?.trendDefinition?.Axes)[i]
                                .GridLine
                                ? 'accent'
                                : 'primary'
                            "
                          >
                            {{
                              (vm.selectedTrend?.trendDefinition?.Axes)[i]
                                .GridLine
                                ? 'visibility'
                                : 'visibility_off'
                            }}</mat-icon
                          >
                        </button>
                        <mat-form-field color="accent" appearance="fill">
                          <input
                            matInput
                            autocomplete="off"
                            formControlName="axisUnits"
                          />
                        </mat-form-field>
                      </ng-container>
                    </div>
                    <div>
                      <mat-form-field color="accent" appearance="fill">
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="axisLowLimits"
                          placeholder="Auto"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field color="accent" appearance="fill">
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="axisHighLimits"
                          placeholder="Auto"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field color="accent" appearance="fill">
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="axisStep"
                          placeholder="Auto"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field color="accent" appearance="fill">
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="axisMinorStep"
                          placeholder="Auto"
                        />
                      </mat-form-field>
                    </div>
                    <div>
                      <button
                        style="margin-left: 5px"
                        mat-stroked-button
                        (click)="positionToggle(i)"
                      >
                        {{
                          (vm.selectedTrend?.trendDefinition?.Axes)[i]
                            .Position === 0
                            ? 'Left'
                            : 'Right'
                        }}
                      </button>
                    </div>
                    <button
                      mat-icon-button
                      matTooltip="Delete Axis"
                      (click)="
                        removeAxis(
                          (vm.selectedTrend?.trendDefinition?.Axes)[i].Axis
                        )
                      "
                    >
                      <mat-icon style="padding-bottom: 2px"
                        >delete_outline</mat-icon
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
