.axis-container {
  height: 100%;
}

.axis-header {
  padding: 8px 8px 8px 6px;
}

.grid-line-x-axis {
  margin-left: 20px;
}

.axis-card {
  width: 99%;
  height: calc(100% - 70px);
  margin: 5px;
  padding: 0px 0px 8px 0px;
  box-shadow: unset !important;
  border-radius: 0;
}

::ng-deep.default-dark-theme {
  .axis-card {
    background-color: #222628 !important;
    border: solid 1px #5e5e5e;
  }
}

::ng-deep.alternative-light-theme {
  .axis-card {
    border: solid 1px #dde2eb;
  }
}

.axis-card mat-toolbar {
  font-size: 14px;
  height: 40px;
}

::ng-deep.default-dark-theme {
  .axis-card mat-toolbar {
    background-color: #424242 !important;
  }
}

.axis-div {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 12px;
  margin-left: 30px;
}

.axis-div .mat-mini-fab {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 10px;
  vertical-align: top;
  width: 30px;
  height: 30px;
}

.axis-div .mat-mini-fab mat-icon {
  font-size: 18px;
  line-height: 18px;
}

.axis-inputs {
  padding-right: 28px;
}

.high-limits {
  padding-right: 25px;
}

.step {
  padding-right: 65px;
}

.minor-step {
  padding-right: 32px;
}

mat-form-field {
  width: 90px;
}

::ng-deep {
  .axis-container .mat-form-field-label-wrapper {
    margin: 2px 0 !important;
  }

  .default-dark-theme .axis-container .mat-mini-fab {
    background-color: #61616141 !important;
  }

  .alternative-light-theme .axis-container .mat-mini-fab {
    background: #f5f5f552 !important;
  }

  .axis-container .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .axis-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .axis-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .axis-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .axis-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .axis-container .mat-select-value {
    padding-top: 3px !important;
  }

  .axis-container .mat-select-arrow-wrapper {
    padding-top: 3px !important;
  }

  .axis-container
    .mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    line-height: 30px;
  }
}
