<mat-card
  fxLayoutGap="10px"
  fxFlex="0 0 650px"
  style="
    display: flex;
    flex-direction: column;
    position: absolute;
    height: calc(100% - 5px);
  "
  class="model-config-input-list mat-elevation-z2"
>
  <mat-toolbar class="model-config-list-header">
    <tr class="header-text">
      <th class="config-input-fields">Model Inputs</th>
      <th class="config-input-fields" style="padding-left: 238px">
        Configured
      </th>
      <th class="config-input-fields" style="padding-left: 25px">
        Force Inclusion
      </th>
      <th class="config-input-fields" style="padding-left: 25px">In Use</th>
      <th class="config-input-fields" style="padding-left: 35px">Remove</th>
    </tr>
  </mat-toolbar>
  <mat-divider style="min-width: 650px"></mat-divider>
  <ng-container *ngIf="vm$ | async as vm">
    <div
      style="
        flex-grow: 1 !important;
        overflow-y: scroll;
        height: calc(100% - 50px);
      "
    >
      <div
        fxLayout="row"
        class="row-div"
        fxLayoutAlign="space-between center"
        *ngFor="let modelInput of modelInputs"
      >
        <tr>
          <td class="tag-field" style="vertical-align: middle">
            <span class="tag-name-font">{{ modelInput?.input?.tagName }}</span
            ><br />
            <span class="tag-desc-font"
              >({{ modelInput?.input?.tagDesc }})</span
            >
          </td>
          <td class="config-field" style="vertical-align: middle">
            <button type="button" class="btn-circle btn-configured">
              <span style="color: #fff" class="custom-mini-fab-font">{{
                modelInput?.configuredCount
              }}</span>
            </button>
          </td>
          <td
            class="forced-inclusion-field"
            style="vertical-align: middle; padding-top: 5px"
          >
            <div *ngIf="modelInput.forcedInclusionCount > 0">
              <mat-icon
                style="cursor: pointer"
                (click)="forceInclude(modelInput)"
                svgIcon="atx_lock"
              >
              </mat-icon>
              <button
                type="button"
                class="btn-circle btn-force-inclusion-badge"
              >
                <span
                  class="custom-mini-fab-font btn-force-inclusion-badge-font"
                  >{{ modelInput.forcedInclusionCount }}</span
                >
              </button>
            </div>

            <mat-icon
              style="cursor: pointer"
              (click)="forceInclude(modelInput)"
              *ngIf="modelInput.forcedInclusionCount <= 0"
              svgIcon="atx_lock_open"
            ></mat-icon>
          </td>
          <td class="in-use-field" style="vertical-align: middle">
            <mat-icon
              style="padding-top: 5px"
              *ngIf="modelInput.inUseCount <= 0"
              style="color: #9e9e9e"
              >cancel</mat-icon
            >
            <button
              *ngIf="modelInput.inUseCount > 0"
              type="button"
              class="btn-circle btn-in-use"
            >
              <span style="color: #fff" class="custom-mini-fab-font">{{
                modelInput.inUseCount
              }}</span>
            </button>
          </td>
          <td style="vertical-align: middle; padding-top: 5px; cursor: pointer">
            <mat-icon
              svgIcon="atx_delete"
              (click)="removeInput(modelInput)"
            ></mat-icon>
          </td>
        </tr>
      </div>
    </div>
  </ng-container>
</mat-card>
