::ng-deep .default-dark-theme {
  .model-config-list-header {
    background-color: #424242 !important;
  }

  .config-input-fields {
    color: #ffffff !important;
  }

  .tag-name-font {
    color: #ffffff !important;
  }

  .tag-desc-font {
    color: #ffffff !important;
  }

  .configured-font {
    color: #000000 !important;
  }

  .btn-force-inclusion-badge {
    box-shadow: 0 0 1px 1px #ffffff !important;
  }
  .btn-force-inclusion-badge-font {
    color: #ffffff !important;
  }
}
.model-config-list-header {
  font-size: 12px;
  height: 40px;
  width: 100%;
  font-weight: 500;
  padding: 0;
  background-color: #ffffff;
}

.model-config-input-list.mat-card {
  padding: 0px;
  border-radius: 0px;
}

.config-input-fields {
  color: #757575;
}

.header-text {
  padding-left: 15px;
}

.row-div {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 16px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);
}

// .row-div:last-child {
//   border-bottom: 0px;
// }

.tag-field {
  width: 265px;
  padding-right: 60px;
}
.config-field {
  min-width: 95px;
}
.forced-inclusion-field {
  min-width: 85px;
}
.in-use-field {
  min-width: 73px;
}

.tag-name-font {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
  line-height: 14px;
}
.tag-desc-font {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  line-height: 14px;
}

.btn-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 0px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}

.custom-mini-fab-font {
  font-size: 12px;
  font-weight: 800;
  line-height: 14px;
  margin: auto -5px;
}

.btn-force-inclusion-badge {
  background-color: transparent;
  box-shadow: 0 0 1px 1px #000000;
  position: relative;
  bottom: 20px;
  right: 6px;
}

.btn-force-inclusion-badge-font {
  color: #000000;
}

.btn-configured {
  background-color: #039be5;
  box-shadow: 0 0 1px 1px #039be5;
}

.btn-in-use {
  background-color: #008000;
  box-shadow: 0 0 1px 1px #008000;
}
