<h3 mat-dialog-title>Unsaved Changes</h3>
<mat-dialog-content>
  You have unsaved changes. Are you sure you want to continue? <br /><br />This
  action cannot be undone.
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="accent" cdkFocusInitial (click)="onContinue()">
    Continue
  </button>
</div>
