<ng-container>
  <div class="roles-details-tabs-container">
    <div style="height: 100px">
      <form [formGroup]="roleDetailsTabsForm">
        <mat-form-field
          appearance="fill"
          color="accent"
          class="role-name-input"
        >
          <mat-label>Role Name</mat-label>
          <input
            title="roleName"
            matInput
            formControlName="roleName"
            autocomplete="off"
          />
        </mat-form-field>
        <ng-container *ngIf="(nameIsDirty === true) === true">
          <span><i class="material-icons">pending</i></span>
        </ng-container>
      </form>
    </div>
    <div class="role-details-tabs-group">
      <mat-tab-group
        animationDuration="0ms"
        color="accent"
        [(selectedIndex)]="selectedIndex"
      >
        <ng-container *ngIf="this.selectedRole?.RoleType !== 'Asset'">
          <mat-tab>
            <ng-template mat-tab-label
              >Application Permissions<ng-container
                *ngIf="appPermsIsDirty === true"
              >
                <span><i class="material-icons">pending</i></span>
              </ng-container></ng-template
            >
            <ng-template matTabContent>
              <atx-user-admin-role-app-perms
                [isLoading]="isLoading"
                [selectedRole]="selectedRole"
                [allResourcePermissions]="allResourcePermissions"
              ></atx-user-admin-role-app-perms>
            </ng-template>
          </mat-tab>
        </ng-container>
        <ng-container *ngIf="this.selectedRole?.RoleType !== 'Application'">
          <mat-tab>
            <ng-template mat-tab-label
              >Asset Permissions<ng-container
                *ngIf="assetPermsIsDirty === true"
              >
                <span><i class="material-icons">pending</i></span>
              </ng-container></ng-template
            >
            <ng-template matTabContent>
              <atx-user-admin-role-asset-perms
                [isLoading]="isLoading"
                [selectedRole]="selectedRole"
                [selectedCustomer]="selectedCustomer"
                [assets]="assets"
                [assetPermissions]="assetPermissions"
                (assetTreeTableStateChange)="
                  assetTreeTableStateChange.emit($event)
                "
              ></atx-user-admin-role-asset-perms>
            </ng-template>
          </mat-tab>
        </ng-container>
        <ng-container>
          <mat-tab label="Membership">
            <ng-template mat-tab-label
              >Membership<ng-container *ngIf="membershipIsDirty === true">
                <span><i class="material-icons">pending</i></span>
              </ng-container></ng-template
            >
            <ng-template matTabContent>
              <atx-user-admin-role-members
                [isLoading]="isLoading"
                [availableMembers]="users"
                [selectedRole]="selectedRole"
                [filteredMembers]="filteredMembers"
              ></atx-user-admin-role-members>
            </ng-template>
          </mat-tab>
        </ng-container>
        <ng-container *ngIf="selectedRole && isRoleShareable">
          <mat-tab label="Sharing">
            <ng-template mat-tab-label
              >Sharing<ng-container *ngIf="sharingIsDirty === true">
                <span><i class="material-icons">pending</i></span>
              </ng-container></ng-template
            >
            <ng-template matTabContent>
              <atx-user-admin-role-sharing
                [isLoading]="isLoading"
                [availableCustomers]="availableCustomers"
                [selectedRole]="selectedRole"
                [filteredCustomers]="filteredCustomers"
              ></atx-user-admin-role-sharing>
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
