.roles-details-tabs-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

::ng-deep .mat-tab-body-content {
  height: 100% !important;
  overflow: hidden !important;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100% !important;
}

.role-name-input {
  width: 300px;
  margin: 12px;
}

i.material-icons {
  color: #e7ab24 !important;
  font-size: 18px;
  padding-top: 4px;
  padding-left: 4px;
}
