// input[type='time']::-webkit-calendar-picker-indicator {
//   background: none;
// }

.chart-container {
  height: 100%;
  box-sizing: border-box;
}
.table-container {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.radio-group-container {
  margin: 12px 20px;
}

.radio-group-container > span {
  padding-bottom: 10px;
}

.time-field {
  width: 120px;
}
.date-field {
  width: 150px;
  margin-right: 16px;
}
.date-time-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.color-dark {
  color: #ffffff;
}

.exit-text {
  font-size: 12px;
  font-style: italic;
}

.input-field {
  flex: 5;
  max-width: 350px;
  margin-right: 16px;
}

.opmode-menu-content {
  padding: 16px;
  border-radius: 4px;
  &--dark {
    background-color: #424242;
  }
  &--light {
    background-color: #ffffff;
  }
}

.opmode-menu {
  position: absolute;

  &--dark {
    background-color: #303030;
    color: #ffffff;
  }
  &--light {
    background-color: #e0e0e0;
  }

  z-index: 1000;
  padding: 4px;
  width: 70%;
  max-width: 700px;
  min-width: fit-content;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
  }
  &_subheader {
    font-size: 12px;
    margin-bottom: 16px;
  }
  &_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &_handle {
    padding: 8px;
  }
  &_footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &_footer {
    display: flex;
    justify-content: space-between;
    &-btns {
    }
  }
}

::ng-deep {
  .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 10px 10px 0px !important;
  }

  .rectBounds {
    cursor: pointer !important;
  }
  .default-dark-theme ~ div.highcharts-tooltip-container .tooltip {
    background: #303030;
  }

  .alternative-light-theme ~ div.highcharts-tooltip-container .tooltip {
    background: #ffffff;
  }

  .default-dark-theme .radio-group-container {
    color: white !important;
  }
}

.btn-group {
  right: 0;
  text-align: right;
  height: 34px;
  box-sizing: border-box;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.btn-group > span {
  cursor: pointer;
}

.loading {
  height: 100%;
}

mat-progress-spinner {
  margin: 0 auto;
}
