<!-- Create Op Mode Menu -->
<div style="position: relative" *ngIf="showOpModeMenu">
  <div
    class="opmode-menu"
    cdkDrag
    cdkDragBoundary=".mat-drawer-content"
    [cdkDragFreeDragPosition]="dragPosition"
    [ngClass]="{
      'opmode-menu--dark': theme === 'dark',
      'opmode-menu--light': theme === 'light'
    }"
  >
    <div
      class="opmode-menu-content"
      [ngClass]="{
        'opmode-menu-content--dark': theme === 'dark',
        'opmode-menu-content--light': theme === 'light'
      }"
    >
      <div class="opmode-menu_header">
        <div class="opmode-menu_title">
          Quick Create Exclusion Period Op Mode
        </div>
        <div cdkDragHandle class="opmode-menu_handle">
          <mat-icon>open_with</mat-icon>
        </div>
      </div>
      <div class="opmode-menu_subheader">
        Hold down 'Ctrl' while clicking and dragging across the trend to select
        your start and end times.
      </div>
      <div class="opmode-menu_row">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Title</mat-label>
          <input matInput [formControl]="titleControl" />
        </mat-form-field>

        <form [formGroup]="startGroup" class="date-time-container">
          <mat-form-field appearance="fill" class="date-field">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              tabindex="-1"
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="time-field">
            <mat-label>Start Time</mat-label>
            <input type="time" matInput formControlName="time" />
          </mat-form-field>
        </form>
      </div>
      <div class="opmode-menu_row">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Select Associations</mat-label>
          <mat-select
            [formControl]="associationControl"
            name="associations"
            multiple
          >
            <p
              style="margin-left: 8px"
              [ngClass]="{ 'color-dark': theme === 'dark' }"
            >
              Assets: (Includes descendents)
            </p>
            <mat-option
              *ngFor="let association of associationsAssets"
              [value]="association"
              >{{ association.tagName ?? association.assetAbbrev }}</mat-option
            >
            <p
              style="margin-left: 8px"
              [ngClass]="{ 'color-dark': theme === 'dark' }"
            >
              Tags:
            </p>
            <mat-option
              *ngFor="let association of associationsTags"
              [value]="association"
              >{{
                association.tagName
                  ? association.tagName + ': ' + association.tagDesc
                  : association.assetAbbrev
              }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <form [formGroup]="endGroup" class="date-time-container">
          <mat-form-field appearance="fill" class="date-field">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              tabindex="-1"
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="time-field">
            <mat-label>End Time</mat-label>
            <input type="time" matInput formControlName="time" />
          </mat-form-field>
        </form>
      </div>
      <div class="opmode-menu_footer-top" *ngIf="newOpMode | async">
        <div>Op Mode Created Successfully!</div>
        <div class="exit-text">Close the window or create another op mode.</div>
      </div>
      <div class="opmode-menu_footer">
        <div *ngIf="newOpMode | async; else emptyDiv">
          <button mat-raised-button (click)="goToNewOpMode()" color="primary">
            Go To Op Mode
          </button>
        </div>
        <ng-template #emptyDiv>
          <div></div>
        </ng-template>
        <div class="opmode-menu_footer-btns">
          <button mat-button (click)="onToggleOpModeMenu()">
            {{ (newOpMode | async) ? 'Close' : 'Cancel' }}
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="
              associationControl.invalid ||
              titleControl.invalid ||
              endGroup.invalid ||
              startGroup.invalid
            "
            (click)="onCreateOpMode()"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chart Toggles -->
<div class="btn-group">
  <button
    mat-icon-button
    *ngIf="showCreateOpModeIcon"
    matTooltip="Create Exclusion Period Op Mode"
    (click)="onToggleOpModeMenu()"
  >
    <mat-icon class="material-icons-outlined">hide_image</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="showToggle"
    matTooltip="Toggle Chart Legend Labels"
    [matMenuTriggerFor]="chartLegendMenu"
  >
    <mat-icon fontSet="material-icons-outlined">vpn_key </mat-icon>
  </button>
  <mat-menu #chartLegendMenu="matMenu">
    <div
      class="radio-group-container"
      fxLayout="column"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
    >
      <span>Legend Label Display:</span>
      <mat-radio-group
        fxLayout="column"
        fxLayoutGap="10px grid"
        [value]="trend?.labelIndex"
        (change)="changeLabels($event.value)"
      >
        <ng-container *ngIf="trendDisplayType !== 'table'">
          <ng-container *ngFor="let labelDisplayIndex of labelDisplays">
            <mat-radio-button
              [value]="labelDisplayIndex"
              [checked]="labelDisplayIndex === trend?.labelIndex"
            >
              {{ labelDisplayNames[labelDisplayIndex] }}</mat-radio-button
            >
          </ng-container>
        </ng-container>
        <ng-container *ngIf="trendDisplayType === 'table'">
          <ng-container *ngFor="let labelDisplayIndex of labelDisplays">
            <ng-container *ngIf="labelDisplayIndex !== 5">
              <mat-radio-button
                [value]="labelDisplayIndex"
                [checked]="
                  labelDisplayIndex === trend?.labelIndex ||
                  (labelDisplayIndex === 0 && trend?.labelIndex === 5)
                "
              >
                {{ labelDisplayNames[labelDisplayIndex] }}</mat-radio-button
              >
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-radio-group>
    </div>
  </mat-menu>
  <button
    mat-icon-button
    class="chart-data-cursor"
    *ngIf="showDataCursorToggle && trendDisplayType !== 'table'"
    (click)="dataCursorToggle()"
    [matTooltip]="
      trend.showDataCursor !== false ? 'Hide Data Cursor' : 'Show Data Cursor'
    "
  >
    <ng-container *ngIf="trend.showDataCursor; else hideDataCursor">
      <mat-icon>summarize</mat-icon>
    </ng-container>
    <ng-template #hideDataCursor>
      <mat-icon style="color: #acacac" class="material-icons-outlined">
        summarize
      </mat-icon>
    </ng-template>
  </button>
  <button
    mat-icon-button
    (click)="editChart()"
    *ngIf="showEditChart"
    matTooltip="Edit Chart"
  >
    <mat-icon>trending_up</mat-icon>
  </button>
</div>

<!-- Chart Plot -->
<div
  [ngClass]="
    trendDisplayType !== 'table' ? 'chart-container' : 'table-container'
  "
>
  <div
    class="loading"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="loading; else loaded"
  >
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
    <b>Loading Data</b>
  </div>
  <ng-template #loaded>
    <highcharts-chart
      *ngIf="chartConfiguration && trendDisplayType === 'chart'"
      [Highcharts]="highcharts"
      [options]="chartConfiguration"
      [(update)]="updateChart"
      [oneToOne]="chartOneToOne"
      class="chartComponentContent"
      [ngClass]="trend?.id ? 'chart-' + trend.id : ''"
    >
    </highcharts-chart>
    <atx-table-display
      *ngIf="trendDisplayType === 'table'"
      [trend]="trend"
      [isGroupedSeries]="isGroupedSeries"
      [theme]="theme"
    ></atx-table-display>
    <img
      *ngIf="trendDisplayType === 'image'"
      [src]="imagePath"
      class="chartComponentContent"
    />
    <div *ngIf="trendDisplayType === ''" class="chartComponentContent">
      No data to display.
    </div>
    <div *ngIf="trendDisplayType === 'multi'" class="chartComponentContent">
      <atx-bar-chart-display
        [trend]="trend"
        [theme]="theme"
        (updateLimits)="updateLimits($event)"
        (resetLimits)="resetLimits($event)"
      ></atx-bar-chart-display>
    </div>
  </ng-template>
</div>
