<ng-container *ngIf="tagConfigViewModel$ | async as vm">
  <mat-drawer-container class="tags-container">
    <div class="tag-grid-container">
      <div class="tagconfig-title">
        <span
          >Tags<mat-icon
            matTooltip="Tags define data that is streaming into Prometheus APM and outputs of the calculation engine.  Select the server to create and edit tags directly or paste bulk data into the grid using 'Ctrl+V'.  Visit Support to learn more."
            >help_outline</mat-icon
          >
          <span *ngIf="vm.isServerSelected">
            <button
              #addTagButton
              matTooltip="Add New Tag"
              mat-icon-button
              data-cy="addTag"
              (click)="addTag()"
              [disabled]="vm.tagsDataAvailable === 'loading'"
            >
              <mat-icon class="mat-icon-full">add_circle</mat-icon>
            </button>
            <button
              #copyTagsButton
              matTooltip="Copy to Clipboard"
              mat-icon-button
              data-cy="copyTags"
              (click)="copyTags()"
              [disabled]="vm.tagsDataAvailable === 'loading'"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
            <button
              #pasteTagsButton
              matTooltip="Bulk Load Tags"
              mat-icon-button
              data-cy="pasteTags"
              [disabled]="vm.tagsDataAvailable === 'loading'"
              (click)="onPasteClick()"
            >
              <mat-icon>content_paste</mat-icon>
            </button>
            <button
              #undoButton
              matTooltip="Undo Changes"
              mat-icon-button
              data-cy="undoTagChanges"
              [disabled]="!vm.isDirty"
              (click)="undo()"
            >
              <mat-icon>undo</mat-icon>
            </button>
            <button
              #saveButton
              matTooltip="Save Changes"
              data-cy="saveTagChanges"
              mat-icon-button
              [disabled]="!vm.isDirty"
              (click)="save()"
            >
              <mat-icon>save</mat-icon>
            </button>
            <mat-checkbox
              [disabled]="vm.tagsDataAvailable === 'loading'"
              [ngModel]="vm.showDeletedTags"
              (change)="showDeletedTagsChange($event)"
              class="tagconfig-title-show-deleted"
              >Show Deleted Tags
            </mat-checkbox>
          </span>
        </span>
        <span
          class="material-icons"
          *ngIf="!isTagConfigExpanded"
          (click)="expand()"
        >
          chevron_left
        </span>
        <span
          class="material-icons"
          *ngIf="isTagConfigExpanded"
          (click)="collapse()"
        >
          chevron_right
        </span>
      </div>

      <mat-card
        class="tag-header"
        [ngClass]="{
          'tag-header-bg-dark': vm.theme === 'dark',
          'tag-header-bg-light': vm.theme === 'light'
        }"
      >
        <div class="header-left">
          <span
            style="top: 8px; left: 9px; position: absolute"
            *ngIf="vm.tagFilters.length === 0"
          >
            <mat-icon>filter_alt_outline</mat-icon>
          </span>
          <button
            matTooltip="Clear Filters"
            class="maticon-button"
            mat-icon-button
            *ngIf="vm.tagFilters.length > 0"
            (click)="clearFilters()"
          >
            <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
          </button>
          <mat-chip-list #chipList aria-label="Filters">
            <mat-chip
              *ngFor="let filter of vm.tagFilters"
              [removable]="filter.Removable"
              (removed)="removeFilter(filter)"
            >
              {{ filter.DisplayName }}
              <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="header-right">
          <span data-cy="totalTags"> Total Rows: {{ vm.totalTags }}</span>
          <button
            #refreshButton
            matTooltip="Refresh View"
            mat-icon-button
            (click)="refresh()"
            data-cy="refreshTagGridBtn"
            [disabled]="vm.tagsDataAvailable === 'loading'"
          >
            <mat-icon class="mat-icon-full">refresh</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Toggle Filter Row"
            (click)="toggleFloatingFilter()"
            data-cy="toggleTagsFilterButton"
            [disabled]="vm.tagsDataAvailable === 'loading'"
          >
            <mat-icon>filter_list</mat-icon>
          </button>
          <button
            matTooltip="Copy to Clipboard"
            mat-icon-button
            data-cy="downloadTagGridBtn"
            (click)="copyTags()"
            [disabled]="vm.tagsDataAvailable === 'loading'"
          >
            <mat-icon>save_alt</mat-icon>
          </button>
        </div>
      </mat-card>

      <div class="tag-body" #gridBody>
        <ag-grid-angular
          class="ag-grid-formats"
          [ngClass]="
            vm.theme === 'light'
              ? 'ag-theme-alpine'
              : vm.theme === 'dark'
              ? 'ag-theme-alpine-dark'
              : 'ag-theme-alpine-dark'
          "
          [modules]="modules"
          [gridOptions]="gridOptions"
        ></ag-grid-angular>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>
