.tags-container {
  height: 100%;
  width: 100%;
  flex: 1;
}

.tag-grid-container {
  height: 100%;
  width: 100%;
  flex: 1;
  padding-right: 10px;
}

.tag-body {
  overflow: hidden;
  height: calc(100% - 133px);
}

.tagconfig-title {
  padding: 5px;
  margin-right: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.tagconfig-title mat-icon {
  font-size: 25px;
  margin-right: 6px;
}

.tagconfig-title-show-deleted {
  font-size: 14px;
  margin-left: 30px;
}

mat-form-field {
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.tag-buttons {
  height: 40px;
}

.ag-grid-formats {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}

.server-selector {
  width: 100%;
}

button,
mat-checkbox {
  margin: 0 5px;
}

.material-icons {
  cursor: pointer;
}

::ng-deep {
  .tab-ag-grid-container .ag-cell {
    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
    -moz-user-select: text !important; /* Old versions of Firefox */
    -ms-user-select: text !important; /* Internet Explorer/Edge */
    user-select: text !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  .tab-ag-grid-container .ag-cell::selection {
    user-select: none !important;
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  .rag-amber {
    background-color: lightsalmon;
  }
}

.tag-header {
  display: flex;
  padding: 0;
  height: 35px;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
}

.tag-header-bg-dark {
  background-color: #222628;
}

.tag-header-bg-light {
  background-color: #fff;
  border: solid 1px rgba(186, 191, 199, 0.8);
}

.header-left {
  margin: 5px;
  float: left;
  display: flex;
}

.header-right {
  height: 30px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
  top: 5px;
}

.mat-standard-chip {
  min-height: 24px !important;
  font-size: 12px;
}
