<div
  class="toolbar-container"
  *ngIf="selectedElement$ | async as selectedElement"
>
  <mat-divider></mat-divider>
  <div class="toolbar-header">Content Toolbar</div>
  <button mat-flat-button class="toolbar-button" (click)="onCreateSection()">
    <mat-icon>task</mat-icon>
    Add Section
  </button>
  <button
    mat-flat-button
    class="toolbar-button"
    [disabled]="!selectedElement.Kind || selectedElement.Kind === 'View'"
    (click)="onCreateTableOrChart('Chart')"
  >
    <mat-icon>equalizer</mat-icon>
    Add Chart
  </button>
  <button
    mat-flat-button
    class="toolbar-button"
    (click)="onCreateGaugeOrKPI('Gauge')"
    [disabled]="!selectedElement.Kind || selectedElement.Kind === 'View'"
  >
    <mat-icon>speed</mat-icon>
    Add Gauge
  </button>
  <button
    mat-flat-button
    class="toolbar-button"
    [disabled]="!selectedElement.Kind || selectedElement.Kind === 'View'"
    (click)="onCreateTableOrChart('Table')"
  >
    <mat-icon>table_chart</mat-icon>
    Add Table
  </button>
  <button
    mat-flat-button
    class="toolbar-button"
    [disabled]="!selectedElement.Kind || selectedElement.Kind === 'View'"
    (click)="onCreateGaugeOrKPI('KPI')"
  >
    <mat-icon>query_stats</mat-icon>
    Add KPI
  </button>
  <button
    mat-flat-button
    class="toolbar-button"
    [disabled]="!selectedElement.Kind || selectedElement.Kind === 'View'"
    (click)="onCreateTextbox()"
  >
    <mat-icon>format_size</mat-icon>
    Add Text
  </button>
</div>
