.toolbar-container {
  margin-bottom: 20px;
  padding: 2px;
}
.toolbar-header {
  margin: 8px 0px 0px 4px;
  font-weight: 500;
  font-size: large;
}

.toolbar-button {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  & mat-icon {
    margin-right: 8px;
  }
}
