<mat-form-field appearance="fill" color="accent">
  <mat-label>Date</mat-label>
  <input matInput [matDatepicker]="timeSpanDatePicker" autocomplete="off" />
  <mat-datepicker-toggle
    matSuffix
    tabindex="-1"
    [for]="timeSpanDatePicker"
  ></mat-datepicker-toggle>
  <mat-datepicker #timeSpanDatePicker></mat-datepicker>
</mat-form-field>
