<mat-card
  class="widgetKind mat-elevation-z2"
  [ngSwitch]="widget?.Kind"
  *ngIf="{ element: selectedElement$ | async } as selected"
  [ngClass]="{
    'dashboard-selected-element':
      selected.element && selected.element.WidgetID === widget.WidgetID,
    relative: true
  }"
  (click)="onSelectElement($event)"
>
  <atx-widget-chart
    *ngSwitchCase="'Chart'"
    [widget]="widget"
    [theme]="theme"
    class="widget"
  ></atx-widget-chart>
  <atx-widget-table
    *ngSwitchCase="'Table'"
    [theme]="theme"
    [widget]="widget"
    class="widget"
  ></atx-widget-table>
  <atx-widget-fixed-chart
    *ngSwitchCase="'FixedChart'"
    [widget]="widget"
    class="widget"
  ></atx-widget-fixed-chart>
  <atx-widget-gauge
    *ngSwitchCase="'Gauge'"
    [widget]="widget"
    class="widget"
  ></atx-widget-gauge>
  <atx-widget-kpi
    *ngSwitchCase="'KPI'"
    [widget]="widget"
    class="widget"
  ></atx-widget-kpi>
  <atx-widget-text
    *ngSwitchCase="'Text'"
    [widget]="widget"
    class="widget"
  ></atx-widget-text>
</mat-card>
