:host {
  height: 100%;
  position: relative;
}

mat-card {
  height: 98%;
  padding: 0 !important;
  margin: 4px !important;
}

.widgetKind {
  display: block;
  min-width: 200px;
}
// .widgetKind:hover {
//   box-shadow: 2px 2px 5px 2px #b91717;
// }

.widget {
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.Chart {
  position: relative;
}

.Table {
  position: relative;
  overflow: auto;
}

.FixedChart {
  position: relative;
}

.Gauge {
  position: relative;
}

.KPI {
  position: relative;
}

.Text {
  position: relative;
}
.dashboard-selected-element {
  box-shadow: 0px 0px 3px 2px #b91717;
}
.relative {
  position: relative;
}
