.alert-notification-dialog-container {
  height: 100%;
}

.alert-notification-label {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 15%;
}

.alert-notification-value {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 85%;
}

.alert-notification-label-tooltip-icon {
  scale: 0.6;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.alert-notification-frequency-input {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 15px;
  width: 30px;
  padding: 2px;
  text-align: center;
}

.alert-notification-subscribed {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 6px;
}

.alert-notification-show-group-members {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 6px;
  cursor: pointer;
}

::ng-deep {
  .alert-notification-group-tooltip {
    white-space: pre-line !important;
  }
  .alert-notification-dialog-container .mat-form-field-infix {
    border-top: 4px solid transparent !important;
    padding-top: 0 !important;
  }
}
