<div
  class="alert-notification-dialog-container"
  *ngIf="alertNotificationViewModel$ | async as vm"
>
  <mat-dialog-content>
    <div class="flex-col">
      <h3 class="mt-0">Configure Alert Notification</h3>
    </div>
    <div>
      <div>
        <span class="alert-notification-label">Alert Type:</span>
        <span
          class="alert-notification-value"
          data-cy="alertNotifAlertTypeValue"
          >{{ vm.alertStatusTypeName }}</span
        >
      </div>
      <div>
        <span class="alert-notification-label">Model:</span>
        <span class="alert-notification-value" data-cy="alertNotifModelName">{{
          vm.modelName
        }}</span>
      </div>
      <div>
        <span class="alert-notification-label">Tag:</span>
        <span class="alert-notification-value" data-cy="alertNotifTag"
          >{{ vm.tagName }} <span *ngIf="vm?.tagName">&nbsp;:&nbsp;</span>
          {{ vm.tagDescription }}</span
        >
      </div>
      <div>
        <span class="alert-notification-label">Asset:</span>
        <span class="alert-notification-value" data-cy="alertNotifAsset">{{
          vm.assetPath
        }}</span>
      </div>
      <mat-divider style="margin-top: 5px"></mat-divider>
    </div>
    <div>
      <mat-card class="drop-shadow-md mt-2">
        <div>
          <mat-label class="font-bold text-base">Subscribed Users</mat-label>
        </div>
        <div>
          <mat-form-field appearance="fill" color="accent" class="w-full">
            <mat-label>Users</mat-label>
            <mat-chip-list #chipRecipientList aria-label="User selection">
              <mat-chip
                *ngFor="let user of vm.recipients"
                [selectable]="true"
                [removable]="true"
                [matTooltip]="getTooltipMessage(user)"
                matTooltipClass="alert-notification-group-tooltip"
                (removed)="removeUser(user)"
              >
                <ng-container *ngIf="!user.IsGroup; else groupMembers"
                  ><mat-icon
                    *ngIf="!user.IsSubscribed"
                    class="material-icons-outlined alert-notification-subscribed"
                    >contactless</mat-icon
                  >
                  <mat-icon
                    *ngIf="user.IsSubscribed && !user.IsGroup"
                    class="alert-notification-subscribed"
                    color="accent"
                    >contactless</mat-icon
                  >
                </ng-container>
                <ng-template #groupMembers>
                  <mat-icon
                    class="material-icons-outlined alert-notification-show-group-members"
                    (click)="showGroupMembers(user)"
                    >add_circle_outline</mat-icon
                  >
                </ng-template>
                {{ user.FriendlyName }}
                <mat-icon matChipRemove data-cy="removeUser">cancel</mat-icon>
              </mat-chip>
              <input
                #usersInput
                placeholder="Add User..."
                [formControl]="usersInputCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipRecipientList"
                (matChipInputTokenEnd)="addUser($event)"
                (focus)="loadUsers()"
                class="text-sm"
                [tabIndex]="-1"
                data-cy="alertNotifAddUsers"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selectUser($event)"
            >
              <mat-option *ngFor="let user of vm.filteredUsers" [value]="user">
                {{ user.FriendlyName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-card>

      <mat-card class="drop-shadow-md my-2">
        <div>
          <mat-label class="font-bold text-base"
            >Notification Content</mat-label
          >
        </div>
        <div>
          <div class="w-full flex">
            <mat-label class="font-bold text-sm">Default Message</mat-label>
          </div>
          <mat-form-field appearance="fill" color="accent" class="w-full">
            <textarea
              [formControl]="defaultMessageCtrl"
              class="text-sm"
              matInput
              rows="3"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="3"
              cdkTextareaAutosize
              readonly="true"
            ></textarea>
          </mat-form-field>
        </div>
        <div>
          <div class="w-full flex items-center">
            <mat-label class="font-bold text-sm">Custom Message</mat-label>
            <mat-icon
              class="ml-1"
              matTooltip="You can use string parameters to represent model information. These are {Actual}, {Expected}, {Upper}, {Lower}, {DataDateTime}."
              >help_outline</mat-icon
            >
          </div>
          <mat-form-field appearance="fill" color="accent" class="w-full">
            <textarea
              [formControl]="customMessageCtrl"
              class="text-sm"
              matInput
              rows="3"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="3"
              cdkTextareaAutosize
              data-cy="alertNotifCustomMsg"
            ></textarea>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div class="flex flex-row">
      <div>
        <div class="flex flex-row">
          <span class="text-sm font-bold">
            Limit notification frequency once every &nbsp;
          </span>
          <div>
            <input
              class="text-xs font-bold alert-notification-frequency-input"
              [formControl]="frequencyFormCtrl"
              [style.border-color]="frequencyFormCtrl.invalid ? 'red' : ''"
            />
          </div>
          <span class="text-sm font-bold"> &nbsp; hours </span>
        </div>
      </div>
    </div>
    <div *ngIf="(selectedModel$ | async)?.isDirty">
      <span class="italic text-sm" style="color: #ff0000"
        >Changes to the Notification State will be reflected on screen after you
        save or refresh the model.</span
      >
    </div>
    <div *ngIf="isMultiModel">
      <span class="italic text-sm" style="color: #ff0000"
        >Changes to the Notification State will be reflected on screen after you
        refresh the model.</span
      >
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close autofocus>Cancel</button>
    <button
      mat-flat-button
      color="accent"
      [disabled]="frequencyFormCtrl.invalid || (vm?.recipientCount ?? 0) <= 0"
      (click)="saveAlertNotification()"
      data-cy="saveNotificationBtn"
    >
      Save Notification
    </button>
    <button
      mat-flat-button
      color="accent"
      [disabled]="
        vm.alertNotificationId === '-1' || (vm?.recipientCount ?? 0) <= 0
      "
      (click)="deleteAlertNotification()"
      data-cy="deteNotificationBtn"
    >
      Delete Notification
    </button>
  </mat-dialog-actions>
</div>
