.attachments-tab-container {
  height: 100%;
}

.attachments-container {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 5px 5px 10px 5px;
}

.attachments-grid-container {
  height: 100%;
}

.attachments-title {
  padding: 5px;
  margin-right: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
}

.attachments-title mat-icon {
  font-size: 25px;
  margin-right: 6px;
}

.attachments-menu {
  display: flex;
  padding: 0;
  height: 35px;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
}

.attachments-menu-bg-dark {
  background-color: #222628;
}

.attachments-menu-bg-light {
  background-color: #fff;
  border: solid 1px rgba(186, 191, 199, 0.8);
}

.attachments-body {
  overflow: hidden;
  height: calc(100% - 142px);
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.header-left {
  margin: 5px;
  float: left;
  display: flex;
}

.header-right {
  height: 30px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
  top: 5px;
}

.mat-standard-chip {
  min-height: 24px !important;
  font-size: 12px;
}

.material-icons {
  cursor: pointer;
}

.ag-grid-formats {
  font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
  height: 100%;
}

::ng-deep {
  .attachments-body .ag-cell {
    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
    -moz-user-select: text !important; /* Old versions of Firefox */
    -ms-user-select: text !important; /* Internet Explorer/Edge */
    user-select: text !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  .attachments-body .ag-cell::selection {
    user-select: none !important;
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important; /* Old versions of Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  .collapsed .header-right {
    display: none;
  }

  .ag-theme-alpine-dark button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-theme-alpine button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-header-cell {
    padding: 0px 5px 0px 10px !important;
  }

  .icon-only .ag-header-cell-label img {
    width: auto;
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    color: #80cbc4 !important;
  }

  .ag-side-bar-right .ag-selected .ag-side-button-button {
    border-left-color: #80cbc4 !important;
  }

  .icon-only .ag-header-cell-text {
    display: none;
  }

  .number-column {
    text-align: center;
  }

  .lower-limit-cell {
    text-align: right;
    height: 92%;
    margin-top: 1px;
    border-radius: 4px;
  }

  .upper-limit-cell {
    text-align: right;
    height: 92%;
    margin-top: 1px;
    border-radius: 4px;
  }

  .ag-theme-alpine {
    .lower-limit-cell {
      background-color: #e2bd68;
    }

    .upper-limit-cell {
      background-color: #e2bd68;
    }

    .ag-header-cell-text {
      color: #303030 !important;
    }

    .ag-row-odd {
      background: #f6f6f6;
    }

    .ag-row-selected {
      background-color: #80cbc4 !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: #80cbc430 !important;
    }

    .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
      height: 30px !important;
    }

    .ag-side-bar {
      background: #fafafa !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .lower-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .upper-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .ag-row-selected {
      background-color: #80cbc4 !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: #80cbc420 !important;
    }

    .ag-side-buttons {
      padding-top: 12px;
      //background-color: #303030;
    }
  }

  .ag-side-button-label {
    display: none;
  }
  .ag-theme-alpine-dark .ag-side-button-button,
  .ag-theme-alpine .ag-side-button-button {
    padding: 0;
    margin: 0;
    min-height: 30px;
  }
  .ag-side-button {
    height: 30px;
    margin: 2px 0;
  }
  .ag-column-drop-horizontal {
    height: 30px !important;
  }
  .ag-header-row {
    height: 30px !important;
  }

  .attachments-body *:not([row-id^='detail']).ag-row {
    height: 30px !important;
  }

  .ag-cell {
    line-height: 26px !important;
  }

  .ag-details-row {
    padding: 10px !important;
    height: 100% !important;
  }

  .ag-icon-my-views,
  .ag-icon-column,
  .ag-icon-filters {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }
}
