<ng-container *ngIf="attachmentsViewModel$ | async as vm">
  <div class="attachments-tab-container">
    <mat-drawer-container class="attachments-container">
      <div class="attachments-grid-container">
        <div class="attachments-title" #menuBar>
          <span>
            Attachments<mat-icon
              matTooltip="Attach images and files to assets. These are currently accessible in Performance Analyst. Max file size is 100MB."
              >help_outline</mat-icon
            >
            <input
              hidden
              type="file"
              #createAttachmentUploader
              (click)="createAttachmentUploader.value = ''"
            />
            <button
              matTooltip="Add new attachment"
              mat-icon-button
              data-cy="addAttachmentBtn"
              aria-hidden="false"
              aria-label="Add new attachment"
              [disabled]="
                (selectedAssetObject$ | async) === null ||
                (selectedAssetObject$ | async).AssetGuid === null
              "
              (click)="createAttachmentUploader.click()"
            >
              <mat-icon class="mat-icon-full">add_circle</mat-icon>
            </button>
            <input
              hidden
              type="file"
              #updateAttachmentUploader
              (click)="updateAttachmentUploader.value = ''"
            />
            <button
              matTooltip="Edit"
              mat-icon-button
              data-cy="editAttachmentBtn"
              aria-hidden="false"
              aria-label="Edit attachment"
              [disabled]="selectedAttachments.length !== 1"
              (click)="updateAttachmentUploader.click()"
            >
              <mat-icon class="mat-icon-full">edit</mat-icon>
            </button>
            <button
              matTooltip="Delete"
              mat-icon-button
              data-cy="deleteAttachmentsBtn"
              aria-hidden="false"
              aria-label="Delete attachments"
              [disabled]="selectedAttachments.length === 0"
              (click)="onDeleteClick()"
            >
              <mat-icon class="mat-icon-full">delete</mat-icon>
            </button>
          </span>
        </div>

        <mat-card
          class="attachments-menu"
          [ngClass]="{
            'attachments-menu-bg-dark': vm.theme === 'dark',
            'attachments-menu-bg-light': vm.theme === 'light'
          }"
        >
          <div class="header-left">
            <span
              style="top: 8px; left: 9px; position: absolute"
              *ngIf="vm.attachmentFilters.length === 0"
            >
              <mat-icon>filter_alt_outline</mat-icon>
            </span>
            <button
              matTooltip="Clear Filters"
              class="mat-icon-button"
              *ngIf="vm.attachmentFilters.length > 0"
              (click)="clearFilters()"
            >
              <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
            </button>
            <mat-chip-list aria-label="Filters">
              <mat-chip
                *ngFor="let filter of vm.attachmentFilters"
                [removable]="filter.Removable"
                (removed)="removeFilter(filter)"
              >
                {{ filter.DisplayName }}
                <mat-icon matChipRemove *ngIf="filter.Removable"
                  >cancel</mat-icon
                >
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="header-right">
            <span data-cy="totalAttachments">
              Total Rows: {{ vm.totalAttachments }}
            </span>
            <button
              matTooltip="Refresh View"
              mat-icon-button
              data-cy="refreshAttachmentsGridBtn"
              (click)="refresh()"
            >
              <mat-icon class="mat-icon-full">refresh</mat-icon>
            </button>
            <button
              matToolTip="Toggle Filter Row"
              mat-icon-button
              data-cy="toggleAttachmentsFilterBrn"
              (click)="toggleFloatingFilter()"
            >
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
        </mat-card>

        <div class="attachments-body">
          <ag-grid-angular
            class="ag-grid-formats"
            [ngClass]="
              vm.theme === 'light'
                ? 'ag-theme-alpine'
                : vm.theme === 'dark'
                ? 'ag-theme-alpine-dark'
                : 'ag-theme-alpine-dark'
            "
            [modules]="modules"
            [gridOptions]="gridOptions"
          ></ag-grid-angular>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</ng-container>
