<div style="border: double white 1px; padding: 5px">
  <table>
    <tr>
      <td>Diagnose:</td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': diagnose === null }"
          (click)="changeDiagnose(null)"
          >highlight_off</i
        >
      </td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': diagnose === true }"
          (click)="changeDiagnose(true)"
          >check_circle_outline</i
        >
      </td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': diagnose === false }"
          (click)="changeDiagnose(false)"
          >remove_circle_outline</i
        >
      </td>
    </tr>
    <tr>
      <td>Watch:</td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': watch === null }"
          (click)="changeWatch(null)"
          >highlight_off</i
        >
      </td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': watch === true }"
          (click)="changeWatch(true)"
          >check_circle_outline</i
        >
      </td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': watch === false }"
          (click)="changeWatch(false)"
          >remove_circle_outline</i
        >
      </td>
    </tr>
    <tr>
      <td>Maintenance:</td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': maintenance === null }"
          (click)="changeMaintenance(null)"
          >highlight_off</i
        >
      </td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': maintenance === true }"
          (click)="changeMaintenance(true)"
          >check_circle_outline</i
        >
      </td>
      <td>
        <i
          class="material-icons"
          [ngClass]="{ 'filter-selected': maintenance === false }"
          (click)="changeMaintenance(false)"
          >remove_circle_outline</i
        >
      </td>
    </tr>
  </table>
</div>
