<h3 mat-dialog-title>
  To create new Tagmaps, you must paste the data below by pressing "Ctrl + V"
</h3>
<mat-dialog-content>
  <div>
    <p>The data must be tabular and include the following:</p>
    <p>
      A column with the header "Asset Path" that contains a path of asset names,
      delimited with a forward slash "/", from the selected asset to the asset.
    </p>
    <p>
      A column with the header "Variable" that contains the unique description
      of the variable. The variable data must be allowed given each asset's
      Asset Type.
    </p>
    <p>
      A column with the header "Tag Name" that contains tagnames for existing
      tags that belong to the selected Server.
    </p>
    <p>
      A column with the header "Value Type". Only "Output" types require
      specification. Empty data will default appropriately to either be nothing
      or measured, depending on the Variable.
    </p>
  </div>
  <div>
    <textarea
      #pasteBox
      type="text"
      class="paste-box"
      (keydown)="onKeydown($event)"
      placeholder='Click inside this box and press "Ctrl + V" to paste'
      [disabled]="isValidating"
    ></textarea>
    <div
      [ngClass]="
        clientValidationResult !== '' && serverValidationResult === ''
          ? 'validation-result'
          : ''
      "
      class="result-box"
    >
      <p>
        <span *ngIf="isValidating">Checking data format...</span>
        <span
          [ngClass]="
            !(
              clientValidationResult.includes('OK') ||
              clientValidationResult.includes('Ignoring')
            )
              ? 'error-text'
              : ''
          "
          >{{ clientValidationResult }}</span
        >
      </p>
      <section
        *ngIf="serverValidationResult"
        [innerText]="serverValidationResult"
        class="server-text"
        [ngClass]="
          serverValidationResult.includes('Error') ||
          serverValidationResult.includes('error')
            ? 'error-text'
            : ''
        "
      ></section>
      <section *ngIf="isProceedVisible" class="proceed-section">
        <p>
          Not all tagmaps will be created, Do you want to Proceed?
          <button mat-button (click)="onValidateCancel()">No</button>
          <button
            mat-flat-button
            color="accent"
            [disabled]="totalValidTagMaps < 1 && !isValidating"
            (click)="onProceed()"
          >
            Proceed
          </button>
        </p>
      </section>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!isSaveBtnEnabled"
    (click)="onSave()"
  >
    Save
  </button>
</div>
