.mat-dialog-content {
  height: 555px;
}

.paste-box {
  height: 100px;
  width: 100%;
  resize: none;
}

.paste-box:focus {
  outline: none;
}

.result-box {
  height: 140px !important;
}

.error-text {
  color: red;
}

.server-text {
  margin-top: 10px;
  width: 100%;
  height: 57px;
  overflow: auto;
  white-space: pre-line;
}

.validation-result {
  overflow-y: auto;
  height: 162px;
}
