.trend-view-container {
  height: 100%;
}

.trend-view-container mat-card {
  margin: 2px 4px 0px 4px;
  padding: 4px;
}

.trend-view-card {
  height: calc(100% - 12px);
}

.chart-container-wrapper {
  height: 100%;
  position: relative;
}

::ng-deep {
  .default-dark-theme .chart-container-wrapper {
    background-color: #222628 !important;
    border-top: solid 1px #68686e;
  }

  .alternative-light-theme .chart-container-wrapper {
    background-color: #ffffff !important;
    border-top: solid 1px #babfc7;
  }
}

.input-title {
  margin-left: 5px;
  white-space: nowrap;
  font-size: 12px;
}

.toolbar-inputs span {
  margin-left: 5px;
  padding-right: 15px;
  font-weight: 500;
}

::ng-deep .trend-view-container .mat-form-field-label {
  padding-top: 3px !important;
}

::ng-deep .trend-view-container .mat-select-value {
  padding-top: 3px !important;
}

::ng-deep .trend-view-container .mat-select-arrow {
  margin-top: 3px !important;
}

::ng-deep .mat-progress-bar-element {
  height: 3px !important;
  border-radius: 4px;
}

::ng-deep .mat-progress-bar {
  height: 3px !important;
}

::ng-deep .mat-progress-bar-fill::after {
  height: 3px !important;
}

mat-progress-spinner {
  margin: 0 auto;
}
mat-drawer-content.mat-drawer-content {
  overflow: hidden !important;
}

.side-nav {
  height: 100%;
}

.north-side {
  height: 55%;
}

.south-side {
  height: 45%;
}

.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 2px;
  overflow: hidden;
}

.main-content {
  height: 100%;
}

.edit-view {
  height: calc(50% - 10px);
}

atx-chart-selector {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header-right {
  height: 30px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
  top: 5px;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

button:focus {
  outline: 0;
}

.mat-icon-half {
  transition: all 0.3s ease-out !important;
}

.clicked {
  transform: rotate(180deg);
}

button:focus .mat-icon-full {
  animation: rotate 1s ease-in-out 0s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::ng-deep {
  rect.highcharts-legend-box {
    fill: none !important;
  }
}
::ng-deep {
  .chartDisplay .btn-group {
    position: absolute;
    z-index: 100;
    right: -26px !important;
    margin-right: 35px;
    top: 30px !important;
    color: #424242da !important;
  }
  .chartDisplay .btn-group span {
    padding: 3px;
  }
  .chartDisplay .btn-group > span:nth-child(4) {
    float: left;
  }
  .highcharts-container {
    height: 100% !important;
  }

  .table-container {
    height: 100%;
    overflow: auto;
  }

  table.chartComponentContent {
    height: 100px !important;
  }
  mat-drawer-content.mat-drawer-content {
    overflow: hidden !important;
  }
}
@media (max-width: 1600px) {
  .data-media-button {
    display: none;
  }
}

@media (min-width: 1601px) {
  .data-media-icon {
    display: none;
  }
}

@media (max-width: 1100px) {
  .selector-group {
    height: 36px;
    width: 250px;
    margin-top: 3px;
    margin: 0 auto;
  }
}

.collapsed {
  height: 0px;
}

.top-half {
  height: 50%;
}

.bottom-half {
  height: 55%;
}

.full {
  height: 100%;
}

.trend-view-container {
  padding-bottom: 69px;
}

::ng-deep {
  .header-form-container .mat-form-field-label-wrapper {
    margin: 2px 0 !important;
  }

  .trend-view-container .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .header-form-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .header-form-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .trend-view-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .trend-view-container .mat-form-field-infix {
    padding: 0 0 0.65em 0 !important;
  }

  .trend-view-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .header-form-container .mat-select-value {
    padding-top: 3px !important;
  }

  .header-form-container .mat-input-element {
    padding-top: 3px !important;
  }

  .header-form-container .mat-form-field-infix {
    padding-top: 1px !important;
  }
}

.mat-error {
  margin-top: 8px;
  word-wrap: none;
}

//angular-split styles
::ng-deep .as-split-gutter {
  background-color: rgba(160, 160, 160, 0.7) !important;
  position: relative;

  & > .as-split-gutter-icon {
    background-image: none !important;
    background-color: #3ba9f4;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;

    &:hover {
      opacity: 1;
    }
  }
}

::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
::ng-deep .as-split-gutter-icon:hover {
  height: 2px;
  opacity: 1;
}

.as-vertical {
  ::ng-deep .as-split-gutter-icon {
    height: 2px !important;
    top: -1px;
    bottom: 1px;
  }
}
