<ng-container *ngIf="vm$ | async as vm">
  <atx-horizontal-layout
    (sizeChange)="onAssetTreeSizeChange($event)"
    (mainNavclicked)="mainNavclicked()"
    [showTimeSlider]="navFacade.showTimeSlider$ | async"
    [leftTrayMode]="dataExplorerFacade.layoutMode$ | async"
    [leftTraySize]="dataExplorerFacade.leftTraySize$ | async"
    [leftTrayOpen]="navFacade.assetTreeSelected$ | async"
    leftTraySizeMin="150"
    rightTrayOpen="false"
    rightTraySize="300"
    rightTrayMode="side"
  >
    <div class="side-nav">
      <div class="north-side">
        <atx-asset-tree
          [needScroll]="true"
          [treeState]="assetTreeFacade.assetTreeConfiguration$ | async"
          (stateChange)="onAssetTreeStateChange($event)"
        >
        </atx-asset-tree>
      </div>
      <div class="south-side">
        <atx-chart-list></atx-chart-list>
      </div>
    </div>
    <div class="main-nav">
      <ng-container [formGroup]="mainForm">
        <as-split
          direction="vertical"
          [unit]="'percent'"
          [useTransition]="true"
          gutterSize="1"
          class="main-content"
          (dragEnd)="splitDragEnd($event)"
        >
          <as-split-area style="overflow: hidden" [size]="topSizePercent">
            <div class="trend-view-container" #trendView>
              <div id="trend-view-top-section" fxLayout="row">
                <div
                  style="width: 100%; padding: 4px 6px"
                  fxlayout="row"
                  fxLayoutAlign="space-between"
                >
                  <div
                    class="toolbar-inputs"
                    fxLayoutGap="5px"
                    fxlayout="row"
                    fxLayoutAlign="center center"
                    data-cy="chartTypeSection"
                  >
                    <div
                      fxLayout="row"
                      fxLayoutGap="10px"
                      fxLayoutAlign="center center"
                    >
                      <ng-container *ngIf="vm.trendsLoading">
                        <ngx-skeleton-loader
                          style="padding-left: 10px"
                          [theme]="{
                            width: '200px',
                            height: '10px',
                            background: 'rgba(160,160,160,0.1)',
                            'pointer-events': 'none'
                          }"
                          animation="pulse"
                          count="1"
                        ></ngx-skeleton-loader
                        ><ngx-skeleton-loader
                          [theme]="{
                            width: '140px',
                            height: '43px',
                            background: 'rgba(160,160,160,0.1)',
                            'border-radius': '4px 4px 0 0',
                            'pointer-events': 'none'
                          }"
                          animation="pulse"
                          count="1"
                        ></ngx-skeleton-loader
                      ></ng-container>
                    </div>

                    <ng-container
                      *ngIf="
                        !vm.loadingData && !vm.trendsLoading && !vm.errorNoData
                      "
                    >
                      <ng-container
                        *ngIf="
                          vm.selectedTrend?.trendDefinition?.IsStandardTrend
                        "
                      >
                        <ng-container
                          *ngIf="
                            !vm.selectedTrend?.trendDefinition?.ParentTrendID &&
                              !vm.isDirty[vm.selectedTrendID];
                            else modifiedStandardChart
                          "
                        >
                          <mat-icon
                            color="accent"
                            matTooltip="Standard Chart"
                            svgIcon="a360_standard-chart"
                          >
                          </mat-icon>
                        </ng-container>
                        <ng-template #modifiedStandardChart>
                          <mat-icon
                            matTooltip="Modified Standard Chart"
                            svgIcon="a360_modified-standard-chart"
                          ></mat-icon>
                        </ng-template>
                      </ng-container>
                      <span data-cy="chartTitle">{{
                        vm.selectedTrend?.trendDefinition?.Title
                      }}</span>
                    </ng-container>
                    <ng-container *ngIf="vm.isGroupedSeries">
                      <ng-container
                        *ngIf="
                          !vm.loadingData &&
                          !vm.trendsLoading &&
                          !vm.errorNoData
                        "
                      >
                        <mat-form-field
                          style="width: 170px"
                          color="accent"
                          appearance="fill"
                        >
                          <mat-label>Grouped Series Chart Type</mat-label>
                          <mat-select
                            (selectionChange)="chartChange($event)"
                            [value]="
                              vm.selectedTrend?.trendDefinition?.ChartTypeID?.toString()
                            "
                          >
                            <mat-option value="4">Trend</mat-option>
                            <mat-option value="22">Table</mat-option>
                            <mat-option value="23">Radar</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <ng-container
                          *ngIf="
                            vm.selectedTrend?.trendDefinition?.ChartTypeID ===
                            23
                          "
                        >
                          <mat-form-field
                            style="width: 170px"
                            color="accent"
                            appearance="fill"
                          >
                            <mat-label>Direction</mat-label>
                            <mat-select
                              [value]="
                                vm.selectedTrend?.trendDefinition?.BandAxis
                                  ?.Clockwise
                              "
                              #radarDirection
                            >
                              <mat-option [value]="true">Clockwise</mat-option>
                              <mat-option [value]="false"
                                >Counter Clockwise</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field
                            color="accent"
                            style="width: 140px"
                            appearance="fill"
                          >
                            <mat-label>Start Angle</mat-label>
                            <input
                              type="number"
                              matInput
                              autocomplete="off"
                              placeholder="Start Angle"
                              #startAngle
                              [value]="
                                vm.selectedTrend?.trendDefinition?.BandAxis
                                  ?.StartAngle
                              "
                            />
                          </mat-form-field>
                          <button
                            mat-mini-fab
                            style="
                              height: 30px;
                              width: 30px;
                              vertical-align: middle;
                            "
                            color="accent"
                            aria-label="load"
                            (click)="
                              setRadarChartOption(
                                radarDirection.value,
                                startAngle.value
                              )
                            "
                            [disabled]="startAngle.value > 360"
                            matTooltip="Load chart"
                          >
                            <mat-icon
                              style="
                                font-size: 20px;
                                padding-bottom: 4px;
                                padding-right: 1px;
                              "
                              >sync</mat-icon
                            >
                          </button>
                          <mat-hint
                            style="color: red"
                            *ngIf="startAngle.value > 360"
                          >
                            Invalid angle value!
                          </mat-hint>
                        </ng-container>
                      </ng-container></ng-container
                    >
                    <ng-container *ngIf="!vm.isGroupedSeries">
                      <ng-container
                        *ngIf="
                          !vm.loadingData &&
                          !vm.trendsLoading &&
                          !vm.errorNoData
                        "
                      >
                        <mat-form-field
                          *ngIf="!vm.errorNoData"
                          style="width: 140px"
                          color="accent"
                          appearance="fill"
                          data-cy="chartType"
                        >
                          <mat-label>Chart Type</mat-label>
                          <mat-select
                            (selectionChange)="chartChange($event)"
                            [value]="
                              vm.selectedTrend?.trendDefinition?.ChartTypeID?.toString()
                            "
                          >
                            <mat-option value="1">Line</mat-option>
                            <mat-option value="2">Area</mat-option>
                            <mat-option value="3">Column</mat-option>
                            <mat-option value="4">Bar</mat-option>
                            <mat-option value="22">Table</mat-option>
                            <ng-container *ngIf="vm.isXY">
                              <mat-option value="24">Scatter Plot</mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>

                        <ng-container
                          *ngIf="
                            vm.selectedTrend?.trendDefinition?.ChartTypeID ===
                              3 ||
                            vm.selectedTrend?.trendDefinition?.ChartTypeID ===
                              4 ||
                            vm.selectedTrend?.trendDefinition?.ChartTypeID ===
                              22
                          "
                        >
                          <mat-form-field
                            style="width: 240px"
                            color="accent"
                            appearance="fill"
                            data-cy="aggregation"
                          >
                            <mat-label>Aggregation</mat-label>
                            <mat-select
                              (selectionChange)="aggregationChange($event)"
                              [value]="
                                vm.selectedTrend?.trendDefinition?.SummaryTypeID
                              "
                            >
                              <mat-option
                                *ngFor="let summaryType of summaryTypes"
                                [value]="summaryType.SummaryTypeID"
                                data-cy="aggregationOption"
                              >
                                {{ summaryType.SummaryDesc }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div style="margin-right: 30px" fxLayoutGap="10px">
                    <ng-container
                      style="align-items: flex-end"
                      *ngIf="vm.trendsLoading"
                    >
                      <ngx-skeleton-loader
                        [theme]="{
                          width: '94px',
                          height: '36px',
                          background: 'rgba(160,160,160,0.1)',
                          'border-radius': '4px',
                          'pointer-events': 'none'
                        }"
                        animation="pulse"
                        count="1"
                      ></ngx-skeleton-loader>
                      <ngx-skeleton-loader
                        [theme]="{
                          width: '94px',
                          height: '36px',
                          background: 'rgba(160,160,160,0.1)',
                          'border-radius': '4px',
                          'pointer-events': 'none'
                        }"
                        animation="pulse"
                        count="1"
                      ></ngx-skeleton-loader
                      ><ngx-skeleton-loader
                        [theme]="{
                          width: '36px',
                          height: '36px',
                          background: 'rgba(160,160,160,0.1)',
                          'border-radius': '50px',
                          'pointer-events': 'none'
                        }"
                        animation="pulse"
                        count="1"
                      ></ngx-skeleton-loader
                    ></ng-container>
                  </div>
                  <ng-container *ngIf="!vm.loadingData && !vm.trendsLoading">
                    <div fxLayoutGap="5px">
                      <button
                        class="data-media-button"
                        style="padding-right: 4px"
                        mat-flat-button
                        color="primary"
                        [matMenuTriggerFor]="newChart"
                      >
                        <mat-icon
                          color="accent"
                          style="padding-top: 4px; padding-right: 2px"
                          >add_circle_outline</mat-icon
                        >
                        New Chart<mat-icon
                          color="accent"
                          style="padding-top: 4px"
                          >arrow_drop_down</mat-icon
                        >
                      </button>
                      <button
                        class="data-media-icon"
                        style="padding-right: 4px"
                        matTooltip="Create New Chart"
                        mat-flat-button
                        color="primary"
                        [matMenuTriggerFor]="newChart"
                        data-cy="createNewChartBtn"
                      >
                        <mat-icon color="accent" style="padding-top: 4px"
                          >add_circle_outline</mat-icon
                        >
                        <mat-icon color="accent" style="padding-top: 4px"
                          >arrow_drop_down</mat-icon
                        >
                      </button>
                      <mat-menu #newChart="matMenu">
                        <button
                          (click)="addNewChart(false)"
                          [disabled]="vm.loadingData || vm.trendsLoading"
                          mat-menu-item
                          data-cy="newSeriesChart"
                        >
                          Chart
                        </button>
                        <button
                          (click)="addNewChart(true)"
                          [disabled]="vm.loadingData || vm.trendsLoading"
                          mat-menu-item
                          data-cy="newGroupSeriesChart"
                        >
                          Grouped Series Chart
                        </button>
                      </mat-menu>
                      <ng-container
                        *ngIf="
                          !vm.loadingData &&
                          !vm.trendsLoading &&
                          !vm.errorNoData
                        "
                      >
                        <button
                          [disabled]="
                            !vm.isDirty[vm.selectedTrendID] || mainForm.invalid
                          "
                          (click)="saveChart()"
                          class="data-media-button"
                          mat-flat-button
                          color="accent"
                        >
                          <mat-icon
                            class="material-icons-outlined"
                            style="padding-top: 4px; padding-right: 2px"
                            >save</mat-icon
                          >Save
                        </button>
                      </ng-container>

                      <button
                        class="data-media-icon"
                        mat-flat-button
                        [disabled]="
                          !vm.isDirty[vm.selectedTrendID] || mainForm.invalid
                        "
                        color="accent"
                        (click)="saveChart()"
                        matTooltip="Save Chart"
                        data-cy="saveChartBtn"
                      >
                        <mat-icon
                          style="padding-top: 4px"
                          class="material-icons-outlined"
                          >save</mat-icon
                        >
                      </button>
                      <ng-container
                        *ngIf="
                          !vm.loadingData &&
                          !vm.errorNoData &&
                          !vm.trendsLoading
                        "
                      >
                        <button
                          style="
                            min-width: 36px;
                            border-radius: 25px;
                            padding-left: 2px;
                            padding-right: 2px;
                          "
                          mat-flat-button
                          color="primary"
                          [matMenuTriggerFor]="moreActions"
                          disabled="false"
                          data-cy="moreOptionsBtn"
                        >
                          <mat-icon
                            color="accent"
                            style="
                              font-size: 20px;
                              padding-left: 4px;
                              padding-top: 2px;
                            "
                            >more_vertical</mat-icon
                          >
                        </button>
                        <mat-menu #moreActions="matMenu">
                          <button
                            (click)="copyChartLink('asShown')"
                            mat-menu-item
                            [disabled]="vm.loadingData || vm.trendsLoading"
                            data-cy="copyChartLinkAsShownBtn"
                          >
                            <mat-icon class="material-icons-outlined"
                              >link</mat-icon
                            >Copy Chart Link (As Shown)
                          </button>
                          <button
                            (click)="copyChartLink('live')"
                            mat-menu-item
                            [disabled]="vm.loadingData || vm.trendsLoading"
                            data-cy="copyChartLinkLiveBtn"
                          >
                            <mat-icon class="material-icons-outlined"
                              >link</mat-icon
                            >Copy Chart Link (Live)
                          </button>
                          <button
                            mat-menu-item
                            (click)="downloadChart()"
                            [disabled]="vm.loadingData || vm.trendsLoading"
                            data-cy="downloadChartBtn"
                          >
                            <mat-icon class="material-icons-outlined"
                              >save_alt</mat-icon
                            >Download Chart
                          </button>
                          <button
                            mat-menu-item
                            [disabled]="vm.loadingData || vm.trendsLoading"
                            (click)="deleteChart()"
                            data-cy="deleteChartBtn"
                          >
                            <div
                              *ngIf="
                                vm.selectedTrend.trendDefinition.IsStandardTrend
                              "
                            >
                              <mat-icon class="material-icons-outlined"
                                >undo</mat-icon
                              >Revert Chart
                            </div>
                            <div
                              *ngIf="
                                !vm.selectedTrend.trendDefinition
                                  .IsStandardTrend
                              "
                            >
                              <mat-icon class="material-icons-outlined"
                                >delete</mat-icon
                              >Delete Chart
                            </div>
                          </button>
                        </mat-menu>
                      </ng-container>
                      <button
                        class="maticon-button"
                        mat-icon-button
                        (click)="topIndicatorClick()"
                        data-cy="expandColapseChartBtn"
                      >
                        <mat-icon
                          class="mat-icon-half"
                          [ngClass]="{
                            clicked: toggleTop
                          }"
                          >keyboard_arrow_down</mat-icon
                        >
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div
                class="chart-container-wrapper"
                (dragover)="onDragOverChart($event)"
                (drop)="onDropChart($event)"
              >
                <atx-chart-display
                  #chartDisplay
                  class="chartDisplay"
                  [loading]="
                    vm.loadingData || vm.trendsLoading || vm.errorNoData
                  "
                  [trend]="vm.selectedTrend"
                  [theme]="navFacade?.theme$ | async"
                  [showToggle]="!vm.isGroupedSeries"
                  [showDataCursorToggle]="
                    !vm.isGroupedSeries &&
                    (+vm.selectedTrend?.trendDefinition?.ChartTypeID === 1 ||
                      +vm.selectedTrend?.trendDefinition?.ChartTypeID === 2)
                  "
                  [allowHiddenLabel]="true"
                  [isToggled]="true"
                  (btnGrpStateChange)="onBtnGrpStateChange($event)"
                >
                </atx-chart-display>
              </div>
            </div>
          </as-split-area>

          <as-split-area
            style="overflow: hidden"
            [size]="bottomSizePercent"
            class="edit-view"
          >
            <atx-edit-view
              (bottomIndicatorClicked)="bottomIndicatorClick()"
              [asset]="dataExplorerFacade.selectedAssetUniqueKey$ | async"
              [expanded]="toggleBottom"
            >
            </atx-edit-view>
          </as-split-area>
        </as-split>
      </ng-container>
    </div>
  </atx-horizontal-layout>
</ng-container>
<atx-time-slider
  *ngIf="navFacade.showTimeSlider$ | async"
  [timeSliderState]="timeSliderFacade.timeSliderState$ | async"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
