.diagnostic-drilldown-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.show-time-slider {
  height: calc(100% - 56px) !important;
}

.header-section {
  padding: 12px 12px 0;
}

.content-section {
  height: calc(100% - 60px);
}

.menu-btn {
  min-width: 36px;
  border-radius: 25px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 10px;
  top: -9px;
}

.menu-btn-icon {
  font-size: 20px;
  padding-left: 4px;
  padding-top: 2px;
}

::ng-deep .alternative-light-theme .top-section {
  background-color: #ffffff !important;
}

::ng-deep .default-dark-theme .top-section {
  background-color: #242424 !important;
}

//angular-split styles
::ng-deep .as-split-gutter {
  background-color: rgba(160, 160, 160, 0.7) !important;
  position: relative;

  & > .as-split-gutter-icon {
    background-image: none !important;
    background-color: #3ba9f4;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;

    &:hover {
      opacity: 1;
    }
  }
}
::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
::ng-deep .as-split-gutter-icon:hover {
  height: 2px;
  opacity: 1;
}

.as-vertical {
  ::ng-deep .as-split-gutter-icon {
    height: 2px !important;
    top: -1px;
    bottom: 1px;
  }
}

// Tab
::ng-deep {
  .alternative-light-theme {
    .model-tabs {
      border-left: solid 1px #babfc7;
      background-color: #fafafa;
    }
    .models-container {
      border: solid 1px #babfc7;
    }
  }
  .default-dark-theme {
    .model-tabs {
      border-left: solid 1px #68686e;
      background-color: #181d1f;
    }
    .models-container {
      border: solid 1px #68686e;
    }
  }
  .vertical-button span {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
  }

  .models-container {
    .model-tabs {
      display: inline-block;
      width: 31px;
      height: 100%;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
    }
    .model-tab-click {
      margin-top: 4px;
    }
    .mat-flat-button {
      padding: 11px 0 0px !important;
      background-color: transparent !important;
      border-radius: 0 !important;
      margin: 0 !important;
      font-size: 12px;
    }
  }
}

.vertical-button {
  text-align: left;
}

.selected {
  box-shadow: inset 2px 0 0 0 var(--accent-200) !important;
  border-radius: 0 !important;
}

.tab-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.models-container {
  position: relative;
  margin: 4px;
  height: calc(100% - 10px);
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.mat-icon-half {
  transition: all 0.3s ease-out !important;
}
.clicked {
  transform: rotate(180deg);
}
