<div
  class="diagnostic-drilldown-container"
  [ngClass]="{ 'show-time-slider': navFacade.showTimeSlider$ | async }"
>
  <section class="header-section">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="header">Diagnostic Drilldown</h1>
      <div fxLayout="row" fxLayoutAlign="center center">
        <h3>{{ modelTrendDisplayModelPath$ | async }}</h3>
        <button
          class="menu-btn"
          mat-flat-button
          [matMenuTriggerFor]="moreActions"
        >
          <mat-icon class="menu-btn-icon" color="accent"
            >more_vertical</mat-icon
          >
        </button>
        <mat-menu #moreActions="matMenu">
          <button
            (click)="copyChartLink('asShown')"
            mat-menu-item
            data-cy="copyChartLinkAsShownBtn"
          >
            <mat-icon class="material-icons-outlined">link</mat-icon>Copy Chart
            Link (As Shown)
          </button>
          <button
            (click)="copyChartLink('live')"
            mat-menu-item
            data-cy="copyChartLinkLiveBtn"
          >
            <mat-icon class="material-icons-outlined">link</mat-icon>Copy Chart
            Link (Live)
          </button>
          <button (click)="addNewTrend()" mat-menu-item>
            <mat-icon class="material-icons-outlined"
              >add_circle_outline</mat-icon
            >
            Add New Trend
          </button>
        </mat-menu>
      </div>
    </div>
  </section>
  <section class="content-section">
    <as-split
      direction="vertical"
      [unit]="'percent'"
      [useTransition]="true"
      [gutterSize]="1"
      (dragEnd)="splitDragEnd($event)"
    >
      <as-split-area
        class="top-section"
        style="overflow: hidden"
        [order]="1"
        [size]="topSizePercent"
      >
        <div class="models-container">
          <div
            style="width: calc(100% - 31px); height: 100%"
            [ngSwitch]="currentTab"
          >
            <atx-model-trend *ngSwitchCase="'modelTrend'"></atx-model-trend>
            <atx-model-history
              *ngSwitchCase="'modelHistory'"
            ></atx-model-history>
          </div>

          <div class="model-tabs">
            <button
              class="maticon-button"
              mat-icon-button
              (click)="expandTopSection()"
              data-cy="expandModelContentView"
            >
              <mat-icon
                class="mat-icon-half"
                [ngClass]="{ clicked: expandTopSection$ | async }"
                >keyboard_arrow_down</mat-icon
              >
            </button>

            <div class="model-tab-click">
              <button
                class="maticon-button vertical-button"
                mat-flat-button
                (click)="setTab('modelTrend')"
                [ngClass]="{ selected: currentTab === 'modelTrend' }"
              >
                Trend
              </button>
              <button
                class="maticon-button vertical-button"
                mat-flat-button
                (click)="setTab('modelHistory')"
                [ngClass]="{ selected: currentTab === 'modelHistory' }"
              >
                History
              </button>
            </div>
          </div>
        </div>
      </as-split-area>
      <as-split-area
        class="bottom-section"
        style="overflow: hidden"
        [order]="2"
        [size]="bottomSizePercent"
        [visible]="(expandTopSection$ | async) === false"
      >
        <atx-model-context></atx-model-context>
      </as-split-area>
    </as-split>
  </section>
</div>

<atx-time-slider
  *ngIf="navFacade.showTimeSlider$ | async"
  [timeSliderState]="(timeSlider$ | async)!"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
