@use 'libs/atx-navigation/theme/variables';
@use 'node_modules/@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import 'libs/atx-navigation/theme/atonix-theme';
@import '~@ag-grid-enterprise/all-modules/dist/styles/ag-grid';
@import '~@ag-grid-enterprise/all-modules/dist/styles/ag-theme-balham';
@import '~@ag-grid-enterprise/all-modules/dist/styles/ag-theme-balham-dark';
@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-alpine';
@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-alpine-dark';

#mobile-blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: #303030;
  padding: 10px 15px;
  display: none;
}

#mobile-blocker .uppercase {
  font-size: 0.75em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

* {
  font-family: 'Roboto', sans-serif;
}

atx-saved-tool-panel {
  width: 100%;
}
atx-saved-config-panel {
  width: 100%;
}
