.custom-dialog-content {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.table-content {
  display: block;
  height: 300px;
  overflow: auto;
}

.custom-button {
  margin-left: 8px;
}

.custom-th {
  padding: 10px;
}

.custom-td {
  padding: 10px;
}
