<ng-container *ngIf="!data.isDeletion; else showDeletion">
  <h2 class="custom-dialog-title" mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="column" fxLayoutAlign="center">
        <span>This event overlaps other event(s)</span>
      </div>
      <div>
        <button mat-icon-button mat-dialog-close>
          <mat-icon aria-hidden="false" aria-label="clear">clear</mat-icon>
        </button>
      </div>
    </div>
  </h2>
  <mat-dialog-content class="custom-dialog-content">
    <div fxLayout="row">
      <div fxFlex style="margin-top: 15px; margin-bottom: 20px">
        <div fxLayout="row">
          This event ({{ data?.currentEvent?.Description }}) will overlap other
          events. {{ validationMessage$ | async }} :
        </div>
        <div
          fxLayout="row"
          class="table-content"
          *ngIf="(changedEventCount$ | async) > 0"
        >
          <table
            *ngIf="(changedEventCount$ | async) > 0"
            mat-table
            [dataSource]="data.affectedEvents"
            class="mat-elevation-z8"
            style="width: 100%"
          >
            <ng-container matColumnDef="EventTypeID">
              <th class="custom-th" mat-header-cell *matHeaderCellDef>
                Event Type
              </th>
              <td class="custom-td" mat-cell *matCellDef="let event">
                {{ getEventType(event.Previous.EventTypeID) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Description">
              <th class="custom-th" mat-header-cell *matHeaderCellDef>
                Description
              </th>
              <td class="custom-td" mat-cell *matCellDef="let event">
                {{ event.Previous.Description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="StartTime">
              <th class="custom-th" mat-header-cell *matHeaderCellDef>
                Start Time
              </th>
              <td class="custom-td" mat-cell *matCellDef="let event">
                <div
                  *ngIf="
                    event.Previous.StartTime !== event.New.StartTime &&
                    !event.New.IsDeleted
                  "
                >
                  <span>
                    <s>{{
                      parseDate(event.Previous.StartTime) | date: 'medium'
                    }}</s>
                  </span>
                </div>
                <div *ngIf="!event.New.IsDeleted">
                  {{ parseDate(event.New.StartTime) | date: 'medium' }}
                </div>
                <div *ngIf="event.New.IsDeleted">
                  <div>
                    <s>{{
                      parseDate(event.Previous.StartTime) | date: 'medium'
                    }}</s>
                  </div>
                  <div>Deleted</div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="EndTime">
              <th class="custom-th" mat-header-cell *matHeaderCellDef>
                End Time
              </th>
              <td class="custom-td" mat-cell *matCellDef="let event">
                <div
                  *ngIf="
                    event.Previous.EndTime !== event.New.EndTime &&
                    !event.New.IsDeleted
                  "
                >
                  <span>
                    <s>{{
                      parseDate(event.Previous.EndTime) | date: 'medium'
                    }}</s>
                  </span>
                </div>
                <div
                  *ngIf="
                    event.Previous.EndTime === null &&
                    event.New.EndTime !== null &&
                    !event.New.IsDeleted
                  "
                >
                  <span>
                    <s>In Progress</s>
                  </span>
                </div>
                <div
                  *ngIf="
                    event.Previous.EndTime === null &&
                    event.New.EndTime === null &&
                    !event.New.IsDeleted
                  "
                >
                  <span> In Progress </span>
                </div>
                <div *ngIf="!event.New.IsDeleted">
                  {{ parseDate(event.New.EndTime) | date: 'medium' }}
                </div>
                <div *ngIf="event.New.IsDeleted">
                  <div>
                    <s>{{
                      parseDate(event.Previous.EndTime) | date: 'medium'
                    }}</s>
                  </div>
                  <div>Deleted</div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <div class="custom-button">
        <button id="cancelBtn" mat-raised-button mat-dialog-close>
          Cancel
        </button>
      </div>
      <div class="custom-button">
        <button id="okBtn" mat-raised-button color="accent" (click)="confirm()">
          Confirm
        </button>
      </div>
    </div>
  </mat-dialog-content>
</ng-container>

<ng-template #showDeletion>
  <h2 class="custom-dialog-title" mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="column" fxLayoutAlign="center">
        <span>Deletion Confirmation</span>
      </div>
      <div>
        <button mat-icon-button mat-dialog-close>
          <mat-icon aria-hidden="false" aria-label="clear">clear</mat-icon>
        </button>
      </div>
    </div>
  </h2>
  <mat-dialog-content class="custom-dialog-content">
    <div fxLayout="row">
      <!-- content here -->
      <div fxFlex style="margin-top: 15px; margin-bottom: 20px">
        <div fxLayout="row">
          Are you sure you want to delete this event? This action is
          irreversible.
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <div fxLayout="row" fxLayoutAlign="end center">
        <div class="custom-button">
          <button id="cancelBtn" mat-raised-button mat-dialog-close>
            Cancel
          </button>
        </div>
        <div class="custom-button">
          <button
            id="okBtn"
            mat-raised-button
            color="accent"
            (click)="delete()"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
