.mat-dialog-content {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 90vh !important;
}

.attachment-viewer-dialog {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  overflow: hidden;
}

.viewer-dialog-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.image-container {
  width: 97vw !important;
  height: 90vh !important;
  display: flex;
  justify-content: center;
}
