<mat-dialog-content class="attachment-viewer-dialog">
  <div class="viewer-dialog-close">
    <button mat-mini-fab color="accent" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="image-container" #imageContainer>
    <div>Loading image . . .</div>
  </div>
</mat-dialog-content>
