<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [leftTraySize]="leftTraySize$ | async"
  [leftTrayMode]="leftTrayMode$ | async"
  [leftTrayOpen]="leftTrayOpen$ | async"
  leftTraySizeMin="150"
  rightTrayMode="side"
  rightTraySize="300"
  rightTrayOpen="false"
>
  <atx-asset-tree
    class="side-nav"
    [treeState]="assetTreeConfiguration$ | async"
    (stateChange)="onAssetTreeStateChange($event)"
  >
  </atx-asset-tree>

  <div class="main-nav">
    <div class="main-content">
      <ng-container *ngIf="vm$ | async as vm">
        <mat-toolbar
          fxLayoutAlign="space-between center"
          class="time-range-header"
        >
          <h4>Pinning Time Range Configuration</h4>
          <div fxLayoutGap="10px">
            <mat-label>Last Modified:</mat-label>
            <span class="mat-body-1"
              >{{ vm.selectedTimeFilter?.ChangedBy }}
              {{
                vm.selectedTimeFilter?.ChangeDate | date: 'MMM d, y h:mm a'
              }}</span
            >
          </div>
        </mat-toolbar>
        <div
          class="filter-criteria-container"
          fxLayout="row"
          fxLayoutGap="16px"
        >
          <div class="list-card">
            <mat-card>
              <mat-card-title>
                <div fxLayoutAlign="space-between center">
                  <div>Saved Time Ranges</div>
                  <div>
                    <button
                      [disabled]="!vm.pristine"
                      mat-flat-button
                      (click)="createNew()"
                      cdkFocusInitial
                    >
                      <mat-icon
                        color="accent"
                        style="padding-bottom: 2px; padding-right: 2px"
                        >add_circle_outline</mat-icon
                      >Create New
                    </button>
                  </div>
                </div>
              </mat-card-title>
              <mat-divider></mat-divider>
              <div class="time-range-search">
                <mat-form-field color="accent">
                  <mat-icon matPrefix color="primary">search</mat-icon>
                  <input
                    matInput
                    autocomplete="off"
                    placeholder="search saved time ranges.."
                    [formControl]="searchTimeFilter"
                  />
                </mat-form-field>
              </div>

              <mat-list class="type-list">
                <ng-container *ngFor="let timeFilter of vm.filteredTimeFilters">
                  <mat-list-item
                    [ngStyle]="{
                      'background-color':
                        vm.selectedTimeFilterID === timeFilter?.CoDFID
                          ? '#9a9a9b'
                          : ''
                    }"
                    style="cursor: pointer !important; user-select: none"
                    (click)="selectionChange(timeFilter)"
                    ><span style="pointer-events: auto"
                      >{{ timeFilter.Title }}
                    </span></mat-list-item
                  >
                </ng-container>
              </mat-list>
            </mat-card>
          </div>

          <div class="form-content">
            <mat-card style="height: 500px; max-width: 800px">
              <ng-container *ngIf="vm.loading">
                <mat-progress-bar
                  class="top-progress-bar"
                  color="accent"
                  mode="indeterminate"
                ></mat-progress-bar>
              </ng-container>
              <ng-container *ngIf="vm.filterTypeID === -1">
                Select a Time Range from the list on the left, or create a new
                one.
              </ng-container>
              <ng-container *ngIf="vm.noResults"> No results. </ng-container>
              <ng-container
                *ngIf="!vm.loading && vm.filterTypeID > 0 && !vm.noResults"
              >
                <div [formGroup]="filterForm">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div
                      fxLayout="row"
                      fxLayoutGap="16px"
                      fxLayoutAlign="start center"
                    >
                      <div>
                        <mat-form-field appearance="fill" color="accent">
                          <mat-label>Name</mat-label>
                          <input
                            matInput
                            autocomplete="off"
                            formControlName="filterName"
                          />
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field appearance="fill" color="accent">
                          <mat-label>Description</mat-label>
                          <input
                            matInput
                            autocomplete="off"
                            formControlName="filterDescription"
                          />
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="asset-name-container" fxLayout="row">
                      <div fxLayout="column" fxLayoutAlign="start">
                        <div style="position: relative">
                          <label class="asset-label">Asset</label>
                        </div>
                        <label class="selected-node">{{
                          assetTreeDropdownName$ | async
                        }}</label>
                        <ng-container
                          *ngIf="
                            (assetTreeDropdownName$ | async) === null ||
                            (assetTreeDropdownName$ | async) === undefined
                          "
                        >
                          <mat-progress-bar
                            color="accent"
                            id="template-progress-bar"
                            mode="indeterminate"
                          ></mat-progress-bar>
                        </ng-container>
                      </div>

                      <button
                        style="
                          min-width: 36px;
                          border-radius: 25px;
                          padding-left: 2px;
                          padding-right: 2px;
                          margin-left: 15px;
                          margin-right: 10px;
                          background-color: rgba(185, 185, 185, 0.1);
                        "
                        mat-icon-button
                        matTooltip="Edit Asset"
                        [disabled]="
                          (assetTreeDropdownName$ | async) === null ||
                          (assetTreeDropdownName$ | async) === undefined
                        "
                        (click)="editAsset()"
                      >
                        <mat-icon
                          color="accent"
                          style="padding-bottom: 2px"
                          class="material-icons material-icons-outlined"
                          >edit</mat-icon
                        >
                      </button>
                    </div>
                    <!--Asset Tree Dropdown implementation start-->
                    <div
                      class="asset-tree-dropdown-container"
                      *ngIf="showAssetTreeDropdown"
                    >
                      <div class="asset-tree-dropdown">
                        <atx-asset-tree-dropdown
                          [assetTreeConfiguration]="
                            assetTreeDropdownConfiguration$ | async
                          "
                          (assetTreeStateChange)="
                            assetTreeDropdownStateChange($event)
                          "
                          (closeDropdown)="closeAssetTreeDropdown()"
                        ></atx-asset-tree-dropdown>
                      </div>
                    </div>
                    <!--Asset Tree Dropdown implementation end-->
                  </div>

                  <div mat-dialog-content>
                    <div
                      fxLayout="row"
                      fxLayoutGap="16px"
                      fxLayoutAlign="start center"
                    >
                      <div>
                        <mat-form-field
                          class="form-dropdown"
                          appearance="fill"
                          color="accent"
                        >
                          <mat-label>Time Range Type</mat-label>
                          <mat-select
                            [disabled]="vm.startDateAfterEndDate"
                            (selectionChange)="changeTimeRangeType($event)"
                            [value]="vm?.filterTypeID"
                          >
                            <mat-option [value]="2"
                              >Relative Span Offset</mat-option
                            >
                            <mat-option [value]="1">Fixed</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <ng-container *ngIf="vm.filterTypeID === 1">
                      <div
                        fxLayout="row"
                        fxLayoutGap="16px"
                        fxLayoutAlign="start center"
                      >
                        <div>
                          <mat-form-field
                            style="width: 200px"
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label>Start Date</mat-label>
                            <input
                              #startDateInput
                              matInput
                              autocomplete="off"
                              [min]="vm.startMin"
                              [max]="vm.startMax"
                              [matDatepicker]="startDatePicker"
                              (dateChange)="startDateChanged($event.value)"
                              formControlName="startDate"
                              [errorStateMatcher]="
                                timeFilterFacade.startDateMatcher
                              "
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="startDatePicker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                            <mat-error
                              *ngIf="
                                vm.invalidStartDateFormat ||
                                filterForm.get('startDate').hasError('required')
                              "
                            >
                              Start date is not valid.
                            </mat-error>
                            <mat-error
                              *ngIf="
                                filterForm
                                  .get('startDate')
                                  .hasError('matDatepickerMin')
                              "
                            >
                              Start date is too early.
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field appearance="fill" color="accent">
                            <mat-label>Start Time</mat-label>
                            <input
                              matInput
                              autocomplete="off"
                              #startTimeInput
                              type="time"
                              formControlName="startTime"
                            />
                            <mat-error
                              *ngIf="filterForm.get('startTime').invalid"
                            >
                              Time is not valid. (hh:mm)
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>

                      <div
                        fxLayout="row"
                        fxLayoutGap="16px"
                        fxLayoutAlign="start center"
                      >
                        <div>
                          <mat-form-field
                            style="width: 200px"
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label>End Date</mat-label>
                            <input
                              #endDateInput
                              matInput
                              autocomplete="off"
                              [min]="vm.endMin"
                              [max]="vm.endMax"
                              [matDatepicker]="endDatePicker"
                              (dateChange)="endDateChanged($event.value)"
                              formControlName="endDate"
                              [errorStateMatcher]="
                                timeFilterFacade.endDateMatcher
                              "
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="endDatePicker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                              [startAt]="vm.endPickerStartAt"
                              #endDatePicker
                            ></mat-datepicker>
                            <mat-error
                              *ngIf="
                                vm.invalidEndDateFormat ||
                                filterForm.get('endDate').hasError('required')
                              "
                            >
                              End date is not valid.
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field
                            appearance="fill"
                            color="accent"
                            class="time-range-margin-left"
                          >
                            <mat-label>End Time</mat-label>
                            <input
                              matInput
                              autocomplete="off"
                              #endTimeInput
                              type="time"
                              formControlName="endTime"
                            />
                            <mat-error
                              *ngIf="filterForm.get('endTime').invalid"
                            >
                              Time is not valid. (hh:mm)
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="vm.filterTypeID === 2">
                      <div
                        fxLayout="row"
                        fxLayoutGap="16px"
                        fxLayoutAlign="start center"
                      >
                        <div>
                          <mat-form-field
                            class="form-dropdown"
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label>Start</mat-label>
                            <mat-select
                              [value]="vm.startTypeID"
                              (selectionChange)="changeStartType($event)"
                            >
                              <mat-option
                                *ngFor="let startType of vm.startTypes"
                                [value]="startType.CoDFRelativeShiftTypeID"
                              >
                                {{ startType.Title }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field
                            class="form-dropdown"
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label>Relative to:</mat-label>
                            <mat-select
                              [value]="vm.relativeToID"
                              (selectionChange)="changeRelativeTo($event)"
                            >
                              <mat-option
                                *ngFor="let relativeTo of vm.relativeToTypes"
                                [value]="relativeTo.CoDFRelativeReferenceTypeID"
                              >
                                {{ relativeTo.Abbrev }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div
                        fxLayout="row"
                        fxLayoutGap="16px"
                        fxLayoutAlign="start center"
                      >
                        <div>
                          <mat-form-field appearance="fill" color="accent">
                            <mat-label>Span</mat-label>
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="filterSpan"
                            />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field
                            class="form-dropdown"
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label>Span Unit of Time</mat-label>
                            <mat-select
                              [value]="vm.spanID"
                              (selectionChange)="changeSpanUnitOfTime($event)"
                            >
                              <mat-option
                                *ngFor="let temporalType of vm.temporalTypes"
                                [value]="temporalType.CoTemporalTypeID"
                              >
                                {{ temporalType.Abbrev }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div
                        fxLayout="row"
                        fxLayoutGap="16px"
                        fxLayoutAlign="start center"
                      >
                        <div>
                          <mat-form-field appearance="fill" color="accent">
                            <mat-label>Offset</mat-label>
                            <input
                              matInput
                              autocomplete="off"
                              formControlName="filterOffset"
                            />
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field
                            class="form-dropdown"
                            appearance="fill"
                            color="accent"
                          >
                            <mat-label>Offset Unit of Time</mat-label>
                            <mat-select
                              [value]="vm.offsetID"
                              (selectionChange)="changeOffsetUnitOfTime($event)"
                            >
                              <mat-option
                                *ngFor="let temporalType of vm.temporalTypes"
                                [value]="temporalType.CoTemporalTypeID"
                              >
                                {{ temporalType.Abbrev }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <mat-card
                        style="margin-bottom: 15px; width: 385px"
                        class="mat-elevation-z4"
                      >
                        <h4>Result</h4>
                        <div
                          fxLayout="row"
                          fxLayoutGap="20px"
                          fxLayoutAlign="start center"
                        >
                          <div fxlayout="column">
                            <button
                              mat-flat-button
                              (click)="validateTimeFilter()"
                            >
                              <mat-icon
                                style="padding-bottom: 2px; margin-right: 4px"
                                color="accent"
                                >update</mat-icon
                              >Update
                            </button>
                          </div>
                          <div fxlayout="column">
                            <h5>
                              Start time:
                              {{ vm?.mockStartTime | date: 'MM/dd/yy hh:mma' }}
                            </h5>
                            <h5>
                              End Time:
                              {{ vm?.mockEndTime | date: 'MM/dd/yy hh:mma' }}
                            </h5>
                          </div>
                        </div>
                      </mat-card>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="vm.startDateAfterEndDate">
                    <mat-error>Start date must be before end date.</mat-error>
                  </ng-container>
                  <div
                    mat-dialog-actions
                    fxLayout="row"
                    fxLayoutGap="16px"
                    fxLayoutAlign="start center"
                    style="padding: 20px 0; width: 600px"
                  >
                    <div fxFlex="26">
                      <button
                        mat-stroked-button
                        [disabled]="!vm.deletable"
                        (click)="deletePin()"
                        style="margin-right: 55px !important"
                      >
                        <mat-icon
                          class="material-icons-outlined"
                          style="padding-bottom: 2px; padding-right: 2px"
                          >delete</mat-icon
                        >
                        Delete
                      </button>
                    </div>
                    <div fxFlex fxLayoutGap="16px">
                      <button
                        [disabled]="vm.pristine || vm.saving"
                        (click)="dismissChanges(vm.selectedTimeFilter)"
                        mat-stroked-button
                      >
                        Dismiss Changes
                      </button>
                      <button
                        style="height: 36px; width: 90px"
                        [disabled]="
                          vm.pristine ||
                          vm.invalidStartDateFormat ||
                          vm.invalidEndDateFormat ||
                          !filterForm.valid ||
                          vm.saving
                        "
                        mat-flat-button
                        (click)="saveChanges()"
                        color="accent"
                        cdkFocusInitial
                      >
                        <ng-container *ngIf="vm.saving">
                          <mat-progress-spinner
                            diameter="20"
                            strokeWidth="11%"
                            color="accent"
                            style="margin: auto; padding: auto"
                            mode="indeterminate"
                          ></mat-progress-spinner>
                        </ng-container>
                        <ng-container *ngIf="!vm.saving">
                          <mat-icon
                            class="material-icons-outlined"
                            style="padding-bottom: 2px; padding-right: 2px"
                            >save</mat-icon
                          >
                          Save</ng-container
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </mat-card>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</atx-horizontal-layout>
