.main-nav {
  height: 100%;
  width: 100%;
}
.filter-criteria-container {
  height: 90%;
  width: 100%;
  padding: 10px;
}

.time-range-header {
  width: 100%;
  padding: 5px 20px 5px 10px;
}

.time-range-header mat-label {
  font-size: 14px;
  font-weight: 700;
}

.time-ragne-header h2 {
  margin: 0;
}

.list-card {
  height: 100%;
}

.list-card mat-card {
  height: 100% !important;
  min-width: 325px;
}

.list-card mat-card-title {
  font-size: 16px;
}

.type-list {
  height: calc(100% - 105px);
  overflow: scroll;
}

.type-list .mat-list-item {
  height: 36px;
}

.time-range-search mat-form-field {
  width: 90%;
  margin-top: 10px;
  padding: 0 10px;
}

.form-content {
  width: 100%;
  height: 100%;
}

.asset-label {
  font-size: 12px;
  position: relative;
}

.selected-node {
  font-size: 16px;
  color: #9a9a9b;
}

.asset-name-container {
  width: auto;
  white-space: nowrap;
  margin-top: 4px;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 10px;
}

.asset-tree-dropdown-container {
  width: 350px;
  position: relative;
  top: 20px;
}

.asset-tree-dropdown {
  height: 290px;
  width: calc(100% - 50px);
  right: 0;
  position: absolute;
  z-index: 9999;
}

::ng-deep {
  .filter-criteria-container .form-content .mat-form-field-label-wrapper {
    margin: 2px 0 !important;
  }

  .filter-criteria-container .form-content .mat-form-field-wrapper {
    padding-bottom: 16px !important;
  }

  .filter-criteria-container .form-content .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .filter-criteria-container .form-content .mat-form-field-underline {
    bottom: auto !important;
  }

  .filter-criteria-container .form-content .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .filter-criteria-container .form-content .mat-form-field-underline {
    bottom: auto !important;
  }

  .filter-criteria-container .form-content .mat-select-value {
    padding-top: 3px !important;
  }

  .filter-criteria-container .form-content .mat-select-arrow-wrapper {
    padding-top: 12px !important;
  }

  .filter-criteria-container
    .form-content
    .form-dropdown
    .mat-form-field-infix {
    padding: 0.05em 0 0.75em 0 !important;
  }

  .filter-criteria-container .mat-form-field-flex {
    align-items: center !important;
  }

  .time-range-search .mat-form-field-prefix .mat-icon {
    line-height: 2;
    margin-right: 10px;
  }

  .type-list .mat-list-item {
    display: flex;
    min-height: 36px !important;
    height: auto !important;
    cursor: pointer;
  }
}
.top-progress-bar {
  margin: 0;
  margin-bottom: -13px;
  padding: 0;
}
::ng-deep .top-progress-bar .mat-progress-bar-element {
  height: 1px !important;
  border-radius: 4px;
}

::ng-deep .top-progress-bar .mat-progress-bar-fill::after {
  height: 1px !important;
}
.mat-error {
  margin-top: 0px;
  word-wrap: none;
}
.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  height: calc(100% - 10px);
  padding-bottom: 10px;
}
