<ng-container *ngIf="tagMapViewModel$ | async as vm">
  <mat-drawer-container class="tagmaps-container">
    <div class="tagmap-grid-container">
      <div class="tagmap-title" #menuBar>
        <span
          >Tagmaps<mat-icon
            matTooltip="Tagmaps locate tags into the asset hierarchy so they can be used in Prometheus APM Task Centers.  Drag from Tag Definitions to create new Tagmaps or move Tagmaps to new rows to the desired Asset and Variable.  Multi-select using 'Ctrl' and 'Shift'.  Visit Support to learn more."
            >help_outline</mat-icon
          >
          <span *ngIf="vm.isServerSelected">
            <button
              #copyButton
              matTooltip="Copy to Clipboard"
              mat-icon-button
              data-cy="copyTagMaps"
              aria-hidden="false"
              aria-label="Copy to Clipboard"
              (click)="copyTagMaps()"
              [disabled]="vm.totalTagMaps === 0"
            >
              <mat-icon class="mat-icon-full">content_copy</mat-icon>
            </button>
            <button
              #pasteButton
              matTooltip="Bulk Load Tagmaps"
              mat-icon-button
              data-cy="pasteTagMaps"
              aria-hidden="false"
              aria-label="Bulk Load Tagmaps"
              (click)="onPasteClick()"
              [disabled]="vm.tagMapsDataAvailable === 'loading'"
            >
              <mat-icon>content_paste</mat-icon>
            </button>
            <button
              #deleteButton
              matTooltip="Remove Tagmap(s)"
              mat-icon-button
              data-cy="deleteTagMap"
              aria-hidden="false"
              aria-label="Remove Tagmap(s)"
              (click)="deleteTagMaps()"
              [disabled]="!rowsSelected"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </span>
        <span
          class="material-icons"
          align="right"
          *ngIf="!isTagMapExpanded"
          (click)="expand()"
        >
          chevron_right
        </span>
        <span
          class="material-icons"
          *ngIf="isTagMapExpanded"
          (click)="collapse()"
        >
          chevron_left
        </span>
      </div>

      <mat-card
        class="tagmap-header"
        [ngClass]="{
          'tagmap-header-bg-dark': vm.theme === 'dark',
          'tagmap-header-bg-light': vm.theme === 'light'
        }"
      >
        <div class="header-left">
          <span
            style="top: 8px; left: 9px; position: absolute"
            *ngIf="vm.tagMapFilters.length === 0"
          >
            <mat-icon>filter_alt_outline</mat-icon>
          </span>
          <button
            matTooltip="Clear Filters"
            class="maticon-button"
            mat-icon-button
            *ngIf="vm.tagMapFilters.length > 0"
            (click)="clearFilters($event)"
          >
            <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
          </button>
          <mat-chip-list #chipList aria-label="Filters">
            <mat-chip
              *ngFor="let filter of vm.tagMapFilters"
              [removable]="filter.Removable"
              (removed)="removeFilter(filter)"
            >
              {{ filter.DisplayName }}
              <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="header-right">
          <span data-cy="totalTagMaps"> Total Rows: {{ vm.totalTagMaps }}</span>
          <button
            #refreshButton
            matTooltip="Refresh View"
            mat-icon-button
            (click)="refresh()"
            data-cy="refreshGridBtn"
          >
            <mat-icon class="mat-icon-full">refresh</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Toggle Filter Row"
            (click)="toggleFloatingFilter()"
            data-cy="toggleFilterBtn"
          >
            <mat-icon>filter_list</mat-icon>
          </button>
          <button
            #downloadButton
            matTooltip="Copy to Clipboard"
            mat-icon-button
            data-cy="downloadGridBtn"
            (click)="copyTagMaps()"
            [disabled]="vm.totalTagMaps === 0"
          >
            <mat-icon>save_alt</mat-icon>
          </button>
        </div>
      </mat-card>

      <div class="tagmap-body" #gridBody>
        <ag-grid-angular
          class="ag-grid-formats"
          [ngClass]="
            vm.theme === 'light'
              ? 'ag-theme-alpine'
              : vm.theme === 'dark'
              ? 'ag-theme-alpine-dark'
              : 'ag-theme-alpine-dark'
          "
          [modules]="modules"
          [gridOptions]="gridOptions"
        ></ag-grid-angular>
      </div>
    </div>
  </mat-drawer-container>
</ng-container>
