<mat-form-field class="dropdown" appearance="fill" color="accent">
  <mat-label>Select me</mat-label>
  <mat-select>
    <mat-option value="option">Option</mat-option>
  </mat-select>
  <mat-hint></mat-hint>
</mat-form-field>
