.ag-grid-container {
  height: calc(100% - 66px);
}

.ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 10px;
  height: 100%;
}

.ag-fresh .ag-header-cell-label .ag-header-cell-text {
  display: inline-block;
  text-align: center;
}

.ag-fresh .ag-header-cell-label .ag-header-icon {
  vertical-align: top;
}

.ag-fresh .ag-header-cell-label > span {
  float: none;
}

.space-above {
  padding-top: 10px;
  padding-left: 10px;
}

.descendantsCheckbox {
  padding-top: 6px;
  padding-left: 40px;
}

.loading {
  padding-top: 8px;
  padding-left: 10px;
}

::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }

  .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }
}

.material-icons {
  line-height: 0.85 !important;
}

.mat-error {
  margin-top: 10px;
}
