<div fxLayout="row" class="space-above">
  <div fxLayout="row" fxFlex="25%" class="left-column-info">
    <button
      [disabled]="includeDescendants$ | async"
      mat-raised-button
      color="accent"
      fxFlex="130px"
      id="add-btn"
      (click)="newEventsDialog()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Add Event
    </button>

    <div class="descendantsCheckbox">
      <ng-container *ngIf="this.config.configType === 'PowerGen'">
      </ng-container>
      <mat-checkbox
        label-position="after"
        [disabled]="
          this.config.configType !== 'PowerGen' && isAdHocTree$ | async
        "
        [checked]="includeDescendants$ | async"
        (change)="includeDescendants($event)"
        >Include Descendants</mat-checkbox
      >
    </div>
    <div class="loading" *ngIf="descendentsLoading$ | async">
      <mat-progress-spinner
        diameter="20"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
    </div>
  </div>
</div>
<div class="ag-grid-container">
  <ag-grid-angular
    class="ag-grid-formats"
    [ngClass]="theme$ | async"
    [gridOptions]="gridOptions"
    [modules]="modules"
  ></ag-grid-angular>
</div>
