<div mat-dialog-title>Warning!</div>
<div>
  This issue is already associated to a work request. Creating a new work
  request will break the association with the original item. Are you sure you
  want to proceed?
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-flat-button cdkFocusInitial (click)="onCreate()">Create</button>
</div>
