<ng-container>
  <div
    style="height: 100%; width: 100%"
    *ngIf="selectedRole === null; else hasSelectedRole"
  >
    <div fxLayout="column" fxLayoutAlign="center center">
      <div style="width: 300px; text-align: center; margin-top: 48px">
        <h2>No Role Selected</h2>
        <p>
          To see a role's details, select a role from the list or click on Add
          New Role to begin.
        </p>
      </div>
    </div>
  </div>
  <ng-template #hasSelectedRole>
    <div
      class="loading"
      *ngIf="isLoading !== null && isLoading === true; else loaded"
    >
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      <b>Loading Data</b>
    </div>
    <ng-template #loaded>
      <atx-asset-tree-table
        [selectedRole]="selectedRole"
        [selectedCustomer]="selectedCustomer"
        [assets]="assets"
        [assetPermissions]="assetPermissions"
        (stateChange)="assetTreeTableStateChange.emit($event)"
      >
      </atx-asset-tree-table>
    </ng-template>
  </ng-template>
</ng-container>
