<div class="flex flex-col h-full">
  <ng-container *ngIf="vm$ | async as vm">
    <div class="opmode-list-container">
      <mat-card
        class="opmode-list-header"
        [ngClass]="{
          'opmode-list-header-bg-dark': listTheme === 'dark',
          'opmode-list-header-bg-light': listTheme === 'light'
        }"
      >
        <div class="header-left">
          <span
            style="top: 8px; left: 9px; position: absolute"
            *ngIf="vm.opModesFilteredColums.length === 0"
          >
            <mat-icon>filter_alt_outline</mat-icon>
          </span>
          <button
            matTooltip="Clear Filters"
            class="mat-icon-button"
            mat-icon-button
            *ngIf="vm.opModesFilteredColums.length > 0"
            (click)="clearFilters()"
          >
            <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
          </button>
          <mat-chip-list #chipList aria-label="Filters">
            <mat-chip
              *ngFor="let filter of vm.opModesFilteredColums"
              [removable]="filter.Removable"
              (removed)="removeFilter(filter)"
            >
              {{ filter.DisplayName }}
              <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="header-right" fxLayout="row" fxLayoutAlign="end center">
          <div
            fxLayout="row"
            fxLayoutAlign="end center"
            style="margin-right: 10px"
          >
            <mat-label style="white-space: nowrap"
              >Total Op Modes: {{ vm.totalOpModes }}</mat-label
            >
          </div>
        </div>
      </mat-card>
      <div class="opmode-list-grid" #opModeListGrid>
        <ag-grid-angular
          (dragover)="onDragOver($event)"
          (drop)="onOpModeChartDrop($event)"
          class="ag-grid-formats"
          [ngClass]="
            listTheme === 'light'
              ? 'ag-theme-alpine'
              : listTheme === 'dark'
              ? 'ag-theme-alpine-dark'
              : 'ag-theme-alpine-dark'
          "
          [gridOptions]="gridOptions"
          [columnDefs]="columnDefs"
          [modules]="modules"
          [rowData]="opModes$ | async"
        ></ag-grid-angular>
      </div>
    </div>
    <ng-container *ngIf="opModeVm$ | async as opModeVm">
      <div
        class="opmode-details-container selected-op-mode-toolbar"
        [formGroup]="mainForm"
      >
        <div
          *ngIf="opModeVm.selectedOpMode && !opModeVm.isLoading"
          class="flex-row start align-center op-mode-toolbar"
        >
          <div
            class="flex flex-row items-center"
            [formGroup]="$any(opModeDetailsFormGroup)"
          >
            <div class="ml-4 font-bold">
              <span
                >Name<mat-form-field
                  class="ml-4 mb-4 mt-5 op-mode-name"
                  color="accent"
                  appearance="fill"
                >
                  <input
                    matInput
                    autocomplete="off"
                    autocorrect="off"
                    spellcheck="false"
                    formControlName="opModeName"
                /></mat-form-field>
              </span>
            </div>
            <div class="ml-4 font-bold grow">
              <span
                >Op Mode Type
                <mat-form-field
                  class="ml-4 mb-4 mt-5 op-mode-select"
                  appearance="fill"
                  color="accent"
                >
                  <mat-select
                    (selectionChange)="opModeChange($event)"
                    [value]="opModeVm.selectedOpMode?.opModeTypeID?.toString()"
                  >
                    <mat-option value="1">Startup</mat-option>
                    <mat-option value="2">Transient</mat-option>
                    <mat-option value="3">Out of Service</mat-option>
                    <mat-option value="5">Exclusion Period</mat-option>
                  </mat-select>
                </mat-form-field></span
              >
            </div>
            <div class="flex space-x-2 mr-5">
              <button
                mat-flat-button
                (click)="discardChanges()"
                [disabled]="!opModeVm.isDirty"
                [style.visibility]="
                  opModeVm.isLoading || !opModeVm.selectedOpMode ? 'hidden' : ''
                "
                data-cy="opModeDiscardBtn"
              >
                Discard Changes
              </button>
              <button
                mat-flat-button
                color="accent"
                (click)="saveOpMode()"
                [disabled]="
                  !opModeVm.isDirty || opModeVm.hasErrors || !mainForm.valid
                "
                [style.visibility]="
                  opModeVm.isLoading || !opModeVm.selectedOpMode ? 'hidden' : ''
                "
                data-cy="opModeSaveBtn"
              >
                <mat-icon>save</mat-icon>
                Save
              </button>

              <button
                mat-mini-fab
                color="accent"
                matTooltip="more options"
                [matMenuTriggerFor]="moreOptions"
                data-cy="moreOptionsBtn"
              >
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #moreOptions="matMenu">
                <button
                  [disabled]="
                    opModeVm?.selectedOpMode?.opModeDefinitionID === -1
                  "
                  mat-menu-item
                  (click)="deleteOpMode()"
                  data-cy="deleteOpModeBtn"
                >
                  <mat-icon>delete</mat-icon>
                  Delete Op Mode
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <ng-container *ngIf="opModeVm.isLoading">
          <mat-progress-bar
            class="opmode-progress-bar"
            color="accent"
            mode="indeterminate"
          ></mat-progress-bar>
        </ng-container>
        <ng-container
          *ngIf="
            !opModeVm.selectedOpMode ||
            (opModeVm.selectedOpMode && opModeVm.isLoading)
          "
        >
          <div style="height: 76px">&nbsp;</div>
        </ng-container>
        <div class="assets-tags-container">
          <div style="margin-top: 5px">
            <mat-icon
              matTooltip="To be defined..."
              [style.visibility]="
                opModeVm.isLoading || !opModeVm.selectedOpMode ? 'hidden' : ''
              "
              >help_outline</mat-icon
            >
          </div>
          <div style="width: 100%">
            <ng-container
              *ngIf="!opModeVm.selectedOpMode && !opModeVm.isLoading"
            >
              <div class="no-selected-op-mode">
                <h2>{{ noSelectedOpModeMessage }}</h2>
              </div>
            </ng-container>
            <ng-container *ngIf="opModeVm.selectedOpMode">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                style="margin-top: 5px"
                class="opmode-asset-tag-input-container"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event, true)"
                data-cy="associatedAssetsAndTags"
              >
                <mat-label
                  class="opmode-asset-tag-input-label"
                  [style.visibility]="
                    opModeVm.isLoading || !opModeVm.selectedOpMode
                      ? 'hidden'
                      : ''
                  "
                  >Associated Assets and Tags:</mat-label
                >
                <mat-card
                  class="opmode-chiplist-container"
                  [style.visibility]="
                    opModeVm.isLoading || !opModeVm.selectedOpMode
                      ? 'hidden'
                      : ''
                  "
                >
                  <mat-chip-list #chipList>
                    <ng-container
                      *ngFor="
                        let assetTagMap of opModeVm?.associatedAssetsAndTags
                      "
                    >
                      <ng-container *ngIf="assetTagMap?.assetGuid; else tag">
                        <mat-chip
                          class="opmode-chip"
                          [matTooltip]="
                            assetTagMap?.bringDescendants
                              ? 'Asset with descendants. Click to remove descendants'
                              : 'Asset only. Click to include descendants'
                          "
                          (click)="changeAssetTagMapDescendants(assetTagMap)"
                        >
                          <mat-icon
                            class="opmode-chip-icon material-icons"
                            [ngClass]="{
                              color_grey: !assetTagMap?.bringDescendants
                            }"
                          >
                            account_tree
                          </mat-icon>
                          {{ assetTagMap?.assetAbbrev }}
                          <button
                            matChipRemove
                            (click)="removeAssetTagMap(assetTagMap)"
                          >
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                      </ng-container>
                      <ng-template #tag>
                        <mat-chip class="opmode-chip">
                          <mat-icon class="opmode-chip-icon">sell</mat-icon>
                          {{ assetTagMap?.tagDesc }}
                          ({{ assetTagMap?.tagName }})
                          <button
                            matChipRemove
                            (click)="removeAssetTagMap(assetTagMap)"
                          >
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                      </ng-template>
                    </ng-container>
                  </mat-chip-list>
                </mat-card>
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                class="opmode-asset-tag-input-container"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event, false)"
                data-cy="excludedAssetsAndTags"
              >
                <mat-label
                  class="opmode-asset-tag-input-label"
                  [style.visibility]="
                    opModeVm.isLoading || !opModeVm.selectedOpMode
                      ? 'hidden'
                      : ''
                  "
                  >Excluded Assets and Tags:</mat-label
                >
                <mat-card
                  class="opmode-chiplist-container"
                  [style.visibility]="
                    opModeVm.isLoading || !opModeVm.selectedOpMode
                      ? 'hidden'
                      : ''
                  "
                >
                  <mat-chip-list #chipList>
                    <ng-container
                      *ngFor="
                        let assetTagMap of opModeVm?.excludedAssetsAndTags
                      "
                    >
                      <ng-container *ngIf="assetTagMap?.assetGuid; else tag">
                        <mat-chip
                          class="opmode-chip"
                          [matTooltip]="
                            assetTagMap?.bringDescendants
                              ? 'Asset with descendants. Click to remove descendants'
                              : 'Asset only. Click to include descendants'
                          "
                          (click)="changeAssetTagMapDescendants(assetTagMap)"
                        >
                          <mat-icon
                            class="opmode-chip-icon material-icons"
                            [ngClass]="{
                              color_grey: !assetTagMap?.bringDescendants
                            }"
                          >
                            account_tree
                          </mat-icon>
                          {{ assetTagMap?.assetAbbrev }}
                          <button
                            matChipRemove
                            (click)="removeAssetTagMap(assetTagMap)"
                          >
                            <mat-icon>cancel</mat-icon>
                          </button></mat-chip
                        >
                      </ng-container>
                      <ng-template #tag>
                        <mat-chip class="opmode-chip">
                          <mat-icon class="opmode-chip-icon">sell</mat-icon>
                          {{ assetTagMap?.tagDesc }}
                          ({{ assetTagMap?.tagName }})
                          <button
                            matChipRemove
                            (click)="removeAssetTagMap(assetTagMap)"
                          >
                            <mat-icon>cancel</mat-icon>
                          </button></mat-chip
                        >
                      </ng-template>
                    </ng-container>
                  </mat-chip-list>
                </mat-card>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="flex flex-row" style="height: 41vh">
          <div class="op-mode-criteria-tab">
            <ng-container *ngIf="opModeVm.selectedOpMode">
              <mat-tab-group
                class="op-mode-criteria-tab-group"
                animationDuration="0ms"
                color="accent"
                [style.visibility]="
                  opModeVm.isLoading || !opModeVm.selectedOpMode ? 'hidden' : ''
                "
              >
                <ng-container
                  *ngIf="
                    opModeVm.selectedOpMode &&
                    opModeVm.selectedOpMode?.opModeTypeID !==
                      eOpModeTypes.ExclusionPeriod
                  "
                >
                  <mat-tab>
                    <ng-template matTabLabel>
                      <span
                        matBadge="{{
                          opModeVm.selectedOpMode?.startCriteria?.length
                        }}"
                        matBadgeColor="accent"
                        matBadgeOverlap="false"
                        >{{ opModeVm.selectedOpMode.opModeTypeAbbrev }} If</span
                      >
                    </ng-template>
                    <ng-template matTabContent>
                      <atx-op-mode-criteria
                        [criteriaViewType]="eCriteriaViewType.StartCriteria"
                      ></atx-op-mode-criteria>
                    </ng-template>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>
                      <span
                        matBadge="{{
                          opModeVm.selectedOpMode?.endCriteria?.length
                        }}"
                        matBadgeColor="accent"
                        matBadgeOverlap="false"
                        >Except When</span
                      >
                      <ng-container
                        *ngIf="opModeVm.selectedOpMode?.endCriteria?.length > 0"
                      >
                        <mat-icon
                          matTooltip='Review "Except When" criteria to ensure desired logic is achieved.  Except When is no longer required, so if "Active If" is sufficient by itself, then consider removing all Except When logic.'
                          class="ml-6 mb-5"
                          [color]="
                            opModeVm.highlightWarning ? 'error' : 'accent'
                          "
                        >
                          <ng-container *ngIf="opModeVm.highlightWarning"
                            >error</ng-container
                          >
                          <ng-container *ngIf="!opModeVm.highlightWarning"
                            >error_outline</ng-container
                          >
                        </mat-icon>
                      </ng-container>
                    </ng-template>
                    <ng-template matTabContent>
                      <atx-op-mode-criteria
                        [criteriaViewType]="eCriteriaViewType.EndCriteria"
                      ></atx-op-mode-criteria>
                    </ng-template>
                  </mat-tab>
                </ng-container>
                <ng-container
                  *ngIf="
                    opModeVm.selectedOpMode &&
                    opModeVm.selectedOpMode?.opModeTypeID ===
                      eOpModeTypes.ExclusionPeriod
                  "
                >
                  <mat-tab label="Exclusion Period">
                    <ng-template matTabContent>
                      <atx-op-mode-criteria-exclusion></atx-op-mode-criteria-exclusion>
                    </ng-template>
                  </mat-tab>
                </ng-container>
              </mat-tab-group>
            </ng-container>
          </div>
          <div class="op-mode-tag-list-container">
            <atx-op-mode-tag-list></atx-op-mode-tag-list>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
