.opmode-list-container {
  height: calc(30% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}

.opmode-list-header {
  height: 35px;
  width: calc(100% - 2px);
  display: flex;
  padding: 0;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
  align-items: center;
}

.header-right {
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
}

.opmode-list-header-bg-dark {
  background-color: #222628;
}

.opmode-list-header-bg-light {
  background-color: #fff;
  border: solid 1px rgba(186, 191, 199, 0.8);
}

.header-left {
  float: left;
  display: flex;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

.mat-standard-chip {
  min-height: 24px !important;
  font-size: 12px;
}

.opmode-list-grid {
  height: calc(100% - 37px);
  width: 100%;
}

.opmode-list-grid .ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
}

.opmode-details-container {
  margin: 5px;
}

.assets-tags-container {
  height: 110px;
  display: flex;
}

.opmode-asset-tag-input-container {
  margin-bottom: 10px;
}

.opmode-asset-tag-input {
  width: 100%;
  overflow-y: auto;
  margin-bottom: -15px;
}

.opmode-asset-tag-input-label {
  text-align: end;
  width: 250px;
  margin-top: 14px;
}

.opmode-chiplist-container {
  display: flex;
  padding: 2px;
  width: 85%;
}
.opmode-chiplist-container mat-chip-list {
  height: 30px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.opmode-chiplist-container ::-webkit-scrollbar-thumb {
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.opmode-chip-icon {
  transform: scale(0.8);
}

.opmode-chip {
  min-height: 30px !important;
}

.op-mode-criteria-tab {
  flex: 1;
  border: 1px solid rgba(160, 160, 160, 0.3);
  margin-right: 2px;
}

.op-mode-tag-list-container {
  flex: 1;
}

.no-selected-op-mode {
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;
}

::ng-deep {
  .op-mode-select .mat-select-value {
    padding-top: 3px !important;
  }

  .op-mode-select .mat-select-arrow {
    margin-top: 13px !important;
  }

  .opmode-progress-bar .mat-progress-bar-element {
    height: 200px !important;
    border-radius: 4px;
  }

  mat-tab-group.op-mode-criteria-tab-group {
    height: calc(100% - 1px);
  }

  .op-mode-criteria-tab-group .mat-tab-body-wrapper {
    height: calc(100% - 1px);
  }

  .opmode-progress-bar .mat-progress-bar-fill::after {
    height: 2px !important;
    border-radius: 4px;
  }

  .ag-overlay-loading-center {
    border: transparent !important;
    padding: 16px !important;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none !important;
    width: auto;
    display: inline-grid;
  }

  .ag-overlay-loading-center .ag-icon-column.select-asset {
    width: 48px;
    height: 48px;
  }

  .loader {
    border: 4px solid #f3f3f330; /* Light grey */
    border-top: 4px solid #80bbac; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .select-asset {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ag-theme-alpine-dark button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-theme-alpine button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-header-cell {
    padding: 0px 5px 0px 10px !important;
  }

  .icon-only .ag-header-cell-label img {
    width: auto;
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    color: #80cbc4 !important;
  }

  .ag-side-bar-right .ag-selected .ag-side-button-button {
    border-left-color: #80cbc4 !important;
  }

  .icon-only .ag-header-cell-text {
    display: none;
  }

  .ag-theme-alpine {
    .lower-limit-cell {
      background-color: #e2bd68;
    }

    .upper-limit-cell {
      background-color: #e2bd68;
    }

    .ag-header-cell-text {
      color: #303030 !important;
    }

    .ag-row-odd {
      background: #f6f6f6;
    }

    .ag-row-selected {
      background-color: #80cbc4 !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: #80cbc430 !important;
    }

    .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .ag-side-bar {
      background: #fafafa !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .lower-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .upper-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .ag-row-selected {
      background-color: #80cbc4 !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: #80cbc420 !important;
    }

    .ag-side-buttons {
      padding-top: 12px;
      //background-color: #303030;
    }
  }

  .ag-side-button-label {
    display: none;
  }
  .ag-theme-alpine-dark .ag-side-button-button,
  .ag-theme-alpine .ag-side-button-button {
    padding: 0;
    margin: 0;
    min-height: 30px;
  }
  .ag-side-button {
    height: 30px;
    margin: 2px 0;
  }
  .ag-column-drop-horizontal {
    height: 30px !important;
  }
  .ag-header-row {
    height: 30px !important;
  }

  .ag-cell {
    line-height: 26px !important;
  }

  .ag-details-row {
    padding: 10px !important;
  }

  .ag-icon-my-views,
  .ag-icon-column,
  .ag-icon-filters {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }

  .op-mode-name .mat-form-field-wrapper {
    width: 300px;
    padding-bottom: 0px !important;
  }

  .op-mode-select .mat-form-field-wrapper {
    width: 150px;
    padding-bottom: 0px !important;
  }

  .default-dark-theme {
    .op-mode-toolbar {
      background-color: #222628;
      border: 1px solid #4c4c4c;
      border-radius: 4px;
    }
  }
  .alternative-light-theme {
    .op-mode-toolbar {
      background-color: #ffffff;
      border: 1px solid #b8b8b8;
      border-radius: 4px;
    }
  }

  .op-mode-criteria-tab-group
    .mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label.ng-star-inserted {
    opacity: 1;
  }

  .op-mode-toolbar .mat-form-field-flex {
    padding-top: 2px !important;
    padding-bottom: 0px !important;
  }

  .op-mode-toolbar .mat-form-field-underline {
    bottom: auto !important;
  }

  .op-mode-toolbar .mat-form-field-flex {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .op-mode-toolbar .mat-form-field-underline {
    bottom: auto !important;
  }
}
