<atx-horizontal-layout
  *ngIf="assetConfigViewModel$ | async as vm"
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [leftTraySize]="vm.leftTraySize"
  [leftTrayMode]="vm.leftTrayMode"
  [leftTrayOpen]="vm.assetTreeSelected"
  [leftTraySizeMin]="150"
  [rightTrayMode]="'side'"
  [rightTraySize]="0"
  [rightTrayOpen]="false"
>
  <atx-asset-tree
    class="side-nav"
    [treeState]="vm.assetTreeConfiguration"
    [disableAdHocDropdown]="true"
    (stateChange)="onAssetTreeStateChange($event)"
  >
  </atx-asset-tree>

  <div class="main-nav">
    <div class="main-content">
      <div class="asset-config-container">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          style="height: 60px"
        >
          <h1 class="header">
            <span style="margin-left: 20px; margin-right: 24px"
              >Asset Configuration</span
            >
            <span style="font-size: 18px"
              >Selected Asset: <span>{{ vm.assetName }}</span></span
            >
          </h1>
          <div>
            <mat-form-field
              appearance="fill"
              color="accent"
              *ngIf="vm.currentTab === 'tagsTab'"
            >
              <mat-label>Server</mat-label>
              <mat-select
                [value]="vm.selectedServer"
                (selectionChange)="selectServer($event)"
              >
                <mat-option
                  *ngFor="let server of vm.tagServers"
                  [value]="server"
                >
                  {{ server.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <nav mat-tab-nav-bar class="tab-header" color="accent">
            <div>
              <a
                mat-tab-link
                *ngFor="let tab of vm.tabs"
                [routerLink]="tab.path"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
              >
                {{ tab.label }}
                <span *ngIf="tab.isDirty === true">
                  <i class="material-icons">pending</i>
                </span>
              </a>
            </div>
          </nav>
          <div fxLayoutGap="10px" style="margin-right: 10px">
            <mat-slide-toggle
              id="toggleSlide"
              [checked]="vm.selectedAssetOnly"
              (change)="selectedAssetChange($event)"
              [disabled]="vm.isToggleDisabled"
            >
              Include items for this asset only</mat-slide-toggle
            >
          </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</atx-horizontal-layout>
