<div class="snackbar-flex">
  <div class="toast-wrap">
    <div class="snackbar-wrap">
      <p class="snackbar-message">{{ data.message }}</p>
    </div>
  </div>

  <div class="dismiss">
    <span class="material-icons" (click)="snackBarRef.dismiss()"> cancel </span>
  </div>
</div>
