::ng-deep {
  .success {
    background: #5acd61 !important;
    color: #fff !important;
  }
  .error {
    background: #d50000 !important;
    color: #fff !important;
  }
  .info {
    background: var(--accent-250) !important;
    color: #fff !important;
  }
  .warning {
    background: #f9a825 !important;
    color: #fff !important;
  }
  .snapshot-banner {
    background: var(--accent-250) !important;
    color: #fff !important;
    position: absolute !important;
    right: calc(100% - 98%) !important;
    bottom: calc(100% - 35%) !important;
  }
  .snackbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toast-wrap {
    display: flex;
    align-items: center;
  }
  .snackbar-wrap {
    padding-left: 25px;
  }
  .status {
    font-size: 15px;
    font-weight: bold;
  }
  .snackbar-message {
    font-size: 14px;
  }
  .toast-wrap span.material-icons {
    font-size: 30px;
  }
  .dismiss {
    cursor: pointer;
  }
}
