<div class="edit-view-container">
  <mat-card class="edit-view-card">
    <div class="header-right">
      <button
        class="maticon-button"
        mat-icon-button
        (click)="bottomIndicatorClick()"
      >
        <mat-icon class="mat-icon-half" [ngClass]="{ clicked: expanded }"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </div>
    <ng-container [formGroup]="parentForm">
      <atx-settings-tabs [asset]="asset"></atx-settings-tabs>
    </ng-container>
  </mat-card>
</div>
