.edit-view-container {
  height: calc(100% - 8px);
}

.edit-view-card {
  height: 100%;
  margin: 2px;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 1px !important;
}

.header-right {
  height: 30px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
  top: 5px;
}

button {
  z-index: 100;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

button:focus {
  outline: 0;
}

.mat-icon-half {
  transition: all 0.3s ease-out !important;
}
.clicked {
  transform: rotate(180deg);
}
