<form
  fxLayout="column"
  fxLayoutAlign="center center"
  style="width: 80%; margin: 0 auto"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <p>
    Enter your username (email address). You will receive a code which can be
    used to reset your password.
  </p>
  <mat-error *ngIf="state?.showError">
    {{ state?.errorMessage }}
  </mat-error>
  <mat-form-field style="width: 100%" appearance="fill">
    <input
      matInput
      type="email"
      placeholder="Email"
      formControlName="username"
      required
      data-cy="emailForgotPasswordFld"
    />
    <mat-error> Please provide a valid email address </mat-error>
  </mat-form-field>
  <button
    type="submit"
    style="margin-bottom: 20px; width: 100%"
    mat-raised-button
    color="accent"
    data-cy="requestPasswordResetBtn"
  >
    Request Password Reset
  </button>
</form>
