<ng-container>
  <div class="group-details-tabs-container">
    <div style="height: 100px" fxLayout="row" fxLayoutAlign="left center">
      <form [formGroup]="groupDetailsTabsForm">
        <mat-form-field
          appearance="fill"
          color="accent"
          class="group-name-input"
        >
          <mat-label>Group Name</mat-label>
          <input
            title="groupName"
            matInput
            formControlName="groupName"
            autocomplete="off"
          />
        </mat-form-field>
        <ng-container *ngIf="nameIsDirty === true">
          <span><i class="material-icons">pending</i></span>
        </ng-container>

        <mat-checkbox
          color="accent"
          class="auto-gen-checkbox"
          formControlName="isActive"
          [disabled]="!selectedGroup"
          >Active
        </mat-checkbox>
        <ng-container *ngIf="activeIsDirty === true">
          <span><i class="material-icons">pending</i></span>
        </ng-container>
      </form>
    </div>
    <div class="group-details-tabs-group">
      <mat-tab-group
        animationDuration="0ms"
        color="accent"
        [(selectedIndex)]="selectedIndex"
      >
        <ng-container>
          <mat-tab>
            <ng-template mat-tab-label
              >Members<ng-container *ngIf="isMembersSubTabDirty === true">
                <span><i class="material-icons">pending</i></span>
              </ng-container></ng-template
            >
            <ng-template matTabContent>
              <atx-user-admin-group-members
                [selectedGroup]="selectedGroup"
                [isLoading]="isLoading"
                [availableMembers]="users"
                [filteredMembers]="filteredMembers"
              ></atx-user-admin-group-members>
            </ng-template>
          </mat-tab>
        </ng-container>
        <ng-container>
          <mat-tab>
            <ng-template mat-tab-label
              >Roles<ng-container *ngIf="isRolesSubTabDirty === true">
                <span><i class="material-icons">pending</i></span>
              </ng-container></ng-template
            >
            <ng-template matTabContent>
              <atx-user-admin-group-role-perms
                [selectedGroup]="selectedGroup"
                [isLoading]="isLoading"
                [rolePermissions]="rolePermissions"
              ></atx-user-admin-group-role-perms>
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
