<mat-dialog-content class="image-viewer-dialog">
  <div class="viewer-dialog-close">
    <button mat-mini-fab color="accent" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <div>
      <button
        mat-mini-fab
        color="primary"
        class="carousel__prev-button"
        (click)="showPrev()"
      >
        <mat-icon> chevron_left </mat-icon>
      </button>
    </div>
    <div class="image-container">
      <img [src]="imageSources[selectedIndex]" #imgZm Zoom="250" />
    </div>
    <button
      mat-mini-fab
      color="primary"
      class="carousel__next-button"
      (click)="showNext()"
    >
      <mat-icon> chevron_right </mat-icon>
    </button>
  </div>
  <div class="zoom-tools" fxLayoutGap="20px">
    <button mat-mini-fab color="primary" (click)="zoom('in')">
      <mat-icon>zoom_in</mat-icon>
    </button>

    <button mat-mini-fab color="primary" (click)="zoom('out')">
      <mat-icon>zoom_out</mat-icon>
    </button>
  </div>
  <div class="div-dots-window">
    <div
      class="div-dots-nospace"
      [ngClass]="
        imageSources?.length <= numDotsToShow ? 'div-dots-nospace-center' : ''
      "
      [ngStyle]="{ transform: 'translateX(' + translateOffset + 'px)' }"
    >
      <div
        class="btn-dots"
        [attr.loopIndex]="i"
        *ngFor="let item of imageSources; let i = index"
        [ngClass]="[
          i === selectedIndex ? 'active' : '',
          (i === minDotIndex - 1 || i === maxDotIndex + 1) &&
          i !== selectedIndex
            ? 'small'
            : ''
        ]"
      ></div>
    </div>
  </div>
</mat-dialog-content>
