::ng-deep {
  .custom-dialog-image-viewer {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
  }
}

.mat-dialog-content {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 90vh !important;
}

.image-viewer-dialog {
  overflow: hidden;
}

.viewer-dialog-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.carousel__prev-button {
  left: 20px;
  top: calc(50% - 20px);
  position: fixed;
}

.image-container {
  width: 97vw !important;
  height: 90vh !important;
  display: flex;
  justify-content: center;
}
img {
  max-height: 90vh;
  max-width: 90vw;
  margin: auto;
  display: block;
}

.carousel__next-button {
  position: absolute;
  right: 20px;
  top: calc(50% - 20px);
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dots {
  position: relative;
  display: flex;
  justify-content: center;
}

.zoom-tools {
  position: absolute;
  margin: 0 auto;
  bottom: 80px;
  left: calc(50% - 55px);
  display: inline-block;
}

.div-dots-window {
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: calc(50% - 55px);
  width: 100px;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  background-color: rgba(31, 31, 31, 0.5);
  border-radius: 10px;
}

.div-dots-space {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.div-dots-nospace {
  display: flex;
}

.div-dots-nospace-center {
  justify-content: center;
}

.btn-dots {
  border: 1px solid transparent;
  &::before {
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: rgba(160, 160, 160, 0.5);
    margin-bottom: -25px;
    margin: 5px;
  }
  &.active {
    &::before {
      background-color: #06abe1;
      margin: 5px;
    }
  }
  &.small {
    &::before {
      width: 5px;
      height: 5px;
      background-color: rgba(160, 160, 160, 0.5);
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 5px 6.5px 3px;
    }
  }
}
