<table
  mat-table
  *ngIf="tableData"
  [dataSource]="tableData.data"
  class="mat-elevation-z8"
>
  <!-- indices holds the range [0, 1,... n] where n is the number of columns in the table - 1 -->
  <!-- {{ tableData.columns[index] }} will match the "tableData.columnIds" in the tr elements below -->
  <ng-container
    *ngFor="let index of indices"
    matColumnDef="{{ tableData.columnIds[index] }}"
  >
    <!-- these are the visible lables in the column headings -->
    <th mat-header-cell *matHeaderCellDef>
      {{ tableData.columns[index] }}
    </th>
    <!-- this is the data -->
    <td mat-cell *matCellDef="let element">{{ element[index] }}</td>
  </ng-container>
  <!-- here we are giving ids to the columns.  The tableData.columnIds in these two tr tags need to -->
  <!-- match the {{ tableData.columns[index] }} in the ng-container -->
  <tr mat-header-row *matHeaderRowDef="tableData.columnIds"></tr>
  <tr mat-row *matRowDef="let row; columns: tableData.columnIds"></tr>
</table>
