<div class="email-page">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <p>Set Password</p>
    <mat-error *ngIf="state?.showError">
      {{ state?.errorMessage }}
    </mat-error>
    <mat-form-field class="email-field" color="accent" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        type="email"
        atxAutoFocus
        formControlName="email"
        data-testid="email"
        autocomplete="off"
      />
      <mat-error> Email Invalid </mat-error>
    </mat-form-field>
    <mat-form-field
      class="input"
      color="accent"
      class="email-field"
      appearance="fill"
    >
      <mat-label>Code</mat-label>
      <input
        matInput
        placeholder="Code"
        type="text"
        formControlName="code"
        data-testid="code"
        autocomplete="off"
      />
      <mat-error> Code Invalid </mat-error>
    </mat-form-field>
    <mat-form-field color="accent" class="email-field" appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        placeholder="New Password"
        type="password"
        id="newPassword"
        formControlName="password1"
        data-testid="password1"
        autocomplete="new-password"
      />
      <mat-error *ngIf="form.get('password1').hasError('length')">
        Too short
      </mat-error>
      <mat-error *ngIf="form.get('password1').hasError('invalid')">
        Must contain upper case, lower case, numeric and special character
        values.
      </mat-error>
    </mat-form-field>
    <mat-form-field
      class="input"
      color="accent"
      class="email-field"
      appearance="fill"
    >
      <mat-label>Repeat Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password2"
        data-testid="password2"
        autocomplete="off"
      />
      <mat-error *ngIf="form.get('password2').hasError('notMatched')">
        Passwords must match
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      data-testid="submit"
      style="margin-bottom: 20px; width: 80%"
      mat-raised-button
      [disabled]="form.invalid"
      color="accent"
    >
      Submit
    </button>
  </form>
</div>
