.email-field.mat-form-field {
  width: 80%;
}

.email-page {
  margin: auto;
  padding: auto;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 10000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.full-justify-container {
  width: 100%;
}
.full-justify {
  width: 320px;
}
