<div class="model-edit-tag-container" fxLayout="column">
  <mat-card class="model-edit-tag-list-header">
    <div fxLayout="column">
      <div class="asset-name-container" fxLayout="row" fxLayoutGap="10px">
        <span class="title-span">Show Tags for Asset:</span>
        <label class="accent-250">{{ tagListFacade.assetName$ | async }}</label>
        <span
          style="width: 100px"
          *ngIf="
            (tagListFacade.assetName$ | async) === null ||
            (tagListFacade.assetName$ | async) === undefined
          "
        >
          <mat-progress-bar
            color="accent"
            id="template-progress-bar"
            mode="indeterminate"
          ></mat-progress-bar>
        </span>
        <div style="height: 35px">
          <button
            mat-icon-button
            style="
              height: 24px;
              width: 24px;
              margin-top: 3px;
              background-color: rgba(160, 160, 160, 0.2);
            "
            matTooltip="Edit Asset"
            [disabled]="
              (tagListFacade.assetName$ | async) === null ||
              (tagListFacade.assetName$ | async) === undefined
            "
            (click)="drawerChanged()"
          >
            <mat-icon
              color="accent"
              style="padding-bottom: 18px; font-size: 18px"
              class="material-icons material-icons-outlined"
              >edit</mat-icon
            >
          </button>
        </div>
        <span class="title-span">Include tags for this asset only</span>
        <div>
          <mat-slide-toggle
            id="tagsPreferenceBtn"
            [checked]="tagsSelectedAssetOnly"
            (change)="tagsPreferenceChange()"
          >
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-drawer-container class="model-edit-tag-list-grid" autosize>
    <mat-drawer
      #drawer
      mode="side"
      opened="true"
      class="model-edit-tag-list-tree"
    >
      <!--Asset Tree Dropdown implementation start-->
      <div class="asset-tree-dropdown">
        <atx-asset-tree-dropdown
          [assetTreeConfiguration]="
            $any(tagListFacade.assetTreeConfiguration$ | async)
          "
          (assetTreeStateChange)="assetTreeDropdownStateChange($event)"
          (closeDropdown)="closeAssetTreeDropdown()"
        ></atx-asset-tree-dropdown>
      </div>
    </mat-drawer>

    <ag-grid-angular
      [ngClass]="
        (navFacade.theme$ | async) === 'light'
          ? 'ag-theme-alpine'
          : (navFacade.theme$ | async) === 'dark'
          ? 'ag-theme-alpine-dark'
          : 'ag-theme-alpine-dark'
      "
      [modules]="modules"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </mat-drawer-container>
</div>
