.model-edit-tag-container {
  height: 100%;
  width: 100%;
}

.model-edit-tag-list-header {
  display: flex;
  padding: 0;
  padding-left: 10px;
  height: 35px;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
}

.model-edit-tag-list-grid {
  height: calc(100% - 37px);
  width: 100%;
}

.model-edit-tag-list-grid ag-grid-angular {
  height: 100%;
  width: 100%;
}

.model-edit-tag-list-tree {
  height: 100%;
  width: 250px;
}

.asset-name-container {
  align-items: center;
  margin-bottom: 20px;
}

.asset-name-container .title-span,
.asset-name-container label {
  margin-bottom: 4px;
}

.asset-tree-dropdown {
  height: 100%;
  width: 100%;
}

::ng-deep {
  .default-dark-theme .tag-list-header {
    border: 1px solid #68686e;
  }

  .alternative-light-theme .tag-list-header {
    border: 1px solid #babfc7;
  }
  .ag-theme-alpine {
    .model-edit-tag-list-grid .ag-header-cell-text {
      color: #303030 !important;
    }

    .model-edit-tag-list-grid .ag-row-odd {
      background: #f6f6f6;
    }

    .model-edit-tag-list-grid .ag-row-selected {
      background-color: rgba(3, 169, 244, 0.6) !important;
    }

    .model-edit-tag-list-grid .ag-row-hover:not(.ag-row-selected) {
      background-color: rgba(3, 169, 244, 0.1) !important;
    }

    .model-edit-tag-list-grid .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .model-edit-tag-list-grid .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .model-edit-tag-list-grid
      .ag-cell-wrapper
      > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .model-edit-tag-list-grid .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .model-edit-tag-list-grid
      .ag-cell-wrapper
      > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .model-edit-tag-list-grid .ag-row-selected {
      background-color: rgba(3, 169, 244, 0.6) !important;
    }

    .model-edit-tag-list-grid .ag-row-hover:not(.ag-row-selected) {
      background-color: rgba(3, 169, 244, 0.1) !important;
    }
  }

  .model-edit-tag-list-grid .ag-column-drop-horizontal {
    height: 30px !important;
  }

  .model-edit-tag-list-grid .ag-header-row {
    height: 30px !important;
  }

  .model-edit-tag-list-grid .ag-cell {
    line-height: 26px !important;
  }

  .model-edit-tag-list-grid .ag-row-loading {
    height: 30px !important;
  }
}

.cell-wrap-text {
  word-wrap: break-word;
}
