<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  {{ data.message }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-container *ngIf="data.isYesNo">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="accent"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Yes
    </button>
  </ng-container>
</mat-dialog-actions>
