mat-form-field {
  width: 80%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 10000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.breadcrumb-menu {
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  padding-bottom: 20px;
  padding-left: 32px;
}

.breadcrumb-menu-icon {
  margin-right: 0px;
  margin-left: -25px;
  font-size: 13px !important;
  margin-top: 10px;
}

.simple-login {
  margin: auto;
  padding: auto;
  text-align: center;
}
