<div class="breadcrumb-menu">
  <a (click)="goBackEmit()">
    <span>
      <mat-icon class="breadcrumb-menu-icon">arrow_back</mat-icon>
      <span data-cy="userNameTxt">Welcome, {{ userName }}</span>
    </span>
  </a>
</div>
<div class="simple-login">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-error *ngIf="state?.errorMessage">
      {{ state?.errorMessage }}
    </mat-error>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        atxAutoFocus
        formControlName="password"
        data-cy="password"
        data-testid="password"
      />
    </mat-form-field>
    <div
      style="width: 80%; margin-left: 30px; margin-bottom: 15px"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <button
        type="button"
        mat-button
        color="accent"
        (click)="forgotPassword()"
        data-cy="forgotPasswordBtn"
      >
        Forgot Password
      </button>
      <mat-checkbox
        labelPosition="before"
        [checked]="rememberMe"
        (change)="rememberMeChanged($event)"
        >Remember Me:</mat-checkbox
      >
    </div>

    <button
      type="submit"
      data-testid="submit"
      mat-raised-button
      style="width: 80%"
      color="accent"
    >
      Sign In
    </button>
    <button
      type="button"
      style="margin: 10px 30px"
      fxLayout="row"
      fxLayoutAlign="end center"
      mat-button
      (click)="haveACode()"
    >
      I have a code
    </button>
  </form>
</div>
