.add-item-btn {
  margin: 10px 0px 0px 10px;
}

.launchpad-container.collapse {
  max-height: 200px;
  transition: max-height 0.5s ease-in;
  flex: 0 0 auto !important;
}

.launchpad-container {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  flex: none;
}

.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  height: calc(100% - 10px);
  padding-bottom: 10px;
}

mat-icon {
  margin: 0 !important;
  padding-top: 4px !important;
  font-size: 18px;
}
