<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [leftTraySize]="leftTraySize$ | async"
  [leftTrayMode]="leftTrayMode$ | async"
  [leftTrayOpen]="leftTrayOpen$ | async"
  [leftTraySizeMin]="150"
  rightTrayMode="side"
  [rightTraySize]="300"
  [rightTrayOpen]="false"
>
  <atx-asset-tree
    class="side-nav"
    [needScroll]="true"
    [treeState]="assetTreeConfiguration$ | async"
    (stateChange)="onAssetTreeStateChange($event)"
  ></atx-asset-tree>

  <div class="main-nav">
    <div class="main-content">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" style="width: 32.333%">
          <atx-donut-chart
            [donutTheme]="theme$ | async"
            [donutChartState]="leftDonutState$ | async"
            (othersSelected)="onLeftDonutOthersSelected()"
            (refreshed)="onLeftDonutRefresh()"
          ></atx-donut-chart>
        </div>
        <div
          fxLayout="column"
          style="margin-left: 10px; margin-right: 10px; width: 32.333%"
        >
          <atx-donut-chart
            [donutTheme]="theme$ | async"
            [donutChartState]="middleDonutState$ | async"
            (othersSelected)="onMiddleDonutOthersSelected()"
            (refreshed)="onMiddleDonutRefresh()"
          ></atx-donut-chart>
        </div>
        <div fxLayout="column" style="width: 32.333%">
          <atx-donut-chart
            [donutTheme]="theme$ | async"
            [donutChartState]="rightDonutState$ | async"
            (othersSelected)="onRightDonutOthersSelected()"
            (refreshed)="onRightDonutRefresh()"
          ></atx-donut-chart>
        </div>
      </div>

      <button
        mat-flat-button
        color="accent"
        class="add-item-btn"
        (click)="addItem()"
        *ngIf="!hasAccessRestriction()"
        data-cy="createIssueBtn"
      >
        <mat-icon aria-hidden="false" aria-label="Add new work item"
          >add_circle_outline</mat-icon
        >
        Create Issue
      </button>

      <atx-list-view
        [asset]="asset$ | async"
        [listState]="listState$ | async"
        [listTheme]="theme$ | async"
        [floatingFilter]="floatingFilter$ | async"
        (selected)="itemSelected($event)"
        (listStateChanged)="listStateChanged($event)"
        (filterStateChanged)="filterStateChanged($event)"
        (listDownloaded)="listViewDownload($event)"
        (floatingFilterToggle)="floatingFilterToggle()"
        (setScorecard)="setScorecard($event)"
      ></atx-list-view>
    </div>
  </div>
</atx-horizontal-layout>
