<ng-container *ngIf="vm$ | async as vm">
  <div
    class="model-list-container"
    fxLayout="column"
    [ngClass]="{
      'model-trend-selected': vm.selectedModels.length === 1,
      'collapse-bottom-section': vm.collapseBottomSection,
      'multiple-trend-selected': (multipleModelsSelected$ | async)
    }"
  >
    <div class="top-section">
      <mat-card
        class="model-list-grid-header"
        [ngClass]="{
          'model-list-grid-header-bg-dark': listTheme === 'dark',
          'model-list-grid-header-bg-light': listTheme === 'light'
        }"
      >
        <div class="header-left">
          <span
            style="top: 8px; left: 9px; position: absolute"
            *ngIf="vm.filteredColumns.length === 0"
          >
            <mat-icon>filter_alt_outline</mat-icon>
          </span>

          <button
            matTooltip="Clear Filters"
            class="mat-icon-button"
            mat-icon-button
            *ngIf="vm.filteredColumns.length > 0"
            (click)="clearFilters()"
          >
            <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
          </button>

          <mat-chip-list
            #chipList
            aria-label="Filters"
            data-cy="filter-chip-list"
          >
            <mat-chip
              *ngFor="let filter of vm.filteredColumns"
              [removable]="filter.Removable"
              (removed)="removeFilter(filter)"
            >
              <span data-cy="filter-column-name">{{ filter.DisplayName }}</span>

              <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div class="header-right">
          <span>Include models for this asset only</span>

          <mat-slide-toggle
            class="toggle-preference"
            [checked]="showModelsForSelectedAssetOnly$ | async"
            (change)="modelListPreferenceChange()"
          >
          </mat-slide-toggle>

          <span> Total Models: {{ vm.totalModels }}</span>

          <button
            matTooltip="Download Models"
            mat-icon-button
            style="margin-left: 10px"
            (click)="downloadModels()"
          >
            <mat-icon>save_alt</mat-icon>
          </button>

          <button
            mat-icon-button
            matTooltip="Toggle Model Config Actions"
            data-cy="showHideModelConfigFlyOutWindow"
            (click)="toggleRightTray()"
          >
            <mat-icon>info_outline</mat-icon>
          </button>
        </div>
      </mat-card>

      <div class="model-list-grid" #modelListGrid>
        <ag-grid-angular
          class="ag-grid-formats"
          [ngClass]="
            listTheme === 'light'
              ? 'ag-theme-alpine'
              : listTheme === 'dark'
              ? 'ag-theme-alpine-dark'
              : 'ag-theme-alpine-dark'
          "
          [gridOptions]="gridOptions"
          [modules]="modules"
          [rowData]="models$ | async"
          [columnDefs]="columnDefs"
        ></ag-grid-angular>
      </div>
    </div>

    <div
      class="bottom-section"
      *ngIf="(multipleModelsSelected$ | async) === false"
    >
      <atx-model-list-bottom-view-panel
        [modelSummary]="vm.selectedModels[0]"
        [timeSliderSelection]="vm.timeSliderSelection"
        [collapse]="vm.collapseBottomSection"
        (collapseModelTrendStuffs)="collapseModelTrendStuffs($event)"
      ></atx-model-list-bottom-view-panel>
    </div>
  </div>
</ng-container>
