<ng-container>
  <form [formGroup]="newUserForm">
    <h3>Create New User</h3>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field appearance="fill" width="250vw" floatLabel="always">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" autocomplete="off" />
      </mat-form-field>
      <mat-form-field appearance="fill" width="250vw" floatLabel="always">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" autocomplete="off" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field
        appearance="fill"
        floatLabel="always"
        [style.width.%]="100"
      >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="off" />
      </mat-form-field>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="left center"
      *ngIf="validEmail === false"
      class="invalidEmail"
    >
      Please enter a valid email address
    </div>
    <div *ngIf="(authFacade.custMgmtUtilityAccess$ | async)?.CanAdmin">
      <div
        fxLayout="row"
        fxLayoutAlign="left center"
        fxLayoutGap="40px"
        class="service-account"
      >
        <mat-checkbox
          color="accent"
          class="auto-gen-checkbox"
          formControlName="serviceAccount"
        >
          This is a Service Account
        </mat-checkbox>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-flat-button (click)="cancelDialog()">Cancel</button>
      <button mat-flat-button cdkFocusInitial color="accent" (click)="save()">
        Create
      </button>
    </div>
  </form>
</ng-container>
