<div class="training-range-container">
  <ng-container
    *ngIf="
      (vm$ | async)?.selectedModelSummary?.properties.modelType?.type !==
        modelTypes.FixedLimit;
      else trainingNotAvailable
    "
  >
    <ag-grid-angular
      [ngClass]="{
        'ag-theme-alpine': (navFacade.theme$ | async) === 'light',
        'ag-theme-alpine-dark': (navFacade.theme$ | async) !== 'light'
      }"
      [gridOptions]="gridOptions"
      [modules]="modules"
      [rowData]="models$ | async"
      [columnDefs]="columnDefs"
      (focusout)="focusOut()"
    >
    </ag-grid-angular>
  </ng-container>
  <ng-template #trainingNotAvailable>
    <div fxLayout="col" fxLayoutAlign="center center" fxFlex="100">
      <h1>This model type does not require training.</h1>
    </div>
  </ng-template>
</div>
