<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="modalVm$ | async as modalVm">
    <ng-container [formGroup]="modalSaveForm">
      <ng-container *ngIf="modalVm.deleteInProgress">
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </ng-container>
      <div *ngIf="vm.selectedTrend.trendDefinition.IsStandardTrend">
        <h3 mat-dialog-title>Revert {{ trendName }}</h3>
        <div>Are you sure you want to revert this chart?</div>
      </div>
      <div *ngIf="!vm.selectedTrend.trendDefinition.IsStandardTrend">
        <h3 mat-dialog-title>Delete {{ trendName }}</h3>
        <div>Are you sure you want to delete this chart?</div>
      </div>
      <div mat-dialog-actions align="end">
        <button
          mat-button
          [delete]="modalVm.deleteInProgress"
          (click)="onNoClick()"
        >
          Cancel
        </button>
        <button
          mat-flat-button
          color="accent"
          mat-button
          [disabled]="
            vm.loadingData ||
            vm.trendsLoading ||
            !vm.assetID ||
            modalVm.deleteInProgress
          "
          (click)="deleteChart()"
          cdkFocusInitial
        >
          Ok
        </button>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
