<h2 mat-dialog-title>
  <mat-toolbar style="background-color: transparent">
    <mat-icon>warning</mat-icon>
    <span class="fx-spacer"></span>
    <span style="padding-left: 10px">Rebuild All Models?</span>
  </mat-toolbar>
</h2>
<mat-dialog-content class="mat-typography">
  No models have unsaved changes. <br /><br />

  <ng-container *ngIf="lockedModels !== ''">
    <strong
      >These models are locked and will not be saved or rebuilt:
      <div class="locked-models">
        {{ lockedModels }}
      </div></strong
    >
    <br /><br />
  </ng-container>
  Click Ok to rebuild all models without changes or cancel to continue editing. </mat-dialog-content
><br /><br />
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    OK
  </button>
</mat-dialog-actions>
