<ng-container *ngIf="vm$ | async as vm">
  <ng-container [formGroup]="mainForm">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <mat-form-field color="accent" appearance="legacy" style="width: 300px">
        <mat-select [value]="vm.selectedID" (valueChange)="changed($event)">
          <mat-option
            *ngFor="let timeFilter of vm.timeFilters"
            [value]="timeFilter.CoID"
          >
            {{ timeFilter.CoTitle }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="vm.selectedID === -1">
        <div>
          <mat-form-field
            class="form-dropdown"
            appearance="fill"
            color="accent"
          >
            <mat-label>Time Range Type</mat-label>
            <mat-select
              (selectionChange)="changeTimeRangeType($event)"
              [value]="vm?.filterTypeID"
            >
              <mat-option [value]="2">Span</mat-option>
              <mat-option [value]="1">Dates</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="vm.selectedID > -1">
      {{ vm.selectedFilter?.CoDescription }}
    </ng-container>
    <ng-container *ngIf="vm.selectedID === -1">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div>
          <mat-form-field style="width: 200px" appearance="fill" color="accent">
            <mat-label>Start Date</mat-label>
            <input
              #startDateInput
              matInput
              autocomplete="off"
              [matDatepicker]="startDatePicker"
              (dateChange)="startDateChanged($event.value)"
              formControlName="startDate"
              [errorStateMatcher]="pinModalFacade.startDateMatcher"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error
              *ngIf="
                vm.invalidStartDateFormat ||
                mainForm.get('startDate').hasError('required')
              "
            >
              Start date is not valid.
            </mat-error>
            <mat-error
              *ngIf="mainForm.get('startDate').hasError('matDatepickerMin')"
            >
              Start date is too early.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Start Time</mat-label>
            <input
              matInput
              autocomplete="off"
              #startTimeInput
              type="time"
              formControlName="startTime"
            />
            <mat-error *ngIf="mainForm.get('startTime').invalid">
              Time is not valid. (hh:mm)
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <ng-container *ngIf="vm.filterTypeID === 1">
          <div>
            <mat-form-field
              style="width: 200px"
              appearance="fill"
              color="accent"
            >
              <mat-label>End Date</mat-label>
              <input
                #endDateInput
                matInput
                autocomplete="off"
                [matDatepicker]="endDatePicker"
                (dateChange)="endDateChanged($event.value)"
                formControlName="endDate"
                [errorStateMatcher]="pinModalFacade.endDateMatcher"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                [startAt]="vm.endPickerStartAt"
                #endDatePicker
              ></mat-datepicker>
              <mat-error
                *ngIf="
                  vm.invalidEndDateFormat ||
                  mainForm.get('endDate').hasError('required')
                "
              >
                End date is not valid.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              appearance="fill"
              color="accent"
              class="time-range-margin-left"
            >
              <mat-label>End Time</mat-label>
              <input
                matInput
                autocomplete="off"
                #endTimeInput
                type="time"
                formControlName="endTime"
              />
              <mat-error *ngIf="mainForm.get('endTime').invalid">
                Time is not valid. (hh:mm)
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="vm.filterTypeID === 2">
          <div>
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Span</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="span"
                atxNumberOnly
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              class="form-dropdown"
              appearance="fill"
              color="accent"
            >
              <mat-label>Span Unit of Time</mat-label>
              <mat-select
                [value]="vm.spanID"
                (selectionChange)="changeSpanUnitOfTime($event)"
              >
                <mat-option
                  *ngFor="let temporalType of vm.temporalTypes"
                  [value]="temporalType"
                >
                  {{ temporalType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="vm.startDateAfterEndDate && vm.selectedID === -1">
      <mat-error>Start date must be before end date.</mat-error>
    </ng-container>
    <mat-dialog-actions align="end">
      <button
        color="accent"
        mat-flat-button
        mat-dialog-close
        (click)="addPin()"
        [disabled]="mainForm.invalid"
      >
        OK
      </button>
      <button mat-button cdkFocusInitial [mat-dialog-close]="">Cancel</button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>
