<mat-form-field appearance="fill" color="accent" class="watchInput">
  <mat-label>Input</mat-label>
  <input
    matInput
    class="form-control"
    formControlName="timeSpan"
    placeholder="Input"
    type="number"
    autocomplete="off"
  />
</mat-form-field>
