atx-input {
  .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }

  .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }
  mat-form-field .mat-icon-button {
    display: content !important;
    top: 5px;
    height: 24px !important;
    width: 24px !important;
  }
}

.mat-error {
  margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
