<ng-container *ngIf="vm$ | async as vm">
  <mat-card
    fxFlex="0 0 340px"
    style="border-radius: 2px; overflow: auto"
    fxFill
    fxLayoutGap="10px"
    class="mat-elevation-z4"
    ><mat-card-content style="height: 100%">
      <table style="width: 100%">
        <tr>
          <td class="left-header-build-cells">Last Built:</td>
          <td
            style="
              width: 60%;
              text-align: right;
              font-size: 12px;
              padding-left: 20px;
            "
          >
            <ng-container
              *ngIf="
                vm.selectedModelSummary?.buildProperties.status
                  ?.builtSinceTime === null
              "
              >Not Built</ng-container
            >
            {{
              vm.selectedModelSummary?.buildProperties.status?.builtSinceTime
                | date: 'MM/dd/yy hh:mma'
            }}
          </td>
        </tr>
        <tr>
          <td class="left-header-build-cells">Last Saved:</td>
          <td
            style="
              width: 60%;
              text-align: right;
              font-size: 12px;
              padding-left: 20px;
            "
          >
            <ng-container
              *ngIf="
                vm.selectedModelSummary?.buildProperties.status?.lastSaved ===
                null
              "
            >
              --
            </ng-container>
            {{
              vm.selectedModelSummary?.buildProperties.status?.lastSaved
                | date: 'MM/dd/yy hh:mma'
            }}
          </td>
        </tr>
        <tr>
          <td class="left-header-build-cells">Saved by:</td>
          <td
            style="
              width: 60%;
              text-align: right;
              font-size: 12px;
              padding-left: 20px;
            "
          >
            <ng-container
              *ngIf="
                vm.selectedModelSummary?.buildProperties.status?.changedBy ===
                null
              "
            >
              --
            </ng-container>
            {{ vm.selectedModelSummary?.buildProperties.status?.changedBy }}
          </td>
        </tr>
      </table>
      <mat-divider></mat-divider>
      <div style="padding-left: 3px; padding-top: 10px">Op Mode Details:</div>
      <table style="width: 100%">
        <ng-container *ngFor="let opMode of vm.opModes">
          <tbody data-cy="contextOpModeDetails">
            <tr>
              <td colspan="2"><mat-divider></mat-divider></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="flex">
                  <span style="font-size: 12px" data-cy="contextOpModeTitle">
                    {{ opMode.typeAbbrev }}
                    :
                    {{ opMode.title }}
                  </span>
                  <button
                    class="op-mode-link-btn"
                    mat-icon-button
                    (click)="openOpMode(opMode.opModeDefinitionExtID)"
                    data-cy="opModeLinkBtn"
                  >
                    <mat-icon class="op-mode-link-icon-btn">launch</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="left-header-build-cells">Change Date:</td>
              <td
                style="
                  width: 70%;
                  text-align: right;
                  font-size: 12px;
                  padding-left: 20px;
                "
                data-cy="contextOpModeChangeDate"
              >
                {{ opMode.changeDate | date: 'MM/dd/yy hh:mma' }}
              </td>
            </tr>
            <tr>
              <td
                style="
                  width: 10%;
                  font-size: 12px;
                  font-weight: 200;
                  vertical-align: top;
                "
              >
                Criteria:
              </td>
              <td
                style="width: 90%; text-align: right; font-size: 12px"
                data-cy="contextOpModeCriteria"
              >
                {{ opMode.logicString }}
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </mat-card-content>
  </mat-card>
</ng-container>
