.left-header-build-cells {
  width: 30%;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
}

.left-predictive-titles {
  padding-left: 20px;
}

.op-mode-link-btn {
  line-height: 0;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
}

.op-mode-link-icon-btn {
  color: rgb(128 203 196);
}
