<h2 mat-dialog-title>Delete Op Mode</h2>
<mat-dialog-content class="mat-typography">
  Are you sure you want to delete this Op Mode?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Delete
  </button>
</mat-dialog-actions>
