<mat-drawer-container
  id="horizontalLayout"
  #horizontalLayout
  hasBackdrop="false"
  [ngClass]="{ showTimeSlider: showTimeSlider }"
>
  <mat-drawer
    [mode]="leftTrayMode"
    [opened]="leftTrayOpen"
    [ngStyle]="{ 'width.px': leftTraySize }"
  >
    <ng-content select=".side-nav"> </ng-content>
    <div
      id="mat-drawer-resizer-bar"
      cdkDrag
      cdkGradLockAxis="x"
      (cdkDragStarted)="dragStarted()"
      (cdkDragMoved)="dragMoved($event)"
      (cdkDragReleased)="dragReleased($event)"
    ></div>
  </mat-drawer>
  <mat-drawer-content (click)="contentClicked()">
    <ng-content select=".main-nav"> </ng-content>
  </mat-drawer-content>
  <mat-drawer
    [mode]="rightTrayMode"
    [opened]="rightTrayOpen"
    position="end"
    [ngStyle]="{ 'width.px': rightTraySize }"
  >
    <ng-content select=".right-side-nav"> </ng-content>
  </mat-drawer>
</mat-drawer-container>
