#mat-drawer-resizer-bar {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}
#mat-drawer-resizer-bar:hover {
  background: rgba(255, 255, 255, 0.3);
}
#horizontalLayout {
  height: 100%;
  width: 100%;
}

.showTimeSlider {
  height: calc(100% - 56px) !important;
}
