<ng-container>
  <div class="asset-tree-table-container">
    <div *ngIf="isReadOnly" style="padding: 10px 0 0 10px">
      <p [style.margin.px]="0" class="permission-statement">
        *Details are read-only for Application Roles
      </p>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="assets">
          <th mat-header-cell *matHeaderCellDef>
            <span>Available Assets</span>
          </th>
          <td mat-cell *matCellDef="let data">
            <button
              mat-icon-button
              [style.visibility]="!data.Children ? 'hidden' : ''"
              [style.marginLeft.px]="data.Level * 24"
              (click)="treeControl.toggle(data)"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(data)
                    ? 'arrow_drop_down'
                    : 'arrow_right'
                }}
              </mat-icon>
            </button>

            <span>{{ data.Asset }}</span>
            <mat-progress-spinner
              *ngIf="data.IsLoading"
              [style.marginLeft.px]="10"
              [style.display]="'inline-block'"
              diameter="17"
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
          </td>
        </ng-container>

        <ng-container matColumnDef="allow">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let data">
            <mat-checkbox
              #allowCheckbox
              [style.marginLeft.px]="data.Level * 24"
              [indeterminate]="ascendAllow(data)"
              [color]="getColorAllow(data)"
              [formControl]="assetPermAllowFormControl(data, allowCheckbox)"
              >Allow</mat-checkbox
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="deny">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let data">
            <mat-checkbox
              #denyCheckbox
              [style.marginLeft.px]="data.Level * 24"
              [indeterminate]="ascendDeny(data)"
              [color]="getColorDeny(data)"
              [formControl]="assetPermDenyFormControl(data, denyCheckbox)"
              >Deny</mat-checkbox
            >
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</ng-container>
