.asset-tree-table-container {
  width: 100%;
  height: 100%;
}
.table-container {
  height: calc(100vh - 310px);
  overflow: auto;
}

table {
  width: 100%;
}

.permission-statement {
  color: #79c250;
}
