<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.newIssueLoading">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="!vm.newIssueLoading"> </ng-container>
  <ng-container *ngIf="!vm.categoryErrorMessage">
    <h3 mat-dialog-title>Create New Issue</h3>

    <div mat-dialog-content class="new-issue" fxLayout="column">
      <mat-form-field appearance="fill" color="accent">
        <mat-label *ngIf="!vm.loadingIssueCategoryTypes">Issue Class</mat-label>
        <mat-select
          [disabled]="vm.loadingIssueCategoryTypes"
          [value]="vm.selectedClass"
          (selectionChange)="classChange($event)"
        >
          <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
            <mat-option
              *ngFor="let category of vm.issueClasses"
              [value]="category.AssetIssueClassTypeID"
            >
              {{ category.Description }}
            </mat-option>
          </ng-container>
        </mat-select>

        <ng-container *ngIf="vm.loadingIssueCategoryTypes">
          <mat-progress-bar
            color="accent"
            id="template-progress-bar"
            mode="indeterminate"
          ></mat-progress-bar>
        </ng-container>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label *ngIf="!vm.loadingIssueCategoryTypes"
          >Issue Category</mat-label
        >
        <mat-select
          [disabled]="vm.loadingIssueCategoryTypes"
          [value]="vm.selectedCategory"
          (selectionChange)="categoryChange($event)"
        >
          <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
            <mat-option
              *ngFor="let category of vm.issueCategories[vm.selectedClass]"
              [value]="category.AssetIssueCategoryTypeID"
            >
              {{ category.CategoryDesc }}
            </mat-option>
          </ng-container>
        </mat-select>
        <ng-container *ngIf="vm.loadingIssueCategoryTypes">
          <mat-progress-bar
            color="accent"
            id="template-progress-bar"
            mode="indeterminate"
          ></mat-progress-bar>
        </ng-container>
      </mat-form-field>
    </div>
  </ng-container>
  <div>
    <ng-container *ngIf="vm.categoryErrorMessage">
      <mat-error>
        {{ vm.categoryErrorMessage }}
      </mat-error>
    </ng-container>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [disabled]="vm.newIssueLoading" (click)="onNoClick()">
      Cancel
    </button>
    <button
      mat-flat-button
      color="accent"
      *ngIf="!vm.categoryErrorMessage"
      mat-button
      [disabled]="vm.newIssueLoading"
      (click)="newIssue()"
      cdkFocusInitial
      data-cy="createIssueBtn"
    >
      Create Issue
    </button>
  </div>
</ng-container>
