.showTimeSlider {
  height: calc(100% - 56px) !important;
}
.chip-style {
  font-size: 12px;
}
.chip-selected-light {
  background-color: #4db6ac !important;
}

.chip-selected-dark {
  background-color: hsl(174, 42%, 41%) !important;
}

.type-list-dark {
  background-color: rgb(24, 24, 24);
}

.type-list-light {
  background-color: rgb(255, 255, 255);
}

.list-line-dark {
  border-right: 1px solid rgba(204, 204, 204, 0.116);
  padding: 17px;
}

.list-line-light {
  border-right: 1px solid #ccc;
  padding: 17px;
}

.sens-list-dark {
  background-color: rgb(24, 24, 24);
  padding: 8px;
}

.sens-list-light {
  background-color: rgb(255, 255, 255);
  padding: 8px;
}
.model-sensitivity-grid {
  height: calc(100% - 64px);
  width: calc(100% - 6px);
  padding: 3px;
}
.ag-grid-formats {
  height: 100%;
  width: 100%;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

::ng-deep {
  .invalid-cell {
    background-color: #c00000;
  }
  .ag-center-cols-clipper {
    min-height: unset !important;
  }

  .default-dark-theme .sensitivity-tooltip-class {
    background-color: #222628 !important;
    border: 1px solid rgba(160, 160, 160, 0.3);
  }

  .sensitivity-tooltip-class {
    white-space: pre-line;
  }

  .ag-theme-alpine-dark .not-editable {
    background-color: rgb(48, 48, 48);
  }

  .ag-theme-alpine .not-editable {
    background-color: rgb(238, 238, 238);
  }

  .ag-theme-alpine-dark .disabled-cell {
    background-color: rgb(24, 24, 24);
    color: rgb(24, 24, 24);
  }
  .ag-theme-alpine .disabled-cell {
    background-color: rgb(238, 238, 238);
    color: rgb(238, 238, 238);
  }

  .ag-overlay-loading-center {
    border: transparent !important;
    padding: 16px !important;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none !important;
    width: auto;
    display: inline-grid;
  }

  .ag-overlay-loading-center .ag-icon-column.select-asset {
    width: 48px;
    height: 48px;
  }

  .ag-overlay-loading-center .loader {
    border: 4px solid #f3f3f330; /* Light grey */
    border-top: 4px solid #80bbac; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .select-asset {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .ag-theme-alpine-dark button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-theme-alpine button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    color: var(--accent-200) !important;
  }

  .ag-side-bar-right .ag-selected .ag-side-button-button {
    border-left-color: var(--accent-200) !important;
  }

  .icon-only .ag-header-cell-text {
    display: none;
  }

  .ag-theme-alpine {
    .lower-limit-cell {
      background-color: #e2bd68;
    }

    .upper-limit-cell {
      background-color: #e2bd68;
    }

    .ag-header-cell-text {
      color: #303030 !important;
    }

    .ag-row-odd {
      background: #f6f6f6;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: var(--accent-200h) !important;
    }

    .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .ag-side-bar {
      background: #fafafa !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .lower-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .upper-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: var(--accent-200h) !important;
    }

    .ag-side-buttons {
      padding-top: 12px;
      //background-color: #303030;
    }
  }

  .ag-side-button-label {
    display: none;
  }
  .ag-theme-alpine-dark .ag-side-button-button,
  .ag-theme-alpine .ag-side-button-button {
    padding: 0;
    margin: 0;
    min-height: 30px;
  }
  .ag-side-button {
    height: 30px;
    margin: 2px 0;
  }
  .ag-column-drop-horizontal {
    height: 30px !important;
  }
  .ag-header-row {
    height: 30px !important;
  }

  .ag-cell-inline-editing {
    height: 30px !important;
  }

  .ag-cell {
    line-height: 26px !important;
  }

  .ag-icon-my-views,
  .ag-icon-column,
  .ag-icon-filters {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }
}
