.header-title {
  display: block;
  margin: auto;
}

mat-card {
  padding: 0 !important;
  border-radius: 0 !important;
}

mat-card.none-selected {
  height: 100%;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-align: center;
}

::ng-deep .default-dark-theme {
  mat-card.none-selected {
    background-color: #282828 !important;
  }
}

.tab-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

:host-context(.trends-expanded) .tab-container {
  height: 100%;
}

.chart {
  width: 100%;
  height: 100%;
  display: block;
}

.loading {
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  top: 0px !important;
  background-color: inherit;
}
