<mat-card class="tab-container">
  <div #actionchart class="chart"></div>
  <div
    class="loading"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="loading"
  >
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
    <b>Loading Data</b>
  </div>
</mat-card>

<mat-card class="none-selected" *ngIf="!model" fxLayoutAlign="center center">
  <div>
    <mat-card-title style="text-align: center">
      No Model Selected
    </mat-card-title>
    <mat-card-subtitle style="text-align: center">
      Select a model from the Alerts Screeing View<br />to see its Model
      Actions.</mat-card-subtitle
    >
  </div>
</mat-card>
