<h3 mat-dialog-title>Delete Attribute(s)</h3>
<mat-dialog-content>
  <div>
    <p>
      Are you sure you want to delete the selected attribute(s)? This action
      cannot be undone. Delete of standard attributes may result in changes to
      software function or behavior.
    </p>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="accent" (click)="onContinue()">
    Continue
  </button>
</div>
