<h2 mat-dialog-title>
  <mat-toolbar style="background-color: transparent">
    <mat-icon>warning</mat-icon>
    <span class="fx-spacer"></span>
    <span style="padding-left: 10px">Rebuild Required</span>
  </mat-toolbar>
</h2>
<mat-dialog-content class="mat-typography">
  The changes made require the following model to be rebuilt.<br />
  Click OK to rebuild or cancel to continue editing
  <br /><br />
  {{ data.modelName }}
  <br /><br />

  <div style="white-space: pre-line">
    <ng-container *ngFor="let dbChange of dbChanges">
      {{ dbChange }}
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    OK
  </button>
</mat-dialog-actions>
