<div
  class="swatch"
  (click)="showPicker()"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
    <rect width="24px" height="24px" [style.fill]="seriesColor"></rect>
  </svg>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="openPicker"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="transparent-backdrop"
  (backdropClick)="closePicker()"
>
  <div>
    <color-chrome
      [color]="seriesColor"
      disableAlpha="true"
      (onChangeComplete)="updateColor($event)"
    ></color-chrome>
  </div>
</ng-template>
