.swatch {
  outline: none;
  cursor: pointer;
  position: relative;
}
::ng-deep
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing.transparent-backdrop {
  background: rgba(255, 255, 255, 0) !important;
}
