.custom-dialog-content {
  overflow: hidden;
  position: relative;
  min-height: 50vh;
  padding: 0 20px;
}

.asset-container {
  height: 100%;
  overflow: hidden;
}

.asset-tree {
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 4px;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.15);
  width: 95%;
}

.list-container {
  max-width: 50%;
  height: 88%;
  position: relative;
}
.default-dark-theme .custom-dialog-content {
  background-color: #303030;
}

.custom-button {
  margin-left: 8px;
}

.trend-list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
  overflow: auto scroll;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.15);
}

.trend-list.short {
  height: 47vh;
}

.trend-container {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.trend-container:last-child {
  border: none;
}

.trend-list.cdk-drop-list-dragging .trend-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.action-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}

::ng-deep {
  .custom-dialog #assetTree .mat-toolbar {
    display: none;
  }

  .custom-dialog div#nodeContainer {
    height: 40vh !important;
  }

  mat-spinner.mat-spinner.loading-list {
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
  }

  .custom-dialog-content div#assetTree {
    background-color: #fff;
    border-radius: 3px;
    margin-top: 6px;
  }

  .default-dark-theme .mat-dialog-container .custom-dialog-content #assetTree,
  .default-dark-theme
    .mat-dialog-container
    .custom-dialog-content
    #assetTree
    .mat-select-value,
  .default-dark-theme
    .mat-dialog-container
    .custom-dialog-content
    #assetTree
    .mat-form-field-label {
    color: #333;
  }

  .default-dark-theme
    .mat-dialog-container
    .custom-dialog-content
    .mat-form-field-appearance-legacy
    .mat-form-field-underline {
    color: #333;
    background-color: #333;
  }

  .default-dark-theme
    .custom-dialog-content
    #treeSelector
    .mat-form-field-appearance-fill
    .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
