<ng-container *ngIf="vm$ | async as vm">
  <h2 class="custom-dialog-title" mat-dialog-title>
    Chart Configuration {{ vm.assetDesc }} : {{ vm.modelName }}
  </h2>
  <h3 style="margin-bottom: 5px">Associate a Chart</h3>
  <p style="font-size: 12px; margin-top: 0">
    Drag Available Charts add to Diagnostic Drilldown Charts. Drag and drop to
    reorder Diagnostic Drilldown Charts
  </p>
  <mat-dialog-content class="custom-dialog-content">
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div
        class="asset-container"
        fxFlex="50"
        style="margin-left: 20px; max-height: 200px"
      >
        1. Select an Asset:
        <div class="asset-tree">
          <atx-asset-tree
            class="side-nav"
            [needScroll]="true"
            [treeState]="vm.treeConfiguration"
            (stateChange)="onModelContextAssetTreeStateChange($event)"
          >
          </atx-asset-tree>
        </div>
      </div>
      <div fxFlex="50" style="margin-left: 20px" class="list-container">
        2. Available Charts for this Asset:
        <mat-spinner
          class="loading-list"
          style="margin: 0 auto"
          color="accent"
          diameter="30"
          *ngIf="vm.loadingTrends"
        >
        </mat-spinner>
        <div
          cdkDropList
          #availableTrendsList="cdkDropList"
          [cdkDropListData]="availableTrends"
          [cdkDropListConnectedTo]="[selectedTrendsList]"
          class="trend-list short"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="trend-container"
            *ngFor="let item of availableTrends"
            cdkDrag
          >
            {{ item.MappedPDTrend.Title }}
          </div>
        </div>
      </div>
      <div fxFlex="50" style="margin-left: 20px" class="list-container">
        Diagnostic Drilldown Charts
        <mat-spinner
          class="loading-list"
          style="margin: 0 auto"
          color="accent"
          diameter="30"
          *ngIf="vm.loadingTrends"
        >
        </mat-spinner>
        <div
          cdkDropList
          #selectedTrendsList="cdkDropList"
          [cdkDropListData]="selectedTrends"
          [cdkDropListConnectedTo]="[availableTrendsList]"
          class="trend-list short"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="trend-container"
            *ngFor="let item of selectedTrends"
            cdkDrag
          >
            {{ item.MappedPDTrend.Title }}
          </div>
        </div>
      </div>
    </div>
    <div class="action-buttons" fxLayout="row" fxLayoutAlign="end center">
      <div class="custom-button">
        <button id="cancelBtn" mat-button mat-dialog-close>Cancel</button>
      </div>
      <div class="custom-button">
        <button
          id="okBtn"
          mat-raised-button
          color="accent"
          type="submit"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </div>
  </mat-dialog-content>
</ng-container>
