mat-form-field {
  width: 100%;
}

.subscribed {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 6px;
}

.show-group-members {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 6px;
  cursor: pointer;
}

.subscribe-checkbox {
  margin-top: 5px;
}

::ng-deep {
  .group-tooltip {
    white-space: pre-line !important;
  }

  .message .mat-form-field-subscript-wrapper {
    margin-top: 12px !important;
    padding-left: 0px !important;
  }

  .send-email-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: save-spinner 0.8s linear infinite;
  }
}
