<ng-container *ngIf="vm$ | async as vm">
  <h3>Send Issue Notification by Email</h3>
  <mat-card class="mat-elevation-z2" style="margin-bottom: 10px">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="margin-bottom: 5px"
    >
      <div><span>Send to Users</span></div>
    </div>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Users</mat-label>
      <mat-chip-list #chipRecipientList aria-label="User selection">
        <mat-chip
          *ngFor="let registeredRecipient of vm.registeredRecipients"
          [selectable]="true"
          [removable]="true"
          [matTooltip]="getTooltipMessage(registeredRecipient)"
          matTooltipClass="group-tooltip"
          (removed)="removeRegisteredRecipient(registeredRecipient)"
        >
          <ng-container
            *ngIf="!registeredRecipient.IsGroup; else showGroupMembers"
          >
            <mat-icon
              *ngIf="!registeredRecipient.IsSubscribed"
              class="material-icons-outlined subscribed"
              >contactless</mat-icon
            >
            <mat-icon
              *ngIf="
                registeredRecipient.IsSubscribed && !registeredRecipient.IsGroup
              "
              class="subscribed"
              color="accent"
              >contactless</mat-icon
            >
          </ng-container>
          <ng-template #showGroupMembers>
            <mat-icon
              class="material-icons-outlined show-group-members"
              (click)="showGroupMemebers(registeredRecipient)"
              >add_circle_outline</mat-icon
            >
          </ng-template>
          {{ registeredRecipient.FriendlyName }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #registeredRecipientsInput
          placeholder="Add User..."
          [formControl]="registeredRecipients"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipRecipientList"
          (matChipInputTokenEnd)="addRegisteredUser($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectRegisteredUser($event)"
      >
        <mat-option
          *ngFor="let user of vm.filteredRegisteredUsers"
          [value]="user"
        >
          {{ user.FriendlyName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <mat-card class="mat-elevation-z2" style="margin-bottom: 10px">
    <p style="display: inline-block; margin-right: 15px">Send to Non-Users</p>
    <small style="font-weight: bold"
      >Note: Non-users will not be able to reply with issue discussion
      entries</small
    >
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Non-user email</mat-label>
      <mat-chip-list #chipNonRegisteredList aria-label="nonUser selection">
        <mat-chip
          *ngFor="let nonRegisteredRecipient of vm.nonRegisteredRecipients"
          [selectable]="true"
          [removable]="true"
          (removed)="removeNonRegisteredRecipient(nonRegisteredRecipient)"
        >
          {{ nonRegisteredRecipient }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #nonRegisteredRecipientsInput
          placeholder="Add Non-User (press enter to add multiple emails)..."
          [formControl]="nonRegisteredRecipients"
          [matChipInputFor]="chipNonRegisteredList"
          (matChipInputTokenEnd)="addNonRegisteredRecipient($event)"
        />
        <mat-error *ngIf="nonRegisteredRecipients.hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-chip-list>
    </mat-form-field>
  </mat-card>
  <mat-card class="mat-elevation-z2">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <span style="font-weight: 500">Subject:</span>
      <ng-container>
        <span> #{{ vm.assetIssueID }}: </span>
      </ng-container>
      <ng-container>
        <span>
          {{ vm.issueTitle }}
        </span>
      </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span style="margin-bottom: 8px; margin-top: 8px">Message</span>
    </div>
    <div>
      <mat-form-field appearance="fill" color="accent" class="message">
        <textarea
          matInput
          cdkTextareaAutosize
          [formControl]="message"
          rows="3"
        ></textarea>
        <mat-error *ngIf="message.hasError('required')">
          Message is required.
        </mat-error>
      </mat-form-field>
    </div>
    <mat-checkbox
      class="subscribe-checkbox"
      [checked]="subscribeUser"
      (change)="subscribeUserChanged($event)"
      >Subscribe users to this Issue.</mat-checkbox
    >
  </mat-card>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>

    <button
      mat-flat-button
      color="accent"
      cdkFocusInitial
      (click)="sendEmail()"
      [class.send-email-spinner]="vm.sendingEmail"
      [disabled]="message.invalid || vm.sendingEmail"
    >
      Send Email
    </button>
  </div>
</ng-container>
