<div class="icon-right">
  <mat-chip *ngIf="keyword$ | async as keyword" (removed)="resetSearch(false)">
    {{ keyword }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  <button
    mat-icon-button
    title="Toggle Keyword Search"
    data-cy="toggleKeywordSearchBtn"
    (click)="toggleKeywordSearch()"
  >
    <mat-icon> search </mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="toggleFloatingFilter()"
    title="Toggle Filter Row"
    data-cy="toggleFilterBtn"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="listViewRefresh()"
    title="Refresh View"
    data-cy="refreshGridBtn"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="listViewDownload()"
    title="Download Issues"
    data-cy="downloadGridBtn"
  >
    <mat-icon>save_alt</mat-icon>
  </button>
</div>
<div
  *ngIf="showKeywordSearch"
  class="keyword-search-control"
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="end center"
>
  <mat-form-field fxFlex="15%" appearance="fill" color="accent">
    <input
      #keywordSearchInput
      matInput
      placeholder="Keyword Search..."
      [formControl]="searchKeywordFrmCtrl"
      (keydown.enter)="searchByKeyword()"
    />
  </mat-form-field>

  <span>
    <button mat-flat-button color="accent" (click)="searchByKeyword()">
      Search
    </button>
  </span>
</div>
<div [ngClass]="showKeywordSearch ? 'lvc-with-search' : 'list-view-container'">
  <mat-card
    class="list-view"
    [ngClass]="{
      'list-view-bg-dark': listTheme === 'dark',
      'list-view-bg-light': listTheme === 'light'
    }"
  >
    <div class="header-left">
      <span
        style="top: 8px; left: 9px; position: absolute"
        *ngIf="listViewFilters.length === 0"
      >
        <mat-icon>filter_alt_outline</mat-icon>
      </span>
      <button
        title="Clear Filters"
        class="maticon-button"
        style="top: 6px"
        mat-icon-button
        *ngIf="listViewFilters.length > 0"
        (click)="clearFilters($event)"
      >
        <mat-icon>filter_alt_outline</mat-icon>
      </button>
      <mat-chip-list #chipList aria-label="Filters" data-cy="filter-chip-list">
        <mat-chip
          style="top: 5px"
          *ngFor="let filter of listViewFilters"
          [removable]="filter.Removable"
          (removed)="removeFilter(filter)"
        >
          <span data-cy="filter-column-name">{{ filter.DisplayName }}</span>
          <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>
  <div class="ag-grid-container" #agGridContainer>
    <ag-grid-angular
      class="ag-grid-formats"
      [ngClass]="
        listTheme === 'light'
          ? 'ag-theme-alpine'
          : listTheme === 'dark'
          ? 'ag-theme-alpine-dark'
          : 'ag-theme-alpine-dark'
      "
      [gridOptions]="gridOptions"
      [modules]="modules"
    ></ag-grid-angular>
  </div>
</div>
