.icon-right {
  display: inline-block;
  position: absolute;
  height: 30px;
  right: 0;
  margin-top: 12px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.list-view-container {
  height: calc(100% - 316px);
  overflow: hidden;
}

.lvc-with-search {
  height: calc(100% - 368px);
  overflow: hidden;
}

.ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
}

.ag-grid-container {
  margin: 5px;
  height: calc(100% - 47px);
}

.keyword-search-control {
  padding-right: 5px;
}

::ng-deep {
  .cell-selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .cell-wrap-text {
    white-space: normal !important;
  }

  .ag-icon-my-views,
  .ag-icon-column,
  .ag-icon-filters {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }

  .ag-theme-alpine-dark button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-theme-alpine button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-side-button-label {
    display: none;
  }

  .ag-theme-alpine-dark .ag-side-button-button,
  .ag-theme-alpine .ag-side-button-button {
    padding: 0;
    margin: 0;
    min-height: 30px;
  }
  .ag-side-button {
    height: 30px;
    margin: 2px 0;
  }

  .ag-side-buttons {
    padding-top: 12px;
  }

  .ag-cell {
    line-height: 26px !important;
  }

  .ag-row-hover:not(.ag-row-selected) {
    background-color: var(--accent-250h) !important;
  }

  .default-dark-theme {
    .ag-checkbox-input-wrapper.ag-checked::after {
      color: var(--accent-250) !important;
    }

    .ag-row-selected {
      background-color: var(--accent-250) !important;
    }

    .ag-side-bar-right .ag-selected .ag-side-button-button {
      border-left-color: var(--accent-250) !important;
    }
  }
  .alternative-light-theme {
    .ag-checkbox-input-wrapper.ag-checked::after {
      color: var(--accent-200) !important;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-side-bar-right .ag-selected .ag-side-button-button {
      border-left-color: var(--accent-200) !important;
    }
  }

  .list-view {
    display: flex;
    margin: 5px 5px -6px 5px;
    padding: 0;
    height: 35px;
    border-radius: 0;
    border: 1px solid rgba(160, 160, 160, 0.3);
  }

  .alternative-light-theme .list-view {
    border: 1px solid #babfc7;
  }

  .header-left {
    margin: 5px;
    float: left;
    display: flex;
  }

  .mat-standard-chip {
    min-height: 24px !important;
    font-size: 12px;
  }

  .list-view-bg-dark {
    background-color: #424242;
  }

  .list-view-bg-light {
    background-color: #dad6d6;
  }

  .ag-header-row {
    height: 30px !important;
  }

  .ag-grid-container .ag-row-loading {
    height: 30px !important;
  }

  .keyword-search-control .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .keyword-search-control .mat-form-field-underline {
    position: unset !important;
  }
}
