@use 'sass:math';

@import 'variables.scss';

@include ng-deep($enableNgDeep) {
  .atx-ng5-slider {
    display: inline-block;
    position: relative;
    height: $barDimension;
    width: 100%;
    margin: $sliderMarginWithLabel 0 $sliderMargin 0;
    vertical-align: middle;
    user-select: none;
    touch-action: pan-y;

    &.with-legend {
      margin-bottom: $withLegendMargin;
    }

    &[disabled] {
      cursor: not-allowed;

      .atx-ng5-slider-pointer {
        cursor: not-allowed;
        background-color: $handleDisabledColor;
      }

      .atx-ng5-slider-draggable {
        cursor: not-allowed;
      }

      .atx-ng5-slider-selection {
        background: $barDisabledFillColor;
      }

      .atx-ng5-slider-tick {
        cursor: not-allowed;

        &.atx-ng5-slider-selected {
          background: $barDisabledFillColor;
        }
      }
    }

    .atx-ng5-slider-span {
      white-space: nowrap;
      position: absolute;
      display: inline-block;
    }

    .atx-ng5-slider-base {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .atx-ng5-slider-bar-wrapper {
      left: 0;
      box-sizing: border-box;
      margin-top: math.div(-$handleSize, 2);
      padding-top: math.div($handleSize, 2);
      width: 100%;
      height: $handleSize;
      z-index: 1;
    }

    .atx-ng5-slider-draggable {
      cursor: move;
    }

    .atx-ng5-slider-bar {
      left: 0;
      width: 100%;
      height: $barDimension;
      z-index: 1;
      background: $barNormalColor;
      @include rounded(math.div($barDimension, 2));
    }

    .atx-ng5-slider-bar-wrapper.atx-ng5-slider-transparent .atx-ng5-slider-bar {
      background: transparent;
    }

    .atx-ng5-slider-bar-wrapper.atx-ng5-slider-left-out-selection
      .atx-ng5-slider-bar {
      background: $barLeftOutSelectionColor;
    }

    .atx-ng5-slider-bar-wrapper.atx-ng5-slider-right-out-selection
      .atx-ng5-slider-bar {
      background: $barRightOutSelectionColor;
    }

    .atx-ng5-slider-selection {
      z-index: 2;
      background: $barFillColor;
      @include rounded(math.div($barDimension, 2));
    }

    .atx-ng5-slider-pointer {
      cursor: pointer;
      width: $handleSize;
      height: $handleSize;
      top: math.div(-$handleSize, 2) + math.div($barDimension, 2);
      background-color: $handleBgColor;
      z-index: 3;
      @include rounded(math.div($handleSize, 2));

      &:after {
        content: '';
        width: $handlePointerSize;
        height: $handlePointerSize;
        position: absolute;
        top: math.div($handleSize, 2)- math.div($handlePointerSize, 2);
        left: math.div($handleSize, 2) - math.div($handlePointerSize, 2);
        @include rounded(math.div($handlePointerSize, 2));
        background: $handleInnerColor;
      }

      &:hover:after {
        background-color: $handleHoverColor;
      }

      &.atx-ng5-slider-active {
        z-index: 4;

        &:after {
          background-color: $handleActiveColor;
        }
      }
    }

    .atx-ng5-slider-bubble {
      cursor: default;
      bottom: math.div($handleSize, 2);
      padding: $bubblePaddingVertical $bubblePaddingHorizontal;
      color: $labelTextColor;
      font-size: $labelFontSize;

      &.atx-ng5-slider-limit {
        color: $limitLabelTextColor;
      }
    }

    .atx-ng5-slider-ticks {
      box-sizing: border-box;
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      top: -(math.div($ticksHeight - $barDimension, 2));
      margin: 0;
      z-index: 1;
      list-style: none;
    }

    .atx-ng5-slider-ticks-values-under {
      .atx-ng5-slider-tick-value {
        top: auto;
        bottom: $ticksValuePosition - 2;
      }
    }

    .atx-ng5-slider-tick {
      text-align: center;
      cursor: pointer;
      width: $ticksWidth;
      height: $ticksHeight;
      background: $ticksColor;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: math.div($handleSize, 2) - math.div($ticksWidth, 2); // for centering

      &.atx-ng5-slider-selected {
        background: $selectedTicksColor;
      }
    }

    .atx-ng5-slider-tick-value {
      position: absolute;
      top: $ticksValuePosition;
      transform: translate(-50%, 0);
    }

    .atx-ng5-slider-tick-legend {
      position: absolute;
      top: $ticksLegendPosition;
      transform: translate(-50%, 0);
      max-width: $tickLegendMaxWidth;
      white-space: normal;
    }

    &.vertical {
      position: relative;
      width: $barDimension;
      height: 100%;
      margin: 0 $sliderVerticalMargin;
      padding: 0;
      vertical-align: baseline;
      touch-action: pan-x;

      .atx-ng5-slider-base {
        width: 100%;
        height: 100%;
        padding: 0;
      }

      .atx-ng5-slider-bar-wrapper {
        top: auto;
        left: 0;
        margin: 0 0 0 (-(math.div($handleSize, 2)));
        padding: 0 0 0 math.div($handleSize, 2);
        height: 100%;
        width: $handleSize;
      }

      .atx-ng5-slider-bar {
        bottom: 0;
        left: auto;
        width: $barDimension;
        height: 100%;
      }

      .atx-ng5-slider-pointer {
        left: -(math.div($handleSize, 2)) + math.div($barDimension, 2) !important;
        top: auto;
        bottom: 0;
      }

      .atx-ng5-slider-bubble {
        left: math.div($handleSize, 2) !important;
        bottom: 0;
      }

      .atx-ng5-slider-ticks {
        height: 100%;
        width: 0;
        left: -(math.div($ticksHeight - $barDimension, 2));
        top: 0;
        z-index: 1;
      }

      .atx-ng5-slider-tick {
        vertical-align: middle;
        margin-left: auto;
        margin-top: math.div($handleSize, 2) - math.div($ticksWidth, 2); // for centering
      }

      .atx-ng5-slider-tick-value {
        left: $ticksValuePositionOnVertical;
        top: auto;
        transform: translate(0, -28%);
      }

      .atx-ng5-slider-tick-legend {
        top: auto;
        right: $ticksLegendPosition;
        transform: translate(0, -28%);
        max-width: none;
        white-space: nowrap;
      }

      .atx-ng5-slider-ticks-values-under {
        .atx-ng5-slider-tick-value {
          bottom: auto;
          left: auto;
          right: $ticksValuePositionOnVertical;
        }
      }
    }

    * {
      transition: none;
    }

    &.animate {
      .atx-ng5-slider-bar-wrapper {
        transition: all linear $animationDuration;
      }

      .atx-ng5-slider-selection {
        transition: background-color linear $animationDuration;
      }

      .atx-ng5-slider-pointer {
        transition: all linear $animationDuration;
      }

      .atx-ng5-slider-bubble {
        transition: all linear $animationDuration;

        &.atx-ng5-slider-limit {
          transition: opacity linear $animationDuration;
        }

        &.atx-ng5-slider-combined {
          transition: opacity linear $animationDuration;
        }
      }

      .atx-ng5-slider-tick {
        transition: background-color linear $animationDuration;
      }
    }
  }
}
