<!-- // 0 Left selection bar outside two handles -->
<span
  atxSliderElement
  #leftOuterSelectionBar
  class="atx-ng5-slider-span atx-ng5-slider-bar-wrapper atx-ng5-slider-left-out-selection"
>
  <span class="atx-ng5-slider-span atx-ng5-slider-bar"></span>
</span>
<!-- // 1 Right selection bar outside two handles -->
<span
  atxSliderElement
  #rightOuterSelectionBar
  class="atx-ng5-slider-span atx-ng5-slider-bar-wrapper atx-ng5-slider-right-out-selection"
>
  <span class="atx-ng5-slider-span atx-ng5-slider-bar"></span>
</span>
<!-- // 2 The whole slider bar -->
<span
  atxSliderElement
  #fullBar
  [class.atx-ng5-slider-transparent]="fullBarTransparentClass"
  class="atx-ng5-slider-span atx-ng5-slider-bar-wrapper atx-ng5-slider-full-bar"
>
  <span class="atx-ng5-slider-span atx-ng5-slider-bar"></span>
</span>
<!-- // 3 Selection bar between two handles -->
<span
  atxSliderElement
  #selectionBar
  [class.atx-ng5-slider-draggable]="selectionBarDraggableClass"
  class="atx-ng5-slider-span atx-ng5-slider-bar-wrapper atx-ng5-slider-selection-bar"
>
  <span
    class="atx-ng5-slider-span atx-ng5-slider-bar atx-ng5-slider-selection"
    [ngStyle]="barStyle"
  ></span>
</span>
<!-- // 4 Low slider handle -->
<span
  atxSliderHandle
  #minHandle
  class="atx-ng5-slider-span atx-ng5-slider-pointer atx-ng5-slider-pointer-min"
  [ngStyle]="minPointerStyle"
></span>
<!-- // 5 High slider handle -->
<span
  atxSliderHandle
  #maxHandle
  [style.display]="range ? 'inherit' : 'none'"
  class="atx-ng5-slider-span atx-ng5-slider-pointer atx-ng5-slider-pointer-max"
  [ngStyle]="maxPointerStyle"
></span>
<!-- // 6 Floor label -->
<span
  atxSliderLabel
  #floorLabel
  class="atx-ng5-slider-span atx-ng5-slider-bubble atx-ng5-slider-limit atx-ng5-slider-floor"
></span>
<!-- // 7 Ceiling label -->
<span
  atxSliderLabel
  #ceilLabel
  class="atx-ng5-slider-span atx-ng5-slider-bubble atx-ng5-slider-limit atx-ng5-slider-ceil"
></span>
<!-- // 8 Label above the low slider handle -->
<span
  atxSliderLabel
  #minHandleLabel
  class="atx-ng5-slider-span atx-ng5-slider-bubble atx-ng5-slider-model-value"
></span>
<!-- // 9 Label above the high slider handle -->
<span
  atxSliderLabel
  #maxHandleLabel
  class="atx-ng5-slider-span atx-ng5-slider-bubble atx-ng5-slider-model-high"
></span>
<!-- // 10 Combined range label when the slider handles are close ex. 15 - 17 -->
<span
  atxSliderLabel
  #combinedLabel
  class="atx-ng5-slider-span atx-ng5-slider-bubble atx-ng5-slider-combined"
></span>
<!-- // 11 The ticks -->
<span
  atxSliderElement
  #ticksElement
  [hidden]="!showTicks"
  [class.atx-ng5-slider-ticks-values-under]="ticksUnderValuesClass"
  class="atx-ng5-slider-ticks"
>
  <span
    *ngFor="let t of ticks"
    class="atx-ng5-slider-tick"
    [ngClass]="{ 'atx-ng5-slider-selected': t.selected }"
    [ngStyle]="t.style"
  >
    <atx-tooltip-wrapper
      [template]="tooltipTemplate"
      [tooltip]="t.tooltip"
      [placement]="t.tooltipPlacement"
    ></atx-tooltip-wrapper>
    <atx-tooltip-wrapper
      *ngIf="t.value !== null"
      class="atx-ng5-slider-span atx-ng5-slider-tick-value"
      [template]="tooltipTemplate"
      [tooltip]="t.valueTooltip"
      [placement]="t.valueTooltipPlacement"
      [content]="t.value"
    ></atx-tooltip-wrapper>
    <span
      *ngIf="t.legend !== null"
      class="atx-ng5-slider-span atx-ng5-slider-tick-legend"
      [innerHTML]="t.legend"
    ></span>
  </span>
</span>
