<div class="views-panel">
  <div class="new-view">
    <input
      #listInputBox
      type="text"
      placeholder="Save View..."
      [formControl]="name"
      data-cy="saveViewFld"
    />
    <div class="new-view-spacer"></div>
    <button mat-raised-button (click)="saveList()" data-cy="saveBtn">
      Save
    </button>
  </div>
  <ul>
    <li>
      <button
        mat-raised-button
        (click)="loadDefault()"
        data-cy="resetToDefaultBtn"
      >
        Reset To Default
      </button>
    </li>
    <li
      *ngFor="let list of lists$ | async; trackBy: trackByFn"
      data-cy="savedViewsListItem"
    >
      <mat-icon color="accent" *ngIf="list.checked" unselectable="on">
        check_box
      </mat-icon>
      <mat-icon
        (click)="loadList(list)"
        *ngIf="list.checked === false"
        unselectable="on"
        data-cy="checkbox"
      >
        check_box_outline_blank
      </mat-icon>
      <h4 class="list-name">
        {{ list.name }}
      </h4>
      <div class="filterLoadDelete">
        <button
          mat-raised-button
          (click)="delete(list)"
          data-cy="deleteViewBtn"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
