.top-progress-bar {
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
}

mat-menu {
  margin-right: 2px !important;
}

::ng-deep {
  mat-drawer {
    display: flex !important;
  }
  mat-drawer-container {
    flex: 1 1 auto !important;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.discussion-divider {
  padding-bottom: 20px;
}

.divider {
  padding-bottom: 5px;
}

.title-span {
  font-weight: 500;
}

.top-section {
  padding: 5px 20px 0 20px;
}

.bottom-section {
  height: calc(100% - 185px);
}

.bottom-left-section {
  padding-bottom: 10px 0;
  overflow-y: auto;
}

.bottom-right-section {
  max-width: 450px;
  overflow: auto;
}

.bottom-right-sub-sections {
  padding: 10px 20px;
  max-height: 300px;
  overflow: auto;
}

.impact-right-sub-sections {
  padding: 2px 20px 10px 20px;
}

.bottom-right-sub-sections .title-span {
  margin-bottom: 5px;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.asset-button {
  font-size: 13px;
}

.edit-summary {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 68px;
}

.custom-chip {
  top: 5px;
  max-width: 450px;
  height: auto;
  word-wrap: break-word;
}

.asset-name-container {
  align-items: center;
  margin-bottom: 20px;
}

.asset-tree-dropdown {
  height: 290px;
  width: calc(100% - 50px);
  position: absolute;
  z-index: 9999;
  top: -20px;
}

::ng-deep .chip-list-wrapper .mat-chip-list-wrapper {
  margin: 0 !important;
}

::ng-deep .mat-progress-bar-element {
  height: 2px !important;
  border-radius: 4px;
}

::ng-deep .mat-progress-bar-fill::after {
  height: 2px !important;
}

::ng-deep .scorecard-toggle mat-button-toggle {
  border: none !important;
  background: none !important;
  margin-bottom: 8px;
}

:host ::ng-deep mat-form-field#top-form {
  // padding: 0 !important;
  margin: 20 !important;

  .mat-form-field-infix {
    padding-top: 20 !important;
  }
}

::ng-deep {
  .snapshot-container .mat-form-field-wrapper {
    margin: 0;
  }
  .snapshot-container .mat-form-field-infix {
    // border-top: 0 !important;
    padding: 0.25em 0 0.75em 0;
    border-top: 0.84375em solid transparent;
  }

  .snapshot-container .mat-select-arrow-wrapper {
    padding-top: 10px;
  }

  .snapshot-container .mat-select-value {
    padding-top: 3px !important;
  }

  .default-dark-theme .main-content .mat-select-disabled .mat-select-value {
    color: rgba(255, 255, 255, 1);
  }
  .default-dark-theme .main-content .mat-input-element:disabled,
  .default-dark-theme
    .main-content
    .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: rgba(255, 255, 255, 1);
  }

  .alternative-light-theme .main-content .mat-input-element:disabled,
  .alternative-light-theme
    .main-content
    .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: rgba(0, 0, 0, 1);
  }
  .alternative-light-theme
    .main-content
    .mat-select-disabled
    .mat-select-value {
    color: rgba(0, 0, 0, 1);
  }
  .main-content .mat-form-field-label {
    padding-top: 3px !important;
  }
  .issue-class .mat-select-arrow {
    opacity: 0;
  }
  .issue-category .mat-select-arrow {
    opacity: 0;
  }
}

.mat-form-field-infix {
  // border-top: 0 !important;
  padding: 5px 0 12px 0;
  min-height: 12px;
  border-top: 0.84375em solid transparent;
}
.htmlContent a {
  color: var(--accent-250) !important;
}

.work-order {
  &-title {
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  &-info {
    margin-left: 24px;
    // color: #6ea09d !important;
  }
}

.divider-work-order {
  margin-bottom: 16px;
}

.create-work-order-btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.work-request-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.work-order-refid {
  font-size: medium;
}
.polling-error {
  font-size: 10px;
  color: var(--warn-600);
}
