<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="!vm.modalOpen">
    <ng-container *ngIf="vm.assetErrorMessage; else assetLoaded">
      {{ vm.assetErrorMessage }}
    </ng-container>
    <ng-template #assetLoaded>
      <ng-container *ngIf="vm.assetLoading">
        <mat-progress-bar
          class="top-progress-bar"
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </ng-container>

      <ng-container *ngIf="showCalculator; else mainContent">
        <atx-impact-calculator></atx-impact-calculator>
      </ng-container>

      <ng-template #mainContent>
        <div class="main-content snapshot-container">
          <section>
            <div class="top-section">
              <div>
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  fxFlexAlign="start start"
                >
                  <div fxLayout="row" fxLayoutGap="75px">
                    <div class="title-span">
                      <div
                        fxLayout="row"
                        fxLayoutGap="10px"
                        fxLayoutAlign="start center"
                      >
                        <ng-container
                          *ngIf="vm.issueWithOptions?.Issue?.AssetIssueID > -1"
                        >
                          <h3 style="font-weight: bold; padding-top: 8px">
                            #{{ vm.issueWithOptions?.Issue?.AssetIssueID }}:
                          </h3>
                        </ng-container>

                        <mat-form-field
                          appearance="outline"
                          style="margin-left: 10px; width: 500px; padding: 0"
                          class="top-form"
                          color="accent"
                        >
                          <input
                            matInput
                            autocomplete="off"
                            [disabled]="
                              vm.assetLoading || hasAccessRestriction()
                            "
                            [readonly]="hasAccessRestriction()"
                            [formControl]="issueTitle"
                            data-cy="issueTitle"
                          />
                          <mat-error
                            style="margin-top: 4px"
                            *ngIf="issueTitle.invalid"
                          >
                            Title is not valid.
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill" color="accent">
                          <mat-label
                            *ngIf="
                              !vm.loadingIssueCategoryTypes || vm.assetLoading
                            "
                            >Status</mat-label
                          >
                          <mat-select
                            [disabled]="
                              vm.loadingIssueCategoryTypes ||
                              vm.assetLoading ||
                              hasAccessRestriction()
                            "
                            [value]="
                              vm.issueWithOptions?.Issue?.ActivityStatusID
                            "
                            (selectionChange)="activityStatusChange($event)"
                            data-cy="activityStatusDropdown"
                          >
                            <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                              <mat-option
                                *ngFor="let activityStatus of vm.activityStatus"
                                [value]="
                                  activityStatus?.AssetIssueActivityStatusTypeID
                                "
                              >
                                {{
                                  activityStatus?.AssetIssueActivityStatusTypeDesc
                                }}
                              </mat-option>
                            </ng-container>
                          </mat-select>

                          <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                            <mat-progress-bar
                              color="accent"
                              id="template-progress-bar"
                              mode="indeterminate"
                            ></mat-progress-bar>
                          </ng-container>
                        </mat-form-field>
                        <div class="scorecard-toggle">
                          <mat-button-toggle
                            mat-mini-fab
                            [value]="vm.issueWithOptions?.Issue?.Scorecard"
                            [checked]="vm.issueWithOptions?.Issue?.Scorecard"
                            color="primary"
                            class="material-icons-outlined"
                            (change)="isScorecardChange($event)"
                            *ngIf="!hasAccessRestriction()"
                            data-cy="scorecardBtn"
                          >
                            <mat-icon
                              style="color: #e2bd68"
                              matTooltip="Remove Scorecard"
                              *ngIf="vm.issueWithOptions?.Issue?.Scorecard"
                              >star</mat-icon
                            >
                            <mat-icon
                              style="color: #e2bd68"
                              matTooltip="Add Scorecard"
                              *ngIf="!vm.issueWithOptions?.Issue?.Scorecard"
                              >star_outlined</mat-icon
                            >
                          </mat-button-toggle>
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="50px">
                      <div>
                        <span class="title-span">Created By:</span>
                        <span>
                          {{ vm.issueWithOptions?.Issue?.CreatedBy }}<br />
                          {{
                            vm.issueWithOptions?.Issue?.CreateDate
                              | date: 'MMM d, y h:mm a'
                          }}
                        </span>
                      </div>
                      <div>
                        <span class="title-span">Age: </span>
                        <span *ngIf="vm.issueWithOptions?.Issue?.CreateDate">
                          {{
                            vm.issueWithOptions?.Issue?.CreateDate
                              | amTimeAgo: true
                          }}
                          old
                        </span>
                      </div>
                      <div>
                        <span class="title-span">Last Modified:</span>
                        {{ vm.issueWithOptions?.Issue?.ChangedBy }}<br />
                        {{
                          vm.issueWithOptions?.Issue?.ChangeDate
                            | date: 'MMM d, y h:mm a'
                        }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between end">
                <div fxLayout="row" fxLayoutGap="10px" fxFlexAlign="start">
                  <mat-form-field appearance="fill" color="accent">
                    <mat-label
                      *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                      >Resolution Status</mat-label
                    >
                    <mat-select
                      [disabled]="
                        vm.loadingIssueCategoryTypes ||
                        vm.assetLoading ||
                        hasAccessRestriction()
                      "
                      [value]="vm.issueWithOptions?.Issue?.ResolutionStatusID"
                      (selectionChange)="resolutionStatusChange($event)"
                      data-cy="resolutionStatusDropdown"
                    >
                      <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                        <mat-option
                          *ngFor="let resolutionStatus of vm.resolutionStatus"
                          [value]="
                            resolutionStatus?.AssetIssueResolutionStatusTypeID
                          "
                        >
                          {{
                            resolutionStatus?.AssetIssueResolutionStatusTypeDesc
                          }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>

                  <mat-form-field appearance="fill" color="accent">
                    <mat-label>Assigned To</mat-label>
                    <input
                      style="padding-top: 4px"
                      matInput
                      [matAutocomplete]="auto"
                      [formControl]="assignedTo"
                      [disabled]="vm.users === null"
                      [readonly]="hasAccessRestriction()"
                      (blur)="assignedToFocusOut()"
                      data-cy="assignedToTxtBox"
                    />
                    <mat-error *ngIf="!assignedTo.valid">
                      Invalid user
                    </mat-error>
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="userSelected($event)"
                    >
                      <mat-option
                        *ngFor="let user of vm.filteredUsers"
                        [value]="user.EmailAddress"
                      >
                        {{ user.EmailAddress }}
                      </mat-option>
                    </mat-autocomplete>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>

                  <mat-form-field appearance="fill" color="accent">
                    <mat-label>Resolve By Date</mat-label>
                    <input
                      style="padding-top: 4px"
                      #timeSpanDateInput
                      matInput
                      [disabled]="vm.assetLoading || hasAccessRestriction()"
                      [formControl]="resolveByDate"
                      [min]="resolveByStartMin"
                      [max]="resolveByEndMax"
                      [matDatepicker]="timeSpanDatePicker"
                      data-cy="resolveByDateTxtBox"
                    />
                    <mat-datepicker-toggle
                      [disabled]="vm.assetLoading"
                      matSuffix
                      tabindex="-1"
                      [for]="timeSpanDatePicker"
                      data-cy="resolveByDateBtn"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #timeSpanDatePicker></mat-datepicker>
                    <mat-error
                      style="margin-top: 2px"
                      *ngIf="resolveByDate.invalid || vm.invalidResolveBy"
                    >
                      Date is not valid.
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" color="accent">
                    <mat-label
                      *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                      >Priority</mat-label
                    >
                    <mat-select
                      [disabled]="
                        vm.loadingIssueCategoryTypes ||
                        vm.assetLoading ||
                        hasAccessRestriction()
                      "
                      [value]="vm.selectedPriority"
                      (selectionChange)="priorityChange($event)"
                      data-cy="priorityDropdown"
                    >
                      <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                        <mat-option
                          *ngFor="let priority of vm.priorities"
                          [value]="priority.id"
                        >
                          {{ priority.name }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div fxLayoutGap="10px" style="margin-bottom: 8px">
                  <button
                    [disabled]="
                      vm.assetLoading ||
                      hasAccessRestriction() ||
                      vm.pristine ||
                      vm.invalidResolveBy ||
                      (resolveByDate.touched && resolveByDate.invalid) ||
                      issueTitle.invalid ||
                      assignedTo.invalid
                    "
                    mat-raised-button
                    color="accent"
                    (click)="save()"
                    data-cy="saveIssueBtn"
                  >
                    <mat-icon
                      class="material-icons-outlined"
                      style="padding-bottom: 2px; padding-right: 2px"
                      >save</mat-icon
                    >
                    Save
                  </button>
                  <button
                    [disabled]="
                      vm.assetLoading ||
                      (resolveByDate.touched && resolveByDate.invalid) ||
                      issueTitle.invalid ||
                      vm.issueWithOptions?.Issue?.AssetIssueID === -1
                    "
                    mat-flat-button
                    color="primary"
                    (click)="follow(vm.isSubscribed)"
                    data-cy="followBtn"
                  >
                    <mat-icon
                      *ngIf="!vm.isSubscribed"
                      class="material-icons-outlined"
                      style="padding-bottom: 2px; padding-right: 4px"
                      >contactless</mat-icon
                    >
                    <mat-icon
                      *ngIf="vm.isSubscribed"
                      style="padding-bottom: 2px; padding-right: 4px"
                      color="accent"
                      >contactless</mat-icon
                    >
                    <span *ngIf="!vm.isSubscribed">Follow</span>
                    <span *ngIf="vm.isSubscribed">Following</span>
                  </button>
                  <button
                    [disabled]="
                      vm.assetLoading ||
                      (resolveByDate.touched && resolveByDate.invalid) ||
                      issueTitle.invalid ||
                      vm.issueWithOptions?.Issue?.AssetIssueID === -1
                    "
                    mat-flat-button
                    color="primary"
                    (click)="sendIssueDialog()"
                    data-cy="sendBtn"
                  >
                    <mat-icon
                      style="padding-bottom: 2px; padding-right: 2px"
                      color="accent"
                      >send</mat-icon
                    >
                    Send
                  </button>
                  <button
                    style="
                      min-width: 36px;
                      border-radius: 25px;
                      padding-left: 2px;
                      padding-right: 2px;
                    "
                    mat-flat-button
                    color="primary"
                    matTooltip="More Actions"
                    [matMenuTriggerFor]="menu"
                    *ngIf="!hasAccessRestriction()"
                    [disabled]="
                      vm.assetLoading ||
                      (resolveByDate.touched && resolveByDate.invalid) ||
                      issueTitle.invalid ||
                      vm.issueWithOptions?.Issue?.AssetIssueID === -1
                    "
                    data-cy="moreOptionsBtn"
                  >
                    <mat-icon style="padding-bottom: 2px" color="accent"
                      >more_vert</mat-icon
                    >
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      [disabled]="!vm.pristine"
                      mat-menu-item
                      (click)="changeCategoryAndClass()"
                      data-cy="changeCategoryAndClassBtn"
                    >
                      <mat-icon class="material-icons-outlined"
                        >change_circle</mat-icon
                      >
                      <span>Change Category & Class</span>
                    </button>
                    <button
                      mat-menu-item
                      (click)="manageFollowersDialog()"
                      data-cy="manageFollowersBtn"
                    >
                      <mat-icon class="material-icons-outlined"
                        >contactless</mat-icon
                      >
                      <span>Manage Followers</span>
                    </button>
                    <button
                      *ngIf="checkShouldShowButton() | async"
                      mat-menu-item
                      data-cy="Create work request alt button"
                      (click)="openCreateWorkRequestDialog()"
                      [disabled]="checkShouldDisableButton() | async"
                    >
                      <mat-icon> add_circle_outline </mat-icon>
                      <span>Create Work Request</span>
                    </button>
                    <button
                      mat-menu-item
                      (click)="deleteSnapshot()"
                      data-cy="deleteIssueBtn"
                    >
                      <mat-icon>delete_outline</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                  <button
                    style="
                      min-width: 36px;
                      border-radius: 25px;
                      padding-left: 2px;
                      padding-right: 2px;
                    "
                    mat-flat-button
                    color="primary"
                    matTooltip="View/Hide Details"
                    data-cy="showHideDetails"
                  >
                    <mat-icon
                      style="padding-bottom: 2px"
                      class="material-icons-outlined"
                      color="accent"
                      (click)="drawer.toggle()"
                      >info</mat-icon
                    >
                  </button>
                  <ng-container *ngIf="vm.assetIssueId < 0">
                    <button
                      style="margin-left: 10px"
                      mat-raised-button
                      [disabled]="vm.assetLoading"
                      color="accent"
                      (click)="cancel()"
                      data-cy="cancelIssueBtn"
                    >
                      Cancel
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </section>
          <mat-divider></mat-divider>
          <mat-drawer-container class="bottom-section">
            <section class="bottom-left-section">
              <div style="margin: 20px">
                <div *ngIf="!hasAccessRestriction()">
                  <button
                    *ngIf="!(summaryState$ | async).EditingSummary"
                    mat-icon-button
                    matTooltip="Edit Summary"
                    class="edit-summary"
                    (click)="editSummary()"
                    data-cy="editSummaryBtn"
                  >
                    <mat-icon class="material-icons material-icons-outlined"
                      >edit</mat-icon
                    >
                  </button>
                </div>
                <mat-accordion>
                  <mat-expansion-panel
                    [expanded]="(summaryState$ | async)?.EditingSummary"
                    [expanded]="
                      (summaryState$ | async)?.IssueSummary?.length > 1
                    "
                  >
                    <mat-expansion-panel-header
                      [collapsedHeight]="'50px'"
                      [expandedHeight]="'50px'"
                      data-cy="summaryHeader"
                    >
                      <mat-panel-title>
                        <b>SUMMARY</b>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="content">
                      <ng-container
                        *ngIf="
                          !(summaryState$ | async).EditingSummary;
                          else summaryEditor
                        "
                      >
                        <div
                          #summaryContent
                          class="htmlContent"
                          [innerHTML]="
                            (summaryState$ | async)?.IssueSummary
                              | safeHTMLIssue
                          "
                        ></div>
                      </ng-container>
                      <ng-template #summaryEditor>
                        <atx-issue-summary-editor
                          [summaryState]="summaryState$ | async"
                          (uploadSummaryFile)="uploadSummaryFile($event)"
                          (saveSummary)="saveSummary($event)"
                          (cancelEditSummary)="cancelEditSummary()"
                        ></atx-issue-summary-editor>
                      </ng-template>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <mat-divider class="discussion-divider"></mat-divider>
              <ng-container *ngIf="vm.assetIssueId > -1; else noDiscussion">
                <div
                  style="
                    margin-left: 20px;
                    margin-right: 20px;
                    padding-bottom: 10px;
                    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
                  "
                >
                  <b style="font-size: 16px">Discussion</b>
                </div>

                <atx-discussion
                  [discussionState]="discussionState$ | async"
                  [type]="'Issue'"
                  (stateChange)="onDiscussionStateChange($event)"
                ></atx-discussion>
              </ng-container>
              <ng-template #noDiscussion>
                <div
                  style="
                    margin-left: 20px;
                    margin-right: 20px;
                    padding-bottom: 10px;
                    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
                  "
                >
                  <b style="font-size: 20px">Discussion</b>
                </div>

                <mat-card style="padding: 40px; margin: 20px">
                  <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-icon
                      style="font-size: 48px"
                      class="material-icons-two-toned"
                      color="accent"
                      >comment</mat-icon
                    >
                    <mat-card-subtitle style="margin-top: 25px"
                      >Save the issue to edit the discussion.</mat-card-subtitle
                    >
                  </div>
                </mat-card>
              </ng-template>
            </section>
            <mat-drawer
              #drawer
              opened
              mode="side"
              position="end"
              class="bottom-right-section"
            >
              <div
                *ngIf="(workRequestLoading$ | async).loading"
                class="work-request-loading-container bottom-right-sub-sections"
              >
                <div style="margin-right: 8px">Loading...</div>
                <mat-spinner diameter="20" color="accent"></mat-spinner>
              </div>
              <div
                class="bottom-right-sub-sections"
                *ngIf="!(workRequestLoading$ | async).loading"
              >
                <div class="work-request-create-container">
                  <!-- CHANGE ngIf to depend on correct property of workOrderInfo -->
                  <div
                    class="create-work-order-btn-container"
                    *ngIf="
                      !workOrderInfo.title && (checkShouldShowButton() | async)
                    "
                  >
                    <button
                      style="margin-right: 8px"
                      mat-flat-button
                      color="primary"
                      (click)="openCreateWorkRequestDialog()"
                      [disabled]="checkShouldDisableButton() | async"
                    >
                      <mat-icon style="padding-bottom: 2px; padding-right: 2px">
                        add_circle_outline
                      </mat-icon>
                      Create Work Request
                    </button>
                    <mat-icon
                      *ngIf="checkShouldDisableButton() | async"
                      matTooltip="You are not allowed to create an external item for this issue at this time."
                    >
                      help_outline
                    </mat-icon>
                  </div>
                  <!-- Work Order Info -->
                  <!-- CHANGE ngIf to depend on correct property of workOrderInfo -->
                  <mat-expansion-panel
                    class="work-order"
                    *ngIf="workOrderInfo.title"
                    expanded
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="work-order-title">
                          <div class="mr-4">
                            Work Reference:
                            {{ workOrderInfo.workReferenceId }}
                          </div>
                          <!-- <mat-spinner
                            diameter="20"
                            color="accent"
                            style="margin-left: 8px"
                            *ngIf="!workOrderInfo.workReferenceId"
                          ></mat-spinner> -->
                          <!-- <div>
                            <button
                              mat-icon-button
                              style="margin-left: 10px"
                              (click)="onClickWRLink($event)"
                            >
                              <mat-icon>link</mat-icon>
                            </button>
                          </div> -->
                        </div>

                        <button
                          mat-flat-button
                          (click)="onReloadWorkRequest()"
                          color="primary"
                          *ngIf="!(workRequestLoading$ | async).polling"
                        >
                          Refresh
                          <!-- <mat-icon>
                              refresh
                            </mat-icon> -->
                        </button>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="work-order-info">
                      <div>Title: {{ workOrderInfo.title }}</div>
                      <div>
                        Created:
                        {{ workOrderInfo.createDate | date: 'short' }}
                      </div>
                      <div *ngIf="workOrderInfo.location">
                        Location: {{ workOrderInfo.location }},
                        {{ workOrderInfo.equipment }}
                      </div>
                      <div>Status: {{ workOrderInfo.status }}</div>
                      <div>
                        Updated:
                        {{ workOrderInfo.lastUpdatedAt | date: 'short' }}
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-progress-bar
                    *ngIf="(workRequestLoading$ | async).polling"
                    mode="indeterminate"
                    color="accent"
                  ></mat-progress-bar>
                  <div
                    class="polling-error"
                    *ngIf="
                      (workRequestLoading$ | async).pollingError as pollingError
                    "
                  >
                    {{ pollingError.message }}
                  </div>
                </div>
              </div>

              <mat-divider
                class="divider"
                *ngIf="(checkShouldShowButton() | async) || workOrderInfo.title"
              ></mat-divider>

              <div class="bottom-right-sub-sections">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span class="title-span">SHORT SUMMARY</span>
                  <mat-icon
                    style="font-size: 18px; margin-left: 10px"
                    matTooltip="Enter short description here to see in Issues Management Table"
                  >
                    help_outline
                  </mat-icon>
                </div>
                <div [hidden]="vm.assetLoading">
                  <mat-form-field
                    fxFlex="100%"
                    appearance="fill"
                    color="accent"
                  >
                    <textarea
                      class="issue-short-summary"
                      matInput
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="4"
                      cdkTextareaAutosize
                      placeholder=""
                      [formControl]="shortSummary"
                      [readonly]="hasAccessRestriction()"
                      data-cy="shortSummaryTextArea"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="bottom-right-sub-sections" fxLayout="column">
                <span class="title-span">DETAIL</span>
                <mat-form-field
                  appearance="fill"
                  color="accent"
                  (click)="issueTypeClick()"
                >
                  <mat-label
                    *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                    >Issue Type</mat-label
                  >
                  <mat-chip-list #issueTypeChipList aria-label="Issue Type">
                    <mat-chip
                      class="custom-chip"
                      *ngIf="
                        vm.issueWithOptions?.Issue?.IssueType?.IssueTypeDesc
                      "
                      [removable]="!hasAccessRestriction()"
                      (removed)="removeIssueType()"
                    >
                      {{ vm.issueWithOptions?.Issue?.IssueType?.IssueTypeDesc }}
                      <mat-icon matChipRemove *ngIf="!hasAccessRestriction()"
                        >cancel</mat-icon
                      >
                    </mat-chip>
                    <input
                      matInput
                      #issueTypeInput
                      [formControl]="issueType"
                      [matAutocomplete]="issueTypeAuto"
                      [matChipInputFor]="issueTypeChipList"
                      (matChipInputTokenEnd)="addIssueType($event)"
                      [readonly]="hasAccessRestriction()"
                    />
                    <span matSuffix
                      ><mat-icon>keyboard_arrow_down</mat-icon></span
                    >
                  </mat-chip-list>
                  <mat-autocomplete
                    #issueTypeAuto="matAutocomplete"
                    (optionSelected)="issueTypeChange($event)"
                  >
                    <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                      <mat-option
                        *ngFor="let type of vm.filteredIssueTypes"
                        [value]="type"
                      >
                        {{ type.IssueTypeDesc }}
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                  <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                    <mat-progress-bar
                      color="accent"
                      id="template-progress-bar"
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </ng-container>
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  color="accent"
                  (click)="issueCauseTypesClick()"
                >
                  <mat-label
                    *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                    >Potential Causes</mat-label
                  >
                  <mat-chip-list
                    #issueCauseTypesChipList
                    aria-label="Potential Causes"
                  >
                    <mat-chip
                      class="custom-chip"
                      *ngFor="
                        let type of vm.issueWithOptions?.Issue?.IssueCauseTypes
                      "
                      [removable]="!hasAccessRestriction()"
                      (removed)="removePotentialCause(type)"
                    >
                      {{ type.IssueCauseDesc }}
                      <mat-icon matChipRemove *ngIf="!hasAccessRestriction()"
                        >cancel</mat-icon
                      >
                    </mat-chip>
                    <input
                      matInput
                      #issueCauseTypesInput
                      [formControl]="issueCauseTypes"
                      [matAutocomplete]="issueCauseTypesAuto"
                      [matChipInputFor]="issueCauseTypesChipList"
                      (matChipInputTokenEnd)="addPotentialCause($event)"
                      [readonly]="hasAccessRestriction()"
                    />
                    <span matSuffix
                      ><mat-icon>keyboard_arrow_down</mat-icon></span
                    >
                  </mat-chip-list>
                  <mat-autocomplete
                    #issueCauseTypesAuto="matAutocomplete"
                    (optionSelected)="issueCauseTypeChange($event)"
                  >
                    <ng-container
                      *ngIf="
                        !vm.loadingIssueCategoryTypes && vm.issueTypeCausesDict
                      "
                    >
                      <mat-option
                        *ngFor="let type of vm.filteredIssueCauseTypes"
                        [value]="type"
                      >
                        {{ type.IssueCauseDesc }}
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                  <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                    <mat-progress-bar
                      color="accent"
                      id="template-progress-bar"
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </ng-container>
                </mat-form-field>
                <!--This will move to a different place-->
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  fxLayoutAlign="space-between"
                >
                  <mat-form-field
                    fxFlex="48.5%"
                    appearance="fill"
                    color="accent"
                  >
                    <mat-label
                      *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                      >Issue Class</mat-label
                    >
                    <mat-select
                      class="issue-class"
                      [value]="vm.selectedClass"
                      [disabled]="true"
                    >
                      <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                        <mat-option
                          *ngFor="let class of vm.issueClasses"
                          [value]="class.AssetIssueClassTypeID"
                        >
                          {{ class.Description }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                  <mat-form-field
                    fxFlex="48.5%"
                    appearance="fill"
                    color="accent"
                  >
                    <mat-label
                      *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                      >Issue Category</mat-label
                    >
                    <mat-select
                      class="issue-category"
                      [disabled]="true"
                      [value]="
                        vm.issueWithOptions?.Issue?.AssetIssueCategoryTypeID
                      "
                      (selectionChange)="categoryChange($event)"
                    >
                      <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                        <mat-option
                          *ngFor="
                            let category of vm.issueCategories[vm.selectedClass]
                          "
                          [value]="category.AssetIssueCategoryTypeID"
                        >
                          {{ category.CategoryDesc }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="impact-right-sub-sections" fxLayout="column">
                <div
                  style="padding-bottom: 5px"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                >
                  <span class="title-span">IMPACT</span>
                  <span *ngIf="!hasAccessRestriction()">
                    <button
                      data-cy="impactCalcBtn"
                      style="
                        min-width: 36px;
                        border-radius: 25px;
                        padding-left: 2px;
                        padding-right: 2px;
                        margin-left: 15px;
                        margin-right: 10px;
                        background-color: rgba(185, 185, 185, 0.1);
                      "
                      mat-icon-button
                      [disabled]="!vm.pristine"
                      [disabled]="vm.assetIssueId === -1"
                      (click)="
                        openImpactCalculator(vm.assetIssueId, vm.assetId)
                      "
                    >
                      <mat-icon
                        style="padding-bottom: 2px"
                        color="accent"
                        matTooltip="Calculate impact"
                        class="material-icons material-icons-outlined"
                      >
                        edit
                      </mat-icon>
                    </button>
                  </span>
                </div>
                <div
                  fxLayout="row"
                  fxLayoutGap="5px"
                  fxLayoutAlign="space-between"
                >
                  <mat-form-field
                    fxFlex="48.5%"
                    appearance="fill"
                    color="accent"
                  >
                    <mat-label>Impact</mat-label>
                    <input
                      matInput
                      value="{{
                        vm.calculatorTotals?.TotalImpactCost
                          | currency: currencyCode:'symbol'
                      }}"
                      readonly
                    />
                    <ng-container
                      *ngIf="vm.calculatorLoading && vm.assetIssueId > -1"
                    >
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                  <mat-form-field
                    fxFlex="48.5%"
                    appearance="fill"
                    color="accent"
                  >
                    <mat-label>Monthly Average</mat-label>
                    <input
                      matInput
                      value="{{
                        vm.calculatorTotals?.TotalImpactCostMonthly
                          | currency: currencyCode:'symbol'
                      }}"
                      readonly
                    />
                    <ng-container
                      *ngIf="vm.calculatorLoading && vm.assetIssueId > -1"
                    >
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>

              <div
                class="bottom-right-sub-sections"
                fxLayout="column"
                *ngIf="false"
              >
                <span class="title-span">ACTIONS</span>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="47%" appearance="fill" color="accent">
                    <mat-label
                      *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                      >Assigned To</mat-label
                    >
                    <mat-select [disabled]="true">
                      <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                        <mat-option> </mat-option>
                      </ng-container>
                    </mat-select>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                  <mat-form-field
                    fxFlex="48.5%"
                    appearance="fill"
                    color="accent"
                  >
                    <mat-label
                      *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                      >Action Status</mat-label
                    >
                    <mat-select [disabled]="true">
                      <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
                        <mat-option> </mat-option>
                      </ng-container>
                    </mat-select>
                    <ng-container *ngIf="vm.loadingIssueCategoryTypes">
                      <mat-progress-bar
                        color="accent"
                        id="template-progress-bar"
                        mode="indeterminate"
                      ></mat-progress-bar>
                    </ng-container>
                  </mat-form-field>
                </div>
                <mat-form-field appearance="fill" color="accent">
                  <mat-label
                    *ngIf="!vm.loadingIssueCategoryTypes || vm.assetLoading"
                    >Description</mat-label
                  >
                  <input matInput disabled="true" />
                </mat-form-field>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div
                class="bottom-right-sub-sections"
                fxLayout="column"
                data-cy="assetSection"
              >
                <span class="title-span">ASSET</span>
                <div
                  class="asset-name-container"
                  fxLayout="row"
                  fxLayoutGap="20px"
                >
                  <label class="accent-250">{{ assetName$ | async }}</label>
                  <ng-container
                    *ngIf="
                      (assetName$ | async) === null ||
                      (assetName$ | async) === undefined
                    "
                  >
                    <mat-progress-bar
                      color="accent"
                      id="template-progress-bar"
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </ng-container>
                  <button
                    style="
                      min-width: 36px;
                      border-radius: 25px;
                      padding-left: 2px;
                      padding-right: 2px;
                      margin-left: 15px;
                      margin-right: 10px;
                      background-color: rgba(185, 185, 185, 0.1);
                    "
                    mat-icon-button
                    matTooltip="Edit Asset"
                    [disabled]="
                      (assetName$ | async) === null ||
                      (assetName$ | async) === undefined
                    "
                    *ngIf="!hasAccessRestriction()"
                    (click)="editAsset()"
                    data-cy="editAssetBtn"
                  >
                    <mat-icon
                      color="accent"
                      style="padding-bottom: 2px"
                      class="material-icons material-icons-outlined"
                      >edit</mat-icon
                    >
                  </button>
                </div>
                <!--Asset Tree Dropdown implementation start-->
                <div style="position: relative" *ngIf="showAssetTreeDropdown">
                  <div class="asset-tree-dropdown">
                    <atx-asset-tree-dropdown
                      [assetTreeConfiguration]="assetTreeConfiguration$ | async"
                      (assetTreeStateChange)="
                        assetTreeDropdownStateChange($event)
                      "
                      (closeDropdown)="closeAssetTreeDropdown()"
                    ></atx-asset-tree-dropdown>
                  </div>
                </div>
                <!--Asset Tree Dropdown implementation end-->
                <div fxLayout="row">
                  <div fxFlex="45%">
                    <button
                      mat-button
                      color="accent"
                      class="asset-button"
                      [matBadge]="vm.relatedIssueByAssetCount ?? 0"
                      [matBadgeDisabled]="
                        vm.relatedIssueByAssetCount === null ||
                        vm.relatedIssueByAssetCount === 0
                      "
                      [disabled]="
                        vm.relatedIssueByAssetCount === null ||
                        vm.relatedIssueByAssetCount === 0
                      "
                      matBadgeColor="accent"
                      (click)="showRelatedIssuesByAsset()"
                      data-cy="issuesByOwningAssetBtn"
                    >
                      Issues by Owning Asset
                    </button>
                  </div>
                  <div
                    fxFlex="45%"
                    *ngIf="
                      !hasAccessRestriction() &&
                      (authFacade.alertsTaskCenterAccess$ | async)?.CanView
                    "
                  >
                    <button
                      mat-button
                      color="accent"
                      class="asset-button"
                      [matBadge]="vm.alertByOwningAssetCount ?? 0"
                      [matBadgeDisabled]="
                        vm.alertByOwningAssetCount === null ||
                        vm.alertByOwningAssetCount === 0
                      "
                      [disabled]="
                        vm.alertByOwningAssetCount === null ||
                        vm.alertByOwningAssetCount === 0
                      "
                      matBadgeColor="accent"
                      (click)="showRelatedAlertsByAsset()"
                      data-cy="alertsByOwningAssetBtn"
                    >
                      Alerts by Owning Asset
                    </button>
                  </div>
                </div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="bottom-right-sub-sections" fxLayout="column">
                <div>
                  <span class="title-span">ISSUE KEYWORDS</span>
                </div>
                <div
                  style="margin-top: 8px"
                  fxLayout="row"
                  fxLayoutGap="10px"
                  fxLayoutAlign="space-between center"
                >
                  <mat-form-field
                    fxFlex="100%"
                    appearance="fill"
                    color="accent"
                  >
                    <input
                      matInput
                      placeholder="Keyword Search. ENTER adds the keyword"
                      [formControl]="issueTagQuery"
                      [matAutocomplete]="searchTag"
                      (keydown.enter)="addTag()"
                      [readonly]="hasAccessRestriction()"
                    />

                    <mat-autocomplete
                      #searchTag="matAutocomplete"
                      (optionSelected)="selectTag($event)"
                    >
                      <mat-option
                        *ngFor="let tag of vm.filteredTags"
                        [value]="tag"
                      >
                        {{ tag.Text }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <span>
                    <button
                      style="margin-bottom: 8px"
                      [disabled]="
                        vm.loadingIssueTags ||
                        issueTagQuery.value === null ||
                        issueTagQuery.value === '' ||
                        hasAccessRestriction()
                      "
                      mat-stroked-button
                      color="accent"
                      (click)="addTag()"
                    >
                      <mat-icon
                        style="padding-bottom: 2px; padding-right: 2px"
                        matTooltip="Add keyword"
                      >
                        add_circle_outline
                      </mat-icon>
                      Add Keyword
                    </button>
                  </span>
                </div>

                <mat-label *ngIf="vm.issueTaggingErrorMessage">
                  <mat-error>
                    {{ vm.issueTaggingErrorMessage }}
                  </mat-error>
                </mat-label>

                <mat-chip-list
                  fxFlex="100%"
                  #chipList
                  class="chip-list-wrapper"
                >
                  <mat-chip
                    style="
                      top: 5px;
                      max-width: 450px;
                      height: auto;
                      word-break: break-all;
                    "
                    *ngFor="let keyword of vm.issueWithOptions?.Issue?.Keywords"
                    (removed)="removeTag(keyword)"
                    [removable]="!hasAccessRestriction()"
                  >
                    {{ keyword?.Text }}
                    <mat-icon matChipRemove *ngIf="!hasAccessRestriction()"
                      >cancel</mat-icon
                    >
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-drawer>
          </mat-drawer-container>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>
</ng-container>
