<section class="carousel-wrapper">
  <ul class="carousel-inner" #atxCarousel>
    <li *ngFor="let item of items" class="atx-carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
</section>

<ng-container *ngIf="showControls">
  <button mat-icon-button class="carousel__prev-button" (click)="showPrev()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="carousel__next-button" (click)="showNext()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</ng-container>
