ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  width: 100%;
  white-space: nowrap;
}

.carousel-inner > .atx-carousel-item {
  width: 100%;
  display: inline-block;
}

.carousel__prev-button {
  position: absolute;
  left: 0;
  z-index: 0;
}

.carousel__next-button {
  position: absolute;
  right: 0;
  z-index: 0;
}

mat-icon {
  font-size: 40px;
  width: unset;
  height: unset;
}
