<ng-container>
  <form [formGroup]="newCustomerForm" class="newCustomerForm">
    <h3>Create New Customer</h3>
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
      <mat-form-field
        appearance="fill"
        color="accent"
        width="500vw"
        floatLabel="always"
      >
        <mat-label>Customer Name</mat-label>
        <input
          title="customerName"
          #customerName
          matInput
          autocomplete="off"
          formControlName="customerName"
        />
      </mat-form-field>
    </div>

    <section fxLayout="column" fxLayoutAlign="left start" fxLayoutGap="5px">
      <p>
        ! This Customer will be created below:
        <span>{{
          (userAdminRxjsFacade.query.selectedCustomer$ | async)?.Name
        }}</span>
      </p>
      <p>
        To change this location, Cancel and Select the desired Customer to
        create below. A Customer cannot be move once created.
      </p>
    </section>

    <div mat-dialog-actions align="end">
      <button mat-flat-button (click)="cancelDialog()">Cancel</button>
      <button
        mat-flat-button
        cdkFocusInitial
        color="accent"
        (click)="save()"
        [disabled]="
          customerName.value === '' || customerName.value.length > 255
        "
      >
        Save
      </button>
    </div>
  </form>
</ng-container>
