<mat-card>
  <mat-card-content style="margin-top: 20px">
    <form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="submit()">
      <p>Please sign in to access</p>
      <mat-error *ngIf="state?.showError">
        {{ state?.errorMessage }}
      </mat-error>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="username"
          autocomplete="email"
          required
        />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>
      <div
        style="width: 80%; margin-left: 30px; margin-bottom: 15px"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <button
          type="button"
          mat-button
          color="accent"
          (click)="forgotPassword()"
        >
          Forgot Password
        </button>
        <mat-checkbox
          labelPosition="before"
          [checked]="rememberMe"
          (change)="rememberMeChanged($event)"
          >Remember Me:</mat-checkbox
        >
      </div>

      <button type="submit" mat-raised-button style="width: 80%" color="accent">
        Sign In
      </button>
      <button
        type="button"
        style="margin: 10px 30px"
        fxLayout="row"
        fxLayoutAlign="end center"
        mat-button
        (click)="haveACode()"
      >
        I have a code
      </button>
    </form>
  </mat-card-content>
</mat-card>
