mat-card {
  width: 100%;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-top: solid 1px rgba(160, 160, 160, 0.3) !important;
  padding: 0 !important;
  text-align: center;
}

mat-form-field {
  width: 80%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 10000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
