::ng-deep {
  .trends-panel {
    position: absolute !important;
    max-height: 30vh !important;
    margin-top: 30px !important;
  }

  .chart-selector-container .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .chart-selector-container .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .chart-selector-container .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .chart-selector-container .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .chart-selector-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .chart-selector-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .chart-selector-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .chart-selector-container .mat-form-field-underline {
    bottom: auto !important;
  }
  mat-form-field .mat-icon-button {
    display: content !important;
    top: 5px;
    height: 24px !important;
    width: 24px !important;
  }
}
