<div class="chart-selector-container">
  <mat-form-field color="accent" appearance="legacy" style="width: 100%">
    <mat-select
      [formControl]="selection"
      (valueChange)="changed($event)"
      panelClass="trends-panel"
      disableOptionCentering
    >
      <mat-option
        *ngFor="let trend of trends"
        [value]="trend.id"
        mat-tooltip
        [matTooltip]="trend.label"
      >
        <b>{{ trend.label }}</b>
        <span *ngIf="trend.totalSeries !== null">({{ trend.totalSeries }})</span
        ><span *ngIf="trend.isDirty">*</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
