<ng-container *ngIf="vm$ | async as vm">
  <div
    class="model-edit-container"
    [ngClass]="{ 'show-time-slider': navFacade.showTimeSlider$ | async }"
    *ngIf="!vm.showNewModelDialog"
  >
    <div class="single-model-edit-container" fxLayout="column">
      <section class="header-section">
        <div class="title-span">
          <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start">
              <mat-form-field
                class="model-name"
                appearance="fill"
                color="accent"
              >
                <mat-label>Model Name</mat-label>
                <input
                  matInput
                  autocomplete="off"
                  [readonly]="
                    vm.modelSummaryLoading ||
                    vm.modelSaving ||
                    !vm.selectedModelSummary
                  "
                  [formControl]="modelNameFormCtrl"
                />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start">
              <button
                mat-button
                [disabled]="
                  !vm.selectedModelSummary?.isDirty ||
                  vm.modelSummaryLoading ||
                  vm.modelSaving ||
                  !vm.selectedModelSummary ||
                  vm.isNewModel
                "
                (click)="discardChanges()"
              >
                Discard Changes
              </button>
              <button
                id="saveBtn"
                mat-flat-button
                color="accent"
                [disabled]="
                  vm.modelSummaryLoading ||
                  vm.modelSaving ||
                  !vm.selectedModelSummary
                "
                (click)="saveChanges()"
              >
                <ng-container *ngIf="vm.modelSaving">
                  <mat-icon
                    class="material-icons-outlined"
                    style="padding-right: 2px"
                    ><mat-progress-spinner
                      diameter="20"
                      mode="indeterminate"
                      strokeWidth="11%"
                    >
                    </mat-progress-spinner
                  ></mat-icon>
                </ng-container>
                <ng-container *ngIf="!vm.modelSaving">
                  <mat-icon
                    class="material-icons-outlined"
                    style="padding-right: 2px"
                    >save</mat-icon
                  >
                </ng-container>
                Save
              </button>
              <button
                style="
                  min-width: 36px;
                  border-radius: 25px;
                  padding-left: 2px;
                  padding-right: 2px;
                "
                mat-flat-button
                color="primary"
                [disabled]="
                  vm.modelSummaryLoading ||
                  vm.modelSaving ||
                  !vm.selectedModelSummary
                "
                [matMenuTriggerFor]="moreOptions"
                data-cy="moreOptionsBtn"
              >
                <mat-icon
                  color="accent"
                  style="font-size: 20px; padding-left: 4px; padding-top: 2px"
                  >more_vertical</mat-icon
                >
              </button>
              <mat-menu class="deploy-menu" #moreOptions="matMenu">
                <button mat-menu-item disabled="true">
                  <mat-icon>add_circle_outline</mat-icon>
                  Create Model
                </button>
                <button
                  mat-menu-item
                  [disabled]="!vm.selectedModelSummary"
                  *ngIf="!vm.selectedModelSummary?.active"
                  (click)="activateDeactivateModel()"
                  data-cy="activateModelButton"
                >
                  <mat-icon svgIcon="atx_active"></mat-icon>
                  Activate Model
                </button>
                <button
                  mat-menu-item
                  [disabled]="!vm.selectedModelSummary"
                  *ngIf="vm.selectedModelSummary?.active"
                  (click)="activateDeactivateModel()"
                  data-cy="deactivateModelBtn"
                >
                  <mat-icon>cancel_outline</mat-icon>
                  Deactivate Model
                </button>
                <button
                  mat-menu-item
                  [disabled]="!vm.selectedModelSummary || vm.isNewModel"
                  (click)="deleteModels()"
                  data-cy="deleteModelBtn"
                >
                  <mat-icon>delete</mat-icon>
                  Delete Model
                </button>
              </mat-menu>
            </div>
          </div>
          <ng-container *ngIf="vm.modelSummaryLoading">
            <mat-progress-bar
              class="top-progress-bar"
              color="accent"
              mode="indeterminate"
            ></mat-progress-bar>
          </ng-container>
          <ng-container *ngIf="!vm.modelSummaryLoading">
            <div style="height: 4px">&nbsp;</div>
          </ng-container>
          <div
            style="vertical-align: top; width: 100%"
            fxLayout="row"
            fxLayoutAlign="space-between"
          >
            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              *ngIf="vm.selectedModelSummary"
            >
              <mat-form-field
                class="model-type"
                appearance="fill"
                color="accent"
                data-cy="modelTypeList"
              >
                <mat-label>Model Type</mat-label>
                <mat-select
                  [value]="vm.selectedModelSummary?.properties.modelType?.type"
                  [disabled]="
                    vm.modelSummaryLoading ||
                    vm.modelSaving ||
                    !vm.selectedModelSummary ||
                    vm.isNewModel
                  "
                  (selectionChange)="modelTypeChange($event)"
                >
                  <ng-container>
                    <mat-option [value]="null" disabled>
                      Model Type
                    </mat-option>
                    <mat-option
                      [value]="model"
                      *ngFor="let model of modelTypes"
                    >
                      {{ modelTypeLabelMapping[model] }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                class="op-mode-type"
                appearance="fill"
                color="accent"
              >
                <mat-label>Operating Mode Type</mat-label>
                <mat-select
                  [disabled]="
                    vm.modelSummaryLoading ||
                    vm.modelSaving ||
                    !vm.selectedModelSummary
                  "
                  [formControl]="opModesFormCtrl"
                  multiple
                >
                  <mat-select-trigger>
                    {{
                      opModesFormCtrl.value?.length > 0
                        ? getDefaultOpMode(
                            vm.selectedModelSummary?.properties.opModeTypes[0]
                          )
                        : ''
                    }}
                    <span
                      class="multi-select-suffix"
                      *ngIf="opModesFormCtrl.value?.length > 1"
                    >
                      (+{{ opModesFormCtrl.value?.length - 1 }}
                      {{
                        opModesFormCtrl.value?.length === 2
                          ? 'other'
                          : 'others'
                      }})
                    </span>
                  </mat-select-trigger>
                  <mat-option disabled> Operating Mode Type </mat-option>
                  <mat-option
                    [value]="opMode"
                    *ngFor="let opMode of opModeTypes"
                  >
                    {{ opModeTypeLabelMapping[opMode] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div style="padding-bottom: 8px">
                <b>Modeled Tag:</b>
                <ng-container
                  *ngIf="
                    vm.selectedModelSummary?.dependent?.modeledTagString
                      ?.length > 90;
                    else tagFits
                  "
                >
                  <span
                    mat-tooltip
                    matTooltipClass="modeled-tag-tooltip"
                    [matTooltip]="
                      vm.selectedModelSummary?.dependent?.modeledTagString
                    "
                  >
                    {{
                      vm.selectedModelSummary?.dependent?.modeledTagString
                        | slice: 0:90
                    }}...
                  </span>
                </ng-container>
                <ng-template #tagFits>
                  {{ vm.selectedModelSummary?.dependent?.modeledTagString }}
                </ng-template>
              </div>
              <div style="padding-bottom: 8px">
                <b>Asset:</b>
                <ng-container
                  *ngIf="
                    vm.selectedModelSummary?.dependent?.assetPath?.length > 90;
                    else assetFits
                  "
                >
                  <span
                    mat-tooltip
                    matTooltipClass="modeled-tag-tooltip"
                    [matTooltip]="vm.selectedModelSummary?.dependent?.assetPath"
                  >
                    {{
                      vm.selectedModelSummary?.dependent?.assetPath
                        | slice: 0:90
                    }}...
                  </span>
                </ng-container>
                <ng-template #assetFits>
                  {{ vm.selectedModelSummary?.dependent?.assetPath }}
                </ng-template>
              </div>
              <mat-chip-list style="padding-bottom: 10px">
                <mat-chip *ngIf="vm.selectedModelSummary?.active">
                  <mat-icon svgIcon="atx_active"></mat-icon>
                  Active
                </mat-chip>
                <mat-chip *ngIf="!vm.selectedModelSummary?.active">
                  <mat-icon svgIcon="atx_inactive">cancel_outline</mat-icon>
                  Inactive
                </mat-chip>
                <mat-chip *ngIf="vm.selectedModelSummary?.standardModel">
                  <mat-icon svgIcon="atx_active"></mat-icon>
                  Standard
                </mat-chip>
                <mat-chip
                  *ngIf="vm.selectedModelSummary?.standardModel === false"
                >
                  Non-Standard
                </mat-chip>
              </mat-chip-list>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start">
              <ng-container *ngIf="!vm.modelSummaryLoading || vm.modelSaving">
                <button
                  mat-icon-button
                  matTooltip="Toggle Model Config Actions"
                  data-cy="showHideModelConfigFlyOutWindow"
                  (click)="toggleAlertsActionsPane()"
                >
                  <mat-icon>info_outline</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </section>
      <ng-container *ngIf="vm.selectedModelSummary; else noModelSelected">
        <mat-sidenav-container style="height: 100%; width: 100%">
          <mat-sidenav
            #sidenav
            opened
            mode="side"
            position="end"
            style="width: 300px; overflow: hidden"
            ><atx-model-config-action-pane
              [selectedModelIds]="[vm.selectedModelSummary?.legacy?.modelID]"
              [hasSelectedMultipleModels]="false"
              [showModelInfo]="true"
              [newModel]="vm.isNewModel"
              (modelActionChange)="alertsActionChange($event)"
            >
            </atx-model-config-action-pane
          ></mat-sidenav>
          <div
            fxLayout="row"
            fxLayoutAlign="center none"
            fxLayoutGap="5px"
            class="content-section-container"
          >
            <as-split
              direction="vertical"
              [unit]="'percent'"
              [useTransition]="true"
              [gutterSize]="1"
              class="main-content"
              (dragEnd)="splitDragEnd($any($event))"
            >
              <as-split-area style="overflow: hidden" [size]="topSizePercent">
                <section class="top-tabs-section" data-cy="trendSection">
                  <div class="settings-tab-container" #topSection>
                    <ng-container *ngIf="!toggleBottom">
                      <div class="header-right">
                        <button
                          class="maticon-button"
                          mat-icon-button
                          (click)="topIndicatorClick()"
                        >
                          <mat-icon
                            class="mat-icon-half"
                            [ngClass]="{ clicked: !toggleTop }"
                            >keyboard_arrow_up</mat-icon
                          >
                        </button>
                      </div>
                    </ng-container>

                    <mat-tab-group
                      animationDuration="0ms"
                      class="settings-tab-group"
                      color="accent"
                      (selectedTabChange)="trackTopTabClick($event)"
                      [(selectedIndex)]="selectedTopIndex"
                    >
                      <mat-tab label="Model Trend">
                        <ng-template matTabContent
                          ><atx-model-edit-tabs-model-trend></atx-model-edit-tabs-model-trend
                        ></ng-template>
                      </mat-tab>
                      <mat-tab
                        label="Expected vs Actual"
                        [disabled]="vm.modelSaving || vm.isNewModel"
                        *ngIf="
                          vm.selectedModelSummary?.properties.modelType
                            ?.type === 'advanced_pattern_recognition'
                        "
                      >
                        <ng-template matTabContent
                          ><atx-expected-vs-actual></atx-expected-vs-actual
                        ></ng-template>
                      </mat-tab>
                      <mat-tab
                        label="History"
                        [disabled]="vm.modelSaving || vm.isNewModel"
                      >
                        <ng-template matTabContent
                          ><atx-model-edit-tabs-model-history></atx-model-edit-tabs-model-history
                        ></ng-template>
                      </mat-tab>

                      <mat-tab
                        label="Context"
                        [disabled]="vm.modelSaving || vm.isNewModel"
                      >
                        <ng-template matTabContent
                          ><atx-model-edit-tabs-model-context
                            [PDNDModelTrendData]="PDNDModelTrendData"
                            [ShowXAxisPicker]="
                              vm.selectedModelSummary?.properties.modelType
                                .type === 'advanced_pattern_recognition'
                            "
                          ></atx-model-edit-tabs-model-context
                        ></ng-template>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </section>
              </as-split-area>
              <as-split-area
                style="overflow: hidden"
                [size]="bottomSizePercent"
              >
                <section
                  class="bottom-tabs-section"
                  data-cy="configurationSection"
                >
                  <div class="bottom-tab-container">
                    <mat-card class="edit-view-card">
                      <div class="header-right">
                        <button
                          class="maticon-button"
                          mat-icon-button
                          (click)="bottomIndicatorClick()"
                        >
                          <mat-icon
                            class="mat-icon-half"
                            [ngClass]="{ clicked: toggleBottom }"
                            >keyboard_arrow_up</mat-icon
                          >
                        </button>
                      </div>
                      <mat-tab-group
                        mat-align-tabs="left"
                        animationDuration="0ms"
                        class="settings-tab-group"
                        (selectedTabChange)="trackBottomTabClick($event)"
                        color="accent"
                        [(selectedIndex)]="selectedBottomIndex"
                      >
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type === modelTypeEnum.ROC
                          "
                        >
                          <mat-tab
                            label="Slope Analysis"
                            [disabled]="vm.modelSaving"
                            ><atx-model-slope-analysis></atx-model-slope-analysis>
                          </mat-tab>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type === modelTypeEnum.MovingAverage
                          "
                        >
                          <mat-tab label="Averages" [disabled]="vm.modelSaving"
                            ><atx-model-averages></atx-model-averages>
                          </mat-tab>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type ===
                            modelTypeEnum.AdvancedPatternRecognition
                          "
                        >
                          <mat-tab label="Inputs" [disabled]="vm.modelSaving">
                            <atx-inputs-model-config></atx-inputs-model-config>
                          </mat-tab>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type !== modelTypeEnum.Forecast &&
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type !== modelTypeEnum.FrozenData &&
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type !== modelTypeEnum.FixedLimit
                          "
                        >
                          <mat-tab
                            label="Training Range"
                            [disabled]="vm.modelSaving"
                          >
                            <atx-model-training-range></atx-model-training-range>
                          </mat-tab>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type !== modelTypeEnum.Forecast
                          "
                        >
                          <mat-tab label="Anomalies" [disabled]="vm.modelSaving"
                            ><atx-model-sensitivity-anomalies></atx-model-sensitivity-anomalies>
                          </mat-tab>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type !== modelTypeEnum.Forecast
                          "
                        >
                          <mat-tab label="Alerts" [disabled]="vm.modelSaving"
                            ><atx-model-sensitivity-alerts></atx-model-sensitivity-alerts>
                          </mat-tab>
                        </ng-container>
                        <ng-container
                          *ngIf="
                            vm?.selectedModelSummary?.properties.modelType
                              ?.type === modelTypeEnum.Forecast
                          "
                        >
                          <mat-tab label="Forecast" [disabled]="vm.modelSaving"
                            ><atx-model-forecast></atx-model-forecast>
                          </mat-tab>
                        </ng-container>
                        <mat-tab label="Build Status"
                          ><atx-build-status></atx-build-status>
                        </mat-tab>
                      </mat-tab-group>
                    </mat-card>
                  </div>
                </section>
              </as-split-area>
            </as-split>
          </div>
        </mat-sidenav-container>
      </ng-container>

      <ng-template #noModelSelected>
        <div class="noModel">
          <ng-container *ngIf="vm.modelSummaryLoading">
            <h2>Model Loading</h2></ng-container
          >
          <ng-container *ngIf="!vm.modelSummaryLoading">
            <h2>No Model Selected</h2></ng-container
          >
        </div>
      </ng-template>
    </div>
  </div>
  <atx-time-slider
    *ngIf="navFacade.showTimeSlider$ | async"
    [timeSliderState]="$any(timeSlider$ | async)"
    (stateChange)="onTimeSliderStateChange($event)"
  >
  </atx-time-slider>
</ng-container>
