.single-model-edit-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.single-model-edit-container .mat-chip mat-icon {
  font-size: 18px;
  padding-right: 4px;
}

.mat-standard-chip {
  padding: 4px 8px;
  min-height: 26px;
}

.header-section {
  padding: 8px;
}

.model-name {
  width: 1000px;
}

.model-type {
  width: 160px;
}

.op-mode-type {
  width: 175px;
}

.content-section {
  width: 100%;
}

.settings-tab-container {
  height: 100%;
  width: 100%;
}

.settings-tab-group {
  height: 100%;
  width: 100%;
}

.top-tabs-section {
  height: 100%;
}

.bottom-tabs-section {
  height: 100%;
}
.bottom-tab-container {
  height: calc(100% - 8px);
}

.multi-select-suffix {
  opacity: 0.75;
  font-size: 0.75em;
}

.edit-view-card {
  height: 100%;
  margin: 2px;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 1px !important;
}

.clicked {
  transform: rotate(180deg);
}

.noModel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep {
  //angular-split styles
  .as-split-gutter {
    background-color: rgba(160, 160, 160, 0.7) !important;
    position: relative;

    & > .as-split-gutter-icon {
      background-image: none !important;
      background-color: #3ba9f4;
      transition: opacity 0.3s;
      opacity: 0;
      position: absolute;

      &:hover {
        opacity: 1;
      }
    }
  }

  .as-split-gutter.as-dragged .as-split-gutter-icon,
  .as-split-gutter-icon:hover {
    height: 2px;
    opacity: 1;
  }

  .as-vertical {
    .as-split-gutter-icon {
      height: 2px !important;
      top: -1px;
      bottom: 1px;
    }
  }

  .mat-snack-bar-container.warning.op-mode {
    max-width: 200px !important;
  }

  .modeled-tag-tooltip {
    word-break: break-all;
    white-space: normal;
  }

  .model-edit-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .model-edit-container.show-time-slider {
    height: calc(100% - 56px) !important;
  }

  .single-model-edit-container .content-section-container {
    height: 100% !important;
  }

  .single-model-edit-container .mat-form-field-wrapper {
    margin: 0;
    margin-bottom: -8px;
  }

  .single-model-edit-container .mat-form-field-infix {
    // border-top: 0 !important;
    padding: 0.125em 0 0.5em 0;
    border-top: 0.84375em solid transparent;
  }

  .single-model-edit-container
    .mat-form-field-appearance-fill
    .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.5em 0.75em 0 0.75em;
  }

  .single-model-edit-container .mat-select-arrow-wrapper {
    padding-top: 10px;
  }

  .default-dark-theme
    .single-model-edit-container
    .mat-select-disabled
    .mat-select-value {
    color: rgba(255, 255, 255, 1);
  }

  .default-dark-theme .single-model-edit-container .mat-input-element:disabled,
  .default-dark-theme
    .single-model-edit-container
    .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: rgba(255, 255, 255, 1);
  }

  .alternative-light-theme
    .single-model-edit-container
    .mat-input-element:disabled,
  .alternative-light-theme
    .single-model-edit-container
    .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: rgba(0, 0, 0, 1);
  }

  .alternative-light-theme
    .single-model-edit-container
    .mat-select-disabled
    .mat-select-value {
    color: rgba(0, 0, 0, 1);
  }

  .single-model-edit-container .mat-form-field-label {
    padding-top: 3px !important;
  }

  .mat-tab-body-wrapper {
    height: 100% !important;
  }

  .mat-tab-body-content {
    height: 100% !important;
    overflow: hidden !important;
  }

  .alternative-light-theme .top-section {
    background-color: #ffffff !important;
  }

  .default-dark-theme .top-section {
    background-color: #242424 !important;
  }

  .mat-pseudo-checkbox {
    position: absolute !important;
    left: 80% !important;
  }

  .model-status mat-icon {
    height: 20px !important;
    width: 20px !important;
  }

  .mat-option:first-child .mat-pseudo-checkbox {
    display: none;
  }

  .top-progress-bar .mat-progress-bar-element {
    height: 2px !important;
    border-radius: 4px;
  }

  .top-progress-bar .mat-progress-bar-fill::after {
    height: 2px !important;
  }

  .settings-tab-container .mat-tab-label {
    height: 40px !important;
    padding: 0 16px !important;
    min-width: 120px !important;
  }

  .bottom-tab-container .mat-tab-label {
    height: 40px !important;
    padding: 0 16px !important;
    min-width: 120px !important;
  }
}

.header-right {
  height: 20px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
  z-index: 100;
}
