<div [ngSwitch]="actionType">
  <div *ngSwitchCase="'editEvent'">
    <mat-icon style="cursor: pointer" (click)="editEvent(editEventData)"
      >edit</mat-icon
    >
  </div>
  <div *ngSwitchCase="'eventHistory'">
    <mat-icon style="cursor: pointer" (click)="showHistory()"
      >library_books</mat-icon
    >
  </div>
</div>
