<ng-container *ngIf="vm$ | async as vm">
  <mat-card
    fxFlex="0 0 340px"
    *ngIf="vm.selectedModelSummary?.buildProperties?.status?.built"
    style="border-radius: 2px; overflow: auto"
    fxFill
    fxLayoutGap="10px"
    class="mat-elevation-z4"
    ><mat-card-content style="height: 100%">
      <table style="width: 100%">
        <tr>
          <td class="left-header-buid-cells">
            <b>Last Built:</b>
          </td>
          <td
            style="
              width: 70%;
              text-align: right;
              font-size: 12px;
              padding-left: 20px;
            "
          >
            {{
              vm.selectedModelSummary?.buildProperties.status?.builtSinceTime
                | date: 'MM/dd/yy hh:mma'
            }}
          </td>
        </tr>
        <tr>
          <td class="left-header-buid-cells">
            <b>Last Saved:</b>
          </td>
          <td
            style="
              text-align: right;
              width: 70%;
              font-size: 12px;
              padding-left: 20px;
            "
          >
            {{
              vm.selectedModelSummary?.buildProperties.status?.lastSaved
                | date: 'MM/dd/yy hh:mma'
            }}
          </td>
        </tr>
        <tr>
          <td class="left-header-buid-cells">
            <b>Saved By:</b>
          </td>
          <td
            style="
              width: 70%;
              text-align: right;
              font-size: 12px;
              padding-left: 20px;
            "
          >
            {{ vm.selectedModelSummary?.buildProperties.status?.changedBy }}
          </td>
        </tr>
      </table>
      <table style="width: 100%">
        <tr>
          <td class="left-header-left-cells">
            <ng-container
              *ngIf="
                vm.selectedModelSummary?.properties.modelType?.type ===
                modelTypes.Forecast
              "
              >Regression Method
            </ng-container>
            <ng-container
              *ngIf="
                vm.selectedModelSummary?.properties.modelType?.type !==
                modelTypes.Forecast
              "
              >Predictive Method
            </ng-container>
          </td>
          <td style="text-align: right; font-size: 12px; font-weight: 800">
            Model Score
          </td>
        </tr>
        <ng-container
          *ngFor="
            let predictiveMethod of vm.selectedModelSummary?.properties
              .predictiveTypes | sortByType
          "
        >
          <tr data-cy="predictMethods">
            <td class="left-header-left-cells">
              <mat-checkbox
                [disabled]="
                  vm.modelSummaryLoading ||
                  vm.modelSaving ||
                  !vm.selectedModelSummary
                "
                [checked]="
                  predictiveMethod.type ===
                  vm.selectedModelSummary?.properties.predictiveTypeSelected
                "
                (click)="predictiveTypeToggle(predictiveMethod.type!)"
              ></mat-checkbox>
              {{ predictiveMethodTypeLabel[predictiveMethod.type!] }}
            </td>
            <td style="text-align: right" data-cy="predictMethodValue">
              <ng-container
                *ngIf="predictiveMethod.properties?.score; else showNa"
                >{{ predictiveMethod.properties?.score }}</ng-container
              >
              <ng-template #showNa> n/a </ng-template>
            </td>
          </tr>
        </ng-container>
      </table>
      <table style="width: 100%">
        <ng-container
          *ngFor="
            let predictiveMethod of vm.selectedModelSummary?.properties
              .predictiveTypes
          "
        >
          <ng-container
            *ngIf="
              predictiveMethod.type ===
              vm.selectedModelSummary?.properties.predictiveTypeSelected
            "
          >
            <ng-container *ngIf="predictiveMethod.properties?.score">
              <tr
                *ngIf="predictiveMethod.properties?.meanAbsoluteError !== null"
              >
                <td class="left-predictive-titles">Mean Absolute Error</td>
                <td style="text-align: right" data-cy="MeanAbsoluteError">
                  {{
                    predictiveMethod.properties.meanAbsoluteError
                      | number: '1.4-4'
                  }}
                </td>
              </tr>
              <tr
                *ngIf="
                  predictiveMethod.properties?.rootMeanSquareError !== null
                "
              >
                <td class="left-predictive-titles">Root Mean Square Error</td>
                <td style="text-align: right" data-cy="RootMeanSquareError">
                  {{
                    predictiveMethod.properties.rootMeanSquareError
                      | number: '1.4-4'
                  }}
                </td>
              </tr>
              <tr
                *ngIf="
                  predictiveMethod.properties
                    ?.rPearsonsCorrelationCoefficient !== null
                "
              >
                <td class="left-predictive-titles">RValue</td>
                <td style="text-align: right" data-cy="RValueValue">
                  {{
                    predictiveMethod.properties.rPearsonsCorrelationCoefficient
                      | number: '1.4-4'
                  }}
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </table>
      <table style="width: 100%">
        <tr>
          <mat-error>{{ vm.modelMathMessage }}</mat-error>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</ng-container>
