.left-header-left-cells {
  width: 70%;
  padding-right: 0;
  font-size: 12px;
  font-weight: 800;
}

.left-header-buid-cells {
  width: 30%;
  font-size: 12px;
  vertical-align: top;
  padding-right: 20px;
}

.left-predictive-titles {
  padding-left: 20px;
}
