<mat-card class="events-table-container">
  <table mat-table [dataSource]="events" class="mat-elevation-z8">
    <ng-container matColumnDef="Event Type">
      <th mat-header-cell *matHeaderCellDef>Event Type</th>
      <td mat-cell *matCellDef="let element">{{ element?.eventType }}</td>
    </ng-container>

    <ng-container matColumnDef="Impact">
      <th mat-header-cell *matHeaderCellDef>Impact</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.Impact | impactValue }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element?.Description }}</td>
    </ng-container>

    <ng-container matColumnDef="Start Date">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.StartTime | toLocalDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="End Date">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.EndTime | toLocalDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <h4 class="noData" *ngIf="!events || events.length === 0">No Data</h4>
</mat-card>
