.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header {
  margin: 10px 0px 0px 20px !important;
}

.tab-content {
  height: calc(100% - 80px);
}
.top-progress-bar {
  margin: 0;
  margin-bottom: -3px;
  padding: 0;
}

::ng-deep .top-progress-bar .mat-progress-bar-element {
  height: 1px !important;
  border-radius: 4px;
}

::ng-deep .top-progress-bar .mat-progress-bar-fill::after {
  height: 1px !important;
}

.main-content {
  padding: 10px;
}

.top-config {
  border-bottom: 1px solid hsla(0, 0%, 62.7%, 0.3);
}

.path-desc:hover {
  text-decoration: underline;
  color: var(--accent-250);
  cursor: pointer;
  word-wrap: break-word;
}

.top-desc {
  margin: 0px;
}

.show-details-btn {
  height: 32px;
  margin-left: 20px;
}

.show-details-btn > span {
  padding: 0px !important;
}

.switch-to-container > label {
  padding-top: 9px !important;
}

.switch-to {
  padding: 0px 10px !important;
}

.top-gauge-container {
  height: 200px;
  padding: 10px;
  border-bottom: 1px solid hsla(0, 0%, 62.7%, 0.3);
}

.bottom-level {
  height: calc(100% - 304px);
}

.bottom-gauge-container {
  height: 180px;
  padding: 10px;
  border-bottom: 1px solid hsla(0, 0%, 62.7%, 0.3);
}

.gauge {
  padding-left: 10px;
}

.child-desc {
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
}

.child-desc:hover {
  text-decoration: underline;
  color: var(--accent-250);
  cursor: pointer;
  word-wrap: break-word;
}

.no-of-events-container {
  height: 100%;
  padding: 0px;
}

.no-of-events-text {
  padding: 10px !important;
  font-size: 1.25em;
  font-weight: 600;
  width: 70%;
}

.no-of-events-value {
  text-align: center;
}
