<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [leftTrayMode]="leftTrayMode$ | async"
  [leftTraySize]="leftTraySize$ | async"
  [leftTrayOpen]="
    (assetTreeSelected$ | async) && config.configType === 'AssetExplorer'
  "
  leftTraySizeMin="150"
  rightTrayOpen="false"
>
  <atx-asset-tree
    class="side-nav"
    [treeState]="assetTreeConfiguration$ | async"
    (stateChange)="onAssetTreeStateChange($event)"
  ></atx-asset-tree>

  <div class="main-nav">
    <ng-container *ngIf="config.configType === 'PowerGen'">
      <ng-container *ngIf="!(dashboardData$ | async)?.Path">
        <mat-progress-bar
          class="top-progress-bar"
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </ng-container>
      <div class="main-content">
        <div class="top-level">
          <div class="top-config">
            <div class="path" fxLayout="row">
              <div
                *ngFor="
                  let path of (dashboardData$ | async)?.Path;
                  let i = index
                "
                fxLayout="row"
              >
                <h5 *ngIf="i !== 0">&nbsp;>&nbsp;</h5>
                <h5 class="path-desc" (click)="selectAsset(path.AssetID)">
                  {{ path.AssetDesc }}
                </h5>
              </div>
            </div>
            <div fxLayout="row">
              <div class="top-details-container" fxLayout="row" fxFlex="50%">
                <h1 class="top-desc">
                  {{ (dashboardData$ | async)?.AssetDesc }}
                </h1>
              </div>
              <div
                class="switch-to-container"
                fxLayout="row"
                fxFlex="50%"
                fxLayoutAlign="end"
              >
                <label>Switch to:</label>
                <div class="switch-to">
                  <mat-form-field appearance="fill">
                    <mat-select
                      [(value)]="selectedValue"
                      (selectionChange)="selectAsset(selectedValue)"
                    >
                      <mat-option
                        *ngFor="let sib of (dashboardData$ | async)?.Siblings"
                        [value]="sib.AssetID"
                      >
                        {{ sib.AssetDesc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row">
              <div class="top-details-container" fxLayout="row" fxFlex="100%">
                <h1 class="top-desc">
                  <ng-container
                    *ngFor="let sib of (dashboardData$ | async)?.Children"
                  >
                    <button
                      mat-button
                      color="accent"
                      (click)="selectAsset(sib.AssetID)"
                    >
                      {{ sib.AssetDesc }}
                    </button>
                  </ng-container>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content">
        <ng-container>
          <atx-events-tab></atx-events-tab>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="config.configType === 'AssetExplorer'">
      <div fxLayout="row">
        <h1 class="header" fxFlex="80%">{{ nodeAbbrev$ | async }}</h1>
      </div>
      <ng-container *ngIf="isAssetSelected$ | async; else noAsset">
        <nav mat-tab-nav-bar class="tab-header" color="accent">
          <a
            mat-tab-link
            *ngFor="let tab of tabs$ | async"
            [routerLink]="tab.path"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            {{ tab.label }}
          </a>
        </nav>
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
      <ng-template #noAsset>
        <mat-card>
          <mat-card-title> No Asset Selected </mat-card-title>
        </mat-card>
      </ng-template>
    </ng-container>
  </div>
</atx-horizontal-layout>
