<div class="series-container" style="height: 100%; width: 100%">
  <div style="width: 100%; height: 100%">
    <ng-container *ngIf="vm$ | async as vm">
      <div
        fxLayout="column"
        style="width: 100%"
        [ngClass]="{
          'sens-list-light': (navFacade.theme$ | async) === 'light',
          'sens-list-dark': (navFacade.theme$ | async) !== 'light'
        }"
      >
        <div fxLayout fxFlex>
          <mat-chip-list #chipList>
            <mat-chip
              class="chip-style"
              [ngClass]="{
                'chip-selected-light':
                  (navFacade.theme$ | async) === 'light' &&
                  sensitivityAnomaly === vm.selectedAnomalyChip.subType,
                'chip-selected-dark':
                  (navFacade.theme$ | async) !== 'light' &&
                  sensitivityAnomaly === vm.selectedAnomalyChip.subType
              }"
              [value]="sensitivityAnomaly"
              [matTooltip]="sensitivityAnomalyTypeTooltips[sensitivityAnomaly]"
              matTooltipClass="sensitivity-tooltip-class"
              (click)="changeColumns(sensitivityAnomaly)"
              *ngFor="let sensitivityAnomaly of sensitivityAnomalyTypes"
              data-cy="AnomaliesFilter"
            >
              {{ sensitivityAnomalyTypeLabel[sensitivityAnomaly] }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="model-sensitivity-grid">
        <ag-grid-angular
          class="ag-grid-formats"
          [ngClass]="{
            'ag-theme-alpine': (navFacade.theme$ | async) === 'light',
            'ag-theme-alpine-dark': (navFacade.theme$ | async) !== 'light'
          }"
          [gridOptions]="gridOptions"
          [modules]="modules"
          [rowData]="models$ | async"
          [columnDefs]="columnDefs"
          (focusout)="focusOut()"
        >
        </ag-grid-angular>
      </div>
    </ng-container>
  </div>
</div>
