<atxCarousel
  [showControls]="isShowControl"
  [navPaneState]="navPaneState"
  [assetTreeVisibility]="assetTreePaneState?.visible"
  [assetTreeSelected]="assetTreePaneState?.selected"
  [layoutMode]="layoutMode"
  [layoutLeftTraySize]="layoutLeftTraySize"
>
  <ng-container *ngFor="let batch of batches">
    <ng-container *atxCarouselItem>
      <div class="atx-item">
        <mat-card
          fxLayout="row wrap"
          fxLayoutAlign="center"
          style="padding: 0px"
        >
          <mat-card-content
            [fxFlex]="width"
            [fxFlex.xs]="widthXS"
            class="launch-pad-tile mat-elevation-z2"
            *ngFor="let item of batch"
            [ngSwitch]="item.type"
            [ngClass]="{ 'launch-pad-selected': item.selected }"
          >
            <p *ngSwitchCase="'spacer'"></p>
            <a
              *ngSwitchCase="'link'"
              class="launch-pad-tile"
              [href]="item.url"
              [target]="item.newTab ? '_blank' : ''"
            >
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon
                  *ngIf="item.icon && item.icon !== ''"
                  class="launch-pad-tile-icon"
                  mat-list-icon
                  [svgIcon]="item.icon"
                ></mat-icon>
                <div>{{ item.text }}</div>
              </div>
            </a>
            <a
              *ngSwitchCase="'route'"
              class="launch-pad-tile"
              [routerLink]="item.url"
              [target]="item.newTab ? '_blank' : '_self'"
            >
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon
                  *ngIf="item.icon && item.icon !== ''"
                  class="launch-pad-tile-icon"
                  mat-list-icon
                  [svgIcon]="item.icon"
                ></mat-icon>
                <div>{{ item.text }}</div>
              </div>
            </a>
            <div *ngSwitchDefault class="launch-pad-tile" (click)="open(item)">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon
                  *ngIf="item.icon && item.icon !== ''"
                  class="launch-pad-tile-icon"
                  mat-list-icon
                  [svgIcon]="item.icon"
                ></mat-icon>
                <div>{{ item.text }}</div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
</atxCarousel>
