atxCarousel {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

mat-card {
  border-radius: 0px;
}

mat-card-content {
  z-index: 1 !important;
  border-radius: 2px;
  margin: 1% !important;
  text-align: center;
}

mat-card-content img {
  display: block;
  padding: 5%;
  margin: auto;
  max-width: 90%;
  height: auto;
}

.atx-item {
  padding: 0;
  width: 100%;
  color: #fff;
  justify-content: center;
  align-content: center;
}

.launch-pad-tile-icon {
  margin-right: 10px;
}

.launch-pad-tile {
  text-decoration: none;
  color: inherit;
}

.launch-pad-tile > div {
  padding: 7.5% !important;
}

.launch-pad-selected {
  transition: 1s ease;
  box-shadow: inset 0px 3px 0px 0px var(--accent-250);
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.12);
  transition: transform 500ms ease-out;
}
