mat-card {
  width: 400px;
  background-color: #425252 !important;
  padding: 15px 25px 20px 25px !important;
}

a {
  font-size: 14px;
  font-weight: bold;
}

p {
  text-align: center;
}
mat-form-field {
  width: 80%;
  margin: 0 auto;
}

.loader {
  height: 20px;
  padding: 10px;
}

.loader mat-spinner {
  margin: auto;
}

.login-error {
  opacity: 0;
}

.display-login-error {
  opacity: 1;
}

.login-error .mat-card {
  background: #e53522;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
}

mat-card-subtitle {
  text-align: center;
}

button {
  margin: 0px 30px;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing.login-backdrop {
  opacity: 1;
  background-color: #282828;
}

.asset360Logo {
  margin: 0 auto;
  height: 60px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
