<mat-card>
  <div>
    <div style="text-align: center">
      <div>
        <img
          style="height: 100%; padding-top: 20px"
          class="asset360Logo hidden-sm"
          src="./assets/pg.png"
        />
      </div>
    </div>
    <div [ngSwitch]="loginDisplay$ | async">
      <atx-login-waiting
        [state]="loginState$ | async"
        *ngSwitchCase="'Waiting'"
      ></atx-login-waiting>
      <atx-initial-password
        [state]="loginState$ | async"
        (password)="initialPassword($event)"
        *ngSwitchCase="'NewPassword'"
      ></atx-initial-password>
      <atx-password-code
        [state]="loginState$ | async"
        (password)="passwordCode($event)"
        *ngSwitchCase="'PasswordCode'"
      ></atx-password-code>
      <atx-login-mfa
        [state]="loginState$ | async"
        (code)="mfaCode($event)"
        *ngSwitchCase="'MFA'"
      ></atx-login-mfa>
      <atx-login-totp
        [state]="loginState$ | async"
        (code)="totpCode($event)"
        *ngSwitchCase="'TOTP'"
      ></atx-login-totp>
      <atx-custom-challenge
        [state]="loginState$ | async"
        *ngSwitchCase="'CustomChallenge'"
      ></atx-custom-challenge>
      <atx-mfa-setup
        [state]="loginState$ | async"
        *ngSwitchCase="'MFASetup'"
      ></atx-mfa-setup>
      <atx-select-mfa-type
        [state]="loginState$ | async"
        *ngSwitchCase="'SelectMFAType'"
      ></atx-select-mfa-type>
      <atx-forgot-password
        [state]="loginState$ | async"
        (forgot)="forgotPassword($event)"
        *ngSwitchCase="'ForgotPassword'"
      ></atx-forgot-password>
      <atx-confirm-email
        [state]="loginState$ | async"
        (send)="sendConfirmEmailCode()"
        (dismiss)="dismissConfirmEmail()"
        (code)="confirmEmail($event)"
        *ngSwitchCase="'ConfirmEmail'"
      >
      </atx-confirm-email>
      <atx-password
        [state]="loginState$ | async"
        [userName]="(loginState$ | async)?.username"
        (login)="simpleLogin($event)"
        (forgot)="forgotPasswordInit()"
        (code)="code()"
        (goBack)="goBack()"
        *ngSwitchCase="'Password'"
      >
      </atx-password>
      <atx-user-email
        [state]="loginState$ | async"
        (login)="username($event)"
        *ngSwitchCase="'Username'"
      >
      </atx-user-email>
      <atx-simple-login
        [state]="loginState$ | async"
        (login)="simpleLogin($event)"
        (forgot)="forgotPasswordInit()"
        (code)="code()"
        *ngSwitchDefault
      ></atx-simple-login>
    </div>
  </div>
  <mat-card-subtitle>
    To request an account or for help signing in contact
  </mat-card-subtitle>
  <button color="accent" mat-button href="mailto:support@prometheusgroup.com">
    support@prometheusgroup.com
  </button>
</mat-card>
