<div class="header-container">
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon mat-list-icon> <img [src]="navFacade.logo$ | async" /></mat-icon>
    <span>Quick Reply</span>
  </mat-toolbar>
</div>

<ng-container *ngIf="quickReplyState$ | async as quickReplyState">
  <ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.errorMessage; else noError">
      {{ vm.errorMessage }}
    </ng-container>
    <ng-template #noError>
      <div class="main-content">
        <section class="top-section">
          <div fxLayout="row">
            <a [attr.href]="getIssueUrl(vm.issueID)">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start center"
                class="manage-issue"
              >
                <mat-icon class="material-icons-outlined"
                  >arrow_right_alt</mat-icon
                >
                <span>Manage Issue</span>
              </div>
            </a>
          </div>
        </section>
        <mat-divider></mat-divider>
        <section class="bottom-section">
          <div fxLayout="row" class="issue-title">
            Quick Reply Issue {{ vm.issueIDNumber }}: {{ vm.issueTitle }}
          </div>

          <div *ngIf="!vm.isExpanded">
            <div
              class="expansion-container"
              *ngFor="let entry of vm.quickReplyEntries"
            >
              <div style="display: flex">
                <mat-icon color="primary" style="margin-right: 10px"
                  >mode_comment</mat-icon
                >
                <b>{{ entry?.Title }}</b>
              </div>

              <!-- Start of the quick reply entry display -->
              <ng-container>
                <div class="content" fxLayout="column">
                  <div
                    #entryContent
                    class="htmlContent"
                    [innerHTML]="entry?.Content | safeHTMLIssue"
                  ></div>
                  <div
                    class="attachments-container"
                    fxLayout="row"
                    fxLayoutGap="10px"
                  >
                    <div
                      *ngFor="
                        let attachment of entry?.Attachments;
                        let i = index
                      "
                      fxLayout="row"
                      fxLayoutAlign="start center"
                    >
                      <span style="font-size: 16px">{{ attachment.name }}</span>
                      <span style="font-size: 11px; padding: 3px 0px 0px 10px"
                        >{{ (attachment.size / 1000).toFixed(2) }} KB</span
                      >
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- End of the quick reply entry display -->
            </div>
          </div>

          <div class="expansion-container">
            <mat-accordion>
              <mat-expansion-panel [expanded]="vm.isExpanded">
                <mat-expansion-panel-header
                  style="padding-left: 8px"
                  [collapsedHeight]="'50px'"
                  [expandedHeight]="'50px'"
                  (click)="toggleNewEntry()"
                >
                  <mat-panel-title>
                    <button mat-button data-cy="addNewEntryBtn">
                      <mat-icon
                        color="accent"
                        class="material-icons-outlined"
                        style="padding-bottom: 2px; padding-right: 2px"
                        >add_comment</mat-icon
                      >
                      Add New Entry
                    </button>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Start of mat-expansion-panel-content-->
                <div class="quick-reply-inputs">
                  <div class="title-label">
                    <mat-label>Your Email</mat-label>
                  </div>
                  <mat-form-field
                    appearance="fill"
                    color="accent"
                    class="right-item"
                  >
                    <mat-chip-list
                      #selectedUsersList
                      aria-label="User selection"
                    >
                      <mat-chip [selectable]="true" [removable]="false">
                        {{ (navFacade.user$ | async).email }}
                      </mat-chip>
                    </mat-chip-list>
                  </mat-form-field>
                </div>

                <div class="quick-reply-inputs">
                  <div class="title-label">
                    <mat-label>Title</mat-label>
                  </div>
                  <mat-form-field
                    appearance="fill"
                    color="accent"
                    class="right-item"
                  >
                    <input
                      matInput
                      placeholder="New Discussion Post"
                      [formControl]="titleCtrl"
                    />
                  </mat-form-field>
                </div>
                <editor
                  class="mobile-editor-height"
                  [formControl]="contentCtrl"
                  [init]="initQuickReplyEditor"
                ></editor>

                <div
                  class="file-uploader-container"
                  atxDragDrop
                  (fileDropped)="uploadFile($event, vm.assetID)"
                >
                  <h2>Drop your files here.</h2>
                  <h5>or</h5>
                  <input
                    hidden
                    type="file"
                    #uploader
                    (change)="uploadFile($event.target.files, vm.assetID)"
                    (click)="uploader.value = null"
                  />
                  <button
                    class="select-file-btn"
                    mat-flat-button
                    color="primary"
                    (click)="uploader.click()"
                  >
                    Select Files...
                  </button>
                </div>

                <div
                  *ngIf="quickReplyState.UploadingAttachments"
                  class="attachments-progress-bar"
                >
                  <mat-progress-bar
                    class="top-progress-bar"
                    color="accent"
                    mode="indeterminate"
                  ></mat-progress-bar>
                </div>

                <div
                  class="attachments-container"
                  fxLayout="row"
                  fxLayoutGap="10px"
                >
                  <div
                    *ngFor="
                      let attachment of quickReplyState.Attachments;
                      let i = index
                    "
                    fxLayout="row"
                    fxLayoutAlign="start center"
                  >
                    <span style="font-size: 16px">{{ attachment.name }}</span>
                    <span style="font-size: 11px; padding: 3px 0px 0px 10px"
                      >{{ (attachment.size / 1000).toFixed(2) }} KB</span
                    >
                    <button
                      mat-icon-button
                      matTooltip="Remove Attachment"
                      (click)="removeAttachments(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>

                <div
                  fxLayout="row"
                  fxLayoutAlign="end"
                  class="action-btn-container"
                >
                  <button class="action-btn" mat-button (click)="cancel()">
                    Cancel
                  </button>
                  <button
                    class="action-btn"
                    mat-flat-button
                    color="accent"
                    [disabled]="
                      quickReplyState.UploadingAttachments || vm.isSaving
                    "
                    (click)="save()"
                  >
                    <mat-icon
                      style="padding-bottom: 2px; padding-right: 2px"
                      class="material-icons-outlined"
                      >save</mat-icon
                    >Save
                  </button>
                </div>
                <!-- End of mat-expansion-panel-content-->
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </section>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
