.header-container {
  padding: 5px;
}

.header-container mat-toolbar {
  height: 40px;
  padding-right: 10px;
  border-radius: 4px 4px 0 0;
}

.header-container mat-icon {
  font-size: 18px;
  margin-right: 12px;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.top-section {
  padding: 0px 20px;
}

.top-section a {
  text-decoration: none !important;
  color: inherit !important;
}

.manage-issue {
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.bottom-section {
  height: calc(100% - 95px);
  overflow-y: auto;
}

.quick-reply-container {
  padding: 40px;
  margin: 20px 40px;
}

.issue-title {
  margin: 16px;
}

.title-label {
  align-self: left;
  width: 75px;
  display: table;
}

.title-label mat-label {
  vertical-align: middle;
  display: table-cell;
}

.quick-reply-inputs {
  display: flex;
}

.right-item {
  margin-left: 20px;
  width: 40%;
}

@media only screen and (max-width: 480px) {
  .quick-reply-inputs {
    flex-direction: column;
  }

  .right-item {
    margin-left: 0;
    width: 100%;
  }
}

.file-uploader-container {
  margin-top: 10px;
  padding: 0px 10px 10px;
  text-align: center;
  border: 1px dashed var(--accent-250);
}

.file-uploader-container > h2,
h5,
.file-btn {
  margin: 0px !important;
}

.attachments-progress-bar {
  margin-top: 3px;
}

.attachments-container {
  margin-top: 10px;
  flex-wrap: wrap;
}

.action-btn-container {
  margin-top: 20px;
}

.action-btn {
  height: 40px;
  margin-left: 10px;
}

.expansion-container {
  margin: 15px 20px 15px;
}

::ng-deep {
  .mat-progress-bar-element {
    height: 1px !important;
    border-radius: 4px;
  }

  .mat-progress-bar-fill::after {
    height: 1px !important;
  }

  .mat-form-field-infix {
    // border-top: 0 !important;
    padding: 5px 0 12px 0;
    min-height: 12px;
    border-top: 0.84375em solid transparent;
  }

  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }

  .htmlContent a {
    color: #03a9f4 !important;
  }

  @keyframes save-spinner {
    to {
      transform: rotate(360deg);
    }
  }
}
