<h3 mat-dialog-title>Delete Asset</h3>
<mat-dialog-content>
  <div>
    <p>
      Are you sure you want to delete {{ assetName }} and all
      {{ numOfDescendants }} of its descendants? All data associated to it will
      be lost, including Tagmaps, Models, Issues, Trends, Dashboard Views..
    </p>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="accent" (click)="onContinue()">
    Continue
  </button>
</div>
