<div class="attachment-item" [ngSwitch]="attachment?.DiscussionAttachmentType">
  <div *ngSwitchCase="1">
    <img
      [src]="attachment?.blobURL"
      scale="true"
      class="img-responsive"
      (click)="openImageViewer(attachment)"
    />
    <a (click)="openImageViewer(attachment)">Image: {{ attachment.Title }}</a>
    <button
      mat-icon-button
      matTooltip="Remove Attachment"
      *ngIf="editing"
      (click)="
        removeAttachment(
          attachment?.DiscussionAttachmentID,
          attachment?.ContentID
        )
      "
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div *ngSwitchCase="2">
    <a (click)="popupAttachment(attachment)">File: {{ attachment.Title }}</a>
    <button
      mat-icon-button
      matTooltip="Remove Attachment"
      *ngIf="editing"
      (click)="
        removeAttachment(
          attachment?.DiscussionAttachmentID,
          attachment?.ContentID
        )
      "
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div *ngSwitchCase="3">
    <!--Chart-->
    Chart: Feature Not Yet Implemented
  </div>
  <div *ngSwitchCase="4">
    <!--Link-->
    <a [href]="attachment?.DisplayInstructions">Link: {{ attachment.Title }}</a>
    <button
      mat-icon-button
      matTooltip="Remove Attachment"
      *ngIf="editing"
      (click)="
        removeAttachment(
          attachment?.DiscussionAttachmentID,
          attachment?.ContentID
        )
      "
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
