.attachment-item {
  overflow: hidden;
  max-width: 250px;
  margin-right: 15px;
}

.img-responsive {
  display: block;
  max-width: 250px;
  height: auto;
  cursor: pointer;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
