<div>
  <form [formGroup]="viewInfoForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sub Title</mat-label>
      <input matInput type="text" formControlName="subtitle" />
    </mat-form-field>
  </form>
  <mat-form-field appearance="fill">
    <mat-label>Display Priority</mat-label>
    <input matInput type="number" [formControl]="displayOrderControl" />
  </mat-form-field>
</div>
