.content-container {
  overflow: hidden;
  margin: 0;
}

.section-container {
  margin: 0 24px;
}

.top-progress-bar {
  height: 2px;
  border-radius: 4px;
  position: relative;
  width: 105%;
  left: -5px;
  top: -5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.new-model-buttons {
  width: 49%;
  height: 37px;
}

::ng-deep {
  .custom-new-model-container .mat-dialog-container {
    padding: 10px !important;
    overflow: hidden;
  }
  .custom-new-model-container
    .new-model-buttons
    .mat-dialog-actions
    .mat-button-base
    + .mat-button-base,
  .mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
    margin-left: 0 !important;
  }
}
