<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.modelTemplatesLoading">
    <mat-progress-bar
      class="top-progress-bar"
      color="accent"
      mode="indeterminate"
    ></mat-progress-bar>
  </ng-container>
  <div mat-dialog-title class="section-container">
    <h5 mat-dialog-title>Create New Model</h5>
  </div>
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="center none"
    class="content-container"
  >
    <mat-form-field appearance="fill" color="accent" data-cy="opModeTypeList">
      <mat-label>Operating Mode Type</mat-label>
      <mat-select [formControl]="opModeTypeFrmControl">
        <mat-option [value]="opMode" *ngFor="let opMode of opModeTypes">
          {{ opModeTypeLabelMapping[opMode] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Model Name</mat-label>
      <input
        matInput
        [formControl]="modelNameFrmControl"
        data-cy="modelNameFld"
      />
    </mat-form-field>

    <mat-radio-group
      class="radio-group"
      [formControl]="modelCreationSourceFrmControl"
    >
      <mat-error *ngIf="modelCreationSourceFrmControl.invalid">
        Please select creation source
      </mat-error>
      <mat-radio-button
        class="radio-button"
        [value]="modelCreationSource.Template"
      >
        Create from standard model template
      </mat-radio-button>
      <mat-radio-button
        class="radio-button"
        [value]="modelCreationSource.Custom"
      >
        Create custom model
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill" color="accent" data-cy="modelTypeList">
      <mat-label>Custom Model Type</mat-label>
      <mat-select [formControl]="modelTypeFrmControl">
        <ng-container>
          <mat-option [value]="model" *ngFor="let model of sortedModels()">
            {{ modelTypeLabelMapping[model] }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div
    mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="center stretch"
    class="section-container"
  >
    <button mat-button (click)="cancel()" class="new-model-buttons">
      Cancel
    </button>
    <button
      mat-button
      class="new-model-buttons"
      color="accent"
      [disabled]="
        modelNameFrmControl.invalid ||
        modelTypeFrmControl.invalid ||
        vm.modelTemplatesLoading
      "
      (click)="createModel()"
      data-cy="createModelBtn"
    >
      Create Model
    </button>
  </div>
</ng-container>
