<mat-dialog-content>
  <span style="font-weight: 500">
    apps.asset360.com is moving to oi.atonix.com.<br />Please update your
    favorites.
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="myData" aria-label="Cancel">
    Dismiss
  </button>
  <button
    mat-flat-button
    color="accent"
    routerLink=""
    (click)="redirectToAtonix()"
  >
    Continue to oi.atonix.com
  </button>
</mat-dialog-actions>
