<ng-container>
  <div class="user-roles-container">
    <div *ngIf="selectedUser === null; else hasSelectedUser">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="user-not-selected">
          <h2>No User Selected</h2>
          <p>
            To see a user's details, select a user from the list or click on Add
            New User to begin.
          </p>
        </div>
      </div>
    </div>
    <ng-template #hasSelectedUser>
      <div
        class="loading"
        *ngIf="isLoading !== null && isLoading === true; else loaded"
      >
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
        <b>Loading Data</b>
      </div>
      <ng-template #loaded>
        <div class="table-container">
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="Allow">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Allow</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  [checked]="element.Allow"
                  [formControl]="roleFormControl(element)"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Role.Name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="RoleType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Role Type
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.Role.RoleType }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let rowData; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
