<div class="screening-container">
  <mat-card
    class="screening-header"
    [ngClass]="{
      'screening-header-bg-dark': listTheme === 'dark',
      'screening-header-bg-light': listTheme === 'light'
    }"
  >
    <div class="header-left">
      <span
        style="top: 8px; left: 9px; position: absolute"
        *ngIf="screeningViewFilters.length === 0"
      >
        <mat-icon>filter_alt_outline</mat-icon>
      </span>
      <button
        matTooltip="Clear Filters"
        class="maticon-button"
        mat-icon-button
        *ngIf="screeningViewFilters.length > 0"
        (click)="clearFilters($event)"
      >
        <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
      </button>
      <mat-chip-list #chipList aria-label="Filters" data-cy="filter-chip-list">
        <mat-chip
          *ngFor="let filter of screeningViewFilters"
          [removable]="filter.Removable"
          (removed)="removeFilter(filter)"
        >
          <span data-cy="filter-column-name">{{ filter.DisplayName }}</span>
          <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="header-right">
      <span data-cy="totalModels"> Total Models: {{ totalModels }}</span>
      <button
        mat-icon-button
        matTooltip="Toggle Filter Row"
        (click)="toggleFloatingFilter()"
        data-cy="toggleFilterBtn"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <span name="timeStamp">
        {{ lastRefresh | date: 'MM/dd/yy hh:mma' }}
      </span>
      <button
        #refreshButton
        matTooltip="Refresh View"
        class="maticon-button"
        mat-icon-button
        *ngIf="showRefresh"
        (click)="refreshScreen($event)"
        data-cy="refreshGridBtn"
      >
        <mat-icon class="mat-icon-full">refresh</mat-icon>
      </button>
      <button
        #downloadButton
        matTooltip="Download Models"
        mat-icon-button
        [disabled]="disableDownload"
        (click)="downloadModels($event)"
        data-cy="downloadGridBtn"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Toggle Alerts Actions"
        (click)="toggleRightTray()"
        data-cy="showHideFlyOutWindow"
      >
        <mat-icon>info_outline</mat-icon>
      </button>
      <button
        class="maticon-button"
        mat-icon-button
        (click)="updateIcon()"
        data-cy="expandScreeningView"
      >
        <mat-icon class="mat-icon-half" [ngClass]="{ clicked: expanded }"
          >keyboard_arrow_down</mat-icon
        >
      </button>
    </div>
  </mat-card>

  <div class="screening-body" #screeningBody>
    <ag-grid-angular
      style="margin: 4px"
      class="ag-grid-formats enbable-click"
      [ngClass]="
        listTheme === 'light'
          ? 'ag-theme-alpine'
          : listTheme === 'dark'
          ? 'ag-theme-alpine-dark'
          : 'ag-theme-alpine-dark'
      "
      [gridOptions]="gridOptions"
      [modules]="modules"
      (selectionChanged)="selectionChanged()"
      (rowDoubleClicked)="doubleClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>
