<ng-container>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 node-tree">
    <ng-container matColumnDef="NodeAbbrev">
      <div class="tree-node-container">
        <td
          class="whitespace-nowrap"
          mat-cell
          *matCellDef="let node; let i = index"
        >
          <div
            *ngIf="!node.IsHidden"
            class="nodeItem"
            [ngClass]="{ selectedNode: node.IsSelected }"
            (click)="selectNode($event, node, i)"
            [matTooltip]="node?.AssetPath"
            [matTooltipPosition]="'left'"
          >
            <button
              mat-icon-button
              [style.visibility]="!node.HasChildren ? 'hidden' : ''"
              [style.marginLeft.px]="node.Level * 12"
              (click)="onExpandNode($event, node)"
              class="expandBtn"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{ isNodeExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
              </mat-icon>
            </button>
            <span>
              <span>
                <mat-icon
                  class="asset-node-container-icon"
                  *ngIf="node?.NodeTypeId === 1"
                  fontSet="material-icons-outlined"
                  >folder</mat-icon
                >
              </span>
              <span>{{ node.NodeAbbrev }} </span>

              <!-- <mat-icon
                *ngIf="node.AssetNodeBehaviorId === 1"
                class="asset-node-behavior-icon"
                >person_outline</mat-icon
              >
              <mat-icon
                *ngIf="node.AssetNodeBehaviorId === 2"
                class="asset-node-behavior-icon"
                >person_add_alt</mat-icon
              >
              <mat-icon
                *ngIf="node.AssetNodeBehaviorId === 3"
                class="asset-node-behavior-icon"
                >group_add</mat-icon
              > -->
            </span>
          </div>
        </td>
      </div>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
