<div class="email-page">
  <p>Please sign in to access</p>
  <ng-container *ngIf="state.showError">
    <mat-error
      data-cy="error"
      style="padding-bottom: 20px"
      *ngIf="state?.errorMessage"
    >
      {{ state?.errorMessage }}
    </mat-error>
  </ng-container>
  <ng-container *ngIf="!state.showError">
    <div class="successMessage">
      {{ state?.errorMessage }}
    </div>
  </ng-container>
  <form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field class="email-field" appearance="fill" color="accent">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        atxAutoFocus
        formControlName="username"
        data-cy="username"
        data-testid="username"
      />
    </mat-form-field>
    <div>
      <span>
        <button
          type="submit"
          mat-flat-button
          [disabled]="loginForm.invalid"
          data-testid="submit"
          class="full-justify"
          color="accent"
        >
          Next
        </button>
      </span>
    </div>
    <br />
  </form>
</div>
