<mat-card fxLayout="column" fxLayoutAlign="space-between none">
  <mat-card-title>Rate your Experience</mat-card-title>
  <mat-card-subtitle
    >Please help us improve the ASSET360<sup>&#0174;</sup>
    experience</mat-card-subtitle
  >
  <mat-card-content>
    <div class="satisfied-buttons">
      <i
        title="Very Dissatisfied"
        class="material-icons"
        style="color: #ff3d00; font-size: 36px"
        (click)="setSentiment('very-dissatisfied')"
        [ngClass]="{ 'selected-sentiment': sentiment === 'very-dissatisfied' }"
      >
        sentiment_very_dissatisfied
      </i>
      <i
        title="Dissatisfied"
        class="material-icons"
        style="color: #ff9100; font-size: 36px"
        (click)="setSentiment('dissatisfied')"
        [ngClass]="{ 'selected-sentiment': sentiment === 'dissatisfied' }"
      >
        sentiment_dissatisfied
      </i>
      <i
        title="Satisfied"
        class="material-icons"
        style="color: #ffea00; font-size: 36px"
        (click)="setSentiment('satisfied')"
        [ngClass]="{ 'selected-sentiment': sentiment === 'satisfied' }"
      >
        sentiment_satisfied
      </i>
      <i
        title="Very Satisfied"
        class="material-icons"
        style="color: #00e676; font-size: 36px"
        (click)="setSentiment('very-satisfied')"
        [ngClass]="{ 'selected-sentiment': sentiment === 'very-satisfied' }"
      >
        sentiment_very_satisfied
      </i>
    </div>
  </mat-card-content>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Leave a comment</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="5"
      (change)="textChanged($event)"
    ></textarea>
  </mat-form-field>
  <mat-card-footer>
    <button mat-button (click)="cancelSentiment()">Cancel</button>
    <button
      style="margin-left: 15px"
      mat-raised-button
      color="accent"
      (click)="saveSentiment()"
    >
      Send
    </button>
  </mat-card-footer>
</mat-card>
