mat-card {
  position: absolute;
  border-radius: 0px;
  margin-top: 3px;
  right: -70px;
  padding: 16px;
}

mat-card-title,
mat-card-subtitle {
  text-align: center;
}

mat-card-content {
  display: inline;
}
.satisfied-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  padding: 10px;
  cursor: pointer;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 90%;
}

.theme {
  padding-right: 10px;
}

.mat-button-toggle-group {
  align-items: center;
  border-color: black;
}

.mat-button-toggle-checked {
  background-color: var(--accent-250);
}

.satisfied-buttons {
  min-width: 100px;
}

.selected-sentiment {
  border: 4px solid var(--accent-250);
  width: 12px;
  height: 12px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

mat-card-footer {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
  padding: 15px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-end;
  align-items: stretch;
}
