<h2 mat-dialog-title>Invalid Impact</h2>
<mat-dialog-content class="mat-typography">
  This impact contains validation errors and will be displayed as read-only to
  preserve its data. <br />You can make changes to the impact by opening it in
  the legacy Issue Details view.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
  <button mat-button [mat-dialog-close]="true">Switch to legacy view</button>
</mat-dialog-actions>
