.info-tab-form {
  height: 100%;
}

.spinner {
  position: absolute;
  right: 0;
}

.space-above {
  margin-top: 20px !important;
}

.dividing-line {
  margin: 0px 10px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}

.left-column-info {
  margin-left: 30px;
}

.right-column-info {
  margin-left: 100px;
}

#add-btn {
  padding: 0px;
  height: 40px;
  margin-left: 5px;
}

#add-tag-btn {
  padding: 0px;
  height: 40px;
  margin-left: 10px;
}

.ag-grid-container {
  height: calc(100% - 350px);
}

.ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 10px;
  height: 100%;
}

.ag-fresh .ag-header-cell-label .ag-header-cell-text {
  display: inline-block;
  text-align: center;
}

.ag-fresh .ag-header-cell-label .ag-header-icon {
  vertical-align: top;
}

.ag-fresh .ag-header-cell-label > span {
  float: none;
}
