<form class="info-tab-form" fxLayout="column">
  <div fxLayout="row" class="space-above">
    <div fxFlex="25%" class="left-column-info">
      <mat-form-field fxFlex="100%" appearance="fill" color="accent">
        <mat-label>Name</mat-label>
        <input
          matInput
          [formControl]="name"
          placeholder="Asset Name"
          (blur)="updateName()"
        />
      </mat-form-field>
    </div>
    <div fxFlex="25%" class="right-column-info">
      <mat-form-field fxFlex="100%" appearance="fill" color="accent">
        <mat-label>Descriptive Name</mat-label>
        <input
          matInput
          [formControl]="descriptiveName"
          placeholder="Asset Descriptive Name"
          (blur)="updateDescriptiveName()"
        />
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="25%" class="left-column-info">
      <mat-form-field fxFlex="100%" appearance="fill" color="accent">
        <mat-label>Asset Type : </mat-label>
        <mat-select [formControl]="assetType" (click)="getAssetClassTypes()">
          <mat-option
            *ngFor="let type of assetClassTypes$ | async"
            [value]="type.AssetClassTypeID"
          >
            <fa-icon
              [icon]="faSpinner"
              *ngIf="assetClassTypesLoading$ | async"
              class="spinner"
              [spin]="true"
            >
            </fa-icon>
            {{ type.AssetClassTypeDesc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFlex="25%" class="right-column-info">
      <mat-label>Parent : </mat-label>
      <mat-label>{{ parent }}</mat-label>
    </div>
  </div>

  <div class="dividing-line"></div>

  <div fxLayout="row" class="space-above">
    <div fxLayout="row" fxFlex="25%" class="left-column-info">
      <mat-form-field
        floatLabel="always"
        fxFlex="70%"
        appearance="fill"
        color="accent"
      >
        <mat-label>Add Attribute</mat-label>
        <input
          matInput
          placeholder="Attribute Name"
          [formControl]="attributeName"
        />
      </mat-form-field>
      <button mat-stroked-button fxFlex="30%" id="add-btn" disabled>
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
    <div fxFlex="25%" class="right-column-info">
      <mat-form-field
        floatLabel="always"
        fxFlex="100%"
        appearance="fill"
        color="accent"
      >
        <mat-label>Category</mat-label>
        <mat-select value="showAll">
          <mat-option value="showAll">Show All</mat-option>
          <!--<mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>-->
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="ag-grid-container">
    <ag-grid-angular
      class="ag-grid-formats"
      [ngClass]="theme$ | async"
      [gridOptions]="gridOptions"
      [modules]="modules"
    ></ag-grid-angular>
  </div>

  <div class="dividing-line" style="margin-top: 25px"></div>

  <div fxLayout="row" class="left-column-info space-above">
    <mat-form-field
      floatLabel="always"
      fxFlex="33%"
      appearance="fill"
      color="accent"
    >
      <mat-label>Tags</mat-label>
      <input
        matInput
        type="text"
        placeholder="Tagging Keyword Search. ENTER key adds the tag"
        [formControl]="tag"
        [matAutocomplete]="auto"
        (input)="searchTaggingKeywords()"
        (keydown.enter)="addKeyword()"
      />
      <fa-icon
        [icon]="faSpinner"
        *ngIf="autoCompleteLoading$ | async"
        class="spinner"
        [spin]="true"
      >
      </fa-icon>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addKeyword()">
        <mat-option
          *ngFor="let keyword of autoCompleteKeywords$ | async"
          [value]="keyword.Text"
        >
          {{ keyword.Text }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
      mat-stroked-button
      fxFlex="10%"
      id="add-tag-btn"
      (click)="addKeyword()"
    >
      <mat-icon>add</mat-icon>
      Add Tag
    </button>
  </div>
</form>
