<!-- this should be in its own directive, not here -->
<div id="mobile-blocker">
  <img
    src="assets/responsive-lines3.png"
    style="width: 80%; max-width: 400px"
  />
  <h2>
    <span class="small uppercase">coming soon</span><br />ASSET360<sup
      >&reg;</sup
    >
    for mobile.
  </h2>
  <p>
    For now, we recommend running this app on a larger tablet or desktop device.
    If you're on a desktop device, try increasing the size of your browser
    window and refreshing.
  </p>
</div>

<div
  class="main-content"
  data-testid="main_content"
  *ngIf="(authFacade.uiAccessLoaded$ | async) === true"
>
  <ng-container
    *ngIf="(authFacade.hasMDAccess$ | async) === false; else showHome"
  >
    <mat-card
      style="width: 79%; margin: 0 auto; margin-top: 25px"
      data-cy="accessDenied"
      data-testid="access_denied"
    >
      <mat-card-title>Access Denied</mat-card-title>
      <mat-card-subtitle>
        You do not have permission to access this site. Please contact
        <a class="accent-250" href="mailto:support@prometheusgroup.com"
          >support@prometheusgroup.com</a
        >
        to request access.
      </mat-card-subtitle>
    </mat-card>
  </ng-container>
  <ng-template #showHome>
    <div fxLayoutWrap fxLayout="row wrap" fxLayoutAlign="center">
      <mat-card
        *ngIf="(authFacade.alertsTaskCenterAccess$ | async)?.CanView"
        fxFlex="40%"
        fxFlex.xs="80%"
        style="margin-top: 20px"
        routerLink="/alerts"
        [queryParams]="queryParams$ | async"
      >
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
                <mat-card-title>Alerts</mat-card-title>
              </div>

              <mat-card-subtitle>
                Early asset risk prediction using machine learning.
              </mat-card-subtitle>
            </div>
            <div>
              <img src="./assets/alerts-home.svg" />
            </div>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer
          ><button mat-button color="accent">
            Get Started <mat-icon color="accent">arrow_right</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>

      <mat-card
        *ngIf="(authFacade.issuesManagementTaskCenterAccess$ | async)?.CanView"
        fxFlex="40%"
        fxFlex.xs="80%"
        style="margin-top: 20px"
        routerLink="/issues"
        [queryParams]="queryParams$ | async"
      >
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
                <mat-card-title>Issues Management</mat-card-title>
              </div>

              <mat-card-subtitle>
                Connecting issues identification and resolution.
              </mat-card-subtitle>
            </div>
            <div>
              <img src="./assets/issues-home.svg" />
            </div>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer
          ><button mat-button color="accent">
            Get Started<mat-icon color="accent">arrow_right</mat-icon>
          </button></mat-card-footer
        >
      </mat-card>
      <mat-card
        *ngIf="(authFacade.dataExplorerTaskCenterAccess$ | async)?.CanView"
        fxFlex="40%"
        fxFlex.xs="80%"
        style="margin-top: 20px"
        routerLink="/data-explorer"
        [queryParams]="queryParams$ | async"
      >
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
                <mat-card-title>Data Explorer</mat-card-title>
              </div>

              <mat-card-subtitle>
                Trend and Analyze data sets for new insights.
              </mat-card-subtitle>
            </div>
            <div>
              <img src="./assets/data-explorer-home.svg" />
            </div>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer
          ><button mat-button color="accent">
            Get Started <mat-icon color="accent">arrow_right</mat-icon>
          </button></mat-card-footer
        >
      </mat-card>
      <mat-card
        *ngIf="(authFacade.dashboardsTaskCenterAccess$ | async)?.CanView"
        fxFlex="40%"
        fxFlex.xs="80%"
        style="margin-top: 20px"
        routerLink="/dashboards"
        [queryParams]="queryParams$ | async"
      >
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
              <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
                <mat-card-title>Dashboards</mat-card-title>
              </div>

              <mat-card-subtitle>
                Browse and review summary and detailed reports for your data and
                assets.
              </mat-card-subtitle>
            </div>
            <div>
              <img src="./assets/dashboards-home.svg" />
            </div>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer
          ><button mat-button color="accent">
            Get Started <mat-icon color="accent">arrow_right</mat-icon>
          </button></mat-card-footer
        >
      </mat-card>
    </div>
    <div style="clear: both"></div>
  </ng-template>
</div>
