mat-card {
  margin: 40px 10px 10px 10px;
  padding: 35px;
  cursor: pointer;
}

mat-card-content {
  min-height: 125px;
}

mat-card-title {
  line-height: 0.3em;
}

mat-card-subtitle {
  padding-top: 10px;
  max-width: 350px;
}

mat-card-footer {
  padding-top: 15px;
}

.get-started-btn {
  display: flex;
  align-items: center;
}
