mat-card.small-buttons {
  position: absolute;
  padding: 16px;
  left: 72px;
  bottom: 10px;
}

mat-card.big-buttons {
  position: absolute;
  padding: 16px;
  left: 230px;
  bottom: 10px;
}

mat-card {
  padding: 16px;
}

.mat-fab {
  background-color: #437638 !important;
}

mat-card-title {
  white-space: nowrap;
}

mat-card-actions {
  margin-left: 10px;
}

mat-card-actions a {
  color: inherit !important;
  text-decoration: none;
}

mat-card-footer {
  padding: 16px !important;
}

.theme {
  margin-right: 10px;
}

.mat-button-toggle-checked {
  background-color: var(--accent-250);
}
