<ng-container *ngIf="showBigButtons$ | async; else showSmallLayout">
  <mat-card class="big-buttons">
    <mat-card-content fxLayout="row" fxLayoutGap="10px">
      <div>
        <button mat-fab data-testid="initials">{{ initials }}</button>
      </div>
      <div>
        <mat-card-title
          >{{ user?.firstName }} {{ user?.lastName }}</mat-card-title
        >
        <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="10px">
      <button mat-stroked-button (click)="goToAccount()">Account</button>
      <button mat-stroked-button (click)="logoutUser()">Logout</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <span class="theme">Theme :</span>
      <mat-button-toggle-group (change)="changeUserTheme($event)">
        <mat-button-toggle [checked]="theme === 'dark'" value="dark">
          Dark
        </mat-button-toggle>
        <mat-button-toggle [checked]="theme === 'light'" value="light">
          Light
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-footer>
  </mat-card>
</ng-container>
<ng-template #showSmallLayout
  ><mat-card class="small-buttons">
    <mat-card-content fxLayout="row" fxLayoutGap="10px">
      <div>
        <button mat-fab>{{ initials }}</button>
      </div>
      <div>
        <mat-card-title
          >{{ user?.firstName }} {{ user?.lastName }}</mat-card-title
        >
        <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="10px">
      <button mat-stroked-button (click)="goToAccount()">Account</button>
      <button mat-stroked-button (click)="logoutUser()">Logout</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <span class="theme">Theme :</span>
      <mat-button-toggle-group (change)="changeUserTheme($event)">
        <mat-button-toggle [checked]="theme === 'dark'" value="dark">
          Dark
        </mat-button-toggle>
        <mat-button-toggle [checked]="theme === 'light'" value="light">
          Light
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-footer>
  </mat-card></ng-template
>
