<h3 mat-dialog-title>
  To create and edit attributes, paste the data below by pressing "Ctrl + V"
</h3>
<mat-dialog-content>
  <div>
    <p>The data must be tabular and include the following:</p>
    <p class="attribute-paste-column">
      A column with the header "Asset ID" that contains the identifier of the
      asset associated to the attribute.
    </p>
    <p class="attribute-paste-column">
      A column with the header "Attribute Name" that contains the name of each
      attribute.
    </p>
    <p class="attribute-paste-column">
      A column with the header "Attribute Value" that contains the value for
      each attribute.
    </p>
    <p class="attribute-paste-column">
      An optional column with the header "Favorite" that contains the boolean
      value (true/false, 1/0) to display in Performance Analyst. If omitted, new
      attributes are set to False and existing attributes will retain their
      current setting.
    </p>
    <p class="attribute-paste-column">
      An optional column with the header "Display Order" that contains the
      display order of each attribute. If omitted, new attributes are set to the
      next available order and existing attributes will retain their current
      setting.
    </p>
    <p class="attribute-paste-column">
      An optional column with the header "Value Type" that defines the value
      type when creating a new attribute type. If omitted, new attributes types
      are set to String. Supported value types: Boolean, Date, Float, Int,
      String.
    </p>
  </div>
  <div>
    <textarea
      #pasteBox
      type="text"
      class="paste-box"
      (keydown)="onKeydown($event)"
      placeholder='Click inside this box and press "Ctrl + V" to paste'
      [disabled]="isValidating"
    ></textarea>
    <div
      [ngClass]="
        clientValidationResult !== '' && serverValidationResult === ''
          ? 'validation-result'
          : ''
      "
      class="result-box"
    >
      <p>
        <span *ngIf="isValidating">Checking data format...</span>
        <span
          [ngClass]="!clientValidationResult.includes('OK') ? 'error-text' : ''"
          >{{ clientValidationResult }}</span
        >
      </p>
      <section
        *ngIf="serverValidationResult"
        [innerText]="serverValidationResult"
        class="server-text"
        [ngClass]="{
          'error-text': serverValidationResult.toLowerCase().includes('error')
        }"
        [style.height]="isProceedVisible === false ? '50px' : '20px'"
      ></section>
      <section *ngIf="isProceedVisible">
        <p>
          Not all changes will be saved, do you want to Proceed?
          <button mat-button (click)="onValidateCancel()">No</button>
          <button
            mat-flat-button
            color="accent"
            [disabled]="attributes.length === 0 && !isValidating"
            (click)="onProceed()"
          >
            Proceed
          </button>
        </p>
      </section>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!isSaveBtnEnabled"
    (click)="onSave()"
  >
    Save
  </button>
</div>
