<h3 mat-dialog-title>Email Change</h3>
<mat-dialog-content>
  <div>
    <p>
      This will automatically reset the user's password and send new login
      instructions.<br />Do you wish to proceed?
    </p>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="accent" (click)="continue()">Continue</button>
</div>
