<ng-container class="main-content" *ngIf="vm$ | async as vm">
  <mat-drawer-container class="roles-container">
    <mat-drawer-content>
      <button
        mat-stroked-button
        class="new-role-button"
        aria-label="Add New Role"
        (click)="openCreateNewRoleDialog()"
        [disabled]="
          (userAdminRxjsFacade.query.selectedCustomer$ | async) === null
        "
      >
        <mat-icon color="accent"> add_circle_outline </mat-icon>
        Add New Role
      </button>

      <atx-roles-list
        [isLoading]="vm.isLoading"
        [roles]="vm.roles"
        [gridFilters]="vm.gridFilters"
        [selectedRole]="vm.selectedRole"
      ></atx-roles-list>
    </mat-drawer-content>

    <mat-drawer mode="side" position="end" opened class="roles-config-drawer">
      <ng-container>
        <atx-user-admin-role-details-view-tabs
          [selectedRole]="vm.selectedRole"
          [selectedCustomer]="
            userAdminRxjsFacade.query.selectedCustomer$ | async
          "
          [users]="vm.users"
          [nameIsDirty]="vm.nameIsDirty"
          [appPermsIsDirty]="vm.appPermsIsDirty"
          [assetPermsIsDirty]="vm.assetPermsIsDirty"
          [membershipIsDirty]="vm.membershipIsDirty"
          [sharingIsDirty]="vm.sharingIsDirty"
          [allResourcePermissions]="vm.allResourcePermissions"
          [filteredMembers]="vm.filteredMembers"
          [assets]="vm.assets"
          [assetPermissions]="vm.selectedRole?.AssetPermissions"
          [isLoading]="vm.isLoading"
          [availableCustomers]="vm.roleCustomers"
          [filteredCustomers]="vm.filteredCustomers"
          (assetTreeTableStateChange)="onAssetTreeTableStateChange($event)"
        ></atx-user-admin-role-details-view-tabs>
      </ng-container>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
