.tag-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tag-tab-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.tag-tab-container-child {
  flex: 1;
  padding: 5px 5px 5px 5px;
  height: 100%;
}

.tag-mapping {
  border-right: 0.5px solid grey;
}

.tag-config {
  border-left: 0.5px solid grey;
}

.material-icons {
  cursor: pointer;
}
