<ng-container fxLayout="row" class="tag-container">
  <div class="tag-tab-container">
    <div
      fxLayout="column"
      class="tag-tab-container-child tag-mapping"
      [style.display]="isTagConfigExpanded ? 'none' : 'flex'"
      [style.max-width.%]="isTagMapExpanded ? '100' : '55'"
    >
      <atx-tag-map
        [asset]="(selectedAsset$ | async) ?? ''"
        [isTagMapExpanded]="isTagMapExpanded"
        [tagConfigGridApi]="tagConfigGridApi"
        (expandFn)="expand($event)"
        (collapseFn)="collapse($event)"
        style="height: 100%"
      ></atx-tag-map>
    </div>
    <div
      fxLayout="column"
      class="tag-tab-container-child tag-config"
      [style.display]="isTagMapExpanded ? 'none' : 'flex'"
      [style.max-width.%]="isTagConfigExpanded ? '100' : '45'"
    >
      <atx-tag-configuration
        [asset]="(selectedAsset$ | async) ?? ''"
        [isTagConfigExpanded]="isTagConfigExpanded"
        (expandFn)="expand($event)"
        (collapseFn)="collapse($event)"
        (gridPostInitFn)="setTagConfigGridApi($event)"
        style="height: 100%"
      ></atx-tag-configuration>
    </div>
  </div>
</ng-container>
