.users-grid-container {
  overflow: hidden;
  height: calc(100% - 42px);
}

.users-grid-header {
  display: flex;
  margin: 4px 4px -5px 4px;
  padding: 0;
  height: 35px;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
}

.mat-standard-chip {
  min-height: 24px !important;
  font-size: 12px;
}

.users-grid-header-bg-dark {
  background-color: #222628;
}

.users-grid-header-bg-light {
  background-color: #fff;
}

.header-left {
  margin: 5px;
  float: left;
  display: flex;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.users-grid-body {
  height: calc(100% - 48px);
}

.users-grid-body ag-grid-angular {
  margin: 4px;
}

button:focus {
  outline: 0;
}

button:focus .mat-icon-full {
  animation: rotate 1s ease-in-out 0s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-grid-formats {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}

.enable-click {
  pointer-events: auto;
}

::ng-deep {
  .ag-theme-alpine {
    .lower-limit-cell {
      background-color: #e2bd68;
    }

    .upper-limit-cell {
      background-color: #e2bd68;
    }

    .ag-header-cell-text {
      color: #303030 !important;
    }

    .ag-row-odd {
      background: #f6f6f6;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: rgba(110, 160, 157, 0.063) !important;
    }

    .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .ag-side-bar {
      background: #fafafa !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .lower-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .upper-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: rgba(110, 160, 157, 0.125) !important;
    }

    .ag-side-buttons {
      padding-top: 12px;
      //background-color: #303030;
    }
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }
}
