<div class="users-grid-container">
  <mat-card
    class="users-grid-header"
    [ngClass]="{
      'users-grid-header-bg-dark': (navFacade.theme$ | async) === 'dark',
      'users-grid-header-bg-light': (navFacade.theme$ | async) === 'light'
    }"
  >
    <div class="header-left" *ngIf="filters !== null">
      <span
        style="top: 8px; left: 9px; position: absolute"
        *ngIf="filters.length === 0"
      >
        <mat-icon>filter_alt_outline</mat-icon>
      </span>
      <button
        matTooltip="Clear Filters"
        class="mat-icon-button"
        mat-icon-button
        *ngIf="filters.length > 0"
        (click)="clearFilters()"
      >
        <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
      </button>
      <mat-chip-list #chipList aria-label="Filters">
        <mat-chip
          *ngFor="let filter of filters; trackBy: trackByFn"
          [removable]="filter.Removable"
          (removed)="removeFilter(filter)"
        >
          {{ filter.DisplayName }}
          <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>

  <div class="users-grid-body" #usersGridBody>
    <ag-grid-angular
      class="ag-grid-formats enable-click"
      [ngClass]="
        (navFacade.theme$ | async) === 'light'
          ? 'ag-theme-alpine'
          : (navFacade.theme$ | async) === 'dark'
          ? 'ag-theme-alpine-dark'
          : 'ag-theme-alpine-dark'
      "
      [modules]="modules"
      [gridOptions]="gridOptions"
      (selectionChanged)="selectionChanged($event)"
    >
    </ag-grid-angular>
  </div>
</div>
