.side-nav {
  height: 100%;
  overflow: auto;
}

.launchpad-container.collapse {
  max-height: 100px;
  transition: max-height 0.5s ease-in;
}

.launchpad-container {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.main-nav {
  height: 100%;
  overflow: hidden;
}

.main-content.collapse {
  height: calc(100% - 110px) !important;
}

.main-content {
  height: calc(100% - 20px);
  padding-bottom: 20px !important;
  width: 100%;
}

.main-content-header {
  height: 50px;
  position: relative;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

.main-content-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 25% !important;
  min-width: 250px !important;
  margin-top: 6px !important;
}

.main-content-report {
  height: calc(100% - 30px);
  overflow: auto;
}

.h-100 {
  height: 100%;
}

.mr-12 {
  margin-right: 12px;
}

.view-refresh-btn {
  position: absolute;
  top: 25%;
  right: 5px;
  cursor: pointer;
}

::ng-deep {
  .view-explorer-container .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .view-explorer-container .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .view-explorer-container .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .view-explorer-container .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .view-explorer-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .view-explorer-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .view-explorer-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .view-explorer-container .mat-form-field-underline {
    bottom: auto !important;
  }
  mat-form-field .mat-icon-button {
    display: content !important;
    top: 5px;
    height: 24px !important;
    width: 24px !important;
  }
}
