<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [showTimeSlider]="showTimeSlider$ | async"
  [leftTrayMode]="layoutMode$ | async"
  [leftTraySize]="leftTraySize$ | async"
  [leftTrayOpen]="assetTreeSelected$ | async"
  [rightTrayOpen]="isEditMode$ | async"
  [leftTraySizeMin]="150"
  [rightTraySize]="300"
  rightTrayMode="side"
>
  <div class="side-nav">
    <atx-asset-tree
      [needScroll]="true"
      [treeState]="assetTreeConfiguration$ | async"
      (stateChange)="onAssetTreeStateChange($event)"
    >
    </atx-asset-tree>
  </div>

  <div class="main-nav view-explorer-container">
    <div class="main-content-header">
      <div class="main-content-selector">
        <mat-form-field appearance="fill" color="accent" class="mr-12">
          <mat-select
            [value]="selectedViewID$ | async"
            (selectionChange)="selectView($event)"
            [formControl]="viewSelector"
          >
            <mat-option
              *ngFor="let view of views$ | async"
              [value]="view.ReportID"
            >
              {{ view.ReportAbbrev }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-flat-button
          (click)="onCreateView()"
          [disabled]="(isEditMode$ | async) === true"
          class="mr-12"
        >
          <mat-icon>add_circle_outline</mat-icon>
          New View
        </button>
        <button
          mat-flat-button
          (click)="onStartEditMode()"
          [disabled]="isEditMode$ | async"
          class="mr-12"
        >
          <mat-icon>mode_edit</mat-icon>
          Edit
        </button>
        <ng-container *ngIf="selectedView$ | async">
          <button
            style="
              min-width: 36px;
              border-radius: 25px;
              padding-left: 2px;
              padding-right: 2px;
            "
            mat-flat-button
            color="primary"
            [matMenuTriggerFor]="moreActions"
            disabled="false"
            data-cy="morOptionsBtn"
          >
            <mat-icon
              color="accent"
              style="font-size: 20px; padding-left: 4px; padding-top: 2px"
              >more_vertical</mat-icon
            >
          </button>
          <mat-menu #moreActions="matMenu">
            <button
              (click)="copyReportLink('asShown')"
              mat-menu-item
              data-cy="copyReportLinkAsShownBtn"
            >
              <mat-icon class="material-icons-outlined">link</mat-icon>Copy
              Report Link (As Shown)
            </button>
            <button
              (click)="copyReportLink('live')"
              mat-menu-item
              data-cy="copyReportLinkLiveBtn"
            >
              <mat-icon class="material-icons-outlined">link</mat-icon>Copy
              Report Link (Live)
            </button>
            <button mat-menu-item (click)="onDeleteView()">
              <mat-icon>delete</mat-icon> Delete View
            </button>
            <button
              mat-menu-item
              *ngIf="(authFacade.dashboardsTaskCenterAccess$ | async)?.CanEdit"
              (click)="editView()"
            >
              <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
              Edit in View Explorer
            </button>
          </mat-menu>
        </ng-container>
      </div>
      <!-- <mat-icon class="view-refresh-btn" mat-icon-button (click)="reloadView">refresh</mat-icon> -->
    </div>
    <div class="main-content">
      <div
        class="main-content-report"
        *ngIf="selectedView$ | async; else noViewSelected"
      >
        <atx-view
          [theme]="theme$ | async"
          [view]="selectedView$ | async"
        ></atx-view>
      </div>
      <ng-template #noViewSelected>
        <div class="main-content-report">
          <div *ngIf="viewsLoading$ | async; else noViews">
            <h1 style="margin: 10px">Loading ...</h1>
          </div>
          <ng-template #noViews>
            <mat-card style="margin: 10px 20px">
              <mat-card-title>No Reports for this Asset</mat-card-title>
              <mat-card-subtitle
                >No custom reports were found for this selected
                asset.</mat-card-subtitle
              >
            </mat-card>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>

  <atx-dashboard-right-side-nav
    class="right-side-nav h-100"
  ></atx-dashboard-right-side-nav>
</atx-horizontal-layout>

<atx-time-slider
  *ngIf="showTimeSlider$ | async"
  [timeSliderState]="timeSliderState$ | async"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
