<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Code From Token Generator</h2>
      <mat-error *ngIf="state?.showError">
        {{ state?.errorMessage }}
      </mat-error>
      <mat-form-field
        class="full-width-input"
        [hideRequiredMarker]="true"
        floatLabel="Code"
        appearance="fill"
      >
        <input
          matInput
          type="text"
          placeholder="######"
          formControlName="code"
          autocomplete="off"
        />
        <mat-error>
          Please provide the 6 digit code from the token generator.
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
