<div class="atonix-redirect-container">
  Prometheus APM is moving to a new location. &nbsp; &nbsp; &nbsp;
  <a routerLink="" (click)="redirectToAtonix()" class="link-color"
    >Use it now</a
  >
  <div class="button-container">
    <button
      (click)="snackBarRef.dismiss()"
      mat-button
      mat-icon-button
      aria-label="Clear"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
