.link-color {
  color: #79c250;
  cursor: pointer;
}
.button-container {
  flex-shrink: 0;
  margin: -8px -8px -8px 8px;
}
.atonix-redirect-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  opacity: 1;
}
