<h2 mat-dialog-title>Cannot Delete Axis</h2>

<mat-dialog-content class="custom-dialog-content">
  {{ data.errorMessage }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="accent" mat-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>
