.model-trend-chart {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
}
.mat-icon-half {
  transition: all 0.3s ease-out !important;
}
.clicked {
  transform: rotate(180deg);
}

// .tab-container .chart-container {
//   min-height: unset !important;
//   min-width: unset !important;
//   /*The height needs to be 100% because this applies
//   to some divs inside the chart component that need to be 100%*/
//   height: 100% !important;
//   width: 100%;
//   position: absolute;
//   border: 0px !important;
// }
