.blog-tab-container {
  height: 100%;
  overflow: auto;
}

.space-above {
  margin-top: 15px;
}

.right-item {
  margin-left: 20px;
}

.spinner {
  position: absolute;
  right: 0;
}

.config-container {
  margin: 15px 20px 0px;
}

.auto-gen-checkbox {
  margin: 7px 0px 0px 40px;
}

.action-btn {
  height: 40px;
  margin-left: 10px;
}

.expansion-container {
  height: 100%;
  margin: 0px 20px;
}

.title-label {
  align-self: center;
}

.file-uploader-container {
  margin-top: 10px;
  padding: 0px 10px 10px;
  text-align: center;
  border: 1px solid rgba(160, 160, 160, 0.3);
}

.file-uploader-container > h2,
h5,
.file-btn {
  margin: 0px !important;
}

::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }

  .mat-expansion-panel-body {
    padding-bottom: 0px !important;
  }

  .mat-action-row {
    border: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  .action-btn > #mat-badge-content-1 {
    width: 40px !important;
    border-radius: 20px !important;
  }
}
