<h3 mat-dialog-title>
  {{ headerText }}
</h3>
<mat-dialog-content>
  <div *ngIf="siblingToSibling === true; else reParent">
    <mat-radio-group fxLayout="column" fxLayoutGap="15px grid">
      <ng-container *ngFor="let option of options">
        <mat-radio-button
          (change)="onChange($event)"
          [value]="option.action"
          [checked]="option.checked"
        >
          <span [title]="option.text">
            {{ option.text }}
          </span>
        </mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </div>
  <ng-template #reParent>
    <div>
      <p class="reparent-text" [title]="reParentText">{{ reParentText }}</p>
    </div>
  </ng-template>
  <div *ngIf="showError" class="error">
    <span>Error: Please select one of the options.</span>
  </div>
  <div *ngIf="!siblingToSibling && showTickbox" class="session">
    <mat-checkbox
      labelPosition="after"
      [checked]="saveSession"
      (change)="onTickSaveSession($event)"
      >Don't show this anymore in current session</mat-checkbox
    >
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button [autofocus]="false" mat-button (click)="onCancel()">Cancel</button>
  <button
    [autofocus]="false"
    mat-flat-button
    color="accent"
    (click)="onContinue()"
  >
    Save Action
  </button>
</div>
