.text-section {
  margin-top: 10px;
  width: 100%;
  height: 350px;
  overflow: auto;
  white-space: pre-line;
}

mat-dialog-content {
  height: 100px;
  overflow: hidden;
  display: block;
}

mat-radio-button {
  padding: 8px 0 !important;
  margin: 0 !important;
}

.error {
  margin-top: 15px;
  color: red;
}

.session {
  margin-top: 50px;
}

::ng-deep {
  .mat-radio-ripple {
    height: 0 !important;
    width: 0 !important;
  }
  .mat-radio-label-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // disable auto-focus on button
  // .mat-button-focus-overlay {
  //   background: none !important;
  // }
}
.reparent-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
