<h3 mat-dialog-title>Are you sure you want to continue?</h3>
<mat-dialog-content>
  <div *ngIf="text.length === 0; else showText">
    This action cannot be undone.
  </div>
  <ng-template #showText>
    <div>
      If you proceed, the following may not continue to work the same as it does
      currently...
      <section [innerText]="text" class="text-section"></section>
    </div>
  </ng-template>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="accent" (click)="onContinue()">
    Continue
  </button>
</div>
