.main-content {
  display: flex;
  flex-direction: column;
}

.groups-container {
  height: calc(100% - 50px);
}

.new-group-button {
  margin-top: 5px;
  margin-left: 5px;
}

mat-drawer-content {
  width: 50%;
}

.groups-config-drawer {
  min-width: 50%;
  height: 100%;
}
