<ng-container class="main-content" *ngIf="vm$ | async as vm">
  <mat-drawer-container class="groups-container">
    <mat-drawer-content>
      <button
        mat-stroked-button
        class="new-group-button"
        aria-label="Add New Group"
        (click)="openCreateNewGroupDialog()"
        [disabled]="
          (userAdminRxjsFacade.query.selectedCustomer$ | async) === null
        "
      >
        <mat-icon color="accent"> add_circle_outline </mat-icon>
        Add New Group
      </button>

      <atx-groups-list
        [isLoading]="vm.isLoading"
        [groups]="vm.groups"
        [filters]="vm.filters"
        [selectedGroup]="vm.selectedGroup"
      ></atx-groups-list>
    </mat-drawer-content>

    <mat-drawer mode="side" position="end" opened class="groups-config-drawer">
      <ng-container>
        <atx-user-admin-group-details-view-tabs
          [selectedGroup]="vm.selectedGroup"
          [isLoading]="vm.isLoading"
          [rolePermissions]="vm.rolePermissions"
          [isMembersSubTabDirty]="vm.isMembersSubTabDirty"
          [isRolesSubTabDirty]="vm.isRolesSubTabDirty"
          [nameIsDirty]="vm.nameIsDirty"
          [activeIsDirty]="vm.activeIsDirty"
          [users]="vm.users"
          [filteredMembers]="vm.filteredMembers"
        ></atx-user-admin-group-details-view-tabs>
      </ng-container>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
