.series-tab-container {
  overflow-x: scroll;
  width: calc(100% - 12px);
  height: calc(100% - 20px);
  margin: 5px;
  padding: 0px 0px 8px 0px;
  box-shadow: unset !important;
  border-radius: 0;
}

::ng-deep.default-dark-theme {
  .series-tab-container {
    background-color: #222628 !important;
    border: solid 1px #5e5e5e;
  }
}

::ng-deep.default-dark-theme {
  .series-header {
    background-color: #424242 !important;
    width: 100%;
  }
}

::ng-deep.alternative-light-theme {
  .series-tab-container {
    border: solid 1px #dde2eb;
  }
}

.series-header {
  font-size: 14px;
  height: 40px;
  min-width: 1530px;
}

.series-div {
  height: calc(100% - 40px);
  min-width: 1530px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 12px;
  padding-left: 12px;
}

.header-text {
  font-weight: 500;
  text-align: left;
}

.icon-field {
  min-width: 50px;
  padding-left: 5px;
}

.series-field {
  min-width: 480px;
  padding-left: 5px;
}

.name-field {
  min-width: 375px;
  padding-left: 5px;
}

.series-field .mat-form-field {
  width: 100%;
}

.name-field .mat-form-field {
  width: 100%;
}

.dropdown-field {
  width: 100px;
  min-width: 100px;
}

td.icon-field {
  vertical-align: middle;
  text-align: center;
}

.space-left {
  margin-left: 20px;
}

.draggable-series {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable-series:active,
.draggable-series:focus {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

::ng-deep {
  .default-dark-theme .series-tab-container .mat-mini-fab {
    background-color: #61616141 !important;
  }

  .alternative-light-theme .series-tab-container .mat-mini-fab {
    background: #f5f5f552 !important;
  }

  .series-tab-container,
  .series-toolbar {
    .mat-form-field-wrapper {
      padding-bottom: 0px !important;
    }

    .mat-form-field-underline {
      bottom: 0 !important;
    }

    .mat-form-field-underline {
      bottom: 0 !important;
    }
  }

  .mat-form-field-label-wrapper {
    margin: 0;
  }
  .mat-form-field-infix {
    border-top: 1em solid transparent;
    padding-top: 0 !important;
  }

  .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .mat-select-value {
    padding-top: 0 !important;
  }

  .mat-form-field-suffix .mat-icon-button {
    height: 24px !important;
    width: 24px !important;
    top: 4px;
  }

  .mat-expansion-panel {
    margin-bottom: 5px !important;
  }

  .mat-expansion-panel-body {
    padding-top: 16px !important;
  }

  .color-field .mat-form-field-infix {
    border-top-width: 10px !important;
  }
}

.mat-error {
  margin-top: 8px;
  word-wrap: none;
}

input[type='color'] {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.show-filter {
  margin-top: 5px;
}
