<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="seriesVm$ | async as seriesVm">
    <mat-card class="series-tab-container mat-elevation-z4">
      <mat-toolbar class="series-header">
        <tr class="header-text">
          <th class="icon-field"></th>
          <th class="icon-field"></th>
          <th class="icon-field">Color</th>
          <th class="series-field">Series Name</th>
          <th class="name-field">Tag Name</th>
          <th style="padding-left: 5px" class="dropdown-field">Axis Units</th>
          <th style="padding-left: 5px" class="dropdown-field">Stack Type</th>
          <th class="icon-field">Bold</th>
          <th class="icon-field">X Axis</th>

          <th>
            <button
              class="data-media-icon"
              mat-button
              [disabled]="!seriesVm.isDirty"
              color="accent"
              (click)="updateChart()"
              matTooltip="Update Chart"
            >
              <mat-icon>cached</mat-icon>
              Update Chart
            </button>
          </th>
        </tr>
      </mat-toolbar>

      <mat-divider style="min-width: 1530px"></mat-divider>
      <ng-container *ngIf="vm.trendsLoading">
        <div
          style="margin-top: 20px; margin-left: 30px"
          fxLayoutGap="10px"
          fxLayoutAlign="start center"
        >
          <ngx-skeleton-loader
            [theme]="{
              width: '36px',
              height: '36px',
              background: 'rgba(160,160,160,0.1)',
              'border-radius': '50px',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '36px',
              height: '36px',
              background: 'rgba(160,160,160,0.1)',
              'border-radius': '50px',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '20px',
              height: '20px',
              background: 'rgba(160,160,160,0.1)',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>

          <ngx-skeleton-loader
            [theme]="{
              width: '280px',
              height: '43px',
              background: 'rgba(160,160,160,0.1)',
              'border-radius': '4px',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '280px',
              height: '43px',
              background: 'rgba(160,160,160,0.1)',
              'border-radius': '4px',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '100px',
              height: '43px',
              background: 'rgba(160,160,160,0.1)',
              'border-radius': '4px',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '100px',
              height: '43px',
              background: 'rgba(160,160,160,0.1)',
              'border-radius': '4px',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '14px',
              height: '14px',
              margin: '0 0 10px 25px',
              background: 'rgba(160,160,160,0.1)',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '14px',
              height: '14px',
              margin: '0 0 10px 25px',
              background: 'rgba(160,160,160,0.1)',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '14px',
              height: '14px',
              margin: '0 0 10px 25px',
              background: 'rgba(160,160,160,0.1)',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              width: '14px',
              height: '14px',
              margin: '0 0 10px 25px',
              background: 'rgba(160,160,160,0.1)',
              'pointer-events': 'none'
            }"
            animation="pulse"
            count="1"
          ></ngx-skeleton-loader></div
      ></ng-container>
      <div
        class="series-div"
        fxLayout="column"
        fxLayoutAlign="start start"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <form [formGroup]="seriesForm">
          <ng-container *ngIf="!vm.trendsLoading">
            <div formArrayName="series">
              <div
                *ngFor="let s of series.controls; let i = index"
                cdkDrag
                data-cy="seriesRow"
              >
                <div [formGroupName]="i">
                  <tr>
                    <td class="icon-field">
                      <button
                        class="draggable-series"
                        mat-icon-button
                        matTooltip="Reorder Series"
                        cdkDragHandle
                        data-cy="dragBtn"
                      >
                        <mat-icon style="padding-bottom: 4px"
                          >drag_indicator</mat-icon
                        >
                      </button>
                    </td>
                    <td class="icon-field">
                      <button
                        (click)="seriesVisibilityToggle(i)"
                        mat-mini-fab
                        style="height: 30px; width: 30px"
                        matTooltipPosition="right"
                        matTooltip="Show/hide Series"
                        data-cy="showHideBtn"
                      >
                        <mat-icon
                          style="font-size: 18px"
                          [color]="
                            (vm.selectedTrend?.trendDefinition?.Series)[i]
                              .visible
                              ? 'accent'
                              : 'primary'
                          "
                        >
                          {{
                            (vm.selectedTrend?.trendDefinition?.Series)[i]
                              ?.visible
                              ? 'visibility'
                              : 'visibility_off'
                          }}</mat-icon
                        >
                      </button>
                    </td>
                    <td class="icon-field">
                      <atx-color-picker
                        [seriesColor]="
                          (vm.selectedTrend?.trendDefinition?.Series)[i]
                            ?.SeriesColor
                        "
                        [seriesIndex]="i"
                        [isGroupedSeries]="false"
                      ></atx-color-picker>
                    </td>
                    <td class="series-field">
                      <mat-form-field color="accent" appearance="fill">
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="seriesName"
                        />
                      </mat-form-field>
                    </td>
                    <td class="name-field">
                      <mat-form-field color="accent" appearance="fill">
                        <input
                          matInput
                          autocomplete="off"
                          formControlName="tagName"
                        />
                      </mat-form-field>
                    </td>
                    <td style="padding-left: 5px" class="dropdown-field">
                      <mat-form-field
                        class="dropdown-field"
                        color="accent"
                        appearance="fill"
                      >
                        <mat-select formControlName="axisUnits">
                          <mat-option
                            *ngFor="let axis of axes"
                            [value]="axis.Axis"
                            >{{ axis.Title }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td style="padding-left: 5px" class="dropdown-field">
                      <mat-form-field
                        class="dropdown-field"
                        color="accent"
                        appearance="fill"
                      >
                        <mat-select formControlName="stackType">
                          <mat-option value="">Default</mat-option>
                          <mat-option value="normal">Normal</mat-option>
                          <mat-option value="percent">Percent</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td class="icon-field">
                      <mat-checkbox
                        data-cy="isBoldBox"
                        [checked]="
                          (vm.selectedTrend?.trendDefinition?.Series)[i].isBold
                        "
                        (change)="boldToggle(i)"
                      ></mat-checkbox>
                    </td>
                    <td class="icon-field">
                      <mat-checkbox
                        data-cy="xAxisBox"
                        [checked]="
                          (vm.selectedTrend?.trendDefinition?.Series)[i].IsXAxis
                        "
                        (change)="
                          xAxisChecked(
                            i,
                            (vm.selectedTrend?.trendDefinition?.Series)[i]
                          )
                        "
                      ></mat-checkbox>
                    </td>
                    <td class="icon-field">
                      <button
                        (click)="removeSeries(i)"
                        mat-icon-button
                        matTooltip="Delete Series"
                      >
                        <mat-icon style="font-size: 18px"
                          >delete_outline</mat-icon
                        >
                      </button>
                    </td>
                    <td class="icon-field">
                      <button
                        (click)="filterToggle(i)"
                        matTooltip="Filter Series"
                        mat-icon-button
                      >
                        <mat-icon
                          [class]="
                            seriesVm.seriesFilter[i].isFilterActive
                              ? ''
                              : 'material-icons-outlined'
                          "
                          style="font-size: 18px"
                          [color]="
                            seriesVm.seriesFilter[i].isFilterActive
                              ? 'accent'
                              : 'white'
                          "
                        >
                          filter_alt</mat-icon
                        >
                      </button>
                    </td>
                  </tr>
                  <mat-expansion-panel
                    style="min-width: 1000px"
                    [ngClass]="{
                      'show-filter':
                        (vm.selectedTrend?.trendDefinition?.Series)[i]
                          .showFilter
                    }"
                    hideToggle
                    [expanded]="
                      (vm.selectedTrend?.trendDefinition?.Series)[i].showFilter
                    "
                  >
                    <div
                      class="min-max-container"
                      fxLayout="row wrap"
                      fxLayoutAlign="center"
                    >
                      <div
                        class="minimum-container"
                        fxLayout="row wrap"
                        fxLayoutAlign="start center"
                      >
                        <mat-label>Minimum:</mat-label>
                        <mat-form-field
                          class="form-field"
                          appearance="fill"
                          color="accent"
                        >
                          <input
                            matInput
                            autocomplete="off"
                            type="number"
                            formControlName="filterMin"
                          />
                        </mat-form-field>
                      </div>
                      <div
                        class="maximum-container space-left"
                        fxLayout="row wrap"
                        fxLayoutAlign="start center"
                      >
                        <mat-label>Maximum:</mat-label>
                        <mat-form-field
                          class="form-field"
                          appearance="fill"
                          color="accent"
                        >
                          <input
                            matInput
                            autocomplete="off"
                            type="number"
                            formControlName="filterMax"
                          />
                        </mat-form-field>
                      </div>
                      <div
                        class="flatline-container space-left"
                        fxLayout="row wrap"
                        fxLayoutAlign="start center"
                      >
                        <mat-label>Flatline Threshold:</mat-label>
                        <mat-form-field
                          class="form-field"
                          appearance="fill"
                          color="accent"
                        >
                          <input
                            matInput
                            autocomplete="off"
                            type="number"
                            formControlName="flatlineThreshold"
                          />
                        </mat-form-field>
                      </div>
                      <div class="space-left" fxLayoutAlign="start center">
                        <mat-checkbox formControlName="applyFilterToAll"
                          >Apply filtered periods to all series</mat-checkbox
                        >
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </mat-card>
  </ng-container>
</ng-container>
