<div class="mt-4 p-2">
  <form
    [formGroup]="adviceForm"
    class="flex flex-col justify-center items-center"
  >
    <mat-form-field appearance="fill" class="form-input">
      <mat-label>Industry/Application</mat-label>
      <input matInput formControlName="application" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-input">
      <mat-label>Asset Type</mat-label>
      <input matInput formControlName="assetType" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-input">
      <mat-label>Parameter Type</mat-label>
      <input matInput formControlName="parameterType" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-input">
      <mat-label>Parameter Direction</mat-label>
      <input
        matInput
        formControlName="parameterModifier"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option value="Increasing">Increasing</mat-option>
        <mat-option value="Decreasing">Decreasing</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="flex justify-end mr-3">
    <button
      mat-raised-button
      color="accent"
      [disabled]="adviceForm.invalid"
      (click)="onSubmitAdviceForm()"
    >
      Submit
    </button>
  </div>

  <div
    *ngIf="aiResponseLoading$ | async; else aiOutput"
    class="flex items-center justify-center"
  >
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #aiOutput>
    <mat-form-field class="w-full box-border">
      <textarea
        matInput
        readonly
        class="advice-output"
        [formControl]="adviceOutput"
        placeholder="Fill out the form above, then hit submit."
      ></textarea>
    </mat-form-field>
  </ng-template>
</div>
