<form fxLayout="column" [formGroup]="summaryEditorForm">
  <editor formControlName="content" [init]="initSummaryEditor"></editor>

  <div
    class="file-uploader-container"
    atxDragDrop
    (fileDropped)="uploadFile($event)"
  >
    <h2>Drop your file here.</h2>
    <h5>or</h5>
    <input
      hidden
      type="file"
      #uploader
      (change)="uploadFile($event.target.files)"
      (click)="uploader.value = null"
    />
    <button
      class="select-file-btn"
      mat-flat-button
      color="primary"
      (click)="uploader.click()"
    >
      Select File...
    </button>
  </div>

  <div *ngIf="isUploading" style="margin-top: 3px">
    <mat-progress-bar
      class="top-progress-bar"
      color="accent"
      mode="indeterminate"
    ></mat-progress-bar>
  </div>

  <div fxLayout="row" fxLayoutAlign="end" class="action-btn-container">
    <p *ngIf="exceedsLimit" class="saving-error">
      <span>*</span> Unable to save. Message body exceeds 10MB limit. Please
      reduce large items or add as attachments.
    </p>
    <button class="action-btn" mat-button (click)="cancel()">Cancel</button>
    <button
      class="action-btn"
      mat-flat-button
      color="accent"
      *ngIf="
        summaryState?.IssueGuid &&
        summaryState?.IssueGuid !== '00000000-0000-0000-0000-000000000000'
      "
      [class.save-spinner]="summaryState?.saving"
      [disabled]="summaryState?.saving || isUploading || exceedsLimit"
      (click)="save()"
    >
      <mat-icon
        style="padding-bottom: 2px; padding-right: 2px"
        class="material-icons-outlined"
        >save</mat-icon
      >Save
    </button>
  </div>
</form>
