:host {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .entryContent * a {
    color: rgb(21, 175, 234) !important;
  }
}

.widget-text-title {
  padding: 10px !important;
  font-size: 1.175em;
  font-weight: 500;
  width: 80%;
}

.widget-text-subtitle {
  font-size: 1em;
  line-height: 1;
  padding-left: 15px;
  width: 80%;
}
.entryContent {
  font-size: 1em;
  padding: 5px 10px 0px 15px;
  width: calc(100% - 25px);
}

.textContainer {
  height: calc(100% - 5px);
  width: 100%;
  overflow: auto;
}
.editor-container {
  padding: 8px;
  height: 100%;
}
.editor-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.h-100 {
  height: 100%;
}
