<div class="textContainer" (dblclick)="onDoubleClick()">
  <div class="widget-text-title">
    {{ widget?.Title }}
  </div>
  <div class="widget-text-subtitle">
    {{ widget?.Subtitle }}
  </div>
  <form
    [formGroup]="editorForm"
    *ngIf="showEditor; else showContent"
    class="editor-container"
  >
    <editor
      formControlName="content"
      [init]="initSummaryEditor"
      class="h-100"
    ></editor>
    <div class="editor-buttons">
      <button mat-raised-button (click)="onCancelEdit($event)" type="button">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onDoneEdit($event)"
        type="button"
      >
        Done
      </button>
    </div>
  </form>
  <ng-template #showContent>
    <div class="entryContent" [innerHTML]="safeContent"></div>
  </ng-template>
</div>
