<ng-container>
  <div class="user-details-tabs-container">
    <mat-tab-group
      class="user-details-tabs-group"
      animationDuration="0ms"
      color="accent"
      [(selectedIndex)]="selectedIndex"
    >
      <ng-container>
        <mat-tab>
          <ng-template mat-tab-label
            >Details<ng-container *ngIf="isDetailsSubTabDirty === true">
              <span><i class="material-icons">pending</i></span>
            </ng-container></ng-template
          >
          <ng-template matTabContent>
            <atx-user-admin-user-details-info
              [selectedUser]="selectedUser"
              [isLoading]="isLoading"
              (initiatePasswordReset)="initiatePasswordReset.emit($event)"
            ></atx-user-admin-user-details-info>
          </ng-template>
        </mat-tab>
      </ng-container>
      <ng-container>
        <mat-tab>
          <ng-template mat-tab-label
            >Roles<ng-container *ngIf="isRolesSubTabDirty === true">
              <span><i class="material-icons">pending</i></span>
            </ng-container></ng-template
          >
          <ng-template matTabContent>
            <atx-user-admin-user-role-perms
              [selectedUser]="selectedUser"
              [isLoading]="isLoading"
              [rolePermissions]="rolePermissions"
            ></atx-user-admin-user-role-perms>
          </ng-template>
        </mat-tab>
      </ng-container>
      <ng-container>
        <mat-tab>
          <ng-template mat-tab-label
            >Groups<ng-container *ngIf="isGroupsSubTabDirty === true">
              <span><i class="material-icons">pending</i></span>
            </ng-container></ng-template
          >
          <ng-template matTabContent>
            <atx-user-admin-user-groups
              [selectedUser]="selectedUser"
              [isLoading]="isLoading"
              [groupPermissions]="groupPermissions"
            ></atx-user-admin-user-groups>
          </ng-template>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</ng-container>
