<div class="dialog-container" *ngIf="validationData$ | async as data">
  <mat-dialog-content>
    <div class="flex-col">
      <h1 class="mt-0">Operating Mode Save</h1>
      <ng-container
        *ngIf="!data?.suppressAffectedModelList; else suppressAffectedModelList"
      >
        <span
          >{{ data.affectedModelCount }}
          {{ data.affectedModelCount > 1 ? 'models' : 'model' }} use this op
          mode in their definition and you may want to update them:</span
        >
      </ng-container>
      <ng-template #suppressAffectedModelList>
        <span>
          The Op Mode you are saving is associated to a Station level or higher
          and may affect a number of models too large to list here. Please save
          to continue
        </span>
      </ng-template>

      <ng-container *ngIf="!data?.suppressAffectedModelList">
        <div class="save-dialog-table">
          <table
            mat-table
            [dataSource]="data.affectedModels"
            class="mat-elevation-z1"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Model Name</th>
              <td mat-cell *matCellDef="let data" data-cy="affectedModelName">
                {{ data.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="path">
              <th mat-header-cell *matHeaderCellDef>Model Path</th>
              <td mat-cell *matCellDef="let data" data-cy="affectedModelPath">
                {{ data.path }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
              style="font-weight: bold"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div class="flex flex-col">
          <mat-checkbox
            [ngModel]="setModelMaintenance"
            (ngModelChange)="setMaintenance()"
            >Set model maintenance and the following note for the affected
            {{ data.affectedModelCount > 1 ? 'models' : 'model' }}</mat-checkbox
          >
          <mat-label>Model Maintenance Note:</mat-label>
          <mat-form-field style="width: 100%">
            <textarea
              [formControl]="maintenanceNote"
              matInput
              rows="5"
            ></textarea>
            <mat-error *ngIf="maintenanceNote.invalid">
              Maintenance note is required
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close data-cy="cancelOpModeBtn">
      Cancel
    </button>
    <button
      mat-flat-button
      color="accent"
      (click)="saveOpMode()"
      [disabled]="maintenanceNote.invalid"
      data-cy="saveOpModeBtn"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
