table {
  width: 100%;
}

.dialog-container {
  height: 100%;
}

.save-dialog-table {
  height: 200px;
  overflow: auto;
  margin-bottom: 5px;
}

.save-dialog-table .mat-header-row {
  height: 40px;
}
