<div class="chart-list-container">
  <mat-toolbar> Charts </mat-toolbar>

  <ng-container *ngIf="vm$ | async as vm">
    <div id="searchBox" fxLayoutAlign="space-around center">
      <mat-form-field color="accent">
        <input
          id="assetAutoComplete"
          placeholder="Chart Search"
          aria-label="Chart Search"
          matInput
          [matAutocomplete]="auto"
          [formControl]="chartSearchInputCtrl"
          [disabled]="!vm.trends || vm.trends.length <= 0"
          (focus)="clearFilters()"
        />
        <mat-autocomplete
          class="chart-search-autocomplete"
          #auto="matAutocomplete"
          (optionSelected)="selectChart($event)"
        >
          <mat-option *ngFor="let chart of filteredTrends" [value]="chart">
            {{ getLabel(chart, vm.selectedTrend, vm.dirtyTrends) }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-icon>search</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <mat-selection-list
      class="context-list-container"
      #charts
      (selectionChange)="selectionChange($event)"
      [multiple]="false"
      data-cy="chartList"
    >
      <mat-list-option
        class="model-context-node"
        *ngFor="let chart of vm.trends"
        [value]="chart.id"
        [matTooltip]="chart.label"
        [matTooltipPosition]="'right'"
        [matTooltipShowDelay]="500"
        [selected]="vm.selectedTrendID === chart.id"
        data-cy="chartListNames"
        ><span>
          <ng-container *ngIf="vm.isDirty[chart.id]">*</ng-container>
          {{ getLabel(chart, vm.selectedTrend, vm.dirtyTrends) }}</span
        >
      </mat-list-option>
    </mat-selection-list>
  </ng-container>
</div>
