.chart-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-toolbar {
  height: 36px;
  padding-left: 16px;
  padding-right: 2px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  margin-right: 0;
}

#searchBox {
  margin: auto;
  width: 200px;
  padding: 4px 0;
}

.context-list-container {
  position: relative;
  overflow: auto;
  min-width: 200px;
  height: calc(100% - 36px);
  z-index: 1;
}

.mat-list-item {
  height: 24px !important;
}

::ng-deep .context-list-container .mat-list-item-content {
  padding-left: 0px !important;
}

::ng-deep {
  .chart-list-container .mat-list-text {
    padding-left: 10px !important;
  }
}

.model-context-node {
  white-space: nowrap;
  position: relative;
  font-size: 14px;
}

::ng-deep .default-dark-theme {
  .mat-list-single-selected-option,
  .mat-list-single-selected-option:focus {
    background: var(--accent-250) !important;
  }

  .mat-list-item:hover {
    background: var(--accent-250h) !important;
  }
}

::ng-deep .alternative-light-theme {
  .mat-list-single-selected-option,
  .mat-list-single-selected-option:focus {
    background: var(--accent-200) !important;
  }

  .mat-list-item:hover {
    background: var(--accent-200h) !important;
  }
}

::ng-deep .chart-search-autocomplete {
  .mat-option {
    height: 4em !important;
  }
  .mat-option-text {
    white-space: pre-wrap;
    overflow: hidden;
    line-height: 1;
  }
}
