.criteria-container {
  margin: 10px;
}

.exclusion-criteria-input-container {
  margin: 10px;
}

.exclusion-criteria-input-container > mat-label {
  position: relative !important;
  top: -20px !important;
  min-width: 50px !important;
}

.non-exclusion-criteria-container {
  margin: 10px 20px 5px 20px;
  border: 1px solid gray;
}

.non-exclusion-criteria-header {
  border-bottom: 1px solid gray;
}

.non-exclusion-criteria-content {
  margin: 5px;
}

.non-exclusion-criteria-content > div > div > mat-select {
  margin: 0 5px;
  width: 40px;
}

.non-exclusion-criteria-content > div > div > input {
  margin: 0 5px;
  width: 50px;
}

.non-exclusion-criteria-content > div > div > button {
  scale: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
}

::ng-deep {
  .default-dark-theme {
    .non-exclusion-criteria-header {
      background-color: #6ea09d;
    }
  }
  .alternative-light-theme {
    .non-exclusion-criteria-header {
      background-color: #e0e0e0;
    }
  }

  .default-dark-theme .non-exclusion-criteria-content .mat-mini-fab {
    background-color: #61616141 !important;
  }

  .alternative-light-theme .non-exclusion-criteria-content .mat-mini-fab {
    background: #f5f5f552 !important;
  }

  .non-exclusion-criteria-content .mat-form-field-wrapper {
    width: 70px;
    padding-bottom: 0px !important;
  }

  .non-exclusion-criteria-content .mat-form-field-flex {
    padding-top: 0 !important;
    padding-bottom: 0px !important;
  }

  .non-exclusion-criteria-content .mat-form-field-underline {
    bottom: auto !important;
  }

  .non-exclusion-criteria-content .mat-form-field-flex {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .non-exclusion-criteria-content .mat-form-field-underline {
    bottom: auto !important;
  }

  .tag-drop-point {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .fill {
    width: 100%;
    height: 100%;
  }

  .criteria-control {
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    height: 40px;
    width: 46px;
    line-height: 40px;

    text-align: center;
  }
  .criteria-control .mat-autocomplete-panel mat-option {
    height: 45px;
  }
}
