<ng-container *ngIf="vm$ | async as vm">
  <div
    class="criteria-container"
    [formGroup]="$any(parentForm)"
    [ngSwitch]="criteriaViewType"
  >
    <ng-container
      *ngSwitchCase="eCriteriaViewType.StartCriteria"
      [formGroup]="$any(startCriteriaFormArray)"
    >
      <div class="mb-2">
        <button mat-raised-button (click)="addNewCriteria()">
          <mat-icon>add</mat-icon>
          Add Criteria
        </button>
      </div>
      <div
        class="flex-none overflow-y-scroll w-[650px]"
        *ngFor="
          let criteria of vm.selectedOpMode?.startCriteria;
          let idx = index;
          trackBy: criteriaGroupID
        "
        data-cy="criteriaItem"
      >
        <div style="border: 1px solid gray" [formGroupName]="idx">
          <div class="non-exclusion-criteria-header flex flex-row items-center">
            <div class="ml-2 font-bold w-1/2" data-cy="criteriaGroup">
              Criteria
              {{
                criteriaViewType === eCriteriaViewType.StartCriteria
                  ? 'A'
                  : 'E'
              }}{{ idx + 1 }} : {{ criteria.criteriaGroupID }}
            </div>
            <div class="w-1/2 justify-end text-right">
              <button
                mat-icon-button
                type="button"
                (click)="addCriteriaLogic(idx)"
                style="width: 20px; scale: 0.8"
                title="Add Critera Logic"
              >
                <mat-icon>add</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                style="scale: 0.7; width: 20px"
                (click)="deleteCriteria(idx)"
                title="Delete Criteria"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="non-exclusion-criteria-content">
            <div
              *ngFor="
                let logic of criteria.logic;
                let i = index;
                trackBy: criteriaLogicID
              "
              data-cy="criteriaLogic"
            >
              <div
                class="grid grid-flow-col-dense grid-cols-8 items-center"
                [formGroupName]="i"
              >
                <div class="col-span-5 fill">
                  <div class="flex flex-row justify-start tag-drop-point">
                    <div>{{ i === 0 ? 'If ' : '' }}</div>
                    <ng-container *ngIf="logic.tagID">
                      <div
                        class="ml-2 font-bold"
                        data-cy="criteriaLogicTagInfo"
                      >
                        {{ logic.tagDesc }} ({{ logic.tagName }})
                      </div>
                      <div class="ml-2">is</div>
                    </ng-container>
                    <ng-container *ngIf="!logic.tagID">
                      <div
                        class="ml-2 font-bold italic tag-drop-point"
                        (dragover)="onDragOver($event)"
                        (drop)="onDrop($event, idx, i)"
                      >
                        {{ '{' }} Drag and Drop Tag Here {{ '}' }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div>
                  <mat-select
                    class="criteria-control"
                    (selectionChange)="
                      logicOperatorChange($event.value, idx, i)
                    "
                    [value]="logic.logicOperatorTypeAbbrev"
                    data-cy="criteriaLogicSelect"
                  >
                    <mat-option
                      *ngFor="let op of logicalOperators"
                      [value]="op"
                    >
                      {{ op }}
                    </mat-option>
                  </mat-select>
                </div>
                <div>
                  <mat-form-field color="accent" appearance="fill">
                    <input
                      matInput
                      autocomplete="off"
                      formControlName="logicValue"
                      data-cy="criteriaLogicValue"
                  /></mat-form-field>
                </div>
                <div class="text-xs ml-1" data-cy="criteriaLogicUnit">
                  {{ logic.engUnits }}
                </div>
                <div>
                  <button
                    mat-icon-button
                    type="button"
                    style="scale: 0.7; width: 20px"
                    title="Delete Logic"
                    (click)="deleteLogic(idx, i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="criteria?.logic.length > i + 1">and</div>
            </div>
          </div>
        </div>

        <div *ngIf="vm.selectedOpMode?.startCriteria?.length > idx + 1">
          <span>or</span>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngSwitchCase="eCriteriaViewType.EndCriteria"
      [formGroup]="$any(endCriteriaFormArray)"
    >
      <div class="mb-2">
        <button mat-raised-button (click)="addNewCriteria()">
          <mat-icon>add</mat-icon>
          Add Criteria
        </button>
      </div>
      <div
        class="flex-none overflow-y-scroll w-[650px]"
        *ngFor="
          let criteria of vm.selectedOpMode?.endCriteria;
          let idx = index;
          trackBy: criteriaGroupID
        "
        data-cy="criteriaItem"
      >
        <div style="border: 1px solid gray" [formGroupName]="idx">
          <div class="non-exclusion-criteria-header flex flex-row items-center">
            <div class="ml-2 font-bold w-1/2" data-cy="criteriaGroup">
              Criteria
              {{
                criteriaViewType === eCriteriaViewType.StartCriteria
                  ? 'A'
                  : 'E'
              }}{{ idx + 1 }} : {{ criteria.criteriaGroupID }}
            </div>
            <div class="w-1/2 justify-end text-right">
              <button
                mat-icon-button
                type="button"
                (click)="addCriteriaLogic(idx)"
                style="width: 20px; scale: 0.8"
                title="Add Critera Logic"
              >
                <mat-icon>add</mat-icon>
              </button>
              <button
                mat-icon-button
                type="button"
                style="scale: 0.7; width: 20px"
                title="Delete Criteria"
                (click)="deleteCriteria(idx)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div class="non-exclusion-criteria-content">
            <div
              *ngFor="
                let logic of criteria.logic;
                let i = index;
                trackBy: criteriaLogicID
              "
              data-cy="criteriaLogic"
            >
              <div
                class="grid grid-flow-col-dense grid-cols-8 items-center"
                [formGroupName]="i"
              >
                <div class="col-span-5">
                  <div class="flex flex-row justify-start">
                    <div>{{ i === 0 ? 'If ' : '' }}</div>
                    <ng-container *ngIf="logic.tagID">
                      <div
                        class="ml-2 font-bold"
                        data-cy="criteriaLogicTagInfo"
                      >
                        {{ logic.tagDesc }} ({{ logic.tagName }})
                      </div>
                      <div class="ml-2">is</div>
                    </ng-container>
                    <ng-container *ngIf="!logic.tagID">
                      <div
                        class="ml-2 font-bold italic"
                        (dragover)="onDragOver($event)"
                        (drop)="onDrop($event, idx, i)"
                      >
                        {{ '{' }} Drag and Drop Tag Here {{ '}' }}
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div>
                  <mat-select
                    class="criteria-control"
                    (selectionChange)="
                      logicOperatorChange($event.value, idx, i)
                    "
                    [value]="logic.logicOperatorTypeAbbrev"
                    data-cy="criteriaLogicSelect"
                  >
                    <mat-option
                      *ngFor="let op of logicalOperators"
                      [value]="op"
                    >
                      {{ op }}
                    </mat-option>
                  </mat-select>
                </div>
                <div>
                  <mat-form-field color="accent" appearance="fill">
                    <input
                      matInput
                      autocomplete="off"
                      formControlName="logicValue"
                      data-cy="criteriaLogicValue"
                    />
                  </mat-form-field>
                </div>
                <div class="text-xs ml-1" data-cy="criteriaLogicUnit">
                  {{ logic.engUnits }}
                </div>
                <div>
                  <button
                    mat-icon-button
                    type="button"
                    style="scale: 0.7; width: 20px"
                    title="Delete Logic"
                    (click)="deleteLogic(idx, i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="criteria?.logic.length > i + 1">and</div>
            </div>
          </div>
        </div>

        <div *ngIf="vm.selectedOpMode?.endCriteria?.length > idx + 1">
          <span>or</span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
