<ng-container>
  <div style="height: calc(100% - 50px); overflow: auto">
    <div *ngIf="vm$ | async as vm">
      <div
        class="loading"
        *ngIf="vm.isLoading !== null && vm.isLoading === true; else loaded"
      >
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
        <b>Loading Customer Information</b>
      </div>
      <ng-template #loaded>
        <form
          *ngIf="vm.selectedCustomerDetails"
          [formGroup]="customerDetailsForm"
          class="customerForm"
        >
          <section class="customer-section-container">
            <h3>Edit Customer Name</h3>
            <mat-form-field
              appearance="fill"
              color="accent"
              class="customer-name-field"
            >
              <mat-label>Customer Name</mat-label>
              <input
                title="name"
                matInput
                formControlName="name"
                autocomplete="off"
              />
            </mat-form-field>
          </section>
          <mat-divider></mat-divider>
          <section class="customer-section-container">
            <h3>Associate Assets</h3>
            <p>
              Select an asset from the Navigator on the left and click the 'Add
              Asset' button to associate an asset with the selected customer.
            </p>
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="15px"
              class="customer-table-container"
            >
              <div class="tla-container">
                <atx-top-level-asset-tree
                  [nodes]="
                    userAdminRxjsFacade.query.customerTopLevelAssets$ | async
                  "
                  [selectedNode]="vm.selectedTopLevelAsset"
                  (nodeClicked)="onNodeClick($event)"
                ></atx-top-level-asset-tree>
              </div>
              <button
                mat-mini-fab
                color="accent"
                [disabled]="
                  !vm.selectedTopLevelAsset ||
                  (canEditCustomer !== null && canEditCustomer === false) ||
                  (selectedAssetExists !== null && selectedAssetExists === true)
                "
                (click)="addAsset()"
                aria-label="Associate Asset"
              >
                <mat-icon>add</mat-icon>
              </button>

              <div class="aa-container">
                <table
                  mat-table
                  [dataSource]="topLevelAssetsDataSource"
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="asset">
                    <th mat-header-cell *matHeaderCellDef>Associated Asset</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      [attr.aria-label]="element.AssetName"
                      [matTooltip]="
                        element.AssetName.length > 45 ? element.AssetName : ''
                      "
                    >
                      {{ element.AssetName }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="remove">
                    <th mat-header-cell *matHeaderCellDef>Remove</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <button
                        mat-icon-button
                        matTooltip="Remove Selected Asset"
                        (click)="removeSelectedAsset(i)"
                        [disabled]="
                          canEditCustomer !== null && canEditCustomer === false
                        "
                      >
                        <mat-icon> remove_circle </mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="
                      displayedTopLevelAssetsColumns;
                      sticky: true
                    "
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: displayedTopLevelAssetsColumns
                    "
                  ></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td
                      class="mat-cell"
                      [colSpan]="displayedTopLevelAssetsColumns.length"
                      style="text-align: center"
                    >
                      No associated assets
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
          <mat-divider></mat-divider>
          <section class="customer-section-container">
            <h3>Accepted Domains</h3>
            <p>
              To add accepted domain(s) to the selected customer, type a domain
              in the input below and click 'Add Domain'.
            </p>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
              <mat-form-field appearance="fill" color="accent" width="300vw">
                <mat-label>Email Domain</mat-label>
                <input
                  #emailDomain
                  matInput
                  formControlName="emailDomain"
                  placeholder="example.com"
                  autocomplete="off"
                />
              </mat-form-field>
              <button
                color="accent"
                class="add-domain-button"
                mat-stroked-button
                (click)="addDomain()"
                [disabled]="
                  emailDomain.value === '' ||
                  emailDomain.value.length > 128 ||
                  emailDomainDataSource.data.includes(emailDomain.value) ||
                  (canEditCustomer !== null && canEditCustomer === false)
                "
              >
                Add Domain
              </button>
            </div>
            <div class="customer-table-container">
              <table
                mat-table
                [dataSource]="emailDomainDataSource"
                class="mat-elevation-z8 emailDomainTable"
              >
                <ng-container matColumnDef="domain">
                  <th mat-header-cell *matHeaderCellDef>Accepted Domains</th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [attr.aria-label]="element"
                    [matTooltip]="element.length > 45 ? element : ''"
                  >
                    {{ element }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="remove">
                  <th mat-header-cell *matHeaderCellDef>Remove</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    <button
                      mat-icon-button
                      matTooltip="Remove Domain"
                      (click)="removeSelectedDomain(i)"
                      [disabled]="
                        canEditCustomer !== null && canEditCustomer === false
                      "
                    >
                      <mat-icon> remove_circle </mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedEmailDomainColumns"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedEmailDomainColumns"
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td
                    class="mat-cell"
                    [colSpan]="displayedEmailDomainColumns.length"
                    style="text-align: center"
                  >
                    No accepted domains
                  </td>
                </tr>
              </table>
            </div>
          </section>
        </form>
      </ng-template>
    </div>
  </div>
</ng-container>
