::ng-deep {
  .default-dark-theme {
    .tla-container {
      background-color: #424242;
    }
  }
}

.customer-section-container {
  padding: 16px 48px;
}

.customer-table-container {
  padding-bottom: 16px;
}

.tla-container {
  width: 300px;
  height: 300px;
  overflow: auto;
  border: solid 1px rgba(160, 160, 160, 0.2);
}

.aa-container {
  width: 500px;
  height: 300px;
  overflow: auto;
  border: solid 1px rgba(160, 160, 160, 0.2);
}

section {
  padding: 10px 0;
}

.customer-name-field {
  width: 250px;
}

h3 {
  margin-bottom: 5px;
  font-weight: 500;
}

.emailDomainTable {
  width: 350px;
  max-width: 350px;
}

.mat-column-asset {
  width: 450px;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-domain {
  width: 300px;
  max-width: 300px;
  flex: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-remove {
  width: 50px;
  max-width: 50px;
  flex: none;
  align-items: center;
}

::ng-deep .mat-fab .mat-button-wrapper {
  padding: 0 !important;
}

table {
  width: 100%;
}

.associated-asset-container {
  height: 100%;
  overflow: auto;
}

th.mat-header-cell {
  background-color: #212121;
  color: #fff;
  text-align: left;
  padding-left: 16px !important;
}

tr.mat-header-row {
  height: 36px !important;
}

.add-domain-button {
  margin-top: 8px;
}
