.mat-form-field {
  width: 100%;
}
.view-only {
  display: flex;
  align-items: center;
  margin-top: 12px;
  &-icon {
    padding: 8px 12px;
  }
}

.sidebyside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .mat-form-field {
    width: 47%;
  }
}
.header-text {
  font-size: large;
}
.mb-12 {
  margin-bottom: 12px;
}

.header-text-container {
  display: flex;
  align-items: center;
  & button {
    margin-left: 12px;
  }
}
