<div *ngIf="{ element: (selectedElement$ | async) } as selected">
  <form [formGroup]="widgetForm">
    <!-- Title -->
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <!-- Subtitle -->
    <mat-form-field
      appearance="fill"
      *ngIf="
        selected.element.Kind !== 'Gauge' && selected.element.Kind !== 'KPI'
      "
    >
      <mat-label>Sub Title</mat-label>
      <input matInput type="text" formControlName="subtitle" />
    </mat-form-field>

    <!-- Data Point -->
    <mat-form-field
      appearance="fill"
      *ngIf="
        selected.element.Kind === 'KPI' || selected.element.Kind === 'Gauge'
      "
    >
      <mat-label>Data Point</mat-label>
      <mat-select [formControl]="dataPointControl">
        <mat-option *ngFor="let option of dataPoints" [value]="option.value">{{
          option.label
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Background -->
    <mat-form-field *ngIf="selected.element.Kind === 'KPI'" appearance="fill">
      <mat-label>Background</mat-label>
      <mat-select [formControl]="backgroundControl">
        <mat-option value="">None</mat-option>
        <mat-option value="bvKpi-Alert">Alert</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Min - Max -->
    <form
      [formGroup]="minMaxForm"
      class="sidebyside"
      *ngIf="selected.element.Kind === 'Gauge'"
    >
      <mat-form-field appearance="fill">
        <mat-label>Min</mat-label>
        <input matInput type="text" formControlName="min" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Max</mat-label>
        <input matInput type="text" formControlName="max" />
      </mat-form-field>
    </form>

    <!-- Width - Display Order -->
    <div class="sidebyside">
      <mat-form-field appearance="fill">
        <mat-label>Width</mat-label>
        <mat-select
          formControlName="width"
          [value]="widgetForm.get('width').value"
        >
          <mat-option value="3">25%</mat-option>
          <mat-option value="4">33%</mat-option>
          <mat-option value="6">50%</mat-option>
          <mat-option
            value="8"
            *ngIf="
              selected.element.Kind !== 'Gauge' &&
              selected.element.Kind !== 'KPI'
            "
            >66%</mat-option
          >
          <mat-option
            value="9"
            *ngIf="
              selected.element.Kind !== 'Gauge' &&
              selected.element.Kind !== 'KPI'
            "
            >75%</mat-option
          >
          <mat-option
            value="12"
            *ngIf="
              selected.element.Kind !== 'Gauge' &&
              selected.element.Kind !== 'KPI'
            "
            >100%</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Display Order</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [formControl]="orderControl"
          [matAutocomplete]="autoDisplayOrder"
        />
        <mat-autocomplete #autoDisplayOrder="matAutocomplete">
          <mat-option
            *ngFor="
              let option of selectWidgetsOfCurrentSection$ | async;
              index as i
            "
            [value]="i + 1"
            >{{ i + 1 }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>

  <!-- 'Text' Widget checkbox -->
  <atx-textbox-editor
    *ngIf="selected.element.Kind === 'Text'"
  ></atx-textbox-editor>

  <!-- Gauge/KPI Tag Select-->
  <div
    *ngIf="selected.element.Kind === 'KPI' || selected.element.Kind === 'Gauge'"
  >
    <div class="header-text-container">
      <div class="header-text">TAG</div>
      <button mat-icon-button (click)="onSelectTag()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>{{ selected.element.TagName }}</div>
    <div>{{ selected.element.TagDesc }}</div>
  </div>

  <!-- Chart/Table Chart Select-->
  <div
    *ngIf="
      selected.element.Kind === 'Chart' || selected.element.Kind === 'Table'
    "
  >
    <div class="header-text-container">
      <div class="header-text">
        {{ selected.element.Kind === 'Chart' ? 'CHART' : 'TABLE' }}
      </div>
      <button mat-icon-button (click)="onSelectChart()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="mb-12">{{ selectedWidgetChartLabel$ | async }}</div>
    <button
      mat-raised-button
      (click)="onNavigateToDataExplorer()"
      color="primary"
    >
      <mat-icon
        style="width: 20px; padding-right: 2px"
        svgIcon="a360_trends_sm"
      ></mat-icon>
      Data Explorer
    </button>
  </div>
</div>
