.entry-container {
  height: 100%;
  margin: 0px 20px 15px;
  position: relative;
}

.content {
  margin-bottom: 20px;
}

.attachments {
  flex-wrap: wrap !important;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
  padding-right: 90px;
  align-items: center;
}

::ng-deep {
  .mat-icon-button {
    line-height: 0px !important;
  }

  .mat-expansion-panel-body {
    overflow-wrap: break-word !important;
  }

  .htmlContent a {
    color: var(--accent-250) !important;
  }

  .htmlContent img {
    max-width: 100%;
    cursor: pointer;
  }
}

.discussion-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
  }
  &-right {
    display: flex;
    align-items: center;
    min-width: fit-content;
  }

  &-title {
    margin-right: 12px;
  }

  &-username {
    margin-right: 12px;
  }

  &-date {
    margin-right: 8px;
  }
}
