.chart-container {
  height: calc(100% - 35px);
  box-sizing: border-box;
}
.table-container {
  height: calc(100% - 35px);
  box-sizing: border-box;
}

.hide-chart {
  display: none;
}

.table-type {
  position: absolute;
  top: -34px;
  right: 0px;
  background-color: inherit;
}

::ng-deep {
  .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 10px 10px 0px !important;
  }

  .rectBounds {
    cursor: pointer !important;
  }

  .default-dark-theme .radio-group-container {
    color: white !important;
  }

  .default-dark-theme ~ div.highcharts-tooltip-container .tooltip {
    background: #303030;
  }

  .alternative-light-theme ~ div.highcharts-tooltip-container .tooltip {
    background: #ffffff;
    color: #303030;
  }

  .default-dark-theme span.firstSelectedToolTip {
    background: #303030;
  }

  .alternative-light-theme span.firstSelectedToolTip {
    background: #ffffff;
    color: #303030;
  }

  .default-dark-theme span.secondSelectedToolTip {
    background: #303030;
  }

  .alternative-light-theme span.secondSelectedToolTip {
    background: #ffffff;
    color: #303030;
  }
}

.radio-group-container {
  margin: 12px 20px;
}

.radio-group-container > span {
  padding-bottom: 10px;
}

.chart-error {
  width: 500px;
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: 999;
}

.btn-group {
  right: 0;
  margin-top: 2px;
  text-align: right;
  height: 40px;
  box-sizing: border-box;
}

.mat-flat-button {
  margin-top: 4px;
  height: 24px;
  min-width: 12px;
  line-height: 14px;
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 90%;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 16px;
  width: 16px;
  padding-top: 2px;
  opacity: 90%;
  text-align: center;
}

.btn-group > span {
  cursor: pointer;
}

.loading {
  margin: 0 auto;
  display: table;
  padding-top: 80px;
}

mat-progress-spinner {
  margin: 0 auto;
}
