<ng-container *ngIf="vm$ | async as vm">
  <div
    [ngClass]="{
      'hide-chart': vm.loadingData || vm.trendsLoading || vm.errorNoData
    }"
  >
    <div class="btn-group" fxLayout="column">
      <button
        [ngClass]="{
          'table-type': trendDisplayType === 'table'
        }"
        mat-flat-button
        [matMenuTriggerFor]="chartLegendMenu"
        *ngIf="showToggle"
        matTooltipPosition="left"
        matTooltip="Toggle Chart Legend Labels"
      >
        <mat-icon fontSet="material-icons-outlined">vpn_key </mat-icon>
      </button>
      <mat-menu #chartLegendMenu="matMenu">
        <div
          class="radio-group-container"
          fxLayout="column"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
        >
          <span>Legend Label Display:</span>
          <mat-radio-group
            fxLayout="column"
            fxLayoutGap="10px grid"
            [value]="vm.labelIndex"
            (change)="changeLabels($event.value)"
          >
            <ng-container *ngIf="trendDisplayType !== 'table'">
              <ng-container *ngFor="let labelDisplayIndex of labelDisplays">
                <mat-radio-button
                  [value]="labelDisplayIndex"
                  [checked]="labelDisplayIndex === vm.labelIndex"
                >
                  {{ labelDisplayNames[labelDisplayIndex] }}</mat-radio-button
                >
              </ng-container>
            </ng-container>
            <ng-container *ngIf="trendDisplayType === 'table'">
              <ng-container *ngFor="let labelDisplayIndex of labelDisplays">
                <ng-container *ngIf="labelDisplayIndex !== 5">
                  <mat-radio-button
                    [value]="labelDisplayIndex"
                    [checked]="
                      labelDisplayIndex === vm.labelIndex ||
                      (labelDisplayIndex === 0 && vm.labelIndex === 5)
                    "
                  >
                    {{ labelDisplayNames[labelDisplayIndex] }}</mat-radio-button
                  >
                </ng-container>
              </ng-container>
            </ng-container>
          </mat-radio-group>
        </div>
      </mat-menu>
      <ng-container *ngIf="trendDisplayType !== 'table'">
        <button
          mat-flat-button
          (click)="dataCursorToggle()"
          *ngIf="showDataCursorToggle"
          matTooltipPosition="left"
          [matTooltip]="
            trend.showDataCursor !== false
              ? 'Hide Data Cursor'
              : 'Show Data Cursor'
          "
        >
          <ng-container
            *ngIf="trend.showDataCursor !== false; else hideDataCursor"
          >
            <mat-icon>summarize</mat-icon>
          </ng-container>
          <ng-template #hideDataCursor>
            <mat-icon style="color: #acacac" class="material-icons-outlined">
              summarize
            </mat-icon>
          </ng-template>
        </button>
        <button
          [matMenuTriggerFor]="matMenu"
          (click)="copyLink()"
          *ngIf="showCopyLink"
          matTooltip="Copy Chart Link"
        >
          <mat-icon> link </mat-icon>
          Copy Chart Link
        </button>
        <button
          mat-icon-button
          (click)="downloadChart()"
          *ngIf="showDownload"
          matTooltip="Download Chart Content"
        >
          <mat-icon> save_alt </mat-icon>
        </button>

        <button mat-icon-button *ngIf="showFilter" matTooltip="Filter">
          <mat-icon> filter_list </mat-icon>
        </button>
        <button mat-icon-button *ngIf="showNewChart" matTooltip="New Chart">
          <mat-icon> add </mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="editChart()"
          *ngIf="showEditChart"
          matTooltip="Edit Chart"
        >
          <mat-icon> trending_up </mat-icon>
        </button>
      </ng-container>
    </div>
    <div
      [ngClass]="
        trendDisplayType !== 'table' ? 'chart-container' : 'table-container'
      "
    >
      <div class="loading" *ngIf="loading || !vm.chartHeight; else loaded">
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="accent"
        ></mat-progress-spinner>
        <b>Loading Data</b>
      </div>
      <ng-template #loaded>
        <ng-container *ngIf="vm.chartError">
          <div
            style="
              width: 500px;
              position: absolute;
              top: 80px;
              left: 50%;
              border-radius: 4px;
              margin-left: -250px;
              z-index: 999;
              background-color: #f89406;
              border-color: #e96506;
              color: #ffffff;
            "
          >
            <button
              style="position: relative; float: right"
              mat-icon-button
              (click)="dismissError()"
              matTooltip="Close"
            >
              <mat-icon> close </mat-icon>
            </button>
            <div style="padding: 15px" [innerHTML]="vm.chartError"></div>
          </div>
        </ng-container>
        <highcharts-chart
          #chart
          [ngStyle]="{ 'height.px': vm?.chartHeight }"
          *ngIf="chartConfiguration && trendDisplayType === 'chart'"
          [Highcharts]="highcharts"
          [options]="chartConfiguration"
          [callbackFunction]="chartCallback"
          [(update)]="updateChart"
          [oneToOne]="chartOneToOne"
          class="chartComponentContent"
        >
        </highcharts-chart>
        <atx-table-display
          *ngIf="trendDisplayType === 'table'"
          [trend]="trend"
          [isGroupedSeries]="vm.isGroupedSeries"
          [theme]="theme"
          (highchartsOptionsUpdated)="highchartsOptionsUpdated($event)"
        ></atx-table-display>
        <img
          *ngIf="trendDisplayType === 'image'"
          [src]="imagePath"
          class="chartComponentContent"
        />
        <div *ngIf="trendDisplayType === ''" class="chartComponentContent">
          No data to display.
        </div>
        <div *ngIf="trendDisplayType === 'multi'" class="chartComponentContent">
          <atx-bar-chart-display
            [trend]="trend"
            [theme]="theme"
            [chartHeight]="vm.chartHeight"
            (updateLimits)="updateLimits($event)"
            (resetLimits)="resetLimits($event)"
          ></atx-bar-chart-display>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- For Empty Trend Message -->
  <div
    [ngStyle]="{ 'height.px': vm?.chartHeight }"
    class="text-center text-dark loading-overlay"
    *ngIf="vm.errorNoData"
  >
    <div
      fxLayout="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-around center"
      style="
        position: absolute;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div>
        <mat-icon
          color="accent"
          style="transform: scale(4); opacity: 50%"
          class="material-icons-ouline"
        >
          cloud_off
        </mat-icon>
      </div>

      <div style="text-align: center">
        <h3 mat-card-title>No Data Found</h3>
        <p mat-card-subtitle style="max-width: 300px">
          Please make another selection or click<br />New Chart to add data to
          this location.
        </p>
      </div>
    </div>
  </div>
  <!-- For Loading Trend Message -->
  <div [ngStyle]="{ 'height.px': vm?.chartHeight }" *ngIf="vm.trendsLoading">
    <div
      style="
        position: absolute;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
        color="accent"
      ></mat-progress-spinner>
      <p style="text-align: center">Loading Trends</p>
    </div>

    <ngx-skeleton-loader
      [theme]="{
        width: '100%',
        height: '100%',
        background: 'rgba(160,160,160,0.05)',

        'pointer-events': 'none'
      }"
      animation="pulse"
    >
    </ngx-skeleton-loader>
  </div>
  <!-- For Loading Chart Data Message -->
  <div [ngStyle]="{ 'height.px': vm?.chartHeight }" *ngIf="vm.trendsData">
    <div
      style="
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
        color="accent"
      ></mat-progress-spinner>
      <p style="text-align: center">Loading Data</p>
    </div>

    <ngx-skeleton-loader
      [theme]="{
        width: '100%',
        height: '100%',
        background: 'rgba(160,160,160,0.05)',

        'pointer-events': 'none'
      }"
      animation="pulse"
    >
    </ngx-skeleton-loader>
  </div>
</ng-container>
