::ng-deep {
  .default-dark-theme,
  .ethos-theme {
    .selectedNode {
      background-color: var(--accent-250);
    }
  }
  .alternative-light-theme {
    .selectedNode {
      background-color: var(--accent-250);
    }
  }
}

.customer-tree {
  padding-top: 10px;
  width: 100%;
  overflow: auto;
}

.nodeItem {
  cursor: pointer;
  white-space: nowrap;
}

th.mat-header-cell,
td.mat-cell {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  height: 15px !important;
}

td.mat-cell,
td.mat-footer-cell {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mat-row {
  height: auto !important;
}

.expandBtn {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
}

.mat-column-customers {
  width: inherit;
  max-width: inherit;
}
