table {
  width: 100%;
}

.user-not-selected {
  width: 300px;
  text-align: center;
  margin-top: 48px;
}

.table-container {
  height: calc(100vh - 500px);
  overflow: scroll;
}

.chiplist-container {
  margin: 5px 0 !important;
  overflow: auto !important;
  min-height: 50px !important;
  max-height: 80px !important;
}
