.chart-container {
  height: 100%;
  box-sizing: border-box;
}
.table-container {
  height: calc(100% - 35px);
  box-sizing: border-box;
}
::ng-deep {
  .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 10px 10px 0px !important;
  }

  .rectBounds {
    cursor: pointer !important;
  }
  .default-dark-theme ~ div.highcharts-tooltip-container .tooltip {
    background: #303030;
  }

  .alternative-light-theme ~ div.highcharts-tooltip-container .tooltip {
    background: #ffffff;
  }
}

.btn-group {
  right: 0;
  text-align: right;
  height: 34px;
  box-sizing: border-box;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.btn-group > span {
  cursor: pointer;
}

.loading {
  height: 100%;
}

mat-progress-spinner {
  margin: 0 auto;
}
