<div class="btn-group" *ngIf="trendDisplayType !== 'table'">
  <button
    mat-icon-button
    (click)="changeLabels($event)"
    *ngIf="showToggle"
    matTooltip="Toggle Chart Legend Labels"
  >
    <mat-icon fontSet="material-icons-outlined">vpn_key </mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="copyLink()"
    *ngIf="showCopyLink"
    matTooltip="Copy Chart Link"
  >
    <mat-icon> link </mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="downloadChart()"
    *ngIf="showDownload"
    matTooltip="Download Chart Content"
  >
    <mat-icon> save_alt </mat-icon>
  </button>

  <button mat-icon-button *ngIf="showFilter" matTooltip="Filter">
    <mat-icon> filter_list </mat-icon>
  </button>
  <button mat-icon-button *ngIf="showNewChart" matTooltip="New Chart">
    <mat-icon> add </mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="editChart($event)"
    *ngIf="showEditChart"
    matTooltip="Edit Chart"
  >
    <mat-icon> trending_up </mat-icon>
  </button>
</div>
<div
  [ngClass]="
    trendDisplayType !== 'table' ? 'chart-container' : 'table-container'
  "
>
  <div
    class="loading"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="loading; else loaded"
  >
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
    <b>Loading Data</b>
  </div>
  <ng-template #loaded>
    <highcharts-chart
      *ngIf="chartConfiguration && trendDisplayType === 'chart'"
      [Highcharts]="highcharts"
      [options]="chartConfiguration"
      [(update)]="updateChart"
      [(oneToOne)]="chartOneToOne"
      class="chartComponentContent"
      [ngClass]="trend?.id ? 'chart-' + trend.id : ''"
    >
    </highcharts-chart>
    <atx-table-display
      *ngIf="trendDisplayType === 'table'"
      [inputTrend]="trend"
      [theme]="theme"
    ></atx-table-display>
    <img
      *ngIf="trendDisplayType === 'image'"
      [src]="imagePath"
      class="chartComponentContent"
    />
    <div *ngIf="trendDisplayType === 'nd'" class="chartComponentContent">
      TODO: Display ND
    </div>
    <div *ngIf="trendDisplayType === ''" class="chartComponentContent">
      No data to display.
    </div>
    <div *ngIf="trendDisplayType === 'multi'" class="chartComponentContent">
      <atx-bar-chart-display
        [trend]="trend"
        [theme]="theme"
        (updateLimits)="updateLimits($event)"
        (resetLimits)="resetLimits($event)"
      ></atx-bar-chart-display>
    </div>
  </ng-template>
</div>
