<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <h2>Set Password</h2>
      <mat-error *ngIf="state?.showError">
        {{ state?.errorMessage }}
      </mat-error>
      <mat-form-field
        class="full-width-input"
        [hideRequiredMarker]="true"
        floatLabel="Name"
        appearance="fill"
      >
        <input
          id="name"
          matInput
          type="text"
          placeholder="Name"
          formControlName="name"
          data-testid="name"
          autoComplete="name"
        />
        <mat-error> Invalid Name </mat-error>
      </mat-form-field>
      <mat-form-field
        class="full-width-input"
        [hideRequiredMarker]="true"
        floatLabel="Password"
        appearance="fill"
      >
        <input
          id="password"
          matInput
          type="password"
          placeholder="Password"
          formControlName="password1"
          data-testid="password1"
          autocomplete="new-password"
        />
        <mat-error>
          Password must be at least 10 characters and contain upper case, lower
          case, numeric and special character values.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="full-width-input"
        [hideRequiredMarker]="true"
        floatLabel="Repeat Password"
        appearance="fill"
      >
        <input
          id="verifyPassword"
          matInput
          type="password"
          placeholder="Verify Password"
          formControlName="password2"
          data-testid="password2"
          autocomplete="new-password"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="form.hasError('notSame')">
          Passwords must match
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        data-testid="submit"
        mat-raised-button
        color="accent"
      >
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
