<h2 class="custom-dialog-title" mat-dialog-title>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="center">
      <span *ngIf="!isEditing">New Event</span>
      <span *ngIf="isEditing">Edit Event</span>
    </div>
    <div>
      <button mat-icon-button mat-dialog-close>
        <mat-icon aria-hidden="false" aria-label="clear">clear</mat-icon>
      </button>
    </div>
  </div>
</h2>
<mat-dialog-content class="custom-dialog-content event-dialog-container">
  <form
    class="my-form"
    [formGroup]="newEventForm"
    (ngSubmit)="submitNewEvent()"
  >
    <div style="padding: 10px">
      <div fxLayout="row">
        <mat-checkbox formControlName="isInProgress"
          >This event is currently In Progress</mat-checkbox
        >
      </div>

      <div fxLayout="fxLayoutGap">
        <div fxFlex="30" class="flex-item">
          <label class="label">Select Event Type</label>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field appearance="fill" color="accent">
            <mat-select
              class="form-control"
              formControlName="type"
              placeholder="Select Event Type"
              required
              matInput
            >
              <mat-option
                *ngFor="let t of eventTypes$ | async"
                [value]="t.EventTypeID"
              >
                {{ t.Description }}</mat-option
              >
            </mat-select>
            <mat-error
              color="warn"
              *ngIf="newEventForm.get('type').hasError('required')"
            >
              Select Unit
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="fxLayoutGap">
        <div fxFlex="30" class="flex-item">
          <label class="label">Start</label>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field appearance="fill" color="accent">
            <input
              #startDateInput
              matInput
              [max]="max"
              [matDatepicker]="startDatePicker"
              formControlName="startDate"
              autocomplete="off"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              [startAt]="startPickerStartAt"
              #startDatePicker
            ></mat-datepicker>
            <mat-error
              color="warn"
              *ngIf="
                newEventForm.get('startDate').hasError('required') ||
                newEventForm.get('startDate').errors?.invalidDateFormat
              "
            >
              Start date is not valid. (mm/dd/yyyy)
            </mat-error>
            <mat-error
              color="warn"
              *ngIf="
                newEventForm.get('startDate').errors
                  ?.isStartDateGreaterThanEndDate
              "
            >
              Start date cannot be after the end date.
            </mat-error>
            <mat-error
              color="warn"
              *ngIf="newEventForm.get('startDate').errors?.isFutureTimeStamp"
            >
              Future date not allowed.
            </mat-error>
            <mat-error
              color="warn"
              *ngIf="
                newEventForm.get('startDate').errors?.isStartDateEqualsEndDate
              "
            >
              Start date cannot be equal to end date
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field appearance="fill" color="accent">
            <input
              matInput
              #startTimeInput
              type="time"
              step="1"
              formControlName="startTime"
            />
            <mat-error
              color="warn"
              *ngIf="newEventForm.get('startTime').invalid"
            >
              Time is not valid. (hh:mm:ss)
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="fxLayoutGap">
        <div fxFlex="30" class="flex-item">
          <label class="label">End</label>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field appearance="fill" color="accent">
            <input
              #endDateInput
              matInput
              [min]="min"
              [matDatepicker]="endDatePicker"
              formControlName="endDate"
              autocomplete="off"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              [startAt]="endPickerStartAt"
              #endDatePicker
            ></mat-datepicker>
            <mat-error
              color="warn"
              *ngIf="
                newEventForm.get('endDate').hasError('required') ||
                newEventForm.get('endDate').errors?.invalidDateFormat
              "
            >
              End date is not valid. (mm/dd/yyyy)
            </mat-error>
            <mat-error
              color="warn"
              *ngIf="
                newEventForm.get('endDate').errors
                  ?.isEndDateGreaterThanStartDate
              "
            >
              End date cannot be before the Start date.
            </mat-error>
            <mat-error
              color="warn"
              *ngIf="newEventForm.get('endDate').errors?.isFutureTimeStamp"
            >
              Future date not allowed.
            </mat-error>

            <mat-error
              color="warn"
              *ngIf="
                newEventForm.get('endDate').errors?.isStartDateEqualsEndDate
              "
            >
              End date cannot be equal to start date
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field appearance="fill" color="accent">
            <input
              matInput
              #endTimeInput
              type="time"
              step="1"
              formControlName="endTime"
            />
            <mat-error color="warn" *ngIf="newEventForm.get('endTime').invalid">
              Time is not valid. (hh:mm:ss)
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="fxLayoutGap">
        <div fxFlex="30" class="flex-item">
          <label class="label">Impact</label>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field appearance="fill" color="accent" class="full-width">
            <input
              matInput
              class="form-control"
              formControlName="impact"
              type="number"
            />
            <mat-error
              color="warn"
              *ngIf="newEventForm.get('impact').hasError('required')"
              >Enter Impact
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="fxLayoutGap">
        <div fxFlex="30" class="flex-item">
          <label class="label">Event Description</label>
        </div>
        <div fxFlex class="flex-item-2">
          <mat-form-field
            appearance="fill"
            color="accent"
            class="full-width"
            style="width: 100%"
          >
            <textarea
              formControlName="description"
              id="body"
              type="text"
              matInput
            >
            </textarea>
            <mat-error
              color="warn"
              *ngIf="newEventForm.get('description').hasError('required')"
            >
              Enter Description
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex="70">
        <!-- <div>
          {{ validationMessage$ | async }}
        </div>
        <div>
          {{ saveResult$ | async }}
        </div> -->
        <button
          id="deleteBtn"
          color="warn"
          mat-raised-button
          *ngIf="isEditing"
          (click)="deleteEvent()"
        >
          Delete
        </button>
      </div>
      <div class="custom-button">
        <button id="cancelBtn" mat-button mat-dialog-close>Cancel</button>
      </div>
      <!-- <div class="custom-button">
        <button
          id="conflict"
          mat-raised-button
          color="accent"
          type="button"
          (click)="validate()"
          [disabled]="!newEventForm.valid"
        >
          Validate
        </button>
      </div> -->
      <div class="custom-button">
        <button
          id="okBtn"
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!newEventForm.valid"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
