.custom-dialog-content {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  text-align: center;
}

.custom-directions-label {
  font-size: 15px;
  margin: 0px;
}

.custom-goToTime-label {
  margin-top: 20px;
}

.custom-datepicker {
  margin-left: 20px;
}

.custom-time-input {
  margin-left: 20px;
}

.custom-input {
  margin-left: 20px;
}

.custom-button {
  margin-left: 8px;
}

.custom-zoomTo-label {
  margin: 20px 0px 20px;
}

.custom-move-label {
  margin-top: 10px;
}

.custom-step-label {
  margin-top: 14px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-item {
  // width: 32%;
  margin-top: 10px;
  line-height: 65px;
  text-align: right;
}
.flex-item-2 {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 65px;
}
.flex-item-3 {
  width: 68%;
  margin-top: 10px;
  line-height: 65px;
}
.label {
  text-align: right;
}

.flex-item .mat-formfield {
  width: 180px;
}

::ng-deep {
  .event-dialog-container .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .event-dialog-container .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .event-dialog-container .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .event-dialog-container .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .event-dialog-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .event-dialog-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .event-dialog-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .event-dialog-container .mat-form-field-underline {
    bottom: auto !important;
  }
  mat-form-field .mat-icon-button {
    display: content !important;
    top: 5px;
    height: 24px !important;
    width: 24px !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.mat-error {
  margin-top: 10px;
}
