<ng-container *ngIf="userAccount$ | async as userAccount">
  <h1 class="detail-label" style="padding-top: 5px; padding-left: 10px">
    Account Settings
  </h1>
  <mat-card class="account-settings-container">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <label class="detail-label" fxFlex="30">Name</label>
        <p class="detail-field">{{ userAccount.Name }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <label class="detail-label" fxFlex="50">Email</label>
        <p class="detail-field">{{ userAccount.Email }}</p>
      </div>

      <ng-container *ngIf="userAccount.IsUserFederated; else cognitoUser">
        <div fxLayout="column" fxLayoutAlign="space-around start">
          <label class="detail-label" fxFlex="50">Federated User</label>
        </div>
      </ng-container>
      <ng-template #cognitoUser>
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
            <label fxFlex="30" class="detail-label">Phone Number</label>
            <button
              *ngIf="!userAccount.Phone && !userAccount.PhoneVerified"
              [routerLink]="['phone-setup']"
              mat-stroked-button
              class="detail-button"
            >
              <mat-icon>add</mat-icon>
              Add Phone Number
            </button>
            <button
              *ngIf="userAccount.Phone && !userAccount.PhoneVerified"
              [routerLink]="['phone-setup']"
              mat-stroked-button
              class="detail-button"
            >
              <mat-icon>edit</mat-icon>
              Edit Phone Number
            </button>

            <button
              *ngIf="userAccount.PhoneVerified"
              [routerLink]="['phone-setup']"
              mat-stroked-button
              class="detail-button"
            >
              <mat-icon>edit</mat-icon>
              Change Phone Number
            </button>

            <button
              *ngIf="userAccount.Phone"
              mat-stroked-button
              class="detail-button"
              (click)="removePhoneNumber()"
            >
              <mat-icon>phone_disabled</mat-icon>
              Remove Phone Number
            </button>
          </div>
          <p class="detail-field">
            <span>{{ userAccount.Phone }}</span>
            <span *ngIf="userAccount.Phone && userAccount.PhoneVerified">
              <mat-icon
                style="
                  color: green;
                  height: 15px;
                  font-size: 15px;
                  width: 15px;
                  position: sticky;
                "
                >check_circle</mat-icon
              >
            </span>
          </p>
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="space-around stretch"
          *ngIf="!userAccount.IsUserFederated"
        >
          <div fxLayout="row" fxLayoutGap fxLayoutAlign="start center">
            <label fxFlex="30" class="detail-label"
              >Multi-Factor Authentication</label
            >
            <button
              [routerLink]="['mfa-setup']"
              [disabled]="!userAccount.PhoneVerified"
              mat-stroked-button
              class="detail-button"
            >
              <mat-icon>add</mat-icon>
              Configure
            </button>
          </div>
          <div>
            <p class="detail-field" *ngIf="userAccount.MFAStatus === 'SMS_MFA'">
              SMS
            </p>
            <p
              class="detail-field"
              *ngIf="userAccount.MFAStatus === 'SOFTWARE_TOKEN_MFA'"
            >
              Token Generator
            </p>
          </div>
        </div>
      </ng-template>
    </div>
    <div style="margin-top: 5%" *ngIf="!userAccount.IsUserFederated">
      <button
        [routerLink]="['change-password']"
        mat-stroked-button
        class="detail-button"
      >
        Change Password
      </button>
    </div>
    <mat-divider [inset]="true" style="margin-top: 2%"></mat-divider>
    <div style="margin-top: 2%">
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</ng-container>
