.account-settings-container {
  margin: 1% 30% 1% 1%;
  overflow: auto;
  height: 90%;
}

.detail-label {
  font-weight: bold;
}

.detail-field {
  font-size: small;
}

.detail-button {
  font-weight: bold;
  font-size: small;
}

.detail-field label {
  text-align: left;
}

.detail-field p {
  margin: 0 !important;
}

.change-password {
  margin: 20px 0px 10px;
}

.space-top {
  margin-top: 15px;
}

::ng-deep .mat-form-field {
  font-size: 14px !important;
}
