<mat-card class="interval-table-container">
  <div>
    <mat-form-field appearance="fill" color="accent">
      <mat-select
        [(value)]="selectedValue"
        (selectionChange)="selectFrequency(selectedValue)"
      >
        <mat-option value="daily">Daily (Last 24 hours)</mat-option>
        <mat-option value="weekly">Weekly (Last 7 days)</mat-option>
        <mat-option value="monthly">Monthly (Last 30 days)</mat-option>
        <mat-option value="yearly">Yearly (Last 365 days)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="intervals" class="mat-elevation-z8">
    <ng-container matColumnDef="StartTime">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        {{ element?.StartTime | toLocalDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="MW">
      <th mat-header-cell *matHeaderCellDef>MW</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.MW | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="CF">
      <th mat-header-cell *matHeaderCellDef>CF</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.CF | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="EAF">
      <th mat-header-cell *matHeaderCellDef>EAF</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.EAF | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="EFOR">
      <th mat-header-cell *matHeaderCellDef>EFOR</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.EFOR | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="SOF">
      <th mat-header-cell *matHeaderCellDef>SOF</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.SOF | number: '1.2-2' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-progress-bar
    *ngIf="!intervals || intervals.length === 0"
    class="interval-progress-bar"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>
</mat-card>
