<!--Please keep tabs in the following order
1. Series
2. Tags List
3. Axis
4. Static Curves
5. Pins
6. Advanced
-->
<ng-container *ngIf="vm$ | async as vm">
  <ng-container [formGroup]="parentForm">
    <div class="settings-tab-container">
      <mat-tab-group
        animationDuration="0ms"
        class="settings-tab-group"
        color="accent"
        [(selectedIndex)]="selectedIndex"
      >
        <ng-container *ngIf="vm.isGroupedSeries">
          <mat-tab label="Series" [disabled]="!parentForm.valid">
            <ng-template matTabContent>
              <atx-grouped-series></atx-grouped-series> </ng-template
          ></mat-tab>
        </ng-container>
        <ng-container *ngIf="!vm.isGroupedSeries">
          <mat-tab label="Series" [disabled]="!parentForm.valid">
            <ng-template matTabContent>
              <atx-series></atx-series> </ng-template></mat-tab
        ></ng-container>

        <mat-tab label="Tags List" [disabled]="!parentForm.valid">
          <atx-tags-list></atx-tags-list
        ></mat-tab>
        <mat-tab label="Axis" [disabled]="!parentForm.valid">
          <!-- ng-template destroys component when you click away. don't remove anywhere except tags-list -->
          <ng-template matTabContent> <atx-axis></atx-axis> </ng-template
        ></mat-tab>
        <ng-container *ngIf="!vm.isGroupedSeries">
          <mat-tab label="Static Curves" [disabled]="!parentForm.valid">
            <ng-template matTabContent>
              <atx-static-curves></atx-static-curves> </ng-template></mat-tab
        ></ng-container>
        <mat-tab label="Pins" [disabled]="!parentForm.valid">
          <ng-template matTabContent>
            <atx-pins [asset]="asset"></atx-pins> </ng-template
        ></mat-tab>
        <mat-tab label="Advanced" [disabled]="!parentForm.valid">
          <ng-template matTabContent>
            <atx-advanced></atx-advanced>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</ng-container>
