.settings-tab-container {
  width: 100%;
  height: 100%;
}

.settings-tab-group {
  height: 100%;
}

::ng-deep .mat-tab-body-content {
  height: 100% !important;
  overflow: hidden !important;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100% !important;
}

::ng-deep .settings-tab-container .mat-tab-label {
  height: 35px !important;
  padding: 0 16px !important;
  min-width: 120px !important;
}
