<ng-container>
  <h3>Add New Group</h3>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <mat-form-field appearance="fill" width="250vw">
      <mat-label>Group Name</mat-label>
      <input matInput #newGroupNameInput autocomplete="off" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button (click)="cancelDialog()">Cancel</button>
    <button mat-flat-button cdkFocusInitial color="accent" (click)="save()">
      Create
    </button>
  </div>
</ng-container>
