.header-title {
  display: block;
  margin: auto;
}

mat-card {
  padding: 0 !important;
  border-radius: 0 !important;
}

.event-chart-container {
  height: 100%;
  width: 100%;
}

.event-chart {
  width: 100%;
  height: 100%;
  display: block;
}

.event-chart-loading-spinner {
  position: absolute;
  left: calc(50% - 50px);
  top: 50px;
  z-index: 10;
  color: black;
}
