<mat-card class="event-chart-container">
  <div #eventChart class="event-chart"></div>
  <!--<mat-spinner
    style="margin-left: 15px;"
    *ngIf="chart"
    class="event-chart-loading-spinner"
    color="accent"
    mode="indeterminate"
    diameter="50"
  ></mat-spinner>-->
</mat-card>
