.error-message {
  background: #e53522;
  color: #f1f1f1;
  box-sizing: border-box;
  padding: 20px;
}
.build-container {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}

.build-container ag-grid-angular {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
}

::ng-deep {
  .ag-theme-alpine-dark .not-editable {
    background-color: rgb(48, 48, 48);
  }

  .ag-theme-alpine .not-editable {
    background-color: rgb(238, 238, 238);
  }

  .invalid-cell {
    background-color: red;
  }
}
