<ng-container *ngIf="vm$ | async as vm">
  <div class="build-container">
    <ag-grid-angular
      [ngClass]="{
        'ag-theme-alpine': (navFacade.theme$ | async) === 'light',
        'ag-theme-alpine-dark': (navFacade.theme$ | async) !== 'light'
      }"
      [gridOptions]="gridOptions"
      [modules]="modules"
      [rowData]="models$ | async"
      [columnDefs]="columnDefs"
      (focusout)="focusOut()"
    >
    </ag-grid-angular>
  </div>
</ng-container>
