<h2 mat-dialog-title>
  <mat-toolbar style="background-color: transparent">
    <mat-icon>warning</mat-icon>
    <span class="fx-spacer"></span>
    <span style="padding-left: 10px">Models Are Locked</span>
  </mat-toolbar>
</h2>
<mat-dialog-content class="mat-typography">
  All models are currently locked. Please wait for the models to finish building
  before saving models. </mat-dialog-content
><br /><br />
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    OK
  </button>
</mat-dialog-actions>
