mat-card.cardContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

mat-card-header {
  display: block;
  padding-top: 10px !important;
  padding-bottom: 3px !important;
}

mat-card-header .mat-card-title {
  font-size: 18px;
}

.widget-text {
  position: absolute;
  z-index: 100;
  top: 10px !important;
  left: 15px !important;
}

.widget-title {
  z-index: 100;
  padding-bottom: 12px !important;
  width: 100%;
  text-align: center;
}

mat-card-content {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  overflow-y: auto;
}

mat-card-title.widgetTitle {
  padding: 10px !important;
  font-size: 1.175em;
  font-weight: 500;
  width: 80%;
}

mat-card-subtitle.widgetSubtitle,
mat-card-subtitle.widgetTableTitle {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 3px !important;
}

.table-display {
  height: 100%;
}
