<mat-card class="cardContainer">
  <mat-card-header>
    <div class="widget-text" fxLayout="column">
      <span *ngIf="widget?.Title" mat-card-title>{{ widget?.Title }}</span>
      <span *ngIf="widget?.Subtitle" mat-card-subtitle>{{
        widget?.Subtitle
      }}</span>
    </div>

    <span
      *ngIf="widget?.trend?.trendDefinition?.Title"
      mat-card-title
      class="widget-title"
      >{{ widget?.trend?.trendDefinition?.Title }}</span
    >
  </mat-card-header>
  <mat-card-content class="table-display">
    <atx-chart-display
      *ngIf="trend; else notLoaded"
      [style.height]="height"
      [theme]="theme"
      [trend]="trend"
      [showToggle]="false"
      [showFilter]="false"
      [showNewChart]="false"
      [showEditChart]="false"
      [allowHiddenLabel]="false"
      [loading]="widget?.loading"
    >
    </atx-chart-display>
    <ng-template #notLoaded> Not Loaded. </ng-template>
  </mat-card-content>
</mat-card>
