.assetInfo {
  transform: rotate(90deg);
  white-space: nowrap;
  margin-left: 4px;
  margin-top: 4px;
  width: 20px;
  font-size: 12px;
}

.tab-btn {
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  background-color: var(--primary-300);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  &:hover {
    background-color: var(--accent-200h);
    transform: translateY(-1px);
  }
  &--selected {
    border: none;
    background-color: var(--accent-200);
  }
}

#alertsAction {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-toolbar {
  height: 35px;
  padding-left: 16px;
  padding-right: 2px;
  white-space: nowrap;
  margin-right: 0;
}

mat-toolbar span {
  font-size: 14px;
}

.fly-out-content {
  height: calc(100% - 34px);
  overflow: auto;
}

.action-btn {
  display: inline-block;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

.mat-icon-button.btn-info {
  height: 24px;
  width: 24px;

  margin: 0px;
  vertical-align: middle !important;
}

mat-icon {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.small-mat-icon {
  margin-left: 2px;
  margin-top: 12px;
}

p.status {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 28px;
  width: 90%;
}

p.small {
  font-size: 12px;
  margin-bottom: 6px;
  width: 90%;
}

::ng-deep .alternative-light-theme .mat-list-base .mat-subheader {
  height: 34px !important;
  color: #000000de;
  background-color: #f5f5f5 !important;
}

::ng-deep .default-dark-theme .mat-list-base .mat-subheader {
  height: 34px !important;
  color: #ffffffde;
  background-color: #212121 !important;
}

.loading {
  position: absolute;
  top: 41px;
  height: 46px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.loading p {
  background-color: #2d3436;
  padding: 5px;
  color: white;
}

.margin-left-button {
  margin-left: 8px;
}

.custom-watch-row {
  padding-bottom: 10px;
  justify-content: space-around !important;
}

.button-row {
  padding-top: 10px;
}

.noModel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field.watchInput {
  width: 130px;
}

mat-form-field.bound-value-input {
  width: 70px;
}

mat-form-field.bound-value-input {
  width: 70px;
}

.eng-units {
  font-weight: 600;
  margin: 0 0 10px 6px;
}

.rel-to-exp {
  margin: 0 0 10px 6px;
}

.watchIcon {
  height: 18px;
  margin-right: 5px;
}

.actionIcon {
  height: 18px;
  margin-right: 2px;
}

mat-chip {
  margin: 2px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  cursor: pointer;
}

::ng-deep {
  .my-form .custom-input {
    padding-right: 15px;
  }
  .my-form mat-form-field {
    width: 100%;
  }

  .mat-stroked-button {
    line-height: 30px !important;
    padding: 0px 6px !important;
  }

  .mat-standard-chip {
    min-height: 26px !important;
    font-size: 12px;
  }

  #alertsAction .mat-form-field-label-wrapper {
    margin: 2px 0 !important;
  }

  #alertsAction .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  #alertsAction .mat-form-field-flex {
    padding-top: 0 !important;
  }

  #alertsAction .mat-form-field-underline {
    bottom: auto !important;
  }

  #alertsAction .mat-form-field-flex {
    padding-top: 0px !important;
  }

  #alertsAction .mat-form-field-underline {
    bottom: auto !important;
  }

  #alertsAction .mat-select-value {
    padding-top: 3px !important;
  }

  #alertsAction .mat-select-arrow-wrapper {
    padding-top: 3px !important;
  }
}

.mat-error {
  margin-top: 8px;
  word-wrap: none;
}

.custom-form.setwatch {
  border: 1px solid;
  padding: 0;
}

.other button {
  margin: 5px;
}

.other {
  flex-wrap: wrap;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

@media only percy {
  #cy-hidden-pane-timestamp {
    visibility: hidden;
  }
}

.model-desc {
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
  }
  &__content {
    word-wrap: break-word;
    overflow: scroll;
    max-height: 160px;
    margin-top: 13px;
  }
}
