<div id="alertsAction">
  <mat-toolbar class="flex flex-row justify-between items-center">
    <div class="h-full box-border">
      <button
        class="tab-btn"
        (click)="onSetTab('Actions')"
        [ngClass]="{ 'tab-btn--selected': selectedTab === 'Actions' }"
      >
        Actions
      </button>
      <button
        class="tab-btn"
        (click)="onSetTab('Advise')"
        [ngClass]="{ 'tab-btn--selected': selectedTab === 'Advise' }"
      >
        Advise
      </button>
    </div>
    <div class="action-btn">
      <button
        mat-icon-button
        class="Refresh Alerts Actions"
        *ngIf="!isMultipleSelect"
        #refreshModelButton
        (click)="refreshModel($event)"
        data-cy="refreshBtn"
      >
        <mat-icon class="maticon">refresh</mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        class="btn-default"
        title="Close"
        (click)="hideInfoTray()"
        data-cy="flyOutCloseBtn"
      >
        <mat-icon class="maticon">close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div *ngIf="selectedTab === 'Actions'">
    <div class="loading" *ngIf="refreshing">
      <p data-testid="refresh">Loading...</p>
    </div>
    <div
      class="fly-out-content"
      *ngIf="model && model.length > 0; else noModelSelected"
    >
      <div
        style="width: 100%; border-bottom: solid 1px rgba(160, 160, 160, 0.3)"
      >
        <div style="width: 95%; margin-left: 10px">
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <h3
              *ngIf="!isMultipleSelect"
              style="margin-top: 4px; margin-bottom: 0px"
            >
              Current Status
            </h3>
            <button
              mat-button
              style="text-decoration: underline"
              (click)="clearAlert()"
            >
              Clear Status
            </button>
          </div>

          <p *ngIf="!isMultipleSelect" class="status">
            {{ isAlert ? 'In Alert' : isActionWatch ? 'In Watch' : 'No Alert' }}
          </p>
          <p
            *ngIf="!isMultipleSelect"
            class="small"
            id="cy-hidden-pane-timestamp"
          >
            {{ timestamp }}
          </p>
        </div>
      </div>

      <!--Set Watch-->
      <div
        *ngIf="!isActionWatch && !showOnlyActionForms"
        style="padding: 10px; border-bottom: solid 1px rgba(160, 160, 160, 0.3)"
      >
        <ng-template #normalWatch>
          <div fxLayout="row">
            <mat-icon class="watchIcon" svgIcon="watch"></mat-icon>
            <p><b>Watch</b></p>
          </div>
          <mat-chip-list>
            <mat-chip (click)="onWatchChange('6')">6 Hours</mat-chip>
            <mat-chip (click)="onWatchChange('24')">24 Hours</mat-chip>
            <mat-chip (click)="onWatchChange('7')">7 Days</mat-chip>
            <mat-chip (click)="onWatchChange('custom')">Custom</mat-chip>
          </mat-chip-list>
        </ng-template>

        <div
          class="custom-watch-container"
          *ngIf="showCustomWatchForm; else normalWatch"
        >
          <div fxLayout="row">
            <mat-icon class="watchIcon" svgIcon="watch"></mat-icon>
            <p><b>Custom Watch Length</b></p>
          </div>
          <form
            class="my-form"
            [formGroup]="customWatchForm"
            (ngSubmit)="submitCustomWatch()"
          >
            <div
              fxLayout="row"
              fxLayoutGap="10px"
              fxLayoutAlign="center"
              class="custom-watch-row"
            >
              <mat-form-field
                appearance="fill"
                color="accent"
                class="watchInput"
              >
                <mat-label>Time Span</mat-label>
                <input
                  matInput
                  class="form-control"
                  formControlName="timeSpan"
                  placeholder="Time Span"
                  type="number"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="customWatchForm.get('timeSpan').hasError('required')"
                >
                  Enter Time Span
                </mat-error>
                <mat-error
                  *ngIf="customWatchForm.get('timeSpan').hasError('min')"
                >
                  Enter positive value
                </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                color="accent"
                class="watchInput"
              >
                <mat-label>Unit of Time</mat-label>
                <mat-select
                  class="form-control"
                  formControlName="timeUnit"
                  required
                  matInput
                >
                  <mat-option value="1">Seconds</mat-option>
                  <mat-option value="2">Minutes</mat-option>
                  <mat-option value="3">Hours</mat-option>
                  <mat-option value="4">Days</mat-option>
                  <mat-option value="7">Weeks</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="customWatchForm.get('timeUnit').hasError('required')"
                >
                  Select Unit
                </mat-error>
              </mat-form-field>
            </div>
            <label>Alert If: </label>
            <div fxLayout="row">
              <mat-checkbox
                [checked]="upperCheck"
                (change)="upperCheckChanged($event)"
              >
                Upper Bound Exceeded
              </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Set Upper Bound</mat-label>
                <mat-select
                  formControlName="upperControl"
                  (selectionChange)="changeUpperBound($event.value)"
                >
                  <mat-option
                    *ngFor="let upper of upperBoundTypes"
                    [disabled]="isDisabledFixedUpper(upper)"
                    [value]="upper"
                  >
                    {{ upperBoundTypeMapping[upper] }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    customWatchForm.get('upperControl').hasError('required')
                  "
                  >Please select an Upper Bound</mat-error
                >
              </mat-form-field>
            </div>
            <div
              *ngIf="customWatchForm.get('upperControl').value === 'Model'"
            ></div>
            <div
              *ngIf="customWatchForm.get('upperControl').value === 'Relative'"
              fxLayout="row"
              fxLayoutAlign="start center"
              style="padding-bottom: 10px"
            >
              <mat-form-field
                appearance="fill"
                color="accent"
                class="bound-value-input"
              >
                <mat-label *ngIf="!isMultipleSelect"> Value </mat-label>
                <input
                  matInput
                  class="form-control"
                  formControlName="upperUnits"
                  placeholder="Value"
                  type="number"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="customWatchForm.get('upperUnits').hasError('required')"
                >
                  No Units
                </mat-error>
              </mat-form-field>
              <span class="eng-units" *ngIf="!isMultipleSelect">
                {{ modelObject.EngUnits }}
              </span>
              <span class="rel-to-exp">Relative to Expected</span>
            </div>
            <div
              *ngIf="customWatchForm.get('upperControl').value === 'Absolute'"
              fxLayout="row"
              fxLayoutAlign="start center"
              style="padding-bottom: 10px"
            >
              <mat-form-field
                appearance="fill"
                color="accent"
                class="bound-value-input"
              >
                <mat-label *ngIf="!isMultipleSelect"> Value </mat-label>
                <input
                  matInput
                  class="form-control"
                  formControlName="upperUnits"
                  placeholder="Value"
                  type="number"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="customWatchForm.get('upperUnits').hasError('required')"
                >
                  No Units
                </mat-error>
              </mat-form-field>
              <span class="eng-units" *ngIf="!isMultipleSelect">
                {{ modelObject.EngUnits }}
              </span>
            </div>
            <div>
              <div fxLayout="row">
                <mat-checkbox
                  [checked]="lowerCheck"
                  (change)="lowerCheckChanged($event)"
                >
                  Lower Bound Exceeded
                </mat-checkbox>
              </div>
              <div fxLayout="row" fxLayoutAlign="center">
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Set Lower Bound</mat-label>
                  <mat-select
                    formControlName="lowerControl"
                    (selectionChange)="changeLowerBound($event.value)"
                  >
                    <mat-option
                      *ngFor="let lower of lowerBoundTypes"
                      [disabled]="isDisabledFixedUpper(lower)"
                      [value]="lower"
                    >
                      {{ lowerBoundTypeMapping[lower] }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      customWatchForm.get('lowerControl').hasError('required')
                    "
                    >Please set a Lower Bound</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div
              *ngIf="customWatchForm.get('lowerControl').value === 'Model'"
            ></div>
            <div
              *ngIf="customWatchForm.get('lowerControl').value === 'Relative'"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <mat-form-field
                appearance="fill"
                color="accent"
                class="bound-value-input"
              >
                <mat-label *ngIf="!isMultipleSelect"> Value </mat-label>
                <input
                  matInput
                  class="form-control"
                  formControlName="lowerUnits"
                  placeholder="Value"
                  type="number"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="customWatchForm.get('lowerUnits').hasError('required')"
                >
                  No Units
                </mat-error>
              </mat-form-field>
              <span class="eng-units" *ngIf="!isMultipleSelect">
                {{ modelObject.EngUnits }}
              </span>
              <span class="rel-to-exp">Relative to Expected</span>
            </div>
            <div
              *ngIf="customWatchForm.get('lowerControl').value === 'Absolute'"
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <mat-form-field
                appearance="fill"
                color="accent"
                class="bound-value-input"
              >
                <mat-label *ngIf="!isMultipleSelect"> Value </mat-label>
                <input
                  matInput
                  class="form-control"
                  formControlName="lowerUnits"
                  placeholder="Value"
                  type="number"
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="customWatchForm.get('lowerUnits').hasError('required')"
                >
                  No Units
                </mat-error>
              </mat-form-field>
              <span class="eng-units" *ngIf="!isMultipleSelect">
                {{ modelObject.EngUnits }}
              </span>
            </div>
            <div fxLayout="row">
              <button
                type="button"
                style="margin-top: 15px"
                mat-stroked-button
                color="accent"
                title="Use default note"
                (click)="setDefaultNote()"
              >
                Use default note
              </button>
            </div>
            <div fxLayout="row">
              <span style="opacity: 0.5; padding-top: 15px">{{
                defaultNote
              }}</span>
            </div>
            <div></div>
            <div class="custom-input">
              <mat-form-field color="accent" class="full-width">
                <textarea
                  id="customNote"
                  formControlName="customNote"
                  type="text"
                  matInput
                  rows="5"
                >
                </textarea>
              </mat-form-field>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="end"
              style="margin-right: 5px"
              class="button-rows"
            >
              <div class="margin-left-button">
                <button id="cancelBtn" mat-button (click)="resetForms()">
                  Cancel
                </button>
              </div>
              <div class="margin-left-button">
                <button
                  id="okBtn"
                  mat-flat-button
                  color="accent"
                  [disabled]="
                    !customWatchForm.valid || (!upperCheck && !lowerCheck)
                  "
                >
                  <mat-icon
                    class="material-icons-outlined"
                    style="padding-right: 2px"
                    >save</mat-icon
                  >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--End Set Watch-->
      <!--Clear Watch -->
      <div
        *ngIf="(isActionWatch && !showOnlyActionForms) || isMultiClearWatch"
        style="
          padding: 10px 10px;
          width: 100%;
          border-bottom: solid 1px rgba(160, 160, 160, 0.3);
        "
      >
        <div fxLayout="row">
          <mat-icon class="watchIcon" svgIcon="watch"></mat-icon>
          <p><b>Watch</b></p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
          <mat-chip id="okBtn" (click)="submitClearWatch()">
            Clear Watch
          </mat-chip>
        </div>
      </div>
      <!--End Watch-->

      <!-- second facing form for action item -->

      <div
        *ngIf="showDiagnoseForm"
        style="
          padding: 10px 10px;
          width: 100%;
          border-bottom: solid 1px rgba(160, 160, 160, 0.3);
        "
      >
        <ng-template #singleDiagnoseForm>
          <ng-container *ngIf="!isDiagnose; else clearDiagnose">
            <p><b>Diagnose Note:</b></p>
          </ng-container>
          <ng-template #clearDiagnose>
            <p><b>Clear Diagnose Note:</b></p>
          </ng-template>
        </ng-template>
        <div *ngIf="isMultipleSelect; else singleDiagnoseForm">
          <ng-container *ngIf="!isMultiClearDiagnose; else clearDiagnose">
            <p><b>Diagnose Note:</b></p>
          </ng-container>
          <ng-template #clearDiagnose>
            <p><b>Clear Diagnose Note:</b></p>
          </ng-template>
        </div>
        <form
          class="my-form"
          [formGroup]="newDiagnoseForm"
          (ngSubmit)="submitDiagnose()"
        >
          <div class="custom-input">
            <mat-form-field color="accent" class="full-width">
              <textarea
                id="diagnoseNote"
                formControlName="diagnoseNote"
                type="text"
                matInput
                rows="5"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div
            fxLayout="row"
            style="margin: 15px"
            fxLayoutAlign="end"
            class="button-rows"
          >
            <div class="margin-left-button">
              <button mat-flat-button (click)="resetForms()" type="button">
                Cancel
              </button>
              <button mat-flat-button color="accent" type="submit">
                <mat-icon
                  class="material-icons-outlined"
                  style="padding-right: 2px"
                  >save</mat-icon
                >Save
              </button>
            </div>
          </div>
        </form>
      </div>

      <div
        *ngIf="showAddNoteForm"
        style="
          padding: 10px 10px;
          width: 100%;
          border-bottom: solid 1px rgba(160, 160, 160, 0.3);
        "
      >
        <p><b>Note:</b></p>
        <form
          class="my-form"
          [formGroup]="newNoteForm"
          (ngSubmit)="submitNote()"
        >
          <div class="custom-input">
            <mat-form-field color="accent" class="full-width">
              <textarea
                id="noteNote"
                formControlName="noteNote"
                type="text"
                matInput
                rows="5"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div
            fxLayout="row"
            style="margin: 15px"
            fxLayoutAlign="end"
            class="button-rows"
          >
            <div class="margin-left-button">
              <button mat-flat-button (click)="resetForms()" type="button">
                Cancel
              </button>
              <button mat-flat-button color="accent" type="submit">
                <mat-icon
                  class="material-icons-outlined"
                  style="padding-right: 2px"
                  >save</mat-icon
                >Save
              </button>
            </div>
          </div>
        </form>
      </div>

      <div
        *ngIf="showMaintenanceForm"
        style="
          padding: 10px 10px;
          width: 100%;
          border-bottom: solid 1px rgba(160, 160, 160, 0.3);
        "
      >
        <ng-template #singleMaintenanceForm>
          <ng-container *ngIf="!isMaintenance; else clearMaintenance">
            <p><b>Model Maintenance Note:</b></p>
          </ng-container>
          <ng-template #clearMaintenance>
            <p><b>Clear Model Maintenance Note:</b></p>
          </ng-template>
        </ng-template>
        <div *ngIf="isMultipleSelect; else singleMaintenanceForm">
          <ng-container *ngIf="!isMultiClearMaintenance; else clearMaintenance">
            <p><b>Model Maintenance Note:</b></p>
          </ng-container>
          <ng-template #clearMaintenance>
            <p><b>Clear Maintenance Note:</b></p>
          </ng-template>
        </div>
        <form
          class="my-form"
          [formGroup]="newMaintenanceForm"
          (ngSubmit)="submitMaintenance()"
        >
          <div class="custom-input">
            <mat-form-field color="accent" class="full-width">
              <textarea
                id="maintenanceNote"
                formControlName="maintenanceNote"
                type="text"
                matInput
                rows="5"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div
            fxLayout="row"
            style="margin: 15px"
            fxLayoutAlign="end"
            class="button-rows"
          >
            <div class="margin-left-button">
              <button mat-flat-button (click)="resetForms()" type="button">
                Cancel
              </button>
              <button mat-flat-button color="accent" type="submit">
                <mat-icon
                  class="material-icons-outlined"
                  style="padding-right: 2px"
                  >save</mat-icon
                >Save
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- first facing form for action item -->
      <div
        *ngIf="!showOnlyActionForms"
        style="width: 100%; border-bottom: solid 1px rgba(160, 160, 160, 0.3)"
      >
        <div fxLayout="row" fxLayoutAlign="start" class="other">
          <ng-template #singleDiagnose>
            <ng-container *ngIf="!isDiagnose; else clearDiagnose">
              <mat-chip (click)="actionForm('diagnose')" data-cy="diagnoseBtn">
                <mat-icon class="actionIcon" svgIcon="diagnose"></mat-icon>
                Diagnose
              </mat-chip>
            </ng-container>
            <ng-template #clearDiagnose>
              <mat-chip
                (click)="actionForm('cleardiagnose')"
                data-cy="clearDiagnoseBtn"
                >Clear Diagnose</mat-chip
              >
            </ng-template>
          </ng-template>

          <div *ngIf="isMultipleSelect; else singleDiagnose">
            <ng-container *ngIf="!isMultiClearDiagnose; else clearDiagnose">
              <mat-chip (click)="actionForm('diagnose')" data-cy="diagnoseBtn">
                <mat-icon class="actionIcon" svgIcon="diagnose"></mat-icon>
                Diagnose
              </mat-chip>
            </ng-container>
            <ng-template #clearDiagnose>
              <mat-chip
                (click)="actionForm('cleardiagnose')"
                data-cy="clearDiagnoseBtn"
                >Clear Diagnose</mat-chip
              >
            </ng-template>
          </div>

          <ng-template #singleMaintenance>
            <ng-container *ngIf="!isMaintenance; else clearMaintenance">
              <mat-chip
                (click)="actionForm('maintenance')"
                data-cy="modelMaintenanceBtn"
              >
                <mat-icon class="actionIcon" svgIcon="maintainence"></mat-icon>
                Model Maintenance
              </mat-chip>
            </ng-container>
            <ng-template #clearMaintenance>
              <mat-chip
                (click)="actionForm('clearmaintenance')"
                data-cy="clearModelMaintenanceBtn"
                >Clear Maintenance</mat-chip
              >
            </ng-template>
          </ng-template>
          <div *ngIf="isMultipleSelect; else singleMaintenance">
            <ng-container
              *ngIf="!isMultiClearMaintenance; else clearMaintenance"
            >
              <mat-chip
                (click)="actionForm('maintenance')"
                data-cy="modelMaintenanceBtn"
              >
                <mat-icon class="actionIcon" svgIcon="maintainence"></mat-icon>
                Model Maintenance
              </mat-chip>
            </ng-container>
            <ng-template #clearMaintenance>
              <mat-chip
                (click)="actionForm('clearmaintenance')"
                data-cy="clearModelMaintenanceBtn"
                >Clear Maintenance</mat-chip
              >
            </ng-template>
          </div>
          <mat-chip
            style="padding-left: 8px; padding-right: 10px"
            mat-flat-button
            (click)="actionForm('note')"
            data-cy="addNoteBtn"
          >
            <mat-icon
              color="accent"
              style="padding-top: 3px; padding-right: 3px"
              >add_circle_outline</mat-icon
            >
            Add Note
          </mat-chip>
        </div>
      </div>
      <div *ngIf="!isMultipleSelect" style="width: 100%">
        <mat-list>
          <h3 matSubheader>Model Diagnostics</h3>
          <mat-divider></mat-divider>
          <mat-list-item
            *ngIf="(authFacade.modelConfigUtilityAccess$ | async)?.CanView"
          >
            <button
              mat-button
              (click)="ModelConfig()"
              [disabled]="disableModelConfig"
            >
              <mat-icon
                style="height: 18px; padding-right: 2px"
                svgIcon="a360_modelConfig"
              ></mat-icon>
              Model Configuration
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            *ngIf="(authFacade.opModeConfigUtilityAccess$ | async)?.CanView"
          >
            <button
              mat-button
              (click)="OpModeConfig()"
              [disabled]="disableOpModeConfig"
            >
              <mat-icon
                style="height: 18px; padding-right: 2px"
                svgIcon="a360_opModeConfig"
              ></mat-icon>
              OP Mode Configuration
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            *ngIf="(authFacade.dataExplorerTaskCenterAccess$ | async)?.CanView"
          >
            <button mat-button (click)="DataExplorer()">
              <mat-icon
                style="height: 18px; padding-right: 2px"
                svgIcon="a360_trends_sm"
              ></mat-icon>
              Data Explorer
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button
              mat-button
              (click)="DiagnosticDrilldown()"
              [disabled]="disableDiagnosticDrilldown"
            >
              Diagnostic Drilldown
              <mat-icon
                color="accent"
                style="height: 18px; padding-right: 2px; padding-bottom: 4px"
                >open_in_new</mat-icon
              >
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button mat-button (click)="showRelatedModels()">
              Show Related Models
              <mat-icon
                color="accent"
                style="height: 18px; padding-right: 2px; padding-bottom: 4px"
                >open_in_new</mat-icon
              >
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            *ngIf="
              (authFacade.issuesManagementTaskCenterAccess$ | async)?.CanView
            "
          >
            <button mat-button (click)="showRelatedIssues()">
              Show Related Issues
              <mat-icon
                color="accent"
                style="height: 18px; padding-right: 2px; padding-bottom: 4px"
                >open_in_new</mat-icon
              >
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>

      <div
        fxLayout="row"
        style="margin: 15px"
        fxLayoutAlign="end"
        class="button-rows"
        *ngIf="
          !isMultipleSelect &&
          (authFacade.issuesManagementTaskCenterAccess$ | async)?.CanView
        "
      >
        <div class="margin-left-button">
          <button
            id="createIssue"
            mat-flat-button
            color="accent"
            (click)="createIssue()"
          >
            <mat-icon>add_circle_outline</mat-icon>Create Issue
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div *ngIf="selectedModel$ | async as selectedModel">
        <div
          fxLayout="row"
          style="margin: 10px"
          *ngIf="
            !isMultipleSelect &&
            (authFacade.issuesManagementTaskCenterAccess$ | async)?.CanView
          "
        >
          <div class="model-desc">
            <div class="model-desc__header">
              <b>Model Description:</b>
            </div>
            <!-- Using ModelName as a placeholder for ModelDesc -->
            <div class="model-desc__content">
              <!-- {{ selectedModel?.ModelName }} -->
              {{ selectedModel.ModelDesc }}
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          style="margin: 10px"
        >
          <div class="asset-desc">
            <b>Asset Description:</b>
            <div class="asset-desc__content">
              {{ selectedModel?.AssetDesc }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noModelSelected>
    <div class="noModel">
      <h2>No Model Selected</h2>
    </div>
  </ng-template>
</div>

<div *ngIf="selectedTab === 'Advise'">
  <atx-advise-panel></atx-advise-panel>
</div>
