.space-above {
  margin-top: 15px;
}

.right-item {
  margin-left: 20px;
}

.spinner {
  position: absolute;
  right: 0;
}

.action-btn-container {
  margin-left: auto;
}

.action-btn {
  height: 40px;
  margin-left: 10px;
}

.saving-error {
  padding-top: 10px !important;
}

.saving-error > span {
  color: red;
}

.title-label {
  align-self: center;
}

.file-uploader-container {
  margin-top: 10px;
  padding: 0px 10px 10px;
  text-align: center;
  border: 1px dashed var(--accent-250);
}

.file-uploader-container > h2,
h5,
.file-btn {
  margin: 0px !important;
}

.attachments-container {
  margin-top: 10px;
  flex-wrap: wrap;
}

::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .mat-form-field-underline {
    bottom: auto !important;
  }

  @keyframes save-spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .save-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: save-spinner 0.8s linear infinite;
  }
}
