<div class="entry-editor-container">
  <form fxLayout="column" [formGroup]="editorForm">
    <div fxLayout="row">
      <mat-label class="title-label">Title</mat-label>
      <mat-form-field
        appearance="fill"
        color="accent"
        class="right-item"
        fxFlex="40%"
      >
        <input
          matInput
          placeholder="New Discussion Post"
          formControlName="title"
          data-cy="discussionEntryTitle"
        />
      </mat-form-field>
    </div>

    <editor formControlName="content" [init]="initEditor"></editor>

    <div
      class="file-uploader-container"
      atxDragDrop
      (fileDropped)="uploadFile($event)"
    >
      <h2>Drop your files here.</h2>
      <h5>or</h5>
      <input
        hidden
        type="file"
        multiple
        #uploader
        (change)="uploadFile($event.target.files)"
        (click)="uploader.value = null"
      />
      <button
        type="button"
        class="select-file-btn"
        color="primary"
        mat-flat-button
        (click)="uploader.click()"
      >
        Select Files...
      </button>
    </div>
    <div *ngIf="entry?.uploadingAttachments" style="margin-top: 3px">
      <mat-progress-bar
        class="top-progress-bar"
        color="accent"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <div class="attachments-container" fxLayout="row">
      <atx-attachment
        *ngFor="let attachment of entry?.newAttachments"
        [attachment]="attachment"
        [editing]="true"
        (deleteAttachment)="deleteAttachment($event, entry?.DiscussionEntryID)"
      ></atx-attachment>
    </div>

    <div fxLayout="row" class="space-above">
      <mat-form-field
        floatLabel="always"
        appearance="fill"
        color="accent"
        *ngIf="type === 'Asset'"
        style="margin-right: 20px"
      >
        <mat-label>Topics</mat-label>
        <mat-select formControlName="topics">
          <mat-option
            *ngFor="let type of discussionAssetTypes"
            [value]="type.DiscussionAssetMapTypeID"
            >{{ type.DiscussionAssetMapTypeName }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field
        floatLabel="always"
        fxFlex="33%"
        appearance="fill"
        color="accent"
      >
        <mat-label>Tags</mat-label>
        <input
          matInput
          type="text"
          placeholder="Tagging Keyword Search. ENTER key adds the tag"
          formControlName="keyword"
          [matAutocomplete]="auto"
          (input)="searchKeyword(entry)"
          (keydown.enter)="addKeyword(entry)"
        />
        <fa-icon
          [icon]="faSpinner"
          *ngIf="entry?.autoCompleteLoading"
          class="spinner"
          [spin]="true"
        >
        </fa-icon>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="addKeyword(entry)"
        >
          <mat-option
            *ngFor="let keyword of entry?.autoCompleteKeywords"
            [value]="keyword.Text"
          >
            {{ keyword.Text }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        class="action-btn"
        mat-flat-button
        color="primary"
        (click)="addKeyword(entry)"
      >
        <mat-icon color="accent" style="padding-bottom: 2px; padding-right: 2px"
          >add_circle_outline</mat-icon
        >
        Add Tag
      </button>
    </div>

    <div>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let keyword of entry?.newKeywords"
          [removable]="true"
          (removed)="deleteKeyword(keyword, entry?.DiscussionEntryID)"
        >
          {{ keyword.Text }}
          <mat-icon matChipRemove matTooltip="Delete Tag">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div fxLayout="row" class="action-btn-container">
      <p *ngIf="exceedsLimit" class="saving-error">
        <span>*</span> Unable to save. Message body exceeds 10MB limit. Please
        reduce large items or add as attachments.
      </p>
      <button
        class="action-btn"
        mat-button
        (click)="cancelEntry(entry)"
        data-cy="cancelDiscussionEntryBtn"
      >
        Cancel
      </button>
      <button
        class="action-btn"
        mat-flat-button
        color="accent"
        (click)="saveEntry(entry)"
        [class.save-spinner]="entry?.saving"
        [disabled]="
          entry?.saving || entry?.uploadingAttachments || exceedsLimit
        "
        data-cy="saveDiscussionEntryBtn"
      >
        <mat-icon class="material-icons-outlined">save</mat-icon>Save
      </button>
    </div>
  </form>
</div>
