<ng-container *ngIf="newIssueVm$ | async as newIssueVm">
  <div
    fxLayout="column"
    fxLayoutAlign="start"
    style="margin: 10px; height: 90%"
  >
    <div fxLayout="column" fxLayoutAlign="start start">
      <h3 *ngIf="newIssueVm.assetIssueId <= 0">Create New Issue</h3>
      <h3 *ngIf="newIssueVm.loadSendNotification">Issue has been created:</h3>
      <h3
        *ngIf="newIssueVm.assetIssueId > 0 && !newIssueVm.loadSendNotification"
      >
        Issue
        {{ newIssueVm.assetIssueId > 0 ? newIssueVm.assetIssueId : '--' }}
      </h3>
      <ng-container *ngIf="newIssueVm.isLoading">
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </ng-container>
    </div>

    <ng-container
      *ngIf="!newIssueVm.loadSendNotification; else sendIssueNotification"
    >
      <div fxLayout="column" fxLayoutAlign="stretch" style="overflow: auto">
        <div>
          <h3 style="margin-bottom: 10px">{{ newIssueVm.assetName }}</h3>
          <mat-error style="margin-top: 4px" *ngIf="newIssueVm.errorMessage">
            <h3 style="margin-bottom: 10px">{{ newIssueVm.errorMessage }}</h3>
          </mat-error>
        </div>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Issue Class</mat-label>
          <mat-select
            [disabled]="newIssueVm.loadingIssueCategoryTypes"
            [value]="newIssueVm.selectedClass"
            (selectionChange)="classChange($event)"
          >
            <ng-container *ngIf="!newIssueVm.loadingIssueCategoryTypes">
              <mat-option
                *ngFor="let category of newIssueVm.issueClasses"
                [value]="category.AssetIssueClassTypeID"
              >
                {{ category.Description }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Issue Category</mat-label>
          <mat-select
            [disabled]="newIssueVm.loadingIssueCategoryTypes"
            [value]="newIssueVm.selectedCategory"
            (selectionChange)="categoryChange($event)"
          >
            <ng-container *ngIf="!newIssueVm.loadingIssueCategoryTypes">
              <mat-option
                *ngFor="
                  let category of newIssueVm.issueCategories[
                    newIssueVm.selectedClass
                  ]
                "
                [value]="category.AssetIssueCategoryTypeID"
              >
                {{ category.CategoryDesc }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Title</mat-label>
          <input
            matInput
            autocomplete="off"
            placeholder="Title"
            [formControl]="issueTitle"
          />
          <mat-error style="margin-top: 4px" *ngIf="issueTitle.invalid">
            Title is not valid.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Details</mat-label>
          <textarea
            matInput
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            matInput
            autocomplete="off"
            placeholder="Details"
            [formControl]="details"
            style="height: 200px"
          ></textarea>
          <mat-error style="margin-top: 4px" *ngIf="details.invalid">
            Details is not valid.
          </mat-error>
        </mat-form-field>
        <mat-chip-list *ngIf="newIssueVm.fileAttachments?.length > 0">
          <mat-chip
            *ngFor="let fileAttachment of newIssueVm.fileAttachments"
            (removed)="deleteFile(fileAttachment)"
          >
            {{ fileAttachment.file.name }}
            <button matChipRemove>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
    <ng-template #sendIssueNotification>
      <div fxLayout="column" fxLayoutAlign="stretch" style="overflow: auto">
        <div>
          <h3 style="margin-bottom: 10px">{{ newIssueVm.assetName }}</h3>
          <h3 style="margin-bottom: 10px">
            {{ newIssueVm?.assetIssueWithOptions?.Issue?.IssueTitle }}
          </h3>
        </div>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Users</mat-label>
          <mat-chip-list #chipRecipientList aria-label="User selection">
            <mat-chip
              *ngFor="
                let registeredRecipient of (sendIssueVm$ | async)
                  .registeredRecipients
              "
              [selectable]="true"
              [removable]="true"
              (removed)="removeRegisteredRecipient(registeredRecipient)"
            >
              <ng-container
                *ngIf="
                  !registeredRecipient.IsGroup;
                  else showGroupMembersTemplate
                "
              >
                <mat-icon
                  *ngIf="!registeredRecipient.IsSubscribed"
                  class="material-icons-outlined subscribed"
                  >contactless</mat-icon
                >
                <mat-icon
                  *ngIf="
                    registeredRecipient.IsSubscribed &&
                    !registeredRecipient.IsGroup
                  "
                  class="subscribed"
                  color="accent"
                  >contactless</mat-icon
                >
              </ng-container>
              <ng-template #showGroupMembersTemplate>
                <mat-icon
                  class="material-icons-outlined show-group-members"
                  (click)="showGroupMembers(registeredRecipient)"
                  >add_circle_outline</mat-icon
                >
              </ng-template>
              {{ registeredRecipient.FriendlyName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              #registeredRecipientsInput
              placeholder="Add User..."
              [formControl]="registeredRecipients"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipRecipientList"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selectRegisteredUser($event)"
          >
            <mat-option
              *ngFor="
                let user of (sendIssueVm$ | async).filteredRegisteredUsers
              "
              [value]="user"
            >
              {{ user.FriendlyName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </ng-template>

    <div
      fxLayout="column"
      fxLayoutAlign="end stretch"
      *ngIf="newIssueVm.assetIssueId === -1 || newIssueVm.loadSendNotification"
    >
      <ng-container *ngIf="!newIssueVm.loadSendNotification; else showSend">
        <div
          fxLayout="row"
          fxLayoutGap="5"
          fxLayoutAlign="space-between center"
        >
          <div>
            <input
              hidden
              type="file"
              #fileInput
              (change)="uploadFile($event.target.files)"
              (click)="fileInput.value = null"
            />
          </div>
          <button
            class="new-issue-button"
            mat-raised-button
            color="accent"
            [disabled]="
              newIssueVm.isLoading ||
              issueTitle.invalid ||
              details.invalid ||
              newIssueVm.errorMessage?.length > 0
            "
            (click)="fileInput.click()"
          >
            Attach Files
          </button>
          <button
            class="new-issue-button"
            mat-raised-button
            color="accent"
            [disabled]="
              newIssueVm.isLoading ||
              issueTitle.invalid ||
              details.invalid ||
              newIssueVm.errorMessage?.length > 0
            "
            (click)="saveIssue()"
          >
            Create Issue
          </button>
        </div>
      </ng-container>
      <ng-template #showSend>
        <button
          mat-raised-button
          color="accent"
          [disabled]="(sendIssueVm$ | async).registeredRecipients?.length <= 0"
          (click)="sendEmail()"
        >
          Send
        </button>
      </ng-template>
    </div>
  </div>
</ng-container>
