#assetTree {
  height: 100%;
  overflow: hidden;
}

#assetTree > * {
  flex: initial;
}

#searchBox {
  margin: auto;
  width: 200px;
  padding: 4px 0;
}

mat-toolbar {
  height: 35px;
  padding-left: 16px;
  padding-right: 2px;
  white-space: nowrap;
  margin-right: 0;
}

mat-toolbar span {
  font-size: 14px;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

mat-toolbar mat-icon {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

#navigatorContent {
  height: calc(100% - 35px);
}

mat-form-field.tree-select-input {
  width: 100%;
}

#treeSelector mat-icon {
  font-size: 18px;
  text-align: center;
}

::ng-deep #treeSelector {
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }
}

::ng-deep #assetTree .mat-select-arrow {
  margin-top: 8px !important;
}

#assetTree #nodeContainer {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  min-width: 200px;
  z-index: 1;
}

.assetTreeNode {
  white-space: nowrap;
  position: relative;
  font-size: 14px;
  line-height: 1.35;
}
::ng-deep {
  .default-dark-theme,
  .ethos-theme {
    .selectedAsset {
      background-color: var(--accent-250);
    }
    .selectedAsset:hover {
      background-color: #9a9a9b20;
    }
  }
  .alternative-light-theme {
    .selectedAsset {
      background-color: var(--accent-200);
    }
    .selectedAsset:hover {
      background-color: #9a9a9b10;
    }
  }
}

.nodeItem {
  cursor: pointer;
  height: 24px;
}

.nodeItem:hover .assetTreeNodeExpander,
.nodeItem:hover .assetTreeNodeText {
  opacity: 0.5;
}
.assetTreeNodeIndent {
  display: inline-block;
  vertical-align: top;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg width='14' height='50' xmlns='http://www.w3.org/2000/svg'><g><line id='svg_2' y2='50.0' x2='11' y1='0' x1='11' stroke-width='0.75' stroke='rgb(127,127,127)' stroke-opacity='0.5'/></g></svg>");
  background-repeat: repeat-x;
}

.assetTreeNodeExpander {
  min-width: 14px;
  display: inline-block;
  vertical-align: top;
}

.assetTreeNodeExpander fa-icon[icon='faSpinner'] {
  margin-left: 6px;
}

.assetTreeNodeText {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  font-weight: 400;
}

.minus-icon {
  color: rgb(127, 127, 127);
  font-size: xx-small;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 8px;
}

div.assetTreeButtons {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  opacity: 0.15;
}

div.assetTreeButtons:hover {
  opacity: 1;
}

.assetTreeNode > div:hover > div.assetTreeButtons,
.TreeName:hover > div.assetTreeButtons {
  display: block;
  background-color: rgba(52, 56, 60, 0.9);
  opacity: 1;
}

.assetTreeNode > div.selectedAsset:hover > div.assetTreeButtons {
  background-color: rgba(75, 78, 81, 0.9);
}

.hiddenButton {
  opacity: 0;
}

.info-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='info' class='svg-inline--fa fa-info fa-w-6' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath fill='currentColor' d='M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z'%3E%3C/path%3E%3C/svg%3E");
}
.down-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='arrow-down' class='svg-inline--fa fa-arrow-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z'%3E%3C/path%3E%3C/svg%3E");
}
.up-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='arrow-up' class='svg-inline--fa fa-arrow-up fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-default {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.spin {
  animation: rotate 1s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
