<div id="assetTree" fxLayout="column">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <span>Navigator</span>
    <div>
      <button mat-icon-button>
        <mat-icon
          style="cursor: pointer"
          title="Reload Asset Tree"
          (click)="reload()"
          data-cy="assetNavRefreshBtn"
        >
          refresh
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon title="Pin/Unpin Navigator" (click)="pin()">
          push_pin
        </mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div
    id="navigatorContent"
    [ngClass]="{
      'loading-tree': treeState?.loadingTree,
      'loading-asset': treeState?.loadingAssets
    }"
    fxLayout="column"
  >
    <form>
      <div id="searchBox" fxLayoutAlign="space-around center">
        <mat-form-field color="accent">
          <input
            id="assetAutoComplete"
            placeholder="Asset Search"
            aria-label="Asset"
            matInput
            [matAutocomplete]="auto"
            (input)="searchChange()"
            #autocomplete
            [formControl]="autoComplete"
            (blur)="searchLostFocus()"
          />
          <fa-icon
            [icon]="faSpinner"
            *ngIf="treeState?.autoCompletePending"
            style="position: absolute; right: 0"
            [spin]="true"
          >
          </fa-icon>
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="autoCompleteSelection($event)"
            panelWidth="auto"
          >
            <mat-option
              *ngFor="
                let option of treeState?.autoCompleteAssets;
                trackBy: acTrack
              "
              [value]="option.UniqueID"
              [matTooltip]="option.Display"
            >
              {{ option.Display }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-icon>search</mat-icon>
      </div>

      <div
        id="treeSelector"
        fxLayout="row"
        fxLayoutAlign=" center"
        style="background-color: rgba(0, 0, 0, 0.04)"
      >
        <mat-form-field
          class="tree-select-input"
          appearance="fill"
          *ngIf="treeState?.showTreeSelector"
          color="accent"
        >
          <!-- fxFlex="treeState?.canEdit ? 90% : 100%" -->
          <mat-select
            placeholder="Select Asset Tree"
            (selectionChange)="treeSelectionChanged($event)"
            [value]="treeState?.selectedTree"
            [disabled]="disableAdHocDropdown"
            color="accent"
            data-cy="assetNavAdHocSelector"
          >
            <mat-option
              *ngFor="let tree of treeState?.trees"
              [value]="tree.id"
              [disabled]="disableAdHocDropdown"
              data-cy="adHocOptions"
            >
              <span>
                <mat-icon
                  fontIcon="group"
                  *ngIf="!tree.isUserOwned && !tree.isDefaultTree"
                ></mat-icon>
                <mat-icon
                  *ngIf="tree.isUserOwned && !tree.isDefaultTree"
                  fontIcon="person"
                ></mat-icon>
                {{ tree.name }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-icon-button
          aria-label="edit"
          style="margin-top: -10px"
          *ngIf="!treeState?.hideConfigureButton"
          (click)="configure()"
          data-cy="configureButton"
        >
          <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
        </button>
      </div>
    </form>

    <div id="nodeContainer">
      <div>
        <mat-spinner
          *ngIf="treeState?.loadingTree"
          style="margin-left: calc(50% - 30px); margin-top: 10px"
          diameter="60"
          color="accent"
        ></mat-spinner>
        <div
          *ngFor="let node of treeState?.nodes; trackBy: track"
          class="assetTreeNode adhocTreeNode"
          [draggable]="treeState?.canDrag"
          (dragstart)="setEventData($event, node)"
          [ngClass]="{ 'top-level': node.level === 0 }"
        >
          <div
            class="nodeItem mat-body-2"
            [ngClass]="{ selectedAsset: node.selected }"
          >
            <div
              class="assetTreeNodeIndent"
              [style.width.px]="node.level * 14"
            ></div>
            <div class="assetTreeNodeExpander" [ngSwitch]="node.symbol">
              <mat-icon
                *ngSwitchCase="'collapsed'"
                (mouseup)="iconClicked(node)"
                >arrow_right</mat-icon
              >
              <mat-icon *ngSwitchCase="'expanded'" (mouseup)="iconClicked(node)"
                >arrow_drop_down</mat-icon
              >
              <fa-icon
                [icon]="faSpinner"
                *ngSwitchCase="'loading'"
                (mouseup)="iconClicked(node)"
                [spin]="true"
                style="margin-left: 8px; margin-right: 2px"
              ></fa-icon>
              <fa-icon
                class="minus-icon"
                [icon]="faMinus"
                *ngSwitchCase="'nothing'"
                (mouseup)="iconClicked(node)"
              ></fa-icon>
              <fa-icon
                [icon]="faCaretRight"
                *ngSwitchDefault
                (mouseup)="iconClicked(node)"
                style="visibility: hidden"
              ></fa-icon>
            </div>
            <div
              class="assetTreeNodeText"
              (click)="select($event, node)"
              [style.width]="'calc(100% - 30px - ' + node.level * 10 + 'px)'"
            >
              <span>{{ node.nodeAbbrev }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
