<ng-container *ngIf="vm$ | async as vm">
  <div class="criteria-container" [formGroup]="$any(parentForm)">
    <div [formGroup]="$any(exclusionCriteriaFormGroup)">
      <div fxLayout="row" class="exclusion-criteria-input-container">
        <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
          <mat-form-field style="width: 200px" appearance="fill" color="accent">
            <mat-label>Start Date</mat-label>
            <input
              #startDateInput
              matInput
              autocomplete="off"
              [matDatepicker]="startDatePicker"
              (dateChange)="startDateChanged($event.value)"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error
              *ngIf="parentForm?.get('startDate')?.hasError('required')"
            >
              Start date is not valid.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent" style="width: 115px">
            <mat-label>Start Time</mat-label>
            <input
              style="margin-top: -2px"
              matInput
              autocomplete="off"
              type="time"
              formControlName="startTime"
            />
            <mat-error *ngIf="parentForm?.get('startTime')?.invalid">
              Time is not valid. (hh:mm)
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" class="exclusion-criteria-input-container">
        <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
          <mat-form-field style="width: 200px" appearance="fill" color="accent">
            <mat-label>End Date</mat-label>
            <input
              #endDateInput
              matInput
              autocomplete="off"
              [matDatepicker]="endDatePicker"
              (dateChange)="endDateChanged($event.value)"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="parentForm?.get('endDate')?.hasError('required')">
              End date is not valid.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent" style="width: 115px">
            <mat-label>End Time</mat-label>
            <input
              style="margin-top: -2px"
              matInput
              autocomplete="off"
              #endTimeInput
              type="time"
              formControlName="endTime"
            />
            <mat-error *ngIf="parentForm?.get('endTime')?.invalid">
              Time is not valid. (hh:mm)
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-left: 10px">
        <mat-error>{{ vm.isValidDateFormatMessage }}</mat-error>
      </div>
    </div>
  </div>
</ng-container>
