<ng-container *ngIf="attributesViewModel$ | async as vm">
  <div class="attributes-tab-container">
    <mat-drawer-container class="attributes-container">
      <div class="attributes-grid-container">
        <div class="attributes-title" #menuBar>
          <span>
            Attributes<mat-icon
              matTooltip="Populate Attributes to either configure Asset specific settings, such as Issue Impact Calculation, and to provide metadata for your assets."
              >help_outline</mat-icon
            >
            <button
              matTooltip="Copy to Clipboard"
              mat-icon-button
              data-cy="copyAttributesBtn"
              aria-hidden="false"
              aria-label="Copy to Clipboard"
              [disabled]="vm.totalAttributes === 0"
              (click)="onCopyClick()"
            >
              <mat-icon class="mat-icon-full">content_copy</mat-icon>
            </button>
            <button
              matTooltip="Paste"
              mat-icon-button
              data-cy="pasteAttributesBtn"
              aria-hidden="false"
              aria-label="Paste"
              [disabled]="
                (selectedAssetObject$ | async) === null ||
                (attributesState$ | async) === 'loading'
              "
              (click)="onPasteClick()"
            >
              <mat-icon class="mat-icon-full">content_paste</mat-icon>
            </button>
            <button
              matTooltip="Delete"
              mat-icon-button
              data-cy="deleteAttributesBtn"
              aria-hidden="false"
              aria-label="Delete"
              [disabled]="selectedAttributes.length === 0"
              (click)="onDeleteClick()"
            >
              <mat-icon class="mat-icon-full">delete</mat-icon>
            </button>
          </span>
        </div>

        <mat-card
          class="attributes-menu"
          [ngClass]="{
            'attributes-menu-bg-dark': vm.theme === 'dark',
            'attributes-menu-bg-light': vm.theme === 'light'
          }"
        >
          <div class="header-left">
            <span
              style="top: 8px; left: 9px; position: absolute"
              *ngIf="vm.attributeFilters.length === 0"
            >
              <mat-icon>filter_alt_outline</mat-icon>
            </span>
            <button
              matTooltip="Clear Filters"
              class="mat-icon-button"
              *ngIf="vm.attributeFilters.length > 0"
              (click)="clearFilters($event)"
            >
              <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
            </button>
            <mat-chip-list aria-label="Filters">
              <mat-chip
                *ngFor="let filter of vm.attributeFilters"
                [removable]="filter.Removable"
                (removed)="removeFilter(filter)"
              >
                {{ filter.DisplayName }}
                <mat-icon matChipRemove *ngIf="filter.Removable"
                  >cancel</mat-icon
                >
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="header-right">
            <span data-cy="totalAttributes">
              Total Rows: {{ vm.totalAttributes }}
            </span>
            <button
              matTooltip="Refresh View"
              mat-icon-button
              (click)="refresh()"
              data-cy="refreshGridBtn"
            >
              <mat-icon class="mat-icon-full">refresh</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Toggle Filter Row"
              (click)="toggleFloatingFilter()"
              data-cy="toggleFilterBtn"
            >
              <mat-icon>filter_list</mat-icon>
            </button>
            <button
              mapTooltip="Copy to Clipboard"
              mat-icon-button
              data-cy="downloadAttributes"
              (click)="onCopyClick()"
              [disabled]="vm.totalAttributes === 0"
            >
              <mat-icon>save_alt</mat-icon>
            </button>
          </div>
        </mat-card>

        <div class="attributes-body" #gridBody>
          <ag-grid-angular
            class="ag-grid-formats"
            [ngClass]="
              vm.theme === 'light'
                ? 'ag-theme-alpine'
                : vm.theme === 'dark'
                ? 'ag-theme-alpine-dark'
                : 'ag-theme-alpine-dark'
            "
            [modules]="modules"
            [gridOptions]="gridOptions"
          ></ag-grid-angular>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</ng-container>
