.tree-wrapper-content {
  height: 100%;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.tree-container {
  display: contents !important;
  width: 100%;
  height: 100%;
}

::ng-deep {
  .tree-wrapper-content .tree-container #assetTree .mat-toolbar {
    display: none !important;
  }

  .tree-wrapper-content #assetTree #searchBox {
    display: none !important;
  }

  .tree-wrapper-content #assetTree #treeSelector {
    display: none !important;
  }
}
