<div class="tree-wrapper-content">
  <div class="tree-container">
    <atx-asset-tree
      [needScroll]="true"
      [treeState]="assetTreeConfiguration"
      (stateChange)="onAssetTreeStateChange($event)"
    ></atx-asset-tree>
  </div>
</div>
