<div class="asset-tree-dropdown-content">
  <div class="asset-tree-container">
    <atx-asset-tree
      [needScroll]="true"
      [treeState]="assetTreeConfiguration"
      (stateChange)="onAssetTreeStateChange($event)"
    >
    </atx-asset-tree>
  </div>
</div>
