.asset-tree-dropdown-content {
  height: 100%;
  width: 100%;
  //overflow: auto;
  margin: 0px !important;
  padding: 0px !important;
}

.asset-tree-container {
  display: contents !important;
  width: 100%;
  height: 100%;
}

::ng-deep {
  .asset-tree-dropdown-content .asset-tree-container #assetTree .mat-toolbar {
    display: none !important;
  }

  .asset-tree-dropdown #assetTree #searchBox {
    display: none !important;
  }

  .asset-tree-dropdown #assetTree #treeSelector {
    display: none !important;
  }

  .asset-tree-dropdown #assetTree #navigatorContent {
    height: calc(100% - 5px) !important;
  }

  mat-spinner.mat-spinner.loading-list {
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
  }

  .alternative-light-theme .asset-tree-dropdown-content div#assetTree {
    background-color: #fff;
    color: #00000087;
    border: solid #b8b8b8 1px;
  }

  .alternative-light-theme .asset-tree-dropdown-content #assetTree {
    color: #fff;
  }

  .default-dark-theme .asset-tree-dropdown-content div#assetTree {
    background-color: #424242;
    color: #fff;
    border: solid #5e5e5e 1px;
  }

  .default-dark-theme .asset-tree-dropdown-content #assetTree {
    color: #333;
  }
}
