.table-display-container {
  position: absolute;
  overflow: auto !important;
  height: calc(100% - 50px);
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  text-align: left;
  height: 28px !important;
}

td {
  padding: 4px 16px 8px !important;
  height: 28px !important;
  font-size: 12px;
  vertical-align: middle;
  text-align: left;
}

th,
tfoot td {
  font-weight: bold;
}

th {
  padding: 4px 8px !important;
}

::ng-deep {
  .default-dark-theme {
    .mat-header-cell {
      background-color: #616161;
      color: #ffffff;
    }
    .mat-row:nth-child(even) {
      background-color: rgba(100, 100, 100, 0.2);
    }
  }
  .alternative-light-theme {
    .mat-header-cell {
      background-color: #e7e7e7;
      color: #000000;
    }
    .mat-row:nth-child(even) {
      background-color: #f7f7f7;
    }
  }
}
