<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.updateIssueLoading">
    <mat-progress-bar
      color="accent"
      mode="indeterminate"
      style="padding-bottom: 5px"
    ></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="!vm.updateIssueLoading">
    <div style="height: 8px">&nbsp;</div>
  </ng-container>
  <ng-container *ngIf="!vm.categoryErrorMessage">
    <h3 mat-dialog-title>Update Category & Class</h3>

    <div mat-dialog content class="update-issue" fxLayout="column">
      <mat-form-field appearance="fill" color="accent">
        <mat-label *ngIf="!vm.loadingIssueCategoryTypes">Issue Class</mat-label>
        <mat-select
          [disabled]="vm.loadingIssueCategoryTypes"
          [value]="vm.selectedClass"
          (selectionChange)="classChange($event)"
        >
          <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
            <mat-option
              *ngFor="let category of vm.issueClasses"
              [value]="category.AssetIssueClassTypeID"
            >
              {{ category.Description }}
            </mat-option>
          </ng-container>
        </mat-select>

        <ng-container *ngIf="vm.loadingIssueCategoryTypes">
          <mat-progress-bar
            color="accent"
            id="template-progress-bar"
            mode="indeterminate"
          ></mat-progress-bar>
        </ng-container>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label *ngIf="!vm.loadingIssueCategoryTypes"
          >Issue Category</mat-label
        >
        <mat-select
          [disabled]="vm.loadingIssueCategoryTypes"
          [value]="vm.selectedCategory"
          (selectionChange)="categoryChange($event)"
        >
          <ng-container *ngIf="!vm.loadingIssueCategoryTypes">
            <mat-option
              *ngFor="let category of vm.issueCategories[vm.selectedClass]"
              [value]="category.AssetIssueCategoryTypeID"
            >
              {{ category.CategoryDesc }}
            </mat-option>
          </ng-container>
        </mat-select>
        <ng-container *ngIf="vm.loadingIssueCategoryTypes">
          <mat-progress-bar
            color="accent"
            id="template-progress-bar"
            mode="indeterminate"
          ></mat-progress-bar>
        </ng-container>
      </mat-form-field>
    </div>
  </ng-container>
  <div>
    <ng-container *ngIf="vm.categoryErrorMessage">
      <mat-error>
        {{ vm.categoryErrorMessage }}
      </mat-error>
    </ng-container>
  </div>
  <div *ngIf="!vm.categoryErrorMessage">
    <mat-error style="font-size: 12px" *ngIf="!vm.loadingIssueCategoryTypes">
      Changing the category will result in status information<br />
      and possibly other category content to be changed.
    </mat-error>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [disabled]="vm.updateIssueLoading" (click)="onNoClick()">
      Cancel
    </button>

    <button
      *ngIf="!vm.categoryErrorMessage"
      mat-flat-button
      color="accent"
      [disabled]="vm.updateIssueLoading"
      (click)="updateIssue()"
      cdkFocusInitial
    >
      OK
    </button>
  </div>
</ng-container>
