mat-card.small-buttons {
  position: absolute;
  width: 400px;
  left: 468px;
  bottom: 0;
}

mat-card.big-buttons {
  position: absolute;
  width: 400px;
  left: 630px;
  bottom: 0;
}

mat-card-content {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
mat-card-content div {
  display: inline;
}

mat-card-content i {
  margin-left: 24px;
  margin-right: 24px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  text-align: center;
}

mat-card-content button {
  cursor: pointer;
}

mat-card-content:last-child {
  border-bottom: 0;
}
