<ng-container *ngIf="showBigButtons$ | async; else showSmallLayout">
  <mat-card class="big-buttons">
    <mat-card-subtitle padding="12px">Notifications</mat-card-subtitle>
    <mat-card-content
      *ngFor="let notification of notifications"
      style="display: flex"
    >
      <div
        [ngSwitch]="notification[0].NotificationTypeID"
        style="line-height: 36px; text-align: center"
      >
        <div *ngSwitchCase="1">
          {{ notification[0].Message }}
        </div>

        <div *ngSwitchCase="2">Creating File:{{ notification[0].Message }}</div>

        <div *ngSwitchCase="3">
          {{ notification[0].Message }}
        </div>

        <div *ngSwitchDefault>
          {{ notification[0].Message }}
        </div>
      </div>

      <div
        style="
          color: darkgray;
          margin-left: 10px;
          line-height: 36px;
          text-align: center;
        "
      >
        {{ calculateAgo(notification[0].CreatedDate) }}
      </div>

      <div style="flex-grow: 1"></div>

      <button
        *ngIf="notification[0].NotificationTypeID === 3"
        mat-raised-button
        color="accent"
        (click)="downloadNotificationFile(notification)"
      >
        DOWNLOAD
      </button>

      <i
        class="material-icons"
        title="Mark as read"
        color="accent"
        style="cursor: pointer"
        *ngIf="!notification[0].Viewed"
        (click)="newViewed(notification[0])"
        >notifications</i
      >
      <i
        class="material-icons"
        style="color: #424242; cursor: default"
        *ngIf="!notification[0].Viewed === false"
        >notifications</i
      >
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #showSmallLayout
  ><mat-card class="small-buttons">
    <mat-card-subtitle padding="12px">Notifications</mat-card-subtitle>
    <mat-card-content
      *ngFor="let notification of notifications"
      style="display: flex"
    >
      <div
        [ngSwitch]="notification[0].NotificationTypeID"
        style="line-height: 36px; text-align: center"
      >
        <div *ngSwitchCase="1">
          {{ notification[0].Message }}
        </div>

        <div *ngSwitchCase="2">Creating File:{{ notification[0].Message }}</div>

        <div *ngSwitchCase="3">
          {{ notification[0].Message }}
        </div>

        <div *ngSwitchDefault>
          {{ notification[0].Message }}
        </div>
      </div>

      <div
        style="
          color: darkgray;
          margin-left: 10px;
          line-height: 36px;
          text-align: center;
        "
      >
        {{ calculateAgo(notification[0].CreatedDate) }}
      </div>

      <div style="flex-grow: 1"></div>

      <button
        *ngIf="notification[0].NotificationTypeID === 3"
        mat-raised-button
        color="accent"
        (click)="downloadNotificationFile(notification)"
      >
        DOWNLOAD
      </button>

      <i
        class="material-icons"
        title="Mark as read"
        color="accent"
        style="cursor: pointer"
        *ngIf="!notification[0].Viewed"
        (click)="newViewed(notification[0])"
        >notifications</i
      >
      <i
        class="material-icons"
        style="color: #424242; cursor: default"
        *ngIf="!notification[0].Viewed === false"
        >notifications</i
      >
    </mat-card-content>
  </mat-card>
</ng-template>
