<div>
  <div *ngIf="{ view: selectedView$ | async } as selected">
    Delete
    <i>{{ selected.view.ReportAbbrev || '' }}</i>
  </div>
  <div>Are you sure you want to delete this view?</div>
  <mat-dialog-actions align="end" class="dialog_buttons">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onConfirmDelete()"
      cdkFocusInitial
    >
      Ok
    </button>
  </mat-dialog-actions>
</div>
