.tag-list-container {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}

.tag-list-header {
  height: 35px;
  width: calc(100% - 2px);
  display: flex;
  padding: 0;
  border-radius: 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
  align-items: center;
}

.header-right {
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  float: right;
  position: absolute;
}

.toggle-preference {
  margin-left: 10px;
  margin-right: 10px;
}

.tag-list-header-bg-dark {
  background-color: #222628;
}

.tag-list-header-bg-light {
  background-color: #fff;
  border: solid 1px rgba(186, 191, 199, 0.8);
}

.header-left {
  float: left;
  display: flex;
}

.mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin: 0 4px;
  vertical-align: middle !important;
}

.mat-standard-chip {
  min-height: 24px !important;
  font-size: 12px;
}

.model-config-tag-list-grid {
  height: calc(100% - 37px);
  width: 100%;
}

.model-config-tag-list-grid .ag-grid-formats {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
}

::ng-deep {
  .ag-overlay-loading-center {
    border: transparent !important;
    padding: 16px !important;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none !important;
    width: auto;
    display: inline-grid;
  }

  .ag-overlay-loading-center .ag-icon-column.select-asset {
    width: 48px;
    height: 48px;
  }

  .loader {
    border: 4px solid #f3f3f330; /* Light grey */
    border-top: 4px solid #80bbac; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .select-asset {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ag-theme-alpine-dark button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-theme-alpine button.ag-side-button-button {
    padding: 6px 0px;
    min-height: 30px;
  }

  .ag-header-cell {
    padding: 0px 5px 0px 10px !important;
  }

  .icon-only .ag-header-cell-label img {
    width: auto;
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    color: var(--accent-200) !important;
  }

  .ag-side-bar-right .ag-selected .ag-side-button-button {
    border-left-color: var(--accent-200) !important;
  }

  .icon-only .ag-header-cell-text {
    display: none;
  }

  .ag-theme-alpine {
    .lower-limit-cell {
      background-color: #e2bd68;
    }

    .upper-limit-cell {
      background-color: #e2bd68;
    }

    .ag-header-cell-text {
      color: #303030 !important;
    }

    .ag-row-odd {
      background: #f6f6f6;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: var(--accent-200h) !important;
    }

    .ag-column-drop-horizontal {
      background-color: #e0e0e0 !important;
    }
    .ag-header-row.ag-header-row-column {
      background-color: #eeeeee !important;
    }

    .ag-side-bar {
      background: #fafafa !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }
  }

  .ag-theme-alpine-dark {
    .lower-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .upper-limit-cell {
      background-color: rgba(198, 132, 0, 0.9);
    }

    .ag-column-drop-horizontal {
      background-color: #424242 !important;
    }

    .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
      height: 26px;
    }

    .ag-row-selected {
      background-color: var(--accent-200) !important;
    }

    .ag-row-hover:not(.ag-row-selected) {
      background-color: var(--accent-200h) !important;
    }

    .ag-side-buttons {
      padding-top: 12px;
      //background-color: #303030;
    }
  }

  .ag-side-button-label {
    display: none;
  }
  .ag-theme-alpine-dark .ag-side-button-button,
  .ag-theme-alpine .ag-side-button-button {
    padding: 0;
    margin: 0;
    min-height: 30px;
  }
  .ag-side-button {
    height: 30px;
    margin: 2px 0;
  }
  .ag-column-drop-horizontal {
    height: 30px !important;
  }
  .ag-header-row {
    height: 30px !important;
  }

  .ag-cell {
    line-height: 26px !important;
  }

  .ag-details-row {
    padding: 10px !important;
  }

  .ag-icon-my-views,
  .ag-icon-column,
  .ag-icon-filters {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
  }

  .ag-theme-alpine-dark .ag-icon-my-views,
  .ag-theme-alpine-dark .ag-icon-filters,
  .ag-theme-alpine-dark .ag-icon-column {
    filter: invert(100%) !important;
  }

  .tag-list-select .mat-select-panel-wrap {
    position: relative;
    top: -15px;
  }

  .tag-list-select .mat-select-panel-wrap .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(-165px) !important;
  }

  .mat-option {
    padding: 0 !important;
  }
  .mat-option-text {
    padding: 0 16px !important;
  }
}
