<ng-container *ngIf="vm$ | async as vm">
  <div class="tag-list-container">
    <mat-card
      class="tag-list-header"
      [ngClass]="{
        'tag-list-header-bg-dark': listTheme === 'dark',
        'tag-list-header-bg-light': listTheme === 'light'
      }"
    >
      <div class="header-left">
        <span
          style="top: 8px; left: 9px; position: absolute"
          *ngIf="vm.filteredColumns.length === 0"
        >
          <mat-icon>filter_alt_outline</mat-icon>
        </span>
        <button
          matTooltip="Clear Filters"
          class="mat-icon-button"
          mat-icon-button
          *ngIf="vm.filteredColumns.length > 0"
          (click)="clearFilters($event)"
        >
          <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
        </button>
        <mat-chip-list #chipList aria-label="Filters">
          <mat-chip
            *ngFor="let filter of vm.filteredColumns"
            [removable]="filter.Removable"
            (removed)="removeFilter(filter)"
          >
            {{ filter.DisplayName }}
            <mat-icon matChipRemove *ngIf="filter.Removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="header-right" fxLayout="row" fxLayoutAlign="end center">
        <div
          class="tag-list-select"
          fxLayout="row"
          fxLayoutAlign="end center"
          style="margin-right: 10px"
        >
          <mat-label style="white-space: nowrap">{{
            modelCountTypeStr
          }}</mat-label>
          <mat-select [disableOptionCentering]="true">
            <mat-option style="height: auto">
              <mat-radio-group
                style="display: grid"
                [formControl]="modelCountTypeFrmCtrl"
              >
                <mat-radio-button [value]="eModelCountType.ModelInputTags">
                  {{
                    modelCountTypeLabelMapping[eModelCountType.ModelInputTags]
                  }}
                </mat-radio-button>
                <mat-radio-button [value]="eModelCountType.DependentTags">
                  {{
                    modelCountTypeLabelMapping[eModelCountType.DependentTags]
                  }}
                </mat-radio-button>
              </mat-radio-group>
            </mat-option>
          </mat-select>
        </div>

        <span>Include tags for this asset only</span>
        <mat-slide-toggle
          class="toggle-preference"
          [checked]="showTagsForSelectedAssetOnly$ | async"
          (change)="tagListPreferenceChange()"
        >
        </mat-slide-toggle>
        <button
          matTooltip="Download Tags"
          mat-icon-button
          (click)="downloadTags()"
        >
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </mat-card>
    <div class="model-config-tag-list-grid" #tagListGrid>
      <ag-grid-angular
        class="ag-grid-formats"
        [ngClass]="
          listTheme === 'light'
            ? 'ag-theme-alpine'
            : listTheme === 'dark'
            ? 'ag-theme-alpine-dark'
            : 'ag-theme-alpine-dark'
        "
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [modules]="modules"
        [rowData]="tags$ | async"
      ></ag-grid-angular>
    </div>
  </div>
</ng-container>
