<ng-container *ngIf="vm$ | async as vm">
  <div
    class="model-edit-container"
    [ngClass]="{ 'show-time-slider': navFacade.showTimeSlider$ | async }"
  >
    <div class="multiple-model-edit-container" fxLayout="column">
      <section class="header-section">
        <div class="title-span">
          <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start">
              <mat-form-field
                class="model-name"
                appearance="fill"
                color="accent"
              >
                <mat-label>Model Name</mat-label>
                <mat-select
                  [value]="vm.selectedModelSummary?.modelExtID"
                  (selectionChange)="modelSelectionChange($event.value)"
                >
                  <ng-container>
                    <mat-option
                      [value]="model.modelExtID"
                      *ngFor="let model of vm.modelSummaries"
                    >
                      {{
                        vm.selectedModelSummary?.modelExtID === model.modelExtID
                          ? getModelName(model.name, vm.modelSummaries.length)
                          : model.name
                      }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start">
              <!-- <button
                mat-button
                [disabled]="vm.dirtyModelSummaries?.length === 0"
                (click)="discardChanges()"
              >
                Discard Changes
              </button> -->
              <button
                id="saveBtn"
                (click)="saveChanges()"
                mat-flat-button
                color="accent"
              >
                <mat-icon
                  class="material-icons-outlined"
                  style="padding-right: 2px"
                  >save</mat-icon
                >
                Save
              </button>
            </div>
          </div>
          <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between">
            <div
              fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="start center"
              *ngIf="vm.selectedModelSummary"
            >
              <mat-form-field
                class="model-type"
                appearance="fill"
                color="accent"
              >
                <mat-label>Model Type</mat-label>
                <mat-select
                  [value]="vm.selectedModelSummary?.properties.modelType?.type"
                  [disabled]="true"
                >
                  <ng-container>
                    <mat-option [value]="null" disabled>
                      Model Type
                    </mat-option>
                    <mat-option
                      [value]="model"
                      *ngFor="let model of modelTypes"
                    >
                      {{ modelTypeLabelMapping[model] }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                class="op-mode-type"
                appearance="fill"
                color="accent"
              >
                <mat-label>Operating Mode Type</mat-label>
                <mat-select
                  [formControl]="opModesFormCtrl"
                  multiple
                  (selectionChange)="opModeChange()"
                >
                  <mat-select-trigger>
                    {{
                      opModesFormCtrl.value?.length > 0
                        ? getDefaultOpMode(
                            vm.selectedModelSummary?.properties.opModeTypes[0]
                          )
                        : ''
                    }}
                    <span
                      class="multi-select-suffix"
                      *ngIf="opModesFormCtrl.value?.length > 1"
                    >
                      (+{{ opModesFormCtrl.value?.length - 1 }}
                      {{
                        opModesFormCtrl.value?.length === 2
                          ? 'other'
                          : 'others'
                      }})
                    </span>
                  </mat-select-trigger>
                  <mat-option disabled> Operating Mode Type </mat-option>
                  <mat-option
                    [value]="opMode"
                    disabled="true"
                    *ngFor="let opMode of opModeTypes"
                  >
                    {{ opModeTypeLabelMapping[opMode] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div style="padding-bottom: 8px">
                <b>Modeled Tag:</b>
                <ng-container
                  *ngIf="
                    vm.selectedModelSummary?.dependent?.modeledTagString
                      ?.length > 90;
                    else tagFits
                  "
                >
                  <span
                    mat-tooltip
                    matTooltipClass="modeled-tag-tooltip"
                    [matTooltip]="
                      vm.selectedModelSummary?.dependent?.modeledTagString
                    "
                  >
                    {{
                      vm.selectedModelSummary?.dependent?.modeledTagString
                        | slice: 0:90
                    }}...
                  </span>
                </ng-container>
                <ng-template #tagFits>
                  {{ vm.selectedModelSummary?.dependent?.modeledTagString }}
                </ng-template>
              </div>
              <div style="padding-bottom: 8px">
                <b>Asset:</b>
                <ng-container
                  *ngIf="
                    vm.selectedModelSummary?.dependent?.assetPath?.length > 90;
                    else assetFits
                  "
                >
                  <span
                    mat-tooltip
                    matTooltipClass="modeled-tag-tooltip"
                    [matTooltip]="vm.selectedModelSummary?.dependent?.assetPath"
                  >
                    {{
                      vm.selectedModelSummary?.dependent?.assetPath
                        | slice: 0:90
                    }}...
                  </span>
                </ng-container>
                <ng-template #assetFits>
                  {{ vm.selectedModelSummary?.dependent?.assetPath }}
                </ng-template>
              </div>
              <mat-chip-list style="padding-bottom: 10px">
                <mat-chip *ngIf="vm.selectedModelSummary?.active">
                  <mat-icon svgIcon="atx_active"></mat-icon>
                  Active
                </mat-chip>
                <mat-chip *ngIf="!vm.selectedModelSummary?.active">
                  <mat-icon svgIcon="atx_inactive">cancel_outline</mat-icon>
                  Inactive
                </mat-chip>
                <mat-chip *ngIf="vm.selectedModelSummary?.standardModel">
                  <mat-icon svgIcon="atx_active"></mat-icon>
                  Standard
                </mat-chip>
                <mat-chip
                  *ngIf="vm.selectedModelSummary?.standardModel === false"
                >
                  Non-Standard
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </section>
      <div
        fxLayout="row"
        fxLayoutAlign="center none"
        fxLayoutGap="5px"
        class="content-section-container"
      >
        <as-split
          direction="vertical"
          [unit]="'percent'"
          [useTransition]="true"
          [gutterSize]="1"
          class="main-content"
          (dragEnd)="splitDragEnd($any($event))"
        >
          <as-split-area style="overflow: hidden" [size]="topSizePercent">
            <section class="top-tabs-section">
              <div
                class="settings-tab-container"
                [ngClass]="{
                  'expand-all': toggleTop
                }"
                #topSection
              >
                <ng-container *ngIf="!toggleBottom">
                  <div class="header-right">
                    <button
                      class="maticon-button"
                      mat-icon-button
                      (click)="topIndicatorClick()"
                    >
                      <mat-icon
                        class="mat-icon-half"
                        [ngClass]="{ clicked: !toggleTop }"
                        >keyboard_arrow_up</mat-icon
                      >
                    </button>
                  </div>
                </ng-container>
                <mat-tab-group
                  animationDuration="0ms"
                  class="settings-tab-group"
                  color="accent"
                >
                  <mat-tab label="Model Trend">
                    <ng-template matTabContent
                      ><atx-model-edit-tabs-model-trend></atx-model-edit-tabs-model-trend
                    ></ng-template>
                  </mat-tab>

                  <mat-tab
                    label="Expected vs Actual"
                    *ngIf="
                      vm.selectedModelSummary?.properties.modelType?.type ===
                      'advanced_pattern_recognition'
                    "
                  >
                    <ng-template matTabContent
                      ><atx-expected-vs-actual></atx-expected-vs-actual
                    ></ng-template>
                  </mat-tab>
                  <mat-tab label="History">
                    <ng-template matTabContent
                      ><atx-model-edit-tabs-model-history></atx-model-edit-tabs-model-history
                    ></ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div></section
          ></as-split-area>
          <as-split-area style="overflow: hidden" [size]="bottomSizePercent">
            <section class="bottom-tabs-section" data-cy="configurationSection">
              <div class="bottom-tab-container">
                <mat-card class="edit-view-card">
                  <div class="header-right">
                    <button
                      class="maticon-button"
                      mat-icon-button
                      (click)="bottomIndicatorClick()"
                    >
                      <mat-icon
                        class="mat-icon-half"
                        [ngClass]="{ clicked: toggleBottom }"
                        >keyboard_arrow_up</mat-icon
                      >
                    </button>
                  </div>
                  <mat-tab-group
                    #bottomTabGroup
                    animationDuration="0ms"
                    class="settings-tab-group"
                    color="accent"
                  >
                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type ===
                        modelTypeEnum.MovingAverage
                      "
                    >
                      <mat-tab label="Averages" [disabled]="vm.modelSaving"
                        ><atx-model-averages
                          [isMultiModel]="true"
                        ></atx-model-averages>
                      </mat-tab>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type ===
                        modelTypeEnum.ROC
                      "
                    >
                      <mat-tab
                        label="Slope Analysis"
                        [disabled]="vm.modelSaving"
                        ><atx-model-slope-analysis
                          [isMultiModel]="true"
                        ></atx-model-slope-analysis>
                      </mat-tab>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type ===
                        modelTypeEnum.Forecast
                      "
                    >
                      <mat-tab label="Forecast" [disabled]="vm.modelSaving"
                        ><atx-model-forecast
                          [isMultiModel]="true"
                        ></atx-model-forecast>
                      </mat-tab>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type ===
                        modelTypeEnum.AdvancedPatternRecognition
                      "
                    >
                      <mat-tab label="Inputs" [disabled]="vm.modelSaving">
                        <atx-inputs-multi-model-config
                          data-cy="inputsTab"
                        ></atx-inputs-multi-model-config>
                      </mat-tab>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type !==
                          modelTypeEnum.Forecast &&
                        vm?.selectedModelSummary?.properties.modelType?.type !==
                          modelTypeEnum.FrozenData &&
                        vm?.selectedModelSummary?.properties.modelType?.type !==
                          modelTypeEnum.FixedLimit
                      "
                    >
                      <mat-tab
                        label="Training Range"
                        [disabled]="vm.modelSaving"
                      >
                        <atx-model-training-range
                          [isMultiModel]="true"
                        ></atx-model-training-range>
                      </mat-tab>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type !==
                        modelTypeEnum.Forecast
                      "
                    >
                      <mat-tab label="Anomalies" [disabled]="vm.modelSaving"
                        ><atx-model-sensitivity-anomalies
                          [isMultiModel]="true"
                        ></atx-model-sensitivity-anomalies>
                      </mat-tab>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        vm?.selectedModelSummary?.properties.modelType?.type !==
                        modelTypeEnum.Forecast
                      "
                    >
                      <mat-tab label="Alerts" [disabled]="vm.modelSaving"
                        ><atx-model-sensitivity-alerts
                          [isMultiModel]="true"
                        ></atx-model-sensitivity-alerts>
                      </mat-tab>
                    </ng-container>
                    <mat-tab label="Build Status"
                      ><atx-build-status-multiple></atx-build-status-multiple>
                    </mat-tab> </mat-tab-group
                ></mat-card>
              </div>
            </section>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </div>
  <atx-time-slider
    *ngIf="navFacade.showTimeSlider$ | async"
    [timeSliderState]="$any(timeSlider$ | async)"
    (stateChange)="onTimeSliderStateChange($event)"
  >
  </atx-time-slider>
</ng-container>
