<div class="container">
  <div class="title">
    <mat-card-title fxLayout="row" fxLayoutAlign="start center">
      <mat-icon style="color: #f9a825; margin-right: 10px">info</mat-icon>
      <span *ngIf="data.actionType === 0">Delete Model</span>
      <span *ngIf="data.actionType === 1">Activate Model</span>
      <span *ngIf="data.actionType === 2">Deactivate Model</span>
    </mat-card-title>
  </div>

  <div class="content-header">
    <div>
      <span [innerHTML]="message$ | async"> </span>
      <div class="content-body" fxLayout="column" fxLayoutAlign="start start">
        <ul>
          <li *ngFor="let model of data.models">{{ model.modelName }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="actions" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5px">
    <button mat-button (click)="cancel()" [disabled]="isLoading$ | async">
      Cancel
    </button>

    <button
      mat-flat-button
      color="accent"
      style="color: #eee"
      (click)="modelAction()"
      [disabled]="isLoading$ | async"
    >
      <span *ngIf="data.actionType === 0">Delete</span>
      <span *ngIf="data.actionType === 1">Activate</span>
      <span *ngIf="data.actionType === 2">Deactivate</span>
    </button>
  </div>
</div>
