.container {
  max-width: 600px;
  max-height: 500px;
  overflow: hidden;
}

.content-header {
  padding: 10px;
  padding-top: 10px;
}
.content-body {
  overflow: auto;
  max-height: 300px;
}

.actions {
  padding-top: 10px;
}
