$primary-pat: (
  50: theme('colors.primary.50'),
  100: theme('colors.primary.100'),
  200: theme('colors.primary.200'),
  300: theme('colors.primary.300'),
  400: theme('colors.primary.400'),
  500: theme('colors.primary.500'),
  600: theme('colors.primary.600'),
  700: theme('colors.primary.700'),
  800: theme('colors.primary.800'),
  900: theme('colors.primary.900'),
  A100: theme('colors.primary.a100'),
  A200: theme('colors.primary.a200'),
  A400: theme('colors.primary.a400'),
  A700: theme('colors.primary.a700'),
  contrast: (
    50: theme('colors.contrast.50'),
    100: theme('colors.contrast.100'),
    200: theme('colors.contrast.200'),
    300: theme('colors.contrast.300'),
    400: theme('colors.contrast.400'),
    500: theme('colors.contrast.500'),
    600: theme('colors.contrast.600'),
    700: theme('colors.contrast.700'),
    800: theme('colors.contrast.800'),
    900: theme('colors.contrast.900'),
    A100: theme('colors.contrast.a100'),
    A200: theme('colors.contrast.a200'),
    A400: theme('colors.contrast.a400'),
    A700: theme('colors.contrast.a700'),
  ),
);

$accent-pat: (
  50: theme('colors.accent.50'),
  100: theme('colors.accent.100'),
  200: theme('colors.accent.200'),
  300: theme('colors.accent.300'),
  400: theme('colors.accent.400'),
  500: theme('colors.accent.500'),
  600: theme('colors.accent.600'),
  700: theme('colors.accent.700'),
  800: theme('colors.accent.800'),
  900: theme('colors.accent.900'),
  A100: theme('colors.accent.a100'),
  A200: theme('colors.accent.a200'),
  A400: theme('colors.accent.a400'),
  A700: theme('colors.accent.a700'),
  contrast: (
    50: theme('colors.contrast.50'),
    100: theme('colors.contrast.100'),
    200: theme('colors.contrast.200'),
    300: theme('colors.contrast.300'),
    400: theme('colors.contrast.400'),
    500: theme('colors.contrast.500'),
    600: theme('colors.contrast.600'),
    700: theme('colors.contrast.700'),
    800: theme('colors.contrast.800'),
    900: theme('colors.contrast.900'),
    A100: theme('colors.contrast.a100'),
    A200: theme('colors.contrast.a200'),
    A400: theme('colors.contrast.a400'),
    A700: theme('colors.contrast.a700'),
  ),
);

$warn-pat: (
  50: theme('colors.warn.50'),
  100: theme('colors.warn.100'),
  200: theme('colors.warn.200'),
  300: theme('colors.warn.300'),
  400: theme('colors.warn.400'),
  500: theme('colors.warn.500'),
  600: theme('colors.warn.600'),
  700: theme('colors.warn.700'),
  800: theme('colors.warn.800'),
  900: theme('colors.warn.900'),
  A100: theme('colors.warn.a100'),
  A200: theme('colors.warn.a200'),
  A400: theme('colors.warn.a400'),
  A700: theme('colors.warn.a700'),
  contrast: (
    50: theme('colors.contrast.50'),
    100: theme('colors.contrast.100'),
    200: theme('colors.contrast.200'),
    300: theme('colors.contrast.300'),
    400: theme('colors.contrast.400'),
    500: theme('colors.contrast.500'),
    600: theme('colors.contrast.600'),
    700: theme('colors.contrast.700'),
    800: theme('colors.contrast.800'),
    900: theme('colors.contrast.900'),
    A100: theme('colors.contrast.a100'),
    A200: theme('colors.contrast.a200'),
    A400: theme('colors.contrast.a400'),
    A700: theme('colors.contrast.a700'),
  ),
);
