@use 'node_modules/@angular/material' as mat;

:root {
  --primary-50: #fafafa;
  --primary-100: #f5f5f5;
  --primary-200: #eeeeee;
  --primary-300: #e0e0e0;
  --primary-400: #bdbdbd;
  --primary-500: #9e9e9e;
  --primary-600: #757575;
  --primary-700: #616161;
  --primary-800: #424242;
  --primary-900: #212121;
  --primary-a100: #ffffff;
  --primary-a200: #eeeeee;
  --primary-a400: #bdbdbd;
  --primary-a700: #616161;

  --accent-50: #e0f2f1;
  --accent-100: #b2dfdb;

  //new 7/11/23
  --accent-200: #80cbc4;
  --accent-200h: #80cbc420;
  --accent-250: #6ea09d;
  --accent-250h: #6ea09d20;
  //for inline css
  .accent-250 {
    color: --accent-250;
  }

  --accent-300: #4db6ac;
  --accent-400: #26a69a;
  --accent-500: #009688;
  --accent-600: #00897b;
  --accent-700: #00796b;
  --accent-800: #00695c;
  --accent-900: #004d40;
  --accent-a100: #a7ffeb;
  --accent-a200: #64ffda;
  --accent-a400: #1de9b6;
  --accent-a700: #00bfa5;

  --warn-50: #ffebee;
  --warn-100: #ffcdd2;
  --warn-200: #ef9a9a;
  --warn-300: #e57373;
  --warn-400: #ef5350;
  --warn-500: #f44336;
  --warn-600: #e53935;
  --warn-700: #d32f2f;
  --warn-800: #c62828;
  --warn-900: #b71c1c;
  --warn-a100: #ff8a80;
  --warn-a200: #ff5252;
  --warn-a400: #ff1744;
  --warn-a700: #d50000;

  --contrast-50: mat.$dark-primary-text;
  --contrast-100: $dark-primary-text;
  --contrast-200: $dark-primary-text;
  --contrast-300: $dark-primary-text;
  --contrast-400: $dark-primary-text;
  --contrast-500: $dark-primary-text;
  --contrast-600: $light-primary-text;
  --contrast-700: $light-primary-text;
  --contrast-800: $light-primary-text;
  --contrast-900: $light-primary-text;
  --contrast-a100: $dark-primary-text;
  --contrast-a200: $dark-primary-text;
  --contrast-a400: $dark-primary-text;
  --contrast-a700: $light-primary-text;
}
