@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp';
@import '@angular/material/theming';

@include mat-core();

// Import default and customized themes, the files are separated to have organize it by file.
// For new customized theme simply add the css file under 'theme' folder and import it here.

// Import light-dark-theme.scss this is atonix default themes.
@import 'light-dark-theme.scss';

// Import ethos-theme.scss this a customized theme for ethos.
@import 'ethos-theme.scss';

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.alternative-light-theme * {
  mat-card-title,
  mat-icon,
  h2,
  th,
  b {
    color: #383838;
  }
  button span,
  button:disabled mat-icon {
    color: unset;
  }
}
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  height: 20%;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgb(160, 160, 160, 0.7);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #686868;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
// Used to allow mat-tab objects to be full height sometimes.
mat-tab-group.full-height .mat-tab-body-wrapper {
  flex: 1 1 100%;
}
.material-icons.color_green {
  color: #00ff00;
}
.material-icons.color_grey {
  color: #909090;
}
