// This file is for theme design for default light and dark theme by atonix.

//temporary PG palette for the accent color
$pg-brand: (
  50: #9a9a9b,
  100: #9a9a9b,
  200: #9a9a9b,
  300: #9a9a9b,
  400: #9a9a9b,
  500: #9a9a9b,
  600: #9a9a9b,
  700: #9a9a9b,
  800: #9a9a9b,
  900: #9a9a9b,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@use 'libs/atx-navigation/theme/palette' as palette;

$a360-dark-primary: mat-palette($mat-gray, 700);
// $a360-dark-accent: mat-palette($pg-brand, 300);
$a360-dark-accent: mat-palette($mat-teal, 200);
$a360-dark-button: mat-palette($mat-purple, 600);
$a360-dark-warn: mat-palette($mat-red);

// Separate palette defination for light theme..
$a360-light-primary: mat-palette($mat-gray, 300);
// $a360-light-accent: mat-palette($pg-brand, 300);
$a360-light-accent: mat-palette($mat-teal, 300);
$a360-light-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$a360-dark-theme: mat-dark-theme(
  $a360-dark-primary,
  $a360-dark-accent,
  $a360-dark-warn
);
$a360-light-theme: mat-light-theme(
  $a360-light-primary,
  $a360-light-accent,
  $a360-light-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// We can override every styling under atonix theme here from warning palette, background, foreground, components or classes, etc.
// This will be developed under atonix preferred light and dark themes.
.default-dark-theme {
  @include angular-material-theme($a360-dark-theme);
}

.alternative-light-theme {
  @include angular-material-theme($a360-light-theme);
}
