.series-container {
  width: 99%;
  height: calc(100% - 75px);
  margin: 5px;
  padding: 0px 0px 8px 0px;
  border: solid 1px rgba($color: rgb(160, 160, 160), $alpha: 0.3);
  box-shadow: unset !important;
}

::ng-deep.default-dark-theme {
  .series-container {
    background-color: #353535 !important;
  }
}

.series-container mat-toolbar {
  font-size: 14px;
  height: 40px;
  padding-right: 65px;
  border-radius: 4px 4px 0 0;
}

.series-toolbar {
  padding: 5px;
  height: 55px;
}

::ng-deep.default-dark-theme {
  .series-container mat-toolbar {
    background-color: #5555558a !important;
  }
}

.series-div {
  height: calc(100% - 32px);
  overflow: auto;
  padding-top: 12px;
  padding-left: 12px;
}

.series-row {
  position: relative;
}

.series-row-inputs {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.disabled-pointer {
  pointer-events: none;
}

.authorize-click {
  pointer-events: auto;
}

.mat-expansion-panel-header-description {
  padding-left: 860px;
}

.draggable-series {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable-series:active,
.draggable-series:focus {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.cdk-drag-preview {
  color: rgba(160, 160, 160, 0.5);
  background-color: rgba(105, 105, 105, 0.2);
  border-radius: 4px;
}

.cdk-drag-preview .mat-icon-button {
  color: rgba(200, 200, 200, 0.8);
  background-color: rgba(160, 160, 160, 0.7);
}

.series-name {
  width: 350px;
}

.series-constant {
  width: 155px;
}

.series-percentile-value {
  width: 50px;
}

.series-name-header {
  width: 350px;
  margin-left: 50px;
}

.axis-units {
  width: 115px;
}

.color {
  width: 40px;
}

.group-name {
  width: 200px;
}

.stack-type {
  width: 100px;
}

.stack-type-header {
  width: 205px;
}

.header-text {
  font-weight: 500;
}

::ng-deep {
  .default-dark-theme .series-container .mat-mini-fab {
    background-color: #61616141 !important;
  }

  .alternative-light-theme .series-container .mat-mini-fab {
    background: #f5f5f552 !important;
  }

  .series-container,
  .series-toolbar {
    .mat-form-field-wrapper {
      padding-bottom: 0px !important;
    }

    .mat-form-field-underline {
      bottom: 0 !important;
    }

    .mat-form-field-underline {
      bottom: 0 !important;
    }
    .tag-form-field {
      width: 400px;
    }

    .aggregation-form-field {
      width: 100px;
    }
  }

  .mat-form-field-label-wrapper {
    margin: 0;
  }
  .mat-form-field-infix {
    border-top: 1em solid transparent;
    padding-top: 0 !important;
  }

  .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .mat-select-value {
    padding-top: 0 !important;
  }

  .mat-form-field-suffix .mat-icon-button {
    height: 24px !important;
    width: 24px !important;
    top: 4px;
  }
}

.color-field .mat-form-field-infix {
  border-top: 0.125em solid transparent;
}

.mat-error {
  margin-top: 8px;
  word-wrap: none;
}

input[type='color'] {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
.mat-button-toggle-checked {
  background-color: var(--accent-200);
}

::ng-deep {
  .mat-option {
    height: 5em !important;
  }
  .mat-option-text {
    white-space: pre-wrap !important;
    overflow: hidden !important;
    line-height: 1 !important;
  }
}

::ng-deep .tag-form-field .mat-select-value-text {
  white-space: normal !important;
}
