.model-config-context-container {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}

.loading {
  height: 100%;
  color: #333333 !important;
}

.x-axis-select {
  width: 100px;
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  font-size: 11px;
}

::ng-deep {
  .model-config-context-container
    .trend-chart-container
    .chartComponentContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }

  .model-config-context-container .trend-chart-container {
    width: calc(100% - 345px);
    height: 100%;
    display: block;
    background-color: #ffffff !important;
  }
  .alternative-light-theme {
    .model-config-context-container .model-context-trend {
      border: solid 1px #babfc7;
    }
    .model-config-context-container .chart-container {
      background-color: #ffffff !important;
    }
  }
  .default-dark-theme {
    .model-config-context-container .model-context-trend {
      border: solid 1px #68686e;
    }
    .model-config-context-container .chart-container {
      background-color: #222628 !important;
    }
  }

  .model-config-context-container .btn-group {
    position: absolute;
    right: 30px !important;
    .chart-data-cursor {
      display: none !important;
    }
  }

  .model-config-context-container .highcharts-legend-box {
    fill: none;
  }
}
