<div
  class="model-config-context-container"
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between"
>
  <ng-container *ngIf="vm$ | async as vm">
    <atx-op-mode-details fxFlex="340px"></atx-op-mode-details>
    <ng-container
      *ngIf="
        vm.selectedModelSummary?.modelExtID !== '0' &&
          vm.selectedModelSummary?.modelExtID !== '-1';
        else showCover
      "
    >
      <ng-container *ngIf="vm.modelContextLoading; else showTrends">
        <div
          class="loading"
          style="width: 100%"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-progress-spinner
            diameter="40"
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
          <b>Loading Trends</b>
        </div>
      </ng-container>
      <ng-template #showTrends>
        <ng-container>
          <div
            style="z-index: 300; position: absolute; bottom: 8px; right: 12px"
            *ngIf="ShowXAxisPicker"
          >
            <mat-form-field
              class="x-axis-select"
              appearance="fill"
              color="accent"
            >
              <mat-label>X Axis</mat-label>
              <mat-select
                [value]="selectedXAxis"
                (selectionChange)="xAxisChanged($event)"
              >
                <ng-container>
                  <mat-option [value]="-1">Time</mat-option>
                  <mat-option
                    [value]="series.PDTagID"
                    *ngFor="
                      let series of vm.modelContextData?.trendDefinition.Series
                    "
                    >{{ series.DisplayText }}</mat-option
                  >
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div></ng-container
        >

        <div class="trend-chart-container">
          <atx-simple-chart-display
            [theme]="(navFacade.theme$ | async) || 'light'"
            [trend]="vm.modelContextData"
            [correlationTrend]="vm.correlationData"
            [loading]="vm.modelContextDataLoading"
            [showToggle]="false"
            [showEditChart]="false"
            [showDataCursorToggle]="
              !vm.modelContextData.trendDefinition.BandAxis &&
              (vm.modelContextData.trendDefinition?.ChartTypeID === 1 ||
                vm.modelContextData.trendDefinition?.ChartTypeID === 2)
            "
            [allowHiddenLabel]="true"
            [isToggled]="true"
            [hideTitle]="true"
          ></atx-simple-chart-display>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #showCover>
      <div
        fxLayout="column"
        fxLayoutGap="10px"
        fxLayoutAlign="space-around center"
        style="
          position: absolute;
          margin: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <div>
          <mat-icon
            color="accent"
            style="transform: scale(2); opacity: 30%"
            class="material-icons-ouline"
          >
            error
          </mat-icon>
        </div>

        <div style="text-align: center">
          <h3 mat-card-title style="margin-bottom: 5px; padding-bottom: 0">
            Model Not Saved
          </h3>
          <p mat-card-subtitle style="max-width: 400px">
            To see the model context trend <br />
            click save to build the model.
          </p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
