<h3 mat-dialog-title>{{ titleText }}</h3>
<mat-dialog-content>
  <div>
    <p>
      {{ dialogText }}
    </p>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="accent" (click)="onContinue()">
    Continue
  </button>
</div>
