<div
  class="model-context-container"
  [ngClass]="{
    'multiple-trend-display':
      (displayedTrendIndex$ | async) === null && (trends$ | async)!.length > 1
  }"
>
  <ng-container *ngIf="loadingTrends$ | async; else showTrends">
    <div class="loading" fxLayout="column" fxLayoutAlign="center center">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      <b>Loading Trends</b>
    </div>
  </ng-container>
  <ng-template #showTrends>
    <div class="model-context-trends-container">
      <div
        class="model-context-trend"
        *ngFor="
          let trend of trends$ | async;
          let i = index;
          trackBy: trackByTrendId
        "
      >
        <div
          class="trend-header"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div>{{ trend.label }}</div>
          <button mat-icon-button (click)="expandTrends(i)">
            <mat-icon
              class="mat-icon-half"
              [ngClass]="{ clicked: (displayedTrendIndex$ | async) === null }"
              [matTooltip]="
                (displayedTrendIndex$ | async) === null
                  ? 'Expand Trend'
                  : 'Collapse Trend'
              "
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </div>
        <div class="trend-chart">
          <atx-simple-chart-display
            [theme]="(navFacade?.theme$ | async)!"
            [trend]="trend"
            [correlationTrend]="(modelContextCorrelationTrends$ | async)!"
            [loading]="trend.loadingData!"
            [showToggle]="true"
            [showEditChart]="true"
            [showDataCursorToggle]="
              !this.trend.trendDefinition.BandAxis &&
              (trend.trendDefinition?.ChartTypeID === 1 ||
                trend.trendDefinition?.ChartTypeID === 2)
            "
            [showCreateOpMode]="false"
            [allowHiddenLabel]="true"
            [isToggled]="true"
            [hideTitle]="true"
            (btnGrpStateChange)="onBtnGrpStateChange($event, trend.id)"
          ></atx-simple-chart-display>
        </div>
      </div>
    </div>
  </ng-template>
</div>
