.model-context-container {
  height: calc(100% - 11px);
  width: calc(100% - 10px);
  margin: 4px;
}

.model-context-trends-container,
.model-context-trend {
  height: 100%;
}

.model-context-container.multiple-trend-display
  .model-context-trends-container {
  overflow: auto;
}

.model-context-container.multiple-trend-display .model-context-trend {
  height: 280px !important;
  margin-bottom: 5px;
}

.trend-header {
  height: 34px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  position: relative;
}

.trend-chart {
  height: calc(100% - 34px);
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.mat-icon-half {
  transition: all 0.3s ease-out !important;
}

.clicked {
  transform: rotate(180deg);
}

.loading {
  height: 100%;
}

::ng-deep {
  .alternative-light-theme {
    .model-context-container .model-context-trend {
      border: solid 1px #babfc7;
    }
    .model-context-container .chart-container {
      background-color: #ffffff !important;
    }
  }
  .default-dark-theme {
    .model-context-container .model-context-trend {
      border: solid 1px #68686e;
    }
    .model-context-container .chart-container {
      background-color: #222628 !important;
    }
  }

  .model-context-container .btn-group {
    position: absolute;
    top: -35px !important;
    right: 30px !important;
  }

  .model-context-container .highcharts-legend-box {
    fill: none;
  }
}
