<ng-container *ngIf="userAccount$ | async as userAccount">
  <form [formGroup]="phoneForm" style="width: 50%">
    <div fxLayout="column" fxLayoutAlign="center">
      <label style="font-weight: bold; text-align: left"
        >Add Phone Number</label
      >
      <ng-container
        *ngIf="settingUpPhoneNumber(userAccount); else phoneNumberVerification"
      >
        <div fxLayout="column" fxLayoutAlign="center none" style="width: 75%">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field appearance="fill" style="width: 20%">
              <mat-select
                formControlName="countryCode"
                (selectionChange)="resetInput()"
              >
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let c of countryCodes" [value]="c">
                  {{ c }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 80%">
              <span matPrefix *ngIf="samplephoneNumber?.countryCallingCode"
                >+({{ samplephoneNumber.countryCallingCode }})&nbsp;
              </span>
              <input
                NumberOnly="true"
                matInput
                formControlName="phoneNumber"
                placeholder="Phone Number"
                [maxLength]="samplephoneNumber?.nationalNumber?.length"
                [disabled]="!samplephoneNumber?.countryCallingCode"
                required
              />
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button
              mat-stroked-button
              class="phone-setup-btn"
              (click)="cancel()"
            >
              Cancel
            </button>
            <button
              mat-flat-button
              color="accent"
              class="phone-setup-btn"
              (click)="setPhoneNumber()"
              [disabled]="phoneForm.get('phoneNumber')?.hasError('required')"
            >
              Set Phone Number
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #phoneNumberVerification>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
              <span style="font-size: small"
                >Your phone number is set to {{ userAccount.Phone }}</span
              >
              <button
                class="phone-setup-btn"
                mat-stroked-button
                class="detail-button"
                (click)="changephoneNumber()"
              >
                Change
              </button>
            </div>
            <span style="font-size: small"
              >A verification code will be sent to the number you submitted.
              Enter your code below.</span
            >
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Verification Code</mat-label>
              <input
                type="number"
                matInput
                type="text"
                formControlName="verificationCode"
                placeholder="Verification Code"
                required
              />
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
              <button
                mat-stroked-button
                class="phone-setup-btn"
                (click)="cancel()"
              >
                Cancel
              </button>
              <button
                mat-flat-button
                color="accent"
                class="phone-setup-btn"
                (click)="completeVerification()"
                [disabled]="
                  phoneForm.get('verificationCode')?.hasError('required')
                "
              >
                Complete Verification
              </button>
            </div>
          </div>
          <div>
            <button
              mat-stroked-button
              class="phone-setup-btn"
              (click)="resendVerificationCode()"
            >
              Resend Verification Code
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
</ng-container>
