/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.phone-setup-btn {
  font-weight: bold;
  font-size: small;
}

.phone-number-input .mat-form-field-infix {
  display: inherit;
}
