<mat-card>
  <mat-card-title class="widgetTitle">{{ widget?.Title }}</mat-card-title>

  <div
    class="loading"
    fxLayoutAlign="center center"
    *ngIf="widget?.loading; else loaded"
  >
    <div class="spinner" fxLayout="column">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      <b>Loading Data</b>
    </div>
  </div>
  <ng-template #loaded>
    <div class="kpiContainer" #kpi></div>
  </ng-template>
  <mat-card-title class="widgetUnits">{{ widget?.units }}</mat-card-title>
</mat-card>
