mat-card {
  height: 100%;
  padding: 0 !important;
}

mat-card-title.widgetTitle {
  padding: 10px !important;
  font-size: 1.175em;
  font-weight: 500;
  width: 80%;
}

.kpiContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title.widgetUnits {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 2rem;
}
