<atx-horizontal-layout [showTimeSlider]="showTimeSlider$ | async">
  <div class="main-nav events-dashboard-container">
    <ng-container>
      <div class="main-content">
        <div class="top-level">
          <div class="top-config">
            <div class="path" fxLayout="row">
              <div
                *ngFor="
                  let path of (dashboardData$ | async)?.Path;
                  let i = index
                "
                fxLayout="row"
              >
                <h5 *ngIf="i !== 0">&nbsp;>&nbsp;</h5>
                <h5 class="path-desc" (click)="selectAsset(path.AssetID)">
                  {{ path.AssetDesc }}
                </h5>
              </div>
            </div>
            <div fxLayout="row">
              <div class="top-details-container" fxLayout="row" fxFlex="50%">
                <h1 class="top-desc">
                  {{ (dashboardData$ | async)?.AssetDesc }}
                </h1>
                <div
                  class="show-details-btn"
                  *ngIf="(dashboardData$ | async)?.Level !== 'PowerGenerating'"
                >
                  <button
                    mat-raised-button
                    *ngIf="!(dashboardData$ | async)?.ShowDetails"
                    (click)="showDetails(null, null, true)"
                  >
                    Show Details
                  </button>
                  <button
                    mat-raised-button
                    *ngIf="(dashboardData$ | async)?.ShowDetails"
                    (click)="showDetails(null, null, false)"
                  >
                    Hide Details
                  </button>
                </div>
              </div>
              <div
                class="switch-to-container"
                fxLayout="row"
                fxFlex="50%"
                fxLayoutAlign="end"
              >
                <label>Switch to:</label>
                <div class="switch-to">
                  <mat-form-field appearance="fill" color="accent">
                    <mat-select
                      [(value)]="selectedValue"
                      (selectionChange)="selectAsset(selectedValue)"
                    >
                      <mat-option
                        *ngFor="let sib of (dashboardData$ | async)?.Siblings"
                        [value]="sib.AssetID"
                      >
                        {{ sib.AssetDesc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div
            class="parent-gauge-container"
            fxLayout="row"
            fxLayoutAlign="end"
          >
            <div fxFlex="17%">
              <atx-gauge
                [title]="'MW'"
                [units]="'MW'"
                [value]="(dashboardData$ | async)?.MW"
                [max]="(dashboardData$ | async)?.MWMaxCapacity"
                [loading]="loading$ | async"
              ></atx-gauge>
            </div>
            <div class="gauge" fxFlex="17%">
              <atx-gauge
                [title]="'CF'"
                [value]="(dashboardData$ | async)?.CF"
                [loading]="loading$ | async"
              ></atx-gauge>
            </div>
            <div class="gauge" fxFlex="17%">
              <atx-gauge
                [title]="'EAF'"
                [value]="(dashboardData$ | async)?.EAF"
                [loading]="loading$ | async"
              ></atx-gauge>
            </div>
            <div class="gauge" fxFlex="17%">
              <atx-gauge
                [title]="'EFOR'"
                [value]="(dashboardData$ | async)?.EFOR"
                [loading]="loading$ | async"
              ></atx-gauge>
            </div>
            <div class="gauge" fxFlex="17%">
              <atx-gauge
                [title]="'SOF'"
                [value]="(dashboardData$ | async)?.SOF"
                [loading]="loading$ | async"
              ></atx-gauge>
            </div>
            <div class="gauge" fxFlex="17%">
              <atx-event-count
                [value]="(dashboardData$ | async)?.EventCount"
                [loading]="loading$ | async"
              ></atx-event-count>
            </div>
          </div>
          <div
            class="parent-events-chart-container"
            fxLayout="row"
            *ngIf="(dashboardData$ | async)?.ShowDetails"
          >
            <atx-events-chart
              [assetID]="(dashboardData$ | async)?.id"
              [chartData]="(dashboardData$ | async)?.ChartDetails"
              [start]="(timeSelection$ | async)?.startDate"
              [end]="(timeSelection$ | async)?.endDate"
              (initializeChart)="initializeChart(null, null)"
            ></atx-events-chart>
          </div>
          <div
            class="table-container"
            fxLayout="row"
            *ngIf="(dashboardData$ | async)?.ShowDetails"
          >
            <div fxFlex="50%">
              <atx-interval-table
                [assetID]="(dashboardData$ | async)?.id"
                [interval]="(dashboardData$ | async)?.Interval"
                [intervals]="(dashboardData$ | async)?.IntervalDetails"
                (intervalChange)="intervalChange(null, null, $event)"
              ></atx-interval-table>
            </div>
            <div fxFlex="50%" style="padding-left: 10px">
              <atx-events-table
                [assetID]="(dashboardData$ | async)?.id"
                [events]="(dashboardData$ | async)?.EventDetails"
                (initializeEvents)="initializeEvents(null, null)"
              >
              </atx-events-table>
            </div>
          </div>
        </div>
        <div class="bottom-level">
          <div
            class="child-container"
            *ngFor="
              let child of (dashboardData$ | async)?.Children;
              trackBy: trackByChildAssetID
            "
          >
            <div class="child-gauge-container" fxLayout="row">
              <div fxFlex="16%">
                <h3 class="child-desc" (click)="selectAsset(child.AssetID)">
                  {{ child.AssetDesc }}
                </h3>
                <div class="details-btn">
                  <button
                    mat-raised-button
                    *ngIf="!child?.ShowDetails"
                    (click)="showDetails(child.AssetID, child.ParentID, true)"
                  >
                    Show Details
                  </button>
                  <button
                    mat-raised-button
                    *ngIf="child?.ShowDetails"
                    (click)="showDetails(child.AssetID, child.ParentID, false)"
                  >
                    Hide Details
                  </button>
                </div>
              </div>
              <div fxFlex="14%">
                <atx-gauge
                  [title]="'MW'"
                  [units]="'MW'"
                  [value]="child.MW"
                  [max]="child.MWMaxCapacity"
                  [loading]="loading$ | async"
                ></atx-gauge>
              </div>
              <div class="gauge" fxFlex="14%">
                <atx-gauge
                  [title]="'CF'"
                  [value]="child.CF"
                  [loading]="loading$ | async"
                ></atx-gauge>
              </div>
              <div class="gauge" fxFlex="14%">
                <atx-gauge
                  [title]="'EAF'"
                  [value]="child.EAF"
                  [loading]="loading$ | async"
                ></atx-gauge>
              </div>
              <div class="gauge" fxFlex="14%">
                <atx-gauge
                  [title]="'EFOR'"
                  [value]="child.EFOR"
                  [loading]="loading$ | async"
                ></atx-gauge>
              </div>
              <div class="gauge" fxFlex="14%">
                <atx-gauge
                  [title]="'SOF'"
                  [value]="child.SOF"
                  [loading]="loading$ | async"
                ></atx-gauge>
              </div>
              <div class="gauge" fxFlex="14%">
                <atx-event-count
                  [value]="child.EventCount"
                  [loading]="loading$ | async"
                ></atx-event-count>
              </div>
            </div>
            <div
              class="child-events-chart-container"
              fxLayout="row"
              *ngIf="child?.ShowDetails"
              fxLayoutAlign="end"
            >
              <atx-events-chart
                fxFlex="84%"
                [assetID]="child.AssetID"
                [chartData]="child.ChartDetails"
                [start]="(timeSelection$ | async)?.startDate"
                [end]="(timeSelection$ | async)?.endDate"
                (initializeChart)="
                  initializeChart(child.AssetID, child.ParentID)
                "
              ></atx-events-chart>
            </div>
            <div
              class="table-container"
              *ngIf="child?.ShowDetails"
              fxLayoutAlign="end"
            >
              <div fxFlex="84%">
                <div fxFlex="50%">
                  <atx-interval-table
                    [assetID]="child.AssetID"
                    [interval]="child.Interval"
                    [intervals]="child.IntervalDetails"
                    (intervalChange)="
                      intervalChange(child.AssetID, child.ParentID, $event)
                    "
                  >
                  </atx-interval-table>
                </div>
                <div fxFlex="50%" style="padding-left: 10px">
                  <atx-events-table
                    [assetID]="child.AssetID"
                    [events]="child.EventDetails"
                    (initializeEvents)="
                      initializeEvents(child.AssetID, child.ParentID)
                    "
                  >
                  </atx-events-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</atx-horizontal-layout>
<atx-time-slider
  *ngIf="showTimeSlider$ | async"
  [timeSliderState]="timeSliderState$ | async"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
