.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  /*the height of the content
  should be the same as the height
  of the space allowed for it.
  If we don't put 100% here here,
  it defaults to something else, so this 100%
  is necessary.*/
  height: calc(100% - 20px);
  padding: 10px;
  overflow-y: auto;
}

.top-config {
  border-bottom: 1px solid hsla(0, 0%, 62.7%, 0.3);
}

.path-desc:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-250);
}

.top-desc {
  margin: 0px;
}

.show-details-btn {
  height: 32px;
  margin-left: 20px;
}

.show-details-btn > span {
  padding: 0px !important;
}

.switch-to-container > label {
  padding-top: 9px !important;
}

.switch-to {
  padding: 0px 10px !important;
}

.top-level {
  border-bottom: 1px solid hsla(0, 0%, 62.7%, 0.3);
}

.parent-gauge-container {
  height: 200px;
  padding: 10px;
}

.parent-events-chart-container {
  height: 300px;
  padding: 0px 10px 10px;
}

.child-events-chart-container {
  height: 250px;
  padding: 0px 10px 10px;
}

atx-events-chart {
  height: 100%;
  width: 100%;
}

.table-container {
  padding: 0px 10px 10px;
}

.bottom-level {
  height: calc(100% - 304px);
}

.child-container {
  border-bottom: 1px solid hsla(0, 0%, 62.7%, 0.3);
}

.child-gauge-container {
  height: 180px;
  padding: 10px;
}

.gauge {
  padding-left: 10px;
}

.child-desc {
  text-decoration: underline;
  cursor: pointer;
  word-wrap: break-word;
}

.child-desc:hover {
  text-decoration: underline;
  color: var(--accent-250);
  cursor: pointer;
  word-wrap: break-word;
}

::ng-deep {
  .events-dashboard-container .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }

  .events-dashboard-container .mat-form-field-infix {
    padding-top: 0 !important;
  }

  .events-dashboard-container .mat-select-arrow-wrapper {
    transform: translateY(-20%) !important;
  }

  .events-dashboard-container .mat-form-field-label-wrapper {
    margin-top: 2px !important;
  }

  .events-dashboard-container .mat-form-field-flex {
    padding-top: 0 !important;
  }

  .events-dashboard-container .mat-form-field-underline {
    bottom: auto !important;
  }

  .events-dashboard-container .mat-form-field-flex {
    padding-top: 0px !important;
  }

  .events-dashboard-container .mat-form-field-underline {
    bottom: auto !important;
  }
  mat-form-field .mat-icon-button {
    display: content !important;
    top: 5px;
    height: 24px !important;
    width: 24px !important;
  }
}

.mat-error {
  margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
