<div class="sidebar">
  <div class="sidebar-top">
    <div class="sidebar-top-header">
      <button
        mat-raised-button
        (click)="onDiscardChanges()"
        [disabled]="(isViewStateDirty$ | async) === false"
      >
        Discard Changes
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onSaveView()"
        [disabled]="(isViewStateDirty$ | async) === false"
      >
        Save View
      </button>
      <button
        mat-icon-button
        (click)="onStopEditMode()"
        matTooltip="Stop Editing"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="sidebar-header">Configuration</div>
    <div class="sidebar-top-content">
      <div class="mb-8">
        Click on an area or object to edit its content or settings.
      </div>
      <div
        *ngIf="selectedElement$ | async as selectedElement; else noElSelected"
      >
        <div>Currently Selected:</div>
        <div class="mb-8 selected-label-and-delete">
          {{ selectedElement.Kind ? selectedElement.Kind : 'Other' }}
          <button
            mat-icon-button
            *ngIf="selectedElement && selectedElement.Kind !== 'View'"
            class="delete-btn"
            (click)="onDeleteSectionOrWidget()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div [ngSwitch]="selectedElement.Kind">
          <atx-view-details-editor
            *ngSwitchCase="'View'"
          ></atx-view-details-editor>
          <atx-section-details-editor
            *ngSwitchCase="'Section'"
          ></atx-section-details-editor>
        </div>

        <atx-widget-editor
          *ngIf="isWidget(selectedElement.Kind)"
        ></atx-widget-editor>
      </div>
    </div>
    <ng-template #noElSelected>
      <div>Select an element to edit</div>
    </ng-template>
  </div>
  <atx-toolbar></atx-toolbar>
</div>
