.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-top-header {
    height: 50px;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &-top-content {
    padding: 8px;
    font-weight: 500;
  }
}

.sidebar-header {
  margin: 8px 0px 4px 4px;
  font-weight: 500;
  font-size: large;
}

.mb-8 {
  margin-bottom: 8px;
}

.selected-label-and-delete {
  width: 100%;
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
