pre {
  background: hsla(0, 0%, 100%, 0.01);
  border: 0.5px solid hsla(0, 0%, 100%, 0.2);
  width: 300px;
}

.hljs-comment {
  color: #9e9e9e;
  font-style: italic;
}

.hljs-tag {
  color: #ce93d8;
}

.hljs-name {
  color: #4dd0e1;
}
