<h1>Form Fields</h1>
<p>Atonix form field components.</p>
<h2>Dropdown</h2>
<atx-dropdown></atx-dropdown>
<pre>
    <code class="language-html hljs">
        <span fxLayout="row" fxLayoutAlign="center center">
            <div class="hljs-tag">&lt;</div>
            <div class="hljs-name">atx-dropdown</div>
            <div class="hljs-tag">&gt;</div>
            <div class="hljs-tag">/&lt;</div>
            <div class="hljs-name">atx-dropdown</div>
            <div class="hljs-tag">&gt;</div>
        </span>
    </code>
</pre>
<h2>Date Picker</h2>
<atx-date-picker></atx-date-picker>
<pre>
    <code class="language-html hljs">
        <span fxLayout="row" fxLayoutAlign="center center">
            <div class="hljs-tag">&lt;</div>
            <div class="hljs-name">atx-date-picker</div>
            <div class="hljs-tag">&gt;</div>
            <div class="hljs-tag">/&lt;</div>
            <div class="hljs-name">atx-date-picker</div>
            <div class="hljs-tag">&gt;</div>
        </span>
    </code>
</pre>
<h2>Input</h2>
<atx-input></atx-input>
<pre>
    <code class="language-html hljs">
        <span fxLayout="row" fxLayoutAlign="center center">
            <div class="hljs-tag">&lt;</div>
            <div class="hljs-name">atx-input</div>
            <div class="hljs-tag">&gt;</div>
            <div class="hljs-tag">/&lt;</div>
            <div class="hljs-name">atx-input</div>
            <div class="hljs-tag">&gt;</div>
        </span>
    </code>
</pre>
