.dialog {
  height: 100%;
  width: 100%;
  &_content {
    display: flex;
    justify-content: space-evenly;
    height: 65vh;
    &-tree {
      width: 45%;
    }
    &-chart-list {
      width: 45%;
      overflow: auto;
      border: solid #5e5e5e 1px;
      & mat-list-option {
        font-size: 14px;
        height: 28px;
        white-space: nowrap;
      }
    }
    &-chart-list-search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-chart-list-loading {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_header {
    margin-bottom: 12px;
    &-title {
      font-size: xx-large;
      &-smalltext {
        margin-left: 8px;
        font-size: large;
      }
    }
  }
}
