<div class="dialog">
  <div class="dialog_header">
    <div class="dialog_header-title">
      Select a {{ isChart ? 'Chart' : 'Table' }}:
    </div>
  </div>
  <div class="dialog_content">
    <atx-asset-tree-dropdown
      class="dialog_content-tree"
      [assetTreeConfiguration]="$any(secondaryAssetTreeConfig$ | async)"
      (assetTreeStateChange)="secondaryAssetTreeStateChange($event)"
    ></atx-asset-tree-dropdown>

    <div class="dialog_content-chart-list">
      <div class="dialog_content-chart-list-search">
        <mat-form-field color="accent">
          <input
            id="assetAutoComplete"
            placeholder="{{ isChart ? 'Chart' : 'Table' }}"
            aria-label="Chart Search"
            matInput
            [formControl]="chartSearchControl"
          />
        </mat-form-field>
        <mat-icon>search</mat-icon>
      </div>

      <div
        *ngIf="
          filteredList.length === 0 && (chartListLoading$ | async) === false
        "
        style="text-align: center"
      >
        No charts or tables were found for the selected asset and filter
      </div>

      <div
        *ngIf="chartListLoading$ | async"
        class="dialog_content-chart-list-loading"
      >
        <mat-spinner></mat-spinner>
      </div>

      <mat-selection-list
        class=""
        [multiple]="false"
        (selectionChange)="onChartListSelection($event)"
        *ngIf="(chartListLoading$ | async) === false"
      >
        <mat-list-option *ngFor="let chart of filteredList" [value]="chart">
          {{ chart.label }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <mat-dialog-actions align="end" class="dialog_buttons">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSelectChartComplete()"
      [disabled]="selectedTrend === undefined"
    >
      Done
    </button>
  </mat-dialog-actions>
</div>
