::ng-deep {
  .mat-dialog-content {
    overflow: hidden;
    height: 560px;
    max-height: none;
  }

  .mat-radio-ripple {
    height: 0 !important;
    width: 0 !important;
  }
  .mat-radio-label-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table {
    width: 100%;
  }

  .mat-table {
    display: block;
    height: 210px;
    overflow: auto;
  }

  .mat-column-standard {
    width: 120px;
  }

  .mat-column-assetTypeName {
    width: 290px;
  }

  .mat-column-description {
    width: 290px;
  }
}

.mat-row {
  &.selected {
    background-color: var(--accent-200) !important;
  }
}

.error {
  height: 20px;
}

.error p {
  color: red;
}

.standard {
  color: #5e9a40;
  padding: 6px;
}

.asset-path {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
