<h3 mat-dialog-title>
  {{ headerText }}
</h3>
<mat-dialog-content>
  <form [formGroup]="assetForm">
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="15px">
      <p>{{ assetPathHeading }}</p>
      <span class="asset-path" [title]="assetPath">{{ assetPath }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="34px">
      <mat-form-field appearance="fill" color="accent" [style.width.%]="100">
        <mat-label>Asset Name</mat-label>
        <input
          title="assetName"
          matInput
          formControlName="assetName"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="40px">
      <mat-form-field appearance="fill" color="accent" [style.width.%]="100">
        <mat-label>Description (same as Name if left blank)</mat-label>
        <input
          title="description"
          matInput
          formControlName="description"
          autocomplete="off"
        />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="15px">
      <mat-form-field appearance="fill" color="accent" [style.width.%]="100">
        <mat-label
          >Asset Type (choose a standard type below or search here)</mat-label
        >
        <input
          title="searchString"
          matInput
          formControlName="searchString"
          autocomplete="off"
        />
      </mat-form-field>
      <button
        mat-stroked-button
        color="accent"
        aria-label="Initiate"
        (click)="onResetClick()"
      >
        Reset
      </button>
    </div>
  </form>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 matTable"
    data-cy="assetTypeTable"
  >
    <!-- Standard Column -->
    <ng-container matColumnDef="standard">
      <th mat-header-cell *matHeaderCellDef>Standard</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="standard">{{
          element.IsStandard ? 'check_circle' : 'circle'
        }}</mat-icon>
      </td>
    </ng-container>

    <!-- Asset Type Name Column -->
    <ng-container matColumnDef="assetTypeName">
      <th mat-header-cell *matHeaderCellDef>Asset Type Name</th>
      <td mat-cell *matCellDef="let element" data-cy="assetTypeName">
        {{ element.AssetClassTypeKey }}
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        {{ element.AssetClassTypeDesc }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ selected: selection?.isSelected(row) }"
      (click)="handleSelection(row)"
    ></tr>
    <tr *matNoDataRow>
      <td
        [colSpan]="displayedColumns.length"
        [style.textAlign]="'center'"
        [style.paddingTop.px]="20"
      >
        <div *ngIf="selectAssetClassTypeState === ''; else loading">
          No Results
        </div>
        <ng-template #loading>
          <div>Loading...</div>
        </ng-template>
      </td>
    </tr>
  </table>
  <div *ngIf="errorText" class="error">
    <p>Error: {{ errorText }}</p>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button [autofocus]="false" mat-button (click)="onCancel()">Cancel</button>
  <button
    [autofocus]="false"
    [disabled]="isSaveDisabled()"
    mat-flat-button
    color="accent"
    (click)="onContinue()"
    data-cy="createAssetDialogCreateBtn"
  >
    {{ buttonText }}
  </button>
</div>
