<div class="inputs-container">
  <ng-container
    *ngIf="
      (vm$ | async).selectedModelSummary?.properties.modelType?.type ===
        modelTypes.AdvancedPatternRecognition;
      else inputsNotAvailable
    "
  >
    <div class="inputs-content" fxLayout="row">
      <atx-input-list
        class="list"
        fxFlex="650px"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
      ></atx-input-list>
      <atx-model-edit-tag-list
        (selectedTag)="addModelInputTag($event)"
        class="list"
      ></atx-model-edit-tag-list>
    </div>
  </ng-container>
  <ng-template #inputsNotAvailable>
    <div fxLayout="col" fxLayoutAlign="center center" fxFlex="100">
      <h1>This model type does not require inputs.</h1>
    </div>
  </ng-template>
</div>
