.views-panel {
  text-align: left;
  min-width: 195px;
}

.new-view {
  display: flex;
  height: 32px;
  align-items: center;
}

.new-view input {
  width: 110px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.new-view-spacer {
  flex-grow: 1;
  max-width: 64px;
}

.views-panel button {
  height: 28px;
  line-height: 28px;
  margin: 5px;
  border: 1px solid inherit;
  border-radius: 2px;
}

.views-panel button:hover {
  background-color: rgba(90, 90, 90, 0.2);
}

ul {
  padding: 0;
  margin: 0 auto;
}

li {
  display: flex;
  align-items: center;
  height: 32px;
  border-top: 1px solid rgba(160, 160, 160, 0.3);
}

mat-icon {
  margin-left: 7.5px;
  margin-right: 7.5px;
  cursor: pointer;
}

h4 {
  flex-grow: 9999999;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  max-width: 150px;
}

.list-name {
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.filterLoadDelete {
  flex-grow: 1;
}
