<div class="tab-container">
  <div class="chart" *ngIf="model; else noModel">
    <mat-card
      class="text-center text-dark loading-overlay"
      *ngIf="multiselected"
    >
      <div class="loading">
        <mat-card-title> Multiple Models Selected </mat-card-title>
        <mat-card-subtitle> Please Select One Alert </mat-card-subtitle>
      </div>
    </mat-card>
    <div
      class="loading"
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="!trends; else showTrends"
    >
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      <b>Loading Trends</b>
    </div>
    <ng-template #showTrends>
      <div
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayoutGap="10px"
        class="model-context-header"
      >
        <atx-chart-selector
          [trends]="trends"
          [selected]="selectedTrendID"
          (stateChange)="selectTrend($event)"
        >
        </atx-chart-selector>
        <button mat-button aria-label="Add New" (click)="addTrend()">
          <mat-icon color="accent"> add_circle_outline </mat-icon>
          Add New Trend
        </button>
      </div>
      <div class="model-context-body">
        <atx-simple-chart-display
          [theme]="theme"
          [trend]="selectedTrend"
          [correlationTrend]="correlationTrend"
          [showToggle]="true"
          [showEditChart]="
            (authFacade.dataExplorerTaskCenterAccess$ | async).CanView
          "
          [showDataCursorToggle]="true"
          [showCreateOpMode]="true"
          [allowHiddenLabel]="true"
          [loading]="loading"
          [isToggled]="false"
          [hideTitle]="true"
          (btnGrpStateChange)="onBtnGrpStateChange($event)"
        ></atx-simple-chart-display>
      </div>
    </ng-template>
  </div>
  <ng-template #noModel>
    <mat-card *ngIf="!model" fxLayoutAlign="center center">
      <div>
        <mat-card-title style="text-align: center">
          No Model Selected
        </mat-card-title>
        <mat-card-subtitle style="text-align: center">
          Select a model from the Alerts Screeing View<br />to see its Model
          Context.</mat-card-subtitle
        >
      </div>
    </mat-card>
  </ng-template>
</div>
