.model-context-header {
  max-height: 34px;
  padding: 4px 0 0 4px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  position: relative;
}

.model-context-body {
  height: calc(100% - 34px);
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.model-context-header .mat-button {
  line-height: 26px !important;
}

mat-icon {
  font-size: 18px;
  padding-top: 4px;
  text-align: center;
}

mat-card {
  height: 100%;
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-align: center;
}

.header-title {
  display: block;
  margin: auto;
}

.tab-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

:host-context(.trends-expanded) .tab-container {
  height: 100%;
}

.chart {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.loading {
  height: 100%;
}

@media (max-width: 1100px) {
  .selector-group {
    height: 36px;
    width: 250px;
    margin-top: 3px;
    margin: 0 auto;
  }
}
