button {
  height: 45px !important;
}

::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0px !important;
    padding-top: 0px !important;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
