<div fxFlex="100%" id="updateLimitsContainer">
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
    <mat-form-field
      floatLabel="always"
      fxFlex="23%"
      appearance="fill"
      color="accent"
    >
      <mat-label>Low Limit</mat-label>
      <input
        matInput
        type="number"
        placeholder="0"
        [formControl]="lowLimit"
        autocomplete="off"
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      fxFlex="23%"
      appearance="fill"
      color="accent"
    >
      <mat-label>High Limit</mat-label>
      <input
        matInput
        type="number"
        placeholder="0"
        [formControl]="highLimit"
        autocomplete="off"
      />
    </mat-form-field>
    <ng-container
      *ngIf="
        (min === null && max === null) ||
          min !== lowLimit.value ||
          max !== highLimit.value;
        else focusReset
      "
    >
      <button mat-raised-button color="accent" fxFlex="23%" (click)="apply()">
        Apply
      </button>
      <button mat-stroked-button fxFlex="23%" (click)="reset()">Reset</button>
    </ng-container>
    <ng-template #focusReset>
      <button mat-stroked-button fxFlex="23%" (click)="apply()">Apply</button>
      <button mat-raised-button color="accent" fxFlex="23%" (click)="reset()">
        Reset
      </button>
    </ng-template>
  </div>
</div>
