mat-toolbar {
  height: 50px;
  display: flex;
  justify-items: stretch;
}
mat-toolbar atx-chart-selector {
  min-width: 275px;
  font-size: 0.75em;
}
mat-toolbar .spacer {
  flex-grow: 1;
}
mat-card.loading-overlay {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  border-radius: 0;
  height: 100%;
  display: -webkit-box;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  top: 0;
  padding: 0;
}

mat-progress-spinner {
  margin: 0 auto;
}
mat-drawer-content.mat-drawer-content {
  overflow: hidden !important;
}

.side-nav {
  height: 100%;
  overflow: auto;
}

.launchpad-container.collapse {
  max-height: 200px;
  transition: max-height 0.5s ease-in;
  flex: 0 0 auto !important;
}

.launchpad-container {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  flex: none;
}

.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chart-container-wrapper {
  height: calc(100% - 50px);
  position: relative;
}

.row-bar {
  height: 50px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  position: relative;
}
// .selector-group {
//   height: 40px;
//   width: 325px;
//   margin-left: 5px;
// }

.selector-group {
  height: 36px;
  width: 600px;
  margin-top: 3px;
  margin: 0 auto;
}

atx-chart-selector {
  display: inline-block;
  margin-top: 6px;
}

::ng-deep {
  .btn-group {
    position: absolute;
    right: 0px;
    top: -40px;
    margin-right: 8px;
  }
  .btn-group span {
    padding: 3px;
  }
  .btn-group > span:nth-child(4) {
    float: left;
  }
  .chart-container div.ng-star-inserted {
    height: 100%;
    width: 100%;
    position: inherit;
  }
  .chart-container {
    min-height: unset !important;
    min-width: unset !important;
    height: 100% !important;
    width: 100%;
  }
  .highcharts-container {
    height: 100% !important;
  }
  .table-container {
    height: 100%;
    overflow-y: scroll;
  }
  .table-container::-webkit-scrollbar {
    width: 0;
  }
  .table-container {
    min-height: unset !important;
  }
  table.chartComponentContent {
    height: 100px !important;
  }
  mat-drawer-content.mat-drawer-content {
    overflow: hidden !important;
  }
}

@media (max-width: 1100px) {
  .selector-group {
    height: 36px;
    width: 250px;
    margin-top: 3px;
    margin: 0 auto;
  }
}
