<atx-horizontal-layout
  (sizeChange)="onAssetTreeSizeChange($event)"
  (mainNavclicked)="mainNavclicked()"
  [showTimeSlider]="showTimeSlider$ | async"
  [leftTrayMode]="layoutMode$ | async"
  [leftTraySize]="leftTraySize$ | async"
  [leftTrayOpen]="assetTreeSelected$ | async"
  leftTraySizeMin="150"
  rightTrayOpen="false"
  rightTraySize="300"
  rightTrayMode="side"
>
  <div class="side-nav">
    <atx-asset-tree
      [treeState]="assetTreeConfiguration$ | async"
      (stateChange)="onAssetTreeStateChange($event)"
    >
    </atx-asset-tree>
  </div>
  <div class="main-nav">
    <div class="main-content">
      <atx-breadcrumb-menu
        [breadcrumb]="breadcrumbMenu$ | async"
      ></atx-breadcrumb-menu>

      <div class="row-bar">
        <div class="selector-group">
          <atx-chart-selector
            [trends]="dataExplorerTrends$ | async"
            [selected]="selectedTrendID$ | async"
            (stateChange)="trendSelected($event)"
            style="width: calc(100% - 40px)"
          >
          </atx-chart-selector>
        </div>
      </div>

      <div
        class="chart-container-wrapper"
        [ngClass]="{ collapse: showLaunchPad$ | async }"
      >
        <atx-chart-display
          [trend]="selectedTrend$ | async"
          [theme]="theme$ | async"
          [showEditChart]="true"
          [showToggle]="true"
          [showCopyLink]="true"
          [showDownload]="true"
          [allowHiddenLabel]="true"
          [isToggled]="true"
          (btnGrpStateChange)="onBtnGrpStateChange($event)"
        >
        </atx-chart-display>
        <!-- For Empty Trend Message -->
        <mat-card
          class="text-center text-dark loading-overlay"
          *ngIf="noDataFound$ | async"
        >
          <b> No Data Found</b>
        </mat-card>
        <!-- For Loading Trend Message -->
        <mat-card
          class="text-center text-dark loading-overlay"
          *ngIf="trendsLoading$ | async"
        >
          <div class="loading">
            <mat-progress-spinner
              diameter="50"
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
            <b> Loading Trends</b>
          </div>
        </mat-card>
        <!-- For Loading Chart Data Message -->
        <mat-card
          class="text-center text-dark loading-overlay"
          *ngIf="dataLoading$ | async"
        >
          <div class="loading">
            <mat-progress-spinner
              diameter="50"
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
            <b> Loading Data</b>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</atx-horizontal-layout>
<atx-time-slider
  *ngIf="showTimeSlider$ | async"
  [timeSliderState]="timeSliderState$ | async"
  (stateChange)="onTimeSliderStateChange($event)"
>
</atx-time-slider>
