<h3 mat-dialog-title>Delete Issue</h3>

<mat-dialog-content>
  Are you sure you want to delete this issue? <br />This action cannot be
  undone.
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="warn" (click)="deleteIssue()" cdkFocusInitial>
    Delete
  </button>
</div>
