<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="modalVm$ | async as modalVm">
    <ng-container [formGroup]="modalSaveForm">
      <ng-container *ngIf="modalVm.chartSaveInProgress">
        <mat-progress-bar
          color="accent"
          mode="indeterminate"
        ></mat-progress-bar>
      </ng-container>
      <h3 mat-dialog-title>Save Chart</h3>

      <mat-form-field style="width: 400px" appearance="fill" color="accent">
        <mat-label>Chart Name</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="trendName"
          data-cy="chartNameFld"
        />
      </mat-form-field>
      <ng-container *ngIf="!modalVm.isUnique">
        <mat-error>
          {{ modalVm.errorMessage }}
        </mat-error>
      </ng-container>
      <ng-template #noErrors>&nbsp;<br /></ng-template>
      <ng-container>
        <div class="asset-name-container" fxLayout="row" fxLayoutGap="10px">
          <span class="title-span">Linked to Asset:</span>
          <label class="accent-250">{{
            dataExplorerFacade.saveModelAssetTreeDropdownAssetName$ | async
          }}</label>
          <ng-container
            *ngIf="
              (dataExplorerFacade.saveModelAssetTreeDropdownAssetName$
                | async) === null ||
              (dataExplorerFacade.saveModelAssetTreeDropdownAssetName$
                | async) === undefined
            "
          >
            <mat-progress-bar
              color="accent"
              id="template-progress-bar"
              mode="indeterminate"
            ></mat-progress-bar>
          </ng-container>
          <div style="height: 35px">
            <button
              mat-icon-button
              style="
                height: 24px;
                width: 24px;
                margin-top: 3px;
                background-color: rgba(160, 160, 160, 0.2);
              "
              matTooltip="Edit Asset"
              [disabled]="
                (dataExplorerFacade.saveModelAssetTreeDropdownAssetName$
                  | async) === null ||
                (dataExplorerFacade.saveModelAssetTreeDropdownAssetName$
                  | async) === undefined
              "
              (click)="editAsset()"
            >
              <mat-icon
                color="accent"
                style="padding-bottom: 18px; font-size: 18px"
                class="material-icons material-icons-outlined"
                >edit</mat-icon
              >
            </button>
          </div>
        </div>

        <!--Asset Tree Dropdown implementation start-->
        <div
          class="asset-tree-dropdown-container"
          *ngIf="showAssetTreeDropdown"
        >
          <div class="asset-tree-dropdown">
            <atx-asset-tree-dropdown
              [assetTreeConfiguration]="
                dataExplorerFacade.saveModelAssetTreeDropdownConfiguration$
                  | async
              "
              (assetTreeStateChange)="assetTreeDropdownStateChange($event)"
              (closeDropdown)="closeAssetTreeDropdown()"
            ></atx-asset-tree-dropdown>
          </div>
        </div>
        <!--Asset Tree Dropdown implementation end-->
      </ng-container>
      <div mat-dialog-actions align="end">
        <button
          mat-button
          [disabled]="modalVm.chartSaveInProgress"
          (click)="onNoClick()"
        >
          Cancel
        </button>
        <button
          mat-flat-button
          color="accent"
          mat-button
          [disabled]="
            vm.loadingData ||
            modalVm.chartSaveInProgress ||
            vm.trendsLoading ||
            !vm.assetID ||
            !modalVm.isUnique ||
            !modalSaveForm.valid ||
            !modalVm.isLoading
          "
          (click)="saveChart()"
          cdkFocusInitial
        >
          Save
        </button>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
