::ng-deep .save-issue {
  .mat-form-field-infix {
    // border-top: 0 !important;
    padding: 0.25em 0 0.75em 0;
    border-top: 0.84375em solid transparent;
  }

  .save-issue {
    width: 500px;
  }
}

.asset-name-container {
  align-items: center;
  margin-bottom: 20px;
}

.asset-tree-dropdown {
  height: 219px;
  position: absolute;
  z-index: 9999;
  bottom: 317px;
}
