<mat-card
  fxFlex="0 0 650px"
  fxFill
  fxLayoutGap="10px"
  class="model-config-input-list mat-elevation-z2"
>
  <mat-toolbar class="model-config-list-header">
    <tr class="header-text">
      <th class="config-input-fields">Model Inputs</th>
      <th class="config-input-fields" style="padding-left: 238px">
        Configured
      </th>
      <th class="config-input-fields" style="padding-left: 25px">
        Force Inclusion
      </th>
      <th class="config-input-fields" style="padding-left: 25px">In Use</th>
      <th class="config-input-fields" style="padding-left: 35px">Remove</th>
    </tr>
  </mat-toolbar>
  <mat-divider style="min-width: 650px"></mat-divider>
  <ng-container *ngIf="vm$ | async as vm">
    <div
      style="
        flex-grow: 1 !important;
        overflow-y: scroll;
        height: calc(100% - 50px);
      "
    >
      <div
        fxLayout="row"
        class="row-div"
        fxLayoutAlign="space-between center"
        *ngFor="
          let modelInput of vm?.selectedModelSummary?.independents;
          let i = index
        "
        data-cy="input-tag"
      >
        <tr>
          <td class="tag-field" style="vertical-align: middle">
            <span class="tag-name-font" data-cy="modelInputName">{{
              modelInput.tagName
            }}</span
            ><br />
            <span class="tag-desc-font" data-cy="modelInputDesc"
              >({{ modelInput.tagDesc }})</span
            >
          </td>
          <td class="config-field" style="vertical-align: middle">
            <button type="button" class="btn-circle">
              <span class="configured-font">1</span>
            </button>
          </td>
          <td
            class="forced-inclusion-field"
            style="vertical-align: middle; padding-top: 5px; cursor: pointer"
          >
            <mat-icon
              (click)="forcedInclusionToggle(i)"
              *ngIf="modelInput.forcedInclusion"
              svgIcon="atx_lock"
            ></mat-icon>
            <mat-icon
              (click)="forcedInclusionToggle(i)"
              *ngIf="!modelInput.forcedInclusion"
              svgIcon="atx_lock_open"
            ></mat-icon>
          </td>
          <td
            class="in-use-field"
            style="vertical-align: middle; padding-top: 5px"
          >
            <span *ngIf="modelInput.inUse === null">&nbsp;</span>
            <mat-icon *ngIf="modelInput.inUse === false" style="color: #9e9e9e"
              >cancel</mat-icon
            >
            <mat-icon
              *ngIf="modelInput.inUse === true"
              svgIcon="atx_check"
            ></mat-icon>
          </td>
          <td style="vertical-align: middle; padding-top: 5px; cursor: pointer">
            <mat-icon
              svgIcon="atx_delete"
              (click)="remove(i)"
              data-cy="removeTag"
            ></mat-icon>
          </td>
        </tr>
      </div>
    </div>
  </ng-container>
</mat-card>
