<div class="dialog">
  <div class="dialog_header">
    <div class="dialog_header-title">Select Tag:</div>

    <div class="dialog_header-subtitle">
      <span class="dialog_header-subtitle-text"
        >Include tags for this asset only</span
      >
      <mat-slide-toggle
        id="tagsPreferenceBtn"
        [checked]="tagsSelectedAssetOnly"
        (change)="tagsPreferenceChange()"
      >
      </mat-slide-toggle>
    </div>
  </div>
  <div class="dialog_content">
    <atx-asset-tree-dropdown
      class="dialog_content-tree"
      [assetTreeConfiguration]="$any(secondaryAssetTreeConfig$ | async)"
      (assetTreeStateChange)="secondaryAssetTreeStateChange($event)"
    ></atx-asset-tree-dropdown>
    <ag-grid-angular
      class="dialog_content-grid"
      [modules]="modules"
      [gridOptions]="gridOptions"
      [ngClass]="
        (navFacade.theme$ | async) === 'light'
          ? 'ag-theme-alpine'
          : (navFacade.theme$ | async) === 'dark'
          ? 'ag-theme-alpine-dark'
          : 'ag-theme-alpine-dark'
      "
    >
    </ag-grid-angular>
  </div>
  <mat-dialog-actions align="end" class="dialog_buttons">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      (click)="onSelectTagComplete()"
      [disabled]="selectedRow === undefined"
      color="primary"
    >
      Done
    </button>
  </mat-dialog-actions>
</div>
