.dialog {
  height: 100%;
  width: 100%;
  &_content {
    display: flex;
    height: 65vh;
    &-tree {
      width: 30%;
    }
    &-grid {
      width: 70%;
    }
  }
  &_header {
    margin-bottom: 12px;
    &-title {
      font-size: xx-large;
    }
    &-subtitle {
      display: flex;
      align-items: center;
      &-text {
        margin-right: 0.75rem;
      }
    }
  }
}
