<div class="advanced-container">
  <form
    autocomplete="off"
    class="advanced-form"
    [formGroup]="advancedForm"
    ngNativeValidate
  >
    <ng-container *ngIf="chartVm$ | async as chartVm">
      <ng-container *ngIf="!chartVm.trendsLoading">
        <div formGroupName="advanced">
          <div class="update-chart-btn">
            <button
              type="button"
              mat-flat-button
              color="accent"
              [disabled]="
                ((advancedVm$ | async)?.dataRetrievalMethod === 1 &&
                  (advancedVm$ | async)?.dataRetrievalArchive === null) ||
                ((advancedVm$ | async)?.dataRetrievalMethod === 2 &&
                  ((advancedVm$ | async)?.dataRetrievalMinInterval === null ||
                    (advancedVm$ | async)?.dataRetrievalMinIntervalUnits ===
                      null)) ||
                !(advancedVm$ | async)?.isDirty
              "
              (click)="updateChart()"
            >
              <mat-icon>refresh</mat-icon>
              Update Chart
            </button>
          </div>

          <mat-card>
            <mat-toolbar
              style="padding-right: 10px"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
            >
              <span>Advanced Data Filters</span>
            </mat-toolbar>
            <div class="advanced-data-container">
              <div
                class="min-max-container"
                fxLayout="row wrap"
                fxLayoutAlign="start"
              >
                <div
                  class="minimum-container"
                  fxLayout="row wrap"
                  fxLayoutAlign="start center"
                >
                  <mat-label>Minimum:</mat-label>
                  <mat-form-field
                    class="form-field"
                    appearance="fill"
                    color="accent"
                  >
                    <input matInput type="number" formControlName="filterMin" />
                  </mat-form-field>
                </div>
                <div
                  class="maximum-container space-left"
                  fxLayout="row wrap"
                  fxLayoutAlign="start center"
                >
                  <mat-label>Maximum:</mat-label>
                  <mat-form-field
                    class="form-field"
                    appearance="fill"
                    color="accent"
                  >
                    <input matInput type="number" formControlName="filterMax" />
                  </mat-form-field>
                </div>
                <div
                  class="flatline-container space-left"
                  fxLayout="row wrap"
                  fxLayoutAlign="start center"
                >
                  <mat-label>Flatline Threshold:</mat-label>
                  <mat-form-field
                    class="form-field"
                    appearance="fill"
                    color="accent"
                  >
                    <input
                      matInput
                      type="number"
                      formControlName="flatlineThreshold"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="data-retrieval-container" fxLayout="row wrap">
                <div
                  class="data-input-container"
                  fxLayout="row wrap"
                  fxLayoutAlign="start center"
                >
                  <mat-label>Data Retrieval Method:</mat-label>
                  <mat-form-field
                    class="form-field"
                    appearance="fill"
                    color="accent"
                  >
                    <mat-select formControlName="dataRetrievalMethod">
                      <mat-option [value]="0">Use Default</mat-option>
                      <mat-option [value]="1">Archive Selection</mat-option>
                      <mat-option [value]="2">Minimum Data Interval</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <ng-container
                  *ngIf="(advancedVm$ | async)?.dataRetrievalMethod === 1"
                >
                  <div class="archive-container space-left" fxLayout="row wrap">
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <mat-label>Archive:</mat-label>
                      <mat-form-field
                        class="form-field"
                        appearance="fill"
                        color="accent"
                      >
                        <mat-select
                          formControlName="dataRetrievalArchive"
                          required
                        >
                          <mat-option
                            *ngFor="
                              let archive of chartVm.dataRetrievalMethod
                                ?.allArchives
                            "
                            [value]="archive"
                            >{{ archive }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="note-container space-left" style="width: 520px">
                      <p>
                        This method explicitly selects contents from this
                        archive. A warning message will indicate which series
                        for which data does not exist. Select archives for each
                        series in the Series tab if they do not conform to this
                        global setting. Total point retrieval is limited to
                        5,760 records based on the selected interval and span of
                        the time control.
                      </p>
                    </div>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="(advancedVm$ | async)?.dataRetrievalMethod === 2"
                >
                  <div
                    class="interval-container space-left"
                    fxLayout="row wrap"
                  >
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <mat-form-field
                        class="min-interval form-field"
                        appearance="fill"
                        color="accent"
                      >
                        <input
                          matInput
                          type="number"
                          formControlName="dataRetrievalMinInterval"
                          required
                        />
                      </mat-form-field>
                      <mat-form-field
                        class="form-field"
                        appearance="fill"
                        color="accent"
                      >
                        <mat-select
                          formControlName="dataRetrievalMinIntervalUnits"
                          required
                        >
                          <mat-option value="seconds">seconds</mat-option>
                          <mat-option value="minutes">minutes</mat-option>
                          <mat-option value="hours">hours</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="note-container space-left"
                      style="width: 400px"
                      fxLayoutAlign="start center"
                    >
                      <p>
                        This method will automatically escalate to the next
                        higher archive when the expected number of data points
                        exceeds 5,760 based on the selected interval and span of
                        the time control.
                      </p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </mat-card>

          <mat-card
            ><mat-toolbar
              style="padding-right: 10px"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="5px"
            >
              <span>Exclude Data</span>
            </mat-toolbar>

            <div
              class="exclude-container"
              fxLayout="row wrap"
              fxLayoutAlign="start"
            >
              <div class="months-container" fxLayout="column">
                <mat-label>Select to exclude months from data</mat-label>
                <div class="custom-btn" fxLayout="row wrap">
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeJanuary
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeJanuary')"
                  >
                    Jan
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeFebruary
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeFebruary')"
                  >
                    Feb
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeMarch
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeMarch')"
                  >
                    Mar
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeApril
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeApril')"
                  >
                    Apr
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeMay
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeMay')"
                  >
                    May
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeJune
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeJune')"
                  >
                    Jun
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeJuly
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeJuly')"
                  >
                    Jul
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeAugust
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeAugust')"
                  >
                    Aug
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeSeptember
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeSeptember')"
                  >
                    Sep
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeOctober
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeOctober')"
                  >
                    Oct
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeNovember
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeNovember')"
                  >
                    Nov
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeDecember
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeDecember')"
                  >
                    Dec
                  </button>
                </div>
              </div>
              <div class="days-container space-left" fxLayout="column">
                <mat-label>Select to exclude days from data</mat-label>
                <div class="custom-btn" fxLayout="row wrap">
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeSunday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeSunday')"
                  >
                    Sun
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeMonday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeMonday')"
                  >
                    Mon
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeTuesday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeTuesday')"
                  >
                    Tue
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeWednesday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeWednesday')"
                  >
                    Wed
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeThursday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeThursday')"
                  >
                    Thu
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeFriday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeFriday')"
                  >
                    Fri
                  </button>
                  <button
                    type="button"
                    mat-mini-fab
                    active
                    [color]="
                      (advancedVm$ | async)?.filter?.excludeSaturday
                        ? 'accent'
                        : 'primary'
                    "
                    (click)="excludeDateToggle('excludeSaturday')"
                  >
                    Sat
                  </button>
                </div>
              </div>
              <div
                class="hours-container space-left"
                fxLayout="row wrap"
                fxLayoutAlign="start center"
              >
                <mat-label>Exclude Hours:</mat-label>
                <mat-form-field
                  class="form-field"
                  appearance="fill"
                  color="accent"
                >
                  <input
                    matInput
                    (keydown)="validateKeys($event)"
                    formControlName="excludeHours"
                  />
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </form>
</div>
