.advanced-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.advanced-container mat-card {
  width: 99%;
  height: calc(100% - 75px);
  margin: 5px;
  padding: 0px 0px 8px 0px;
  border-radius: 0;
  box-shadow: unset !important;
}

::ng-deep.default-dark-theme {
  .advanced-container mat-card {
    background-color: #222628 !important;
    border: solid 1px #5e5e5e;
  }
}

::ng-deep.alternative-light-theme {
  .advanced-container {
    border: solid 1px #dde2eb;
  }
}

.advanced-container mat-toolbar {
  font-size: 14px;
  height: 40px;
  padding-right: 65px;
}

.advanced-toolbar {
  padding: 5px;
  height: 55px;
}

::ng-deep.default-dark-theme {
  .advanced-container mat-toolbar {
    background-color: #424242 !important;
  }
}

.label {
  margin: 5px !important;
}

.custom-btn .mat-mini-fab {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-left: 1px;
  margin: 2px;
  justify-content: center;
}

.space-left {
  margin-left: 20px;
}

.form-field {
  margin-top: 18px;
  margin-left: 5px;
}

.min-interval {
  width: 100px;
}

.update-chart-btn {
  display: flex;
  justify-content: flex-end;
}

.update-chart-btn button {
  margin: 10px 5px;
}

.update-chart-btn mat-icon {
  padding-bottom: 2px;
  padding-right: 2px;
}

.advanced-data-container,
.exclude-container {
  padding: 20px 0 0 20px;
}

.data-retrieval-container {
  height: 100px;
}
